@import 'gauzy/_gauzy-dialogs';

:host {
    nb-card {
        background: rgba(50, 50, 50, 0.06);
    }
    .add-organization-action{
        gap: 1rem;
        @include nb-ltr(margin-left, 1rem);
        @include nb-rtl(margin-right, 1rem);
    }
    @include dialog(var(--gauzy-card-2), var(--gauzy-card-1));
}