.shortcut-card {
	&:hover {
		box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.26);
		transform: translateY(-1px);
	}
	cursor: pointer;
	.shortcut {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0px;
	}
}
