@import 'var';

.main-form {
  .template-save {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nb-layout {
    nb-layout-column.email-template-column {
      padding: 0;
    }
  }
}

.custom-parent-email-content{
  display: flex;
  justify-content: center;
  width: 100%;
}

.email-content{
  width: fit-content;
}
