<form class="main-form" [formGroup]="form" *ngIf="form">
	<nb-card>
		<nb-card-header>
			<div class="row">
				<div class="col-6">
					<h4>Email Templates for {{ organizationName }}</h4>
				</div>

				<div class="col-2 select-block">
					<label class="label" for="languageCode">
						{{ 'Language' | translate }}
					</label>
					<nb-select
						id="languageCode"
						class="d-block"
						size="small"
						formControlName="languageCode"
						(selectedChange)="getTemplate()"
					>
						<nb-option
							*ngFor="let language of languageCodes"
							[value]="language"
						>
							{{
								'USERS_PAGE.EDIT_USER.PREFERRED_LANGUAGE.' +
									language | translate
							}}
						</nb-option>
					</nb-select>
				</div>
				<div class="col-2 select-block">
					<label class="label" for="templateName">
						{{ 'Template Name' | translate }}
					</label>
					<nb-select
						id="templateName"
						class="d-block"
						size="small"
						formControlName="name"
						placeholder="{{ 'Template Names' | translate }}"
						(selectedChange)="getTemplate()"
					>
						<nb-option
							*ngFor="let name of templateNames"
							[value]="name"
						>
							{{ name }}
						</nb-option>
					</nb-select>
				</div>
				<div class="col-2 template-save">
					<button
						[disabled]="form.invalid"
						(click)="submitForm()"
						nbButton
						status="success"
					>
						{{ 'PROFILE_PAGE.SAVE' | translate }}
					</button>
				</div>
			</div>
		</nb-card-header>
		<nb-card-body>
			<nb-layout>
				<nb-layout-column class="email-template-column">
					<nb-card>
						<nb-card-body>
							<div class="form-group">
								<label class="label" for="subject"
									>Subject</label
								>
								<ace-editor
									id="subject"
									#subjectEditor
									style="height: 10vh; font-size: medium;"
									[durationBeforeCallback]="400"
									[mode]="'handlebars'"
									(textChange)="onSubjectChange($event)"
								>
								</ace-editor>
							</div>
							<div class="form-group">
								<label class="label" for="email"
									>Email Body</label
								>
								<ace-editor
									#emailEditor
									id="email"
									[mode]="'handlebars'"
									style="height: 80vh; font-size: medium;"
									[durationBeforeCallback]="400"
									(textChange)="onEmailChange($event)"
								>
								</ace-editor>
							</div>
						</nb-card-body>
					</nb-card>
				</nb-layout-column>
				<!-- Live Preview column -->
				<nb-layout-column class="email-template-column">
					<nb-card>
						<nb-card-body>
							<div class="form-group">
								<label class="label" for="previewSubject"
									>Subject Preview
								</label>
								<div
									id="previewSubject"
									[innerHtml]="previewSubject"
								></div>
							</div>
							<div class="form-group">
								<label class="label" for="previewEmail"
									>Email Preview
								</label>
								<div
									id="previewEmail"
									[innerHtml]="previewEmail"
								></div>
							</div>
						</nb-card-body>
					</nb-card>
				</nb-layout-column>
			</nb-layout>
		</nb-card-body>
	</nb-card>
</form>
