<nb-card>
	<nb-card-header>
		<div class="main-header">
			<div class="top-nav">
				<h4 *ngIf="!merchant">
					<ngx-back-navigation></ngx-back-navigation>
					{{ 'INVENTORY_PAGE.CREATE_MERCHANT' | translate }}
				</h4>
				<h4 *ngIf="merchant">
					<ngx-back-navigation></ngx-back-navigation>

					{{ 'INVENTORY_PAGE.EDIT_MERCHANT' | translate }}
				</h4>
			</div>
		</div>
	</nb-card-header>

	<nb-card-body>
		<form [formGroup]="form" *ngIf="form">
			<nb-stepper #stepper [disableStepNavigation]="!merchant">
				<nb-step label="Main">
					<div class="row">
						<div class="col-md-3 col-sm-12 image-container">
							<ng-container *ngTemplateOutlet="storeImage"></ng-container>
						</div>
						<div class="col-md-9 col-sm-12 pl-5">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label class="label" for="name">{{
																				'INVENTORY_PAGE.NAME' | translate
																			}}</label>
										<input formControlName="name" fullWidth id="name" type="text" nbInput
											[placeholder]="
																					'INVENTORY_PAGE.NAME'
																						| translate
																				" [ngClass]="{
																					'status-danger':
																						form.controls['name'].invalid &&
																						form.controls['name'].touched
																				}" />
										<div class="text-danger" *ngIf="
										form.controls['name'].dirty &&
										form.controls['name'].errors &&
										form.controls['name'].errors.required
							">
											{{ 'INVENTORY_PAGE.THIS_FIELD_IS_REQUIRED' | translate }}
										</div>
									</div>

								</div>
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label class="label" for="code">{{
																					'INVENTORY_PAGE.CODE' | translate
																				}}</label>
										<input formControlName="code" fullWidth id="code" type="text" nbInput
											[placeholder]="
																						'INVENTORY_PAGE.CODE'
																							| translate
																					" [ngClass]="{
																						'status-danger':
																							form.controls['code'].invalid &&
																							form.controls['code'].touched
																					}" />
										<div class="text-danger" *ngIf="
										form.controls['code'].dirty &&
										form.controls['code'].errors &&
										form.controls['code'].errors.required
							">
											{{ 'INVENTORY_PAGE.THIS_FIELD_IS_REQUIRED' | translate }}
										</div>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label class="label" for="email">{{
																					'INVENTORY_PAGE.EMAIL' | translate
																				}}</label>
										<input formControlName="email" fullWidth id="email" type="text" nbInput
											[placeholder]="
																						'INVENTORY_PAGE.EMAIL'
																							| translate
																					" [ngClass]="{
																						'status-danger':
																							form.controls['email'].invalid &&
																							form.controls['email'].touched
																					}" />
										<div class="text-danger" *ngIf="
										form.controls['email'].dirty &&
										form.controls['email'].errors &&
										form.controls['email'].errors.email
							">
											{{ 'INVENTORY_PAGE.EMAIL_WRONG_FORMAT' | translate }}
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label class="label" for="phone">{{
																						'INVENTORY_PAGE.PHONE' | translate
																					}}</label>
										<input formControlName="phone" fullWidth id="phone" type="text" nbInput
											[placeholder]="
																							'INVENTORY_PAGE.PHONE'
																								| translate
																						" [ngClass]="{
																							'status-danger':
																								form.controls['phone'].invalid &&
																								form.controls['phone'].touched
																						}" />
										<div class="text-danger" *ngIf="
										form.controls['phone'].dirty &&
										form.controls['phone'].errors &&
										form.controls['phone'].errors.pattern
							">
											{{ 'INVENTORY_PAGE.PHONE_WRONG_FORMAT' | translate }}
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-sm-12">
									<ga-currency formControlName="currency" >
									</ga-currency>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="label">{{
													'INVENTORY_PAGE.FAX' | translate
												}}</label>
									<input formControlName="fax" type="text" id="fax" nbInput fullWidth [placeholder]="
														'INVENTORY_PAGE.FAX'
															| translate
													" [ngClass]="{
														'status-danger':
															form.controls['fax'].invalid &&
															form.controls['fax'].touched
													}" />
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label for="fiscalInformation" class="label">{{
														'INVENTORY_PAGE.FISCAL_INFORMATION'
															| translate
													}}</label>
										<input formControlName="fiscalInformation" type="text" nbInput fullWidth
											[placeholder]="
															'INVENTORY_PAGE.FISCAL_INFORMATION'
																| translate
														" [ngClass]="{
															'status-danger':
																form.controls['fiscalInformation'].invalid &&
																form.controls['fiscalInformation'].touched
														}" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label for="website" class="label">{{
														'INVENTORY_PAGE.WEBSITE'
															| translate
													}}</label>
										<input formControlName="website" id="website" type="text" nbInput fullWidth
											[placeholder]="
															'INVENTORY_PAGE.WEBSITE'
																| translate
														" [ngClass]="{
															'status-danger':
																form.controls['website'].invalid &&
																form.controls['website'].touched
														}" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-sm-12">
									<ga-tags-color-input class="mb-4" [selectedTags]="tags" (selectedTagsEvent)="
														selectedTagsEvent($event)
													" [isOrgLevel]="true">
									</ga-tags-color-input>

								</div>
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label for="description" class="label">{{
													'INVENTORY_PAGE.DESCRIPTION'
														| translate
												}}</label>
										<textarea fullWidth formControlName="description" nbInput></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 col-sm-12">
									<nb-checkbox status="basic">{{
												'INVENTORY_PAGE.ACTIVE' | translate
											}}</nb-checkbox>
								</div>
							</div>

						</div>
					</div>

					<div class="row mt-5">
						<div class="form-group col-4">
							<button (click)="toMapStep()" [disabled]="form.invalid" nbStepperNext nbButton
								status="primary">
								{{ 'BUTTONS.NEXT' | translate }}
							</button>
						</div>
					</div>
				</nb-step>
				<nb-step label="Location">
					<div class="row">
						<div class="col-md-3 col-sm-12 image-container">
							<ng-container *ngTemplateOutlet="storeImage"></ng-container>
						</div>
						<div class="col-md-9 col-sm-12 pl-5">
							<ga-location-form #locationFormDirective [form]="locationForm"
								[showAutocompleteSearch]="true" (mapCoordinatesEmitter)="
												onCoordinatesChanges($event)
											">
							</ga-location-form>
							<ga-leaflet-map #leafletTemplate (mapClicked)="onMapClicked($event)">
							</ga-leaflet-map>
						</div>
					</div>
					<div class="row  mt-5">
						<div class="form-group col-4">
							<button nbButton class="mr-2" status="primary" nbStepperPrevious>
								{{ 'BUTTONS.PREVIOUS' | translate }}
							</button>
							<button nbButton status="primary" nbStepperNext>
								{{ 'BUTTONS.NEXT' | translate }}
							</button>
						</div>
					</div>
				</nb-step>
				<nb-step label="Warehouses">
					<div class="row">
						<div class="col-md-3 col-sm-12 image-container">
							<ng-container *ngTemplateOutlet="storeImage"></ng-container>
						</div>
						<div class="col-md-9 col-sm-12 pl-5">
							<div class="form-group">
								<label class="label">{{
																'INVENTORY_PAGE.WAREHOUSES' | translate
															}}
								</label>
								<nb-select multiple [selected]="selectedWarehouses"
									(selectedChange)="onWarehouseSelect($event)" fullWidth placeholder="{{
																	'INVENTORY_PAGE.WAREHOUSES' | translate
																}}">
									<nb-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
										<img src="{{ warehouse.logo?.url }}" alt="warehouse image" height="40"
											width="40" style="margin-right: 10px" />
										{{ warehouse.name }}</nb-option>
								</nb-select>
							</div>

						</div>

					</div>
					<div class="row mt-5">
						<div class="form-group col-4">
							<button status="primary" class="mr-2" nbButton nbStepperPrevious>
								{{ 'BUTTONS.PREVIOUS' | translate }}
							</button>
							<button status="success" nbButton (click)="onSaveRequest()">
								{{ 'BUTTONS.SAVE' | translate }}
							</button>

						</div>
					</div>
				</nb-step>
			</nb-stepper>
		</form>
	</nb-card-body>
	<nb-card-footer class="text-right">

	</nb-card-footer>

</nb-card>

<ng-template #storeImage>
	<div class="product-store-photo" (mouseenter)="hoverState = true" (mouseleave)="hoverState = false"
		(click)="onImageSelect()">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="68" height="68"
			viewBox="0 0 68 68" [ngStyle]="{ opacity: hoverState ? '1' : '0.3' }">
			<defs>
				<path id="a"
					d="M28.667 31.333a2 2 0 1 0-.002-4.001 2 2 0 0 0 .002 4.001m13.333 12H26.748l9.34-7.793c.328-.279.923-.277 1.244-.001l6.001 5.12V42c0 .736-.597 1.333-1.333 1.333M26 24.667h16c.736 0 1.333.597 1.333 1.333v11.152l-4.27-3.643c-1.32-1.122-3.386-1.122-4.694-.008l-9.702 8.096V26c0-.736.597-1.333 1.333-1.333M42 22H26c-2.205 0-4 1.795-4 4v16c0 2.205 1.795 4 4 4h16c2.205 0 4-1.795 4-4V26c0-2.205-1.795-4-4-4" />
			</defs>
			<g fill="none" fill-rule="evenodd">
				<circle cx="34" cy="34" r="34" fill="#0091FF" opacity=".3" />
				<circle cx="34" cy="34" r="26" fill="#0091FF" opacity=".9" />
				<use fill="#FFF" fill-rule="nonzero" xlink:href="#a" />
			</g>
		</svg>
		<div class="image-overlay" [ngStyle]="{ opacity: hoverState ? '0.2' : '0' }"></div>

		<img class="store-image" *ngIf="!image || !image.url" [src]="
											'https://afostats.imagead.net/uploads/afo/no_img.png'
										" alt="Product Item Photo" />

		<img class="store-image" *ngIf="image && image.url" [src]="image.url" alt="Product Item Photo" />
	</div>
</ng-template>