.image-item {
  height: 100px;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-asset-list-item {
  transition: 0.1s all ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &.selected {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
