<div class="p-3 time-log-view-contiainer">
	<h6>{{ 'TIMESHEET.VIEW_TIME_LOGS' | translate }}</h6>

	<nb-list class="time-span custom-scroll">
		<nb-list-item
			*ngFor="let timeLog of timeLogs"
			class="row align-items-center"
			(click)="viewLog(timeLog)"
		>
			<div class="time-log-content col">
				<ngx-avatar
					[name]="timeLog?.employee?.user?.name"
					[src]="timeLog?.employee?.user?.imageUrl"
					[caption]="
						(timeLog?.startedAt | utcToLocal | timeFormat: true) +
						' - ' +
						(timeLog?.stoppedAt
							? (timeLog?.stoppedAt
							  | utcToLocal
							  | timeFormat: true)
							: ('TIMESHEET.TILL_NOW' | translate)) +
						' (' +
						(timeLog?.duration | durationFormat) +
						')'
					"
				></ngx-avatar>
			</div>
			<div class="time-log-action col-auto">
				<button
					*ngxPermissionsOnly="[
						OrganizationPermissionsEnum.ALLOW_MODIFY_TIME
					]"
					nbButton
					ghost
					status="primary"
					(click)="openEdit($event, timeLog)"
					[disabled]="timeLog.isRunning"
					class="mr-1"
				>
					<nb-icon icon="edit"></nb-icon>
				</button>
				<button
					*ngxPermissionsOnly="[
						OrganizationPermissionsEnum.ALLOW_DELETE_TIME
					]"
					nbButton
					ghost
					status="danger"
					ngxConfirmDialog
					[message]="'TIMESHEET.DELETE_TIMELOG' | translate"
					(click)="$event.stopPropagation()"
					(confirm)="onDeleteConfirm(timeLog)"
					[disabled]="timeLog.isRunning"
					class="ml-1"
				>
					<nb-icon icon="trash-2-outline"></nb-icon>
				</button>
			</div>
		</nb-list-item>
	</nb-list>
	<div class="text-center">
		<ng-template 
			*ngxPermissionsOnly="[
				OrganizationPermissionsEnum.ALLOW_MANUAL_TIME
			]"
		>
			<button
				nbButton
				class="mx-auto mt-3"
				status="primary"
				(click)="openAddByDateProject($event)"
			>
				<nb-icon icon="plus-outline"></nb-icon>
				{{ 'TIMESHEET.ADD_TIME' | translate }}
			</button>
		</ng-template>
	</div>
</div>
