<div [nbSpinner]="loading" nbSpinnerStatus="primary">
	<div *ngIf="!loading">
		<div class="register-header" *ngIf="inviteLoadErrorMessage">
			<h1>{{ inviteLoadErrorMessage }}</h1>
			<span
				>Either you entered an incorrect URL or the invitation has
				expired.
			</span>
		</div>
		<div *ngIf="!inviteLoadErrorMessage">
			<div class="register-header mb-2">
				<h1>
					Accept Invitation to {{ invitation?.organization?.name }}
				</h1>
				<span>Complete your registration {{ invitation?.email }}</span>
			</div>
			<ga-accept-invite-form
				[invitation]="invitation"
				(submitForm)="submitForm($event)"
			></ga-accept-invite-form>
		</div>
	</div>
</div>
