@import 'gauzy/_gauzy-cards';

.no-data-found {
  overflow-y: hidden;
  background-color: nb-theme(gauzy-card-1) !important;
  height: calc(100vh - 27.5rem) !important;
}

.no-record-icon {
  transform: rotate(0.75turn) scaleY(-1);
  font-size: 48px;
}