<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<div class="main-header">
			<h4>
				{{ 'GOALS_PAGE.HEADER' | translate }} {{ organizationName }}
			</h4>
			<button
				nbButton
				status="primary"
				(click)="createObjective(null, null)"
			>
				{{ 'BUTTONS.ADD_NEW' | translate }}
			</button>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row tex-center p-5" *ngIf="noGoals == true">
			<p>
				You haven't created any Objectives yet. Click Add New to create
				one.
			</p>
		</div>
		<nb-accordion
			class="mb-3"
			*ngFor="let goal of goals; let index = index"
		>
			<nb-accordion-item expanded="true">
				<nb-accordion-item-header status="primary"
					>{{ goal.name }}
					<nb-actions class="ml-auto mr-3 mt-1 float-right">
						<nb-action
							icon="eye"
							(click)="openGoalDetials(goal)"
						></nb-action>
						<nb-action
							icon="edit"
							(click)="createObjective(goal, index)"
						></nb-action>
					</nb-actions>
				</nb-accordion-item-header>
				<nb-accordion-item-body
					*ngFor="let keyResult of goal.keyResults"
				>
					{{ keyResult.name }}
					<nb-actions class="ml-auto float-right">
						<nb-action
							icon="eye"
							(click)="keyResultUpdate(index, keyResult)"
						></nb-action>
						<nb-action
							icon="edit"
							(click)="addKeyResult(index, keyResult)"
						></nb-action>
					</nb-actions>
				</nb-accordion-item-body>
				<nb-accordion-item-body>
					<nb-actions size="medium">
						<nb-action
							icon="plus-circle"
							status="primary"
							title="Add new key result"
							(click)="addKeyResult(index, null)"
						></nb-action>
						<nb-action>Add new key result</nb-action>
					</nb-actions>
				</nb-accordion-item-body>
			</nb-accordion-item>
		</nb-accordion>
	</nb-card-body>
</nb-card>
