<nb-card
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
	class="card-scroll"
>
	<nb-card-header *ngIf="!loading">
		<div class="main-header">
			<h4>
				<ngx-header-title>
					{{ 'GOALS_PAGE.HEADER' | translate }}
				</ngx-header-title>
			</h4>
		</div>
		<div class="gauzy-button-container">
			<div class="btn-group actions mr-2 ml-3">
				<button
					nbButton
					status="success"
					title="Add new Objective"
					nbPopoverTrigger="click"
					nbPopoverPlacement="bottom"
					[nbPopover]="createObjectivePopover"
					size="small"
					class="custom-success"
				>
					<nb-icon icon="plus-outline"></nb-icon>
					{{ 'GOALS_PAGE.ADD_NEW_OBJECTIVE' | translate }}
				</button>
			</div>
			<ngx-gauzy-button-action
				[buttonTemplateVisible]="visibleButton"
				[isDisable]="!selectedItem && disableButton"
				[buttonTemplate]="actionButtonsObjective"
				[hasLayoutSelector]="false"
			>
			</ngx-gauzy-button-action>
		</div>
	</nb-card-header>
	<nb-card-body *ngIf="!loading">
		<div class="text-center p-5" *ngIf="noGoals == true">
			<nb-alert outline="warning" fullWidth>
				{{ 'GOALS_PAGE.GOALS_EMPTY' | translate }}
			</nb-alert>
		</div>
		<div
			*ngFor="
				let group of objectiveGroup == 'timeFrames'
					? goalTimeFrames
					: goalLevels
			"
		>
			<h6 *ngIf="noGoals == false">{{ group }}</h6>
			<nb-accordion
				[hidden]="
					objectiveGroup == 'timeFrames'
						? goal.deadline != group
						: goal.level != group
				"
				class="my-3"
				*ngFor="let goal of goals; let index = index"
			>
				<nb-accordion-item>
					<nb-accordion-item-header
						><div
							class="w-100 d-flex align-items-center justify-content-between"
						>
							{{ goal.name }}
							<div
								class="w-25 d-flex align-items-center mr-5 ml-5"
							>
								<span>{{ goal.progress }}%</span>
								<nb-progress-bar
									nbTooltip="{{
										'GOALS_PAGE.TOOLTIPS.PROGRESS'
											| translate
									}}"
									class="ml-4"
									[value]="goal.progress"
									[status]="
										goal.progress < 50
											? 'warning'
											: goal.progress < 75
											? 'info'
											: 'success'
									"
									size="small"
								>
								</nb-progress-bar>
							</div>
						</div>
						<!-- <nb-actions
							class="ml-auto ml-3 mt-1 float-right"
							size="small"
						>
							<nb-action
								nbTooltip="{{
									'GOALS_PAGE.TOOLTIPS.DETAILS' | translate
								}}"
								icon="eye"
								(click)="openGoalDetails(goal)"
							></nb-action>
							<nb-action
								icon="edit"
								nbTooltip="{{
									'GOALS_PAGE.TOOLTIPS.EDIT' | translate
								}}"
								(click)="createObjective(goal, index)"
							></nb-action>
						</nb-actions> -->
					</nb-accordion-item-header>
					<nb-accordion-item-body
						class="mr-3 ml-3"
						*ngFor="let keyResult of goal.keyResults"
					>
						<!-- {{ keyResult.name }}
						<nb-actions class="ml-auto float-right" size="small">
							<nb-action
								nbTooltip="{{
									'KEY_RESULT_PAGE.TOOLTIPS.DETAILS'
										| translate
								}}"
								icon="eye"
								(click)="openKeyResultDetails(index, keyResult)"
							></nb-action>
							<nb-action
								nbTooltip="{{
									'KEY_RESULT_PAGE.TOOLTIPS.EDIT' | translate
								}}"
								icon="edit"
								(click)="addKeyResult(index, keyResult)"
							></nb-action>
							<nb-action
								nbTooltip="{{
									'KEY_RESULT_PAGE.TOOLTIPS.WEIGHT'
										| translate
								}}"
								icon="percent"
								(click)="
									openKeyResultParameters(index, keyResult)
								"
							></nb-action>
						</nb-actions> -->
						<div
							class="w-100 d-flex align-items-center justify-content-between"
						>
							{{ keyResult.name }}
							<div class="w-25 d-flex align-items-center">
								<span>{{ keyResult.progress }}%</span>
								<nb-progress-bar
									nbTooltip="{{
										'KEY_RESULT_PAGE.TOOLTIPS.PROGRESS'
											| translate
												: {
														weight: calculateKeyResultWeight(
															keyResult.weight,
															goal
														)
												  }
									}}"
									class="ml-3"
									[value]="keyResult.progress"
									[status]="
										keyResult.progress < 50
											? 'warning'
											: keyResult.progress < 75
											? 'info'
											: 'success'
									"
									size="small"
								>
								</nb-progress-bar>
							</div>
						</div>
					</nb-accordion-item-body>
					<nb-accordion-item-body>
						<button
							nbButton
							status="success"
							class="gen"
							outline
							size="small"
							(click)="addKeyResult(index, null)"
						>
							<nb-icon icon="plus-outline"></nb-icon>
							{{ 'GOALS_PAGE.ADD_NEW_KEY_RESULT' | translate }}
						</button>
					</nb-accordion-item-body>
				</nb-accordion-item>
			</nb-accordion>
		</div>
	</nb-card-body>
</nb-card>
<ng-template #actionButtons let-selectedItem="selectedItem">
	<div class="btn-group actions">
		<button
			nbButton
			status="basic"
			class="action secondary"
			[disabled]="disableButton"
			size="small"
		>
			<nb-icon icon="eye-outline" pack="eva"></nb-icon>
			{{ 'BUTTONS.VIEW' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			class="action primary"
			[disabled]="!selectedItem && disableButton"
			size="small"
		>
			<nb-icon icon="edit-outline"></nb-icon
			>{{ 'KEY_RESULT_PAGE.TOOLTIPS.EDIT' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			class="action primary"
			[disabled]="!selectedItem && disableButton"
			size="small"
		>
			<span class="mr-1"><i class="fas fa-percentage"></i></span
			>{{ 'KEY_RESULT_PAGE.TOOLTIPS.WEIGHT' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			class="action"
			[disabled]="!selectedItem && disableButton"
			size="small"
			[nbTooltip]="'BUTTONS.DELETE' | translate"
		>
			<nb-icon status="danger" icon="trash-2-outline"></nb-icon>
		</button>
	</div>
</ng-template>
<ng-template #actionButtonsObjective let-selectedItem="selectedItem">
	<div class="btn-group actions">
		<button
			nbButton
			status="basic"
			class="action secondary"
			[disabled]="disableButton"
			size="small"
			[nbTooltip]="'GOALS_PAGE.TOOLTIPS.DETAILS' | translate"
		>
			<nb-icon icon="eye-outline" pack="eva"></nb-icon>
			{{ 'BUTTONS.VIEW' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			class="action primary"
			[disabled]="!selectedItem && disableButton"
			size="small"
		>
			<nb-icon icon="edit-outline"></nb-icon
			>{{ 'GOALS_PAGE.TOOLTIPS.EDIT' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			class="action"
			[disabled]="!selectedItem && disableButton"
			size="small"
			[nbTooltip]="'BUTTONS.DELETE' | translate"
		>
			<nb-icon status="danger" icon="trash-2-outline"></nb-icon>
		</button>
	</div>
</ng-template>
<ng-template #visibleButton>
	<button
		nbButton
		status="primary"
		nbPopoverTrigger="click"
		nbPopoverPlacement="bottom"
		[nbPopover]="groupByPopover"
		size="small"
		class="action"
	>
		<nb-icon icon="folder"></nb-icon>{{ 'GOALS_PAGE.GROUP_BY' | translate }}
	</button>
	<button
		nbButton
		status="primary"
		nbPopoverTrigger="click"
		nbPopoverPlacement="bottom"
		[nbPopover]="filterPopover"
		size="small"
		class="action"
	>
		<nb-icon icon="funnel"></nb-icon>{{ 'FORM.FILTER' | translate }}
	</button>
</ng-template>

<ng-template class="p-2" #groupByPopover>
	<nb-list>
		<nb-list-item
			(click)="groupBy(group.value)"
			[ngStyle]="{
				'font-weight':
					objectiveGroup === group.value ? 'bold' : 'normal'
			}"
			style="cursor: pointer"
			*ngFor="let group of groupObjectivesBy"
			>{{ group.title }}</nb-list-item
		>
	</nb-list>
</ng-template>
<ng-template class="p-2" #filterPopover>
	<nb-list>
		<nb-list-item
			(click)="filterGoals(filter.value, allGoals)"
			[ngStyle]="{
				'font-weight':
					selectedFilter === filter.value ? 'bold' : 'normal'
			}"
			style="cursor: pointer"
			*ngFor="let filter of filters"
			>{{ filter.title }}</nb-list-item
		>
	</nb-list>
</ng-template>
<ng-template class="p-2" #createObjectivePopover>
	<div
		*ngIf="
			!isEmployee ? true : goalGeneralSettings?.employeeCanCreateObjective
		"
	>
		<nb-list>
			<nb-list-item
				(click)="createObjective(null, null)"
				style="cursor: pointer"
				>Create New</nb-list-item
			>
			<nb-list-item
				(click)="createObjectiveFromTemplate()"
				style="cursor: pointer"
				>Create from Preset</nb-list-item
			>
		</nb-list>
	</div>
</ng-template>
