@import 'gauzy/_gauzy-dialogs';

nb-card-body {
  background: nb-theme(gauzy-card-2);
}
.editable {
  background-color: nb-theme(gauzy-card-1);
  padding: 1rem 0 3px 0;
  border-radius: nb-theme(border-radius);
}
.custom-table {
  background-color: nb-theme(gauzy-card-1);
  border-radius: nb-theme(border-radius);
  &.selected {
    box-shadow: -6px 0px 0px 0px rgba(126, 126, 143, 0.1);
  }
  &:hover {
    background: rgba(126, 126, 143, 0.1);
  }
}
