@import 'gauzy/_gauzy-cards';
@import 'gauzy/_gauzy-table';

nb-card-body {
  	background: nb-theme(gauzy-card-2);
}

.custom-table {
	background-color: nb-theme(gauzy-card-1);
	border-radius: nb-theme(border-radius);
	cursor: pointer;
	&.selected {
		box-shadow: -6px 0px 0px 0px rgba(50, 50, 50, 0.05);
		background: rgba(50, 50, 50, 0.03);
	}
	&:hover {
		background: rgba(50, 50, 50, 0.03);
	}
}
nb-card {
  	margin-bottom: 0.5rem;
}
