.edit-icon {
  margin-left: 30px;
  position: relative;
  width: 36px;

  svg {
    position: absolute;
  }

  nb-icon {
    position: absolute;
  }
}

.org-details {
  .edit-public-page {
    cursor: pointer;
    color: #027ad6;
    padding-top: 3px;
  }
}
