<nb-card class="org-edit">
	<nb-card-header class="header">
		<div
			class="header-container"
			*ngIf="selectedOrgFromHeader; else noName"
		>
			<div class="org-info">
				<img
					class="org-image"
					[src]="selectedOrg.imageUrl"
					alt="Organization Avatar"
				/>

				<div class="org-details">
					<span class="org-name">{{ selectedOrg.name }} </span>
					<div class="org-position">
						{{ employeesCount }}
						{{ 'ORGANIZATIONS_PAGE.EMPLOYEES' | translate }}
					</div>
					<span class="edit-public-page" (click)="editPublicPage()">
						<nb-icon class="mr-1" icon="edit-outline"></nb-icon
						>{{ 'ORGANIZATIONS_PAGE.EDIT_PUBLIC_PAGE' | translate }}
					</span>
				</div>
			</div>
		</div>

		<ng-template #noName>
			<h6>{{ 'POP_UPS.SELECT_ORGANZIATION' | translate }}</h6>
		</ng-template>
	</nb-card-header>

	<nb-card-body>
		<ngx-edit-organization-settings></ngx-edit-organization-settings
	></nb-card-body>
</nb-card>
