<nb-card class="org-edit">
	<nb-card-header class="header">
		<div
			class="header-container"
			*ngIf="selectedOrgFromHeader; else noName"
		>
			<div class="org-info">
				<img
					class="org-image"
					[src]="selectedOrg.imageUrl"
					alt="Organization Avatar"
				/>

				<div class="org-details">
					<span class="org-name">{{ selectedOrg.name }} </span>
					<div class="org-position">
						{{ employeesCount }}
						{{ 'ORGANIZATIONS_PAGE.EMPLOYEES' | translate }}
					</div>
					<span class="edit-public-page" (click)="editPublicPage()">
						<nb-icon class="mr-1" icon="edit-outline"></nb-icon
						>{{ 'ORGANIZATIONS_PAGE.EDIT_PUBLIC_PAGE' | translate }}
					</span>
				</div>
			</div>

			<div *ngIf="hasEditPermission" class="org-info">
				<div class="org-details edit-icon">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="36"
						height="36"
						viewBox="0 0 36 36"
					>
						<circle
							cx="18"
							cy="18"
							r="18"
							fill="#0091FF"
							fill-rule="evenodd"
						/>
					</svg>
					<nb-icon
						class="ml-2 open"
						icon="edit-outline"
						(click)="editOrg()"
						[options]="{ color: 'white' }"
					>
					</nb-icon>
				</div>
			</div>
		</div>

		<ng-template #noName>
			<h6>{{ 'POP_UPS.SELECT_ORGANZIATION' | translate }}</h6>
		</ng-template>
	</nb-card-header>

	<nb-card-body> </nb-card-body>
</nb-card>
