<div
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	class="row file-uploader-container"
>
	<input
		[hidden]="true"
		(change)="imageUrlChanged()"
		#fileInput
		type="file"
		id="fileInput"
		ng2FileSelect
		[uploader]="uploader"
	/>

	<input
		#shownInput="ngModel"
		type="text"
		class="form-control col-12"
		placeholder="{{ placeholder }}"
		(change)="imageUrlChanged()"
		[(ngModel)]="fileUrl"
	/>
	<button
		nbButton
		status="primary"
		outline
		size="tiny"
		(click)="fileInput.click()"
	>
		<i class="far fa-folder mr-1"></i>
		<span class="text">{{ 'BROWSE' | translate | titlecase }}</span>
	</button>
</div>
