@import 'report';
@import 'gauzy/_gauzy-overrides';

:host {
    nb-badge {
        border: 2px solid rgba(126, 126, 143, 0.2);
        border-radius: 4px;
        position: relative;
    }
    .table-row {
        height: auto;
    }
    .table-inner-wrapper {
        align-items: flex-start;
    }
    .employee-column {
        width: 15%;
        min-width: 115px;
        max-width: 185px;
    }
    .project-column {
        width: 20%;
        min-width: 15%;
    }
    .to-do-column {
        width: 15%;
        min-width: 9%;
    }
    .small-column {
        width: 10%;
        min-width: 5%;
    }
    .filters {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        ng-select{
            min-width: 7rem;
        }
    }
    .justify-end {
        text-align: right;
    }
}

@include respond(ipad) {
    @include mobile-table-styles;
}

:host {
    ::ng-deep {
        @include ng-select-overrides(2.25rem,
            $default-button-radius,
            $default-box-shadow );
    }
}