<div class="card-layout">
	<nb-card *ngFor="let item of source" class="card-item">
		<nb-card-body>
			<div class="info-line" *ngFor="let key of getKeys()">
				<div class="info-meta">{{ settings.columns[key].title }}</div>
				<div class="info-value" [ngSwitch]="settings.columns[key].type">
					<div *ngSwitchCase="'html'" [innerHTML]="item[key]"></div>
					<div *ngSwitchCase="'custom'">
						<ga-custom-component-invoice
							[renderComponent]="
								settings.columns[key].renderComponent
							"
							[value]="item[key]"
							[rowData]="item"
						>
						</ga-custom-component-invoice>
					</div>
					<div *ngSwitchDefault>{{ item[key] }}</div>
				</div>
			</div>
		</nb-card-body>
		<nb-card-footer class="card-footer">
			<ng-container
				*ngTemplateOutlet="
					buttonTemplate;
					context: {
						buttonSize: 'tiny',
						selectedItem: item
					}
				"
			>
			</ng-container>
		</nb-card-footer>
	</nb-card>
</div>
