@forward '@shared/_add-task-dialog';

.body {
  width: 550px;
}

.description {
  display: block;
  margin-top: 10px;
}

.name-input {
  min-width: 100%;
}

.estimate-inputs {
  display: flex;
  justify-content: space-between;

  input {
    width: 30%;
    padding: 0.4rem !important;
  }
}

.nb-radio {
  display: inline-block;
}
