.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  min-width: 500px;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.select-label {
  color: #8f9bb3;
  font-family: Open Sans, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-buttons {
  margin-right: 10px;
  margin-bottom: 10px;
}

.save-button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.first-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.second-row {
  margin-bottom: 10px;
}

.selector {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  margin-bottom: 10px;
}
