.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  min-width: 500px;
}

.select {
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-buttons {
  margin-right: 10px;
  margin-bottom: 10px;
}

.save-button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.first-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.second-row {
  margin-bottom: 10px;
}

.selector {
  margin-left: 10px;
}
