.add-criterion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  &-card {
    padding: 1rem;
  }
}

.qualities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &-card {
    width: 48%;
  }
}

.quality {
  border: 1px #e4e9f2 solid;
  margin: 0.2rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-text {
    font-weight: 500;
    margin: 0;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-icons {
      font-size: 1.4rem;
    }
  }
}
