<nb-card>
  <nb-card-header>
    <h4>
      {{ 'MENU.ATTRIBUTE_VALIDATORS' | translate }}
    </h4>
  </nb-card-header>
  <nb-card-body>
    <input type="search" placeholder=":reference" nbInput fullWidth [(ngModel)]="reference" (ngModelChange)="filterByReference()">
    <hr>
    <nb-accordion>
      <nb-accordion-item *ngFor="let _attributeValidator of entries" (collapsedChange)="toggleCollapse( $event, _attributeValidator )">
        <nb-accordion-item-header>
          <span [innerHTML]="_attributeValidator.reference"></span>
        </nb-accordion-item-header>
        <nb-accordion-item-body *ngIf="current">
          <input
            nbInput
            fullWidth
            type="text"
            [required]="true"
            (ngModelChange)="update()"
            [(ngModel)]="_attributeValidator.reference">
          <hr>
          <textarea
            nbInput
            fullWidth
            (ngModelChange)="update()"
            [(ngModel)]="_attributeValidator.description"></textarea>
          <hr>
          <ngx-monaco-editor
            [options]="monacoEditorConfig"
            [(ngModel)]="_attributeValidator.script"></ngx-monaco-editor>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
