.main {
  height: auto;
  width: auto;

  .body {
    width: 605px;
  }

  .notes {
    height: 60px;
  }

  nb-card-header {
    .employees {
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid #edf1f7;
      width: 220px;
    }
    .help-text {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    nb-icon {
      cursor: pointer;
    }
  }
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  .form-group {
    margin-bottom: 0;
    width: 100%;
  }
}

.datepicker {
  width: 100%;
}

.textarea {
  min-height: 5.5rem;
  resize: none;
  width: 28.5rem !important;
  max-width: 28.5rem !important;
}

nb-radio-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.employees {
  margin-bottom: 15px;
}
