.main {
  height: auto;
  width: auto;

  .body {
    width: 505px;
  }

  .notes {
    height: 60px;
  }

  nb-card-header {
    .employees {
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid #edf1f7;

      width: 220px;
    }
    .help-text {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    nb-icon {
      cursor: pointer;
    }
  }
}

nb-radio-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.employees {
  margin-bottom: 15px;
}
