.form {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-btn {
  margin: 0.5rem 0;
  width: 15%;
}

.feedbacks-line {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.top-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 98%;
}

.block {
  border: 0.0625rem solid #e4e9f2;
  padding: 0.5rem;
  width: 12rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom-block {
  width: 98%;
  padding: 0.5rem 0.35rem 0 0.35rem;
}

.feedbacks-add-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.add-card-wrap {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.description {
  min-height: 8rem !important;
  max-width: 100% !important;
}

.label-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
  max-width: 70rem;
}

.feedbacks-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: none;
}

.feedbacks-card-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  width: 100%;
}

.radio-group {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
}

.fas {
  padding-left: 3px;
  font-size: 15px;
}

.success {
  color: #00d68f;
}

.error {
  color: #ff3d71;
}

.image-small {
  max-width: 35px;
  max-height: 35px;
  border-radius: 13px;
}

.feedback-info {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.rating {
  padding-left: 1rem;
}

.feedback-status {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
}

.main-btn {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 20rem;
}

.success {
  color: #00d68f;
}

.error {
  color: #ff3d71;
}

.disabled {
  color: rgba(143, 155, 179, 0.48);
}

.center {
  text-align: center;
}

.stars-output {
  padding-left: 1rem;
}
.criterions-rating {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &-radio-group {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .form-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;

    .form-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      width: 48%;
      padding: 1rem;

      &-criterion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &-title {
          font-size: 12px;
          font-weight: 600;
          line-height: 1.5rem;
        }

        &-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 49%;
          border: 1px #e4e9f2 solid;
          margin: 0.15rem 0.15rem 0.15rem 0;
          padding: 0.2rem 0.5rem;
          border-radius: 0.2rem;
        }
      }
    }
  }
}
