<nb-card>
	<nb-card-header>
		<button
			nbButton
			status="success"
			*ngIf="!showAddCard"
			(click)="showCard()"
		>
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
		<div *ngIf="showAddCard" class="row m-0">
			<div class="col-10 feedbacks-card">
				<form class="col-12 form" [formGroup]="form" *ngIf="form">
					<div formArrayName="feedbacks">
						<div
							*ngFor="
								let feedback of form.controls.feedbacks
									?.controls;
								let i = index
							"
						>
							<div [formGroupName]="i">
								<div class="col-12 add-card-wrap">
									<div class="label-wrap">
										<label
											for="description"
											class="label"
											>{{
												'FORM.LABELS.FEEDBACK_DESCRIPTION'
													| translate
											}}</label
										>
										<ga-star-rating-input
											formControlName="rating"
										></ga-star-rating-input>
									</div>

									<textarea
										id="description"
										class="description col-6"
										nbInput
										formControlName="description"
										placeholder="{{
											'FORM.PLACEHOLDERS.FEEDBACK_DESCRIPTION'
												| translate
										}}"
									>
									</textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-2 buttons">
				<button
					class="w-100 form-btn"
					(click)="submitForm()"
					nbButton
					status="success"
				>
					{{ 'BUTTONS.SAVE' | translate }}
				</button>
				<button
					class="w-100 form-btn"
					(click)="cancel()"
					nbButton
					status="danger"
				>
					{{ 'BUTTONS.CANCEL' | translate }}
				</button>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body *ngIf="feedbackList?.length">
		<div class="ml-3 mb-4">
			<strong>{{
				'CANDIDATES_PAGE.EDIT_CANDIDATE.FEEDBACKS' | translate
			}}</strong>
		</div>

		<nb-card *ngFor="let feedback of feedbackList; let i = index">
			<nb-card-body class="feedbacks-card">
				<div class="feedbacks-line">
					<ga-star-rating-output
						[rate]="feedback.rating"
					></ga-star-rating-output>
					<p *ngIf="feedback.interviewTitle">
						<strong>{{
							'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW_FEEDBACK'
								| translate
						}}</strong>
						{{ feedback.interviewTitle }}
					</p>

					{{ feedback.description }}
				</div>

				<nb-actions class="float-right" e="medium">
					<nb-action
						(click)="editFeedback(i, feedback.id)"
						class="d-inline pr-0"
						icon="edit"
					></nb-action>
					<nb-action
						(click)="removeFeedback(feedback.id)"
						class="d-inline pr-0"
						icon="close"
					></nb-action>
				</nb-actions>
			</nb-card-body>
		</nb-card>
	</nb-card-body>
</nb-card>
