<nb-card>
  <nb-card-body>
    <div class="navigate" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
      <span>BACK</span>
    </div>

    <div class="content">
      <div class="employee-photo">
        <input
          type="file"
          accept=".jpg, .png"
          (change)="handlePhotoUpload($event)"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="68"
          height="68"
          viewBox="0 0 68 68"
        >
          <defs>
            <path
              id="a"
              d="M28.667 31.333a2 2 0 1 0-.002-4.001 2 2 0 0 0 .002 4.001m13.333 12H26.748l9.34-7.793c.328-.279.923-.277 1.244-.001l6.001 5.12V42c0 .736-.597 1.333-1.333 1.333M26 24.667h16c.736 0 1.333.597 1.333 1.333v11.152l-4.27-3.643c-1.32-1.122-3.386-1.122-4.694-.008l-9.702 8.096V26c0-.736.597-1.333 1.333-1.333M42 22H26c-2.205 0-4 1.795-4 4v16c0 2.205 1.795 4 4 4h16c2.205 0 4-1.795 4-4V26c0-2.205-1.795-4-4-4"
            />
          </defs>
          <g fill="none" fill-rule="evenodd">
            <circle cx="34" cy="34" r="34" fill="#0091FF" opacity=".3" />
            <circle cx="34" cy="34" r="26" fill="#0091FF" opacity=".9" />
            <use fill="#FFF" fill-rule="nonzero" xlink:href="#a" />
          </g>
        </svg>
        <img
          *ngIf="profilePhoto"
          [src]="profilePhoto"
          alt="Profile Photo"
        />
      </div>

      <div class="employee-form">
        <form [formGroup]="form" *ngIf="form">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="label" for="usernameInput">Username</label>
                <input
                  fullWidth
                  id="usernameInput"
                  type="text"
                  nbInput
                  formControlName="username"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="emailInput" class="label">Email</label>
                <input
                  fullWidth
                  id="emailInput"
                  type="text"
                  nbInput
                  formControlName="email"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="label" for="departmentInput">Department</label>
                <ng-select
                  id="departmentInput"
                  [items]="fakeDepartments"
                  bindLabel="departmentName"
                  [searchable]="false"
                  placeholder="All Departments"
                  formControlName="department"
                >
                </ng-select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="positionInput" class="label">Position</label>
                <ng-select
                  id="positionInput"
                  [items]="fakePositions"
                  bindLabel="positionName"
                  [searchable]="false"
                  placeholder="All Positions"
                  formControlName="position"
                >
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="label" for="firstNameInput">First Name</label>
                <input
                  fullWidth
                  id="firstNameInput"
                  type="text"
                  nbInput
                  formControlName="firstName"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lastNameInput" class="label">Last Name</label>
                <input
                  fullWidth
                  id="lastNameInput"
                  type="text"
                  nbInput
                  formControlName="lastName"
                />
              </div>
            </div>
          </div>

          <div class="actions">
            <button (click)="goBack()" nbButton outline status="warning">
              Cancel
            </button>
            <button nbButton status="success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
