nb-card-body {
  padding: 50px 70px;

  .navigate {
    display: flex;
    margin-bottom: 35px;
    cursor: pointer;

    span {
      margin-left: 7px;
      font-size: 14px;
      color: #2a2c39;
    }
  }

  .content {
    display: flex;
  }

  .employee-photo {
    height: 670px;
    padding-right: 70px;
    margin-right: 70px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: center;
    transition: transform 150ms ease-in-out;

    div {
      pointer-events: none;
      background: black;
      position: absolute;
      
      height: 180px;
      border-radius: 13px;
    }

    img {
      max-width: 180px;
      height: 180px;
      border-radius: 13px;
    }

    input {
      width: 180px;
      height: 180px;
      opacity: 0;
      position: absolute;
      z-index: 3;
      cursor: pointer;
    }

    svg {
      z-index: 2;
      transition: opacity 0.2s ease-in;
      opacity: 0.3;
      position: absolute;
      top: calc((180px - 68px) / 2);
      margin: auto;
    }
  }

  .employee-form {
    width: 60%;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;

    :last-child {
      margin-left: 40px;
    }
  }
}
