@import 'report';
.card-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: nb-theme(color-basic-default);
  padding: 0;
  margin: 0;
  .card-item {
    display: flex;
    flex-direction: column;
    width: 336px;
    border-radius: 0.5rem;
    background-color: nb-theme(background-basic-color-3);
    .card-body {
      background-color: nb-theme(background-basic-color-3);
      border-radius: 0.5rem;
      padding: 12px 10px;
      &.active{
        box-shadow: nb-theme(color-primary-active-border) 0px 1px 2px 0px, nb-theme(color-primary-hover-border) 0px 1px 3px 1px;
      }
    }
    &:hover {
      border-color: nb-theme(color-primary-hover-border);
    }
    &:focus {
      border-color: nb-theme(color-primary-focus-border);
    }
    &.big {
      width: 415px;
      margin-right: 65px;
    }
    .info-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.7em;
      width: 100%;
      .info-meta {
        background-color: nb-theme(background-basic-color-1);
        padding: 6px 10px;
        border-radius: 4px;
        width: 88%;
        margin: 0px 2px 4px 0px;
      }
      .info-value {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        font-size: 1em;
        background-color: nb-theme(background-basic-color-1);
        padding: 6px 10px;
        border-radius: 4px;
        width: 100%;
        margin: 0px 0px 4px 2px;
        position: relative;
        .custom::ng-deep {
          ga-status-badge {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            .badge {
              height: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: nb-theme(text-button-tiny-font-size);
            }
          }
          .progress-bar-container {
            width: 100%;
            position: absolute;
            left: 0;
            margin: 0;
            .paid-percent {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  .card-footer {
    justify-content: space-around;
    display: flex;
  }
}
