<div class="sprints">
	<nb-accordion multi>
		<nb-accordion-item [expanded]="true" *ngFor="let sprint of sprints">
			<nb-accordion-item-header
				class="d-flex flex-column align-items-start"
			>
				<div
					class="sprint__title w-100 d-flex flex-row justify-content-between"
				>
					<div class="h6">{{ sprint.name }}</div>
					<div class="sprint__actions mr-5">
						<button
							nbButton
							size="tiny"
							*ngIf="sprint.isActive"
							(click)="completeSprint(sprint, $event)"
						>
							{{ 'TASKS_PAGE.COMPLETE_SPRINT' | translate }}
						</button>
					</div>
				</div>

				<div class="sprint__details row">
					<div class="col">Tasks: {{ sprint.tasks?.length }}</div>
					<div class="col" *ngIf="sprint.startDate">
						<div class="d-flex flex-column">
							<span class="date"
								>{{
									'TASKS_PAGE.DATE_START' | translate
								}}:</span
							>
							{{ sprint.startDate | date: 'short' }}
						</div>
					</div>
					<div class="col" *ngIf="sprint.endDate">
						<div class="d-flex flex-column">
							<span class="date"
								>{{ 'TASKS_PAGE.DATE_END' | translate }}:</span
							>
							{{ sprint.endDate | date: 'short' }}
						</div>
					</div>
				</div>
			</nb-accordion-item-header>
			<nb-accordion-item-body
				class="tasks"
				id="{{ sprint.id }}"
				cdkDropList
				[cdkDropListData]="sprint.tasks"
				[cdkDropListConnectedTo]="sprintIds"
				(cdkDropListDropped)="drop($event)"
			>
				<ga-sprint-task
					(taskActionEvent)="taskAction($event)"
					(changeStatusEvent)="changeTaskStatus($event)"
					*ngFor="let task of sprint.tasks; trackBy: trackByFn"
					[task]="task"
				></ga-sprint-task>
			</nb-accordion-item-body>
		</nb-accordion-item>
		<nb-accordion-item [expanded]="true">
			<nb-accordion-item-header>{{
				'TASKS_PAGE.BACKLOG' | translate
			}}</nb-accordion-item-header>
			<nb-accordion-item-body
				id="backlog"
				cdkDropList
				[cdkDropListData]="backlogTasks"
				[cdkDropListConnectedTo]="sprintIds"
				(cdkDropListDropped)="drop($event)"
			>
				<ga-sprint-task
					(click)="toggleItemSelection(task)"
					*ngFor="let task of backlogTasks"
					[task]="task"
				></ga-sprint-task>
			</nb-accordion-item-body>
		</nb-accordion-item>
	</nb-accordion>
</div>
