<div class="header row">
	<h5 class="mb-3 col">
		{{ 'TIMESHEET.DAILY' | translate }} - {{ selectedDate | date }}
	</h5>
	<div class="col-auto">
		<button nbButton status="primary" (click)="openAdd()">
			<nb-icon icon="plus-outline"></nb-icon> Add Time
		</button>
	</div>
</div>

<div class="filters row mb-3">
	<div class="col">
		<ngx-filters (filtersChange)="filtersChange($event)"></ngx-filters>
	</div>
	<!-- <div class="employee-select col-sm-3" *ngIf="canChangeSelectedEmployee">
		<ga-employee-selector
			class="header-selector employee-selector"
		></ga-employee-selector>
	</div> -->
</div>

<div class="log-container">
	<div class="bulk-actions row">
		<div class="bulk-actions mb-3 col-sm-3">
			<button
				nbButton
				status="default"
				*ngIf="showBulkAction"
				[nbContextMenu]="bulkActionOptions"
				nbContextMenuTag="time-logs-bulk-acton"
			>
				Bulk action <nb-icon icon="chevron-down-outline"></nb-icon>
			</button>
		</div>
	</div>

	<div
		class="row border-bottom border-top py-3 font-weight-bold align-items-center"
	>
		<div class="col-auto check-box" *ngIf="organization?.allowDeleteTime">
			<nb-checkbox
				[indeterminate]="false"
				#checkAllCheckbox
				(change)="toggleCheckbox($event, 'all')"
				status="primary"
			>
			</nb-checkbox>
		</div>
		<div class="col project-name">
			Project
		</div>
		<div class="col employee-name" *ngIf="canChangeSelectedEmployee">
			Employee
		</div>
		<div class="col">Log type</div>
		<div class="col">Duration</div>
		<div class="col">Time span</div>
		<div class="col action">Action</div>
	</div>
	<ng-template [ngIf]="timeLogs?.length > 0" [ngIfElse]="notFound">
		<div
			class="row border-bottom py-3 align-items-center"
			*ngFor="let log of timeLogs"
		>
			<div
				class="col-auto check-box"
				*ngIf="organization?.allowDeleteTime"
			>
				<nb-checkbox
					[value]="log.id"
					[(ngModel)]="selectedIds[log.id]"
					(change)="toggleCheckbox($event)"
					status="primary"
				></nb-checkbox>
			</div>
			<div class="col project-name">
				<span *ngIf="log?.task; else noProfject">{{
					log?.project?.name
				}}</span>
				<ng-template #noProfject>
					<span>No project</span>
				</ng-template>
				<div class="mt-2 small">
					<span *ngIf="log?.task; else noToDo">
						<strong>TO-DO : </strong>
						{{ log?.task?.title }}</span
					>
					<ng-template #noToDo>
						<span>No to-do</span>
					</ng-template>
				</div>
			</div>
			<div class="col employee-name" *ngIf="canChangeSelectedEmployee">
				<div class="name-container">
					<ngx-avatar
						[name]="
							log?.employee?.user?.firstName +
							' ' +
							log?.employee?.user?.lastName
						"
						[src]="log?.employee?.user?.imageUrl"
					></ngx-avatar>
				</div>
			</div>
			<div class="col">{{ log.logType }}</div>
			<div class="col">{{ log.duration | durationFormat }}</div>
			<div class="col">
				<span class="start-timer">{{
					log.startedAt | utcToLocal | timeFormat: true
				}}</span>
				-
				<span
					class="end-timer"
					*ngIf="log.stoppedAt; else runningTimer"
					>{{ log.stoppedAt | utcToLocal | timeFormat: true }}</span
				>
				<ng-template #runningTimer>
					<span class="running-timer"> Till now </span>
				</ng-template>
			</div>
			<div class="col action">
				<div class="action-button">
					<button
						*ngIf="organization?.allowModifyTime"
						[disabled]="!log.stoppedAt"
						class="m-1"
						nbButton
						status="success"
						size="small"
						(click)="openEdit(log)"
					>
						Edit
					</button>
					<button
						*ngIf="organization?.allowDeleteTime"
						[disabled]="!log.stoppedAt"
						class="m-1"
						nbButton
						status="danger"
						size="small"
						(click)="onDeleteConfirm(log)"
					>
						Delete
					</button>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template #notFound>
		<div class="row font-weight-bold py-3 align-items-center">
			<div class="col text-center">No logs found.</div>
		</div>
	</ng-template>
</div>
