<div class="header row">
	<h5 class="mb-3 col"></h5>
	<div class="col-auto">
		<button nbButton status="primary" (click)="openAdd()">
			<nb-icon icon="plus-outline"></nb-icon>
			{{ 'TIMESHEET.ADD_TIME' | translate }}
		</button>
	</div>
</div>

<div class="filters row mb-3">
	<div class="col">
		<ngx-filters (filtersChange)="filtersChange($event)"></ngx-filters>
	</div>
</div>
<div
	class="log-container"
	[nbSpinner]="loading"
	nbSpinnerSize="giant"
	nbSpinnerStatus="primary"
>
	<div class="bulk-actions row">
		<div class="bulk-actions mb-3 col-sm-3">
			<button
				nbButton
				status="default"
				*ngIf="showBulkAction"
				[nbContextMenu]="bulkActionOptions"
				nbContextMenuTag="time-logs-bulk-acton"
			>
				{{ 'TIMESHEET.BULK_ACTION' | translate }}
				<nb-icon icon="chevron-down-outline"></nb-icon>
			</button>
		</div>
	</div>

	<div
		class="row border-bottom border-top py-3 font-weight-bold align-items-center"
	>
		<div
			class="col-auto check-box"
			*ngxPermissionsOnly="[
				OrganizationPermissionsEnum.ALLOW_DELETE_TIME
			]"
		>
			<nb-checkbox
				[indeterminate]="false"
				#checkAllCheckbox
				(change)="toggleCheckbox($event, 'all')"
				status="primary"
			>
			</nb-checkbox>
		</div>
		<div class="col project-name">
			{{ 'TIMESHEET.PROJECT' | translate }} /
			{{ 'TIMESHEET.TODO' | translate }}
		</div>
		<div
			class="col employee-name"
			*ngxPermissionsOnly="[PermissionsEnum.CHANGE_SELECTED_EMPLOYEE]"
		>
			{{ 'TIMESHEET.EMPLOYEE' | translate }}
		</div>
		<div class="col">{{ 'TIMESHEET.LOG_TYPE' | translate }}</div>
		<div class="col">{{ 'TIMESHEET.DURATION' | translate }}</div>
		<div class="col">{{ 'TIMESHEET.TIME_SPAN' | translate }}</div>
		<div class="col action">{{ 'TIMESHEET.ACTION' | translate }}</div>
	</div>
	<ng-template [ngIf]="timeLogs?.length > 0" [ngIfElse]="notFound">
		<div
			class="row border-bottom py-3 align-items-center"
			*ngFor="let log of timeLogs"
		>
			<div
				class="col-auto check-box"
				*ngxPermissionsOnly="[
					OrganizationPermissionsEnum.ALLOW_MODIFY_TIME
				]"
			>
				<nb-checkbox
					[value]="log.id"
					[(ngModel)]="selectedIds[log.id]"
					(change)="toggleCheckbox($event)"
					status="primary"
				></nb-checkbox>
			</div>
			<div class="col project-name">
				<span *ngIf="log?.task; else noProfject">
					{{ log?.project?.name }}
				</span>
				<ng-template #noProfject>
					<span>{{ 'TIMESHEET.NO_PROJECT' | translate }}</span>
				</ng-template>
				<div class="mt-2 small">
					<span *ngIf="log?.task; else noToDo">
						<strong>{{ 'TIMESHEET.TODO' | translate }} : </strong>
						{{ log?.task?.title }}
					</span>
					<ng-template #noToDo>
						<span>{{ 'TIMESHEET.NO_TODO' | translate }}</span>
					</ng-template>
				</div>
			</div>
			<div
				class="col employee-name"
				*ngxPermissionsOnly="[PermissionsEnum.CHANGE_SELECTED_EMPLOYEE]"
			>
				<div class="name-container">
					<ngx-avatar
						[name]="log?.employee?.user?.name"
						[src]="log?.employee?.user?.imageUrl"
					></ngx-avatar>
				</div>
			</div>
			<div class="col">{{ log.logType }}</div>
			<div class="col">{{ log.duration | durationFormat }}</div>
			<div class="col">
				<span class="start-timer">
					{{ log.startedAt | utcToLocal | timeFormat: true }}
				</span>
				-
				<span
					class="end-timer"
					*ngIf="log.stoppedAt; else runningTimer"
				>
					{{ log.stoppedAt | utcToLocal | timeFormat: true }}
				</span>
				<ng-template #runningTimer>
					<span class="running-timer">
						{{ 'TIMESHEET.TILL_NOW' | translate }}
					</span>
				</ng-template>
			</div>
			<div class="col action">
				<div class="action-button">
					<button
						class="m-1"
						nbButton
						status="primary"
						size="small"
						(click)="openView(log)"
					>
						<nb-icon icon="eye-outline"></nb-icon>
						{{ 'TIMESHEET.VIEW' | translate }}
					</button>
					<button
						*ngxPermissionsOnly="[
							OrganizationPermissionsEnum.ALLOW_MODIFY_TIME
						]"
						[disabled]="!log.stoppedAt"
						class="m-1"
						nbButton
						status="success"
						size="small"
						(click)="openEdit(log)"
					>
						<nb-icon icon="edit"></nb-icon>
						{{ 'TIMESHEET.EDIT' | translate }}
					</button>
					<button
						*ngxPermissionsOnly="[
							OrganizationPermissionsEnum.ALLOW_DELETE_TIME
						]"
						[disabled]="!log.stoppedAt"
						class="m-1"
						nbButton
						status="danger"
						size="small"
						(click)="onDeleteConfirm(log)"
					>
						<nb-icon icon="trash-2-outline"></nb-icon>
						{{ 'TIMESHEET.DELETE' | translate }}
					</button>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template #notFound>
		<div class="row font-weight-bold py-3 align-items-center">
			<div class="col text-center">
				{{ 'TIMESHEET.NO_TIMELOG' | translate }}
			</div>
		</div>
	</ng-template>
</div>
