<nb-card>
	<nb-card-header class="p-0">
		<div class="filters">
			<div class="gauzy-action">
				<ngx-gauzy-button-action
					[hasLayoutSelector]="false"
					[isDisable]="!(selectedLog?.isSelected || allChecked)"
					[buttonTemplateVisible]="visible"
					[buttonTemplate]="actionButtons"
				></ngx-gauzy-button-action>
			</div>
			<ngx-gauzy-filters
				[saveFilters]="(datePickerConfig$ | async).isSaveDatePicker"
				(filtersChange)="filtersChange($event)"
			></ngx-gauzy-filters>
		</div>
	</nb-card-header>
	<nb-card-body class="pt-0">
		<div
			class="log-container"
			[nbSpinner]="loading"
			nbSpinnerSize="giant"
			nbSpinnerStatus="primary"
		>
			<div class="row custom-header m-0 align-items-center">
				<div
					class="col-auto"
					*ngxPermissionsOnly="[
						OrganizationPermissionsEnum.ALLOW_DELETE_TIME
					]"
				>
					<nb-checkbox
						status="basic"
						[checked]="allChecked"
						[indeterminate]="isIndeterminate()"
						(checkedChange)="checkedAll($event)"
					>
					</nb-checkbox>
				</div>
				<div class="col-3">
					{{ 'TIMESHEET.PROJECT' | translate }} /
					{{ 'TIMESHEET.TODO' | translate }}
				</div>
				<div
					class="col"
					*ngxPermissionsOnly="[
						PermissionsEnum.CHANGE_SELECTED_EMPLOYEE
					]"
				>
					{{ 'TIMESHEET.EMPLOYEE' | translate }}
				</div>
				<div class="col">{{ 'TIMESHEET.LOG_TYPE' | translate }}</div>
				<div class="col">{{ 'TIMESHEET.SOURCE' | translate }}</div>
				<div class="col">{{ 'TIMESHEET.DURATION' | translate }}</div>
				<div class="col-2">{{ 'TIMESHEET.TIME_SPAN' | translate }}</div>
			</div>

			<ng-template [ngIf]="timeLogs?.length > 0" [ngIfElse]="notFound">
				<div class="custom-body">
					<div
						[class]="
							timeLogs.at(-1) == log
								? 'row m-0 py-3 align-items-center'
								: 'row border-bottom m-0 py-3 align-items-center'
						"
						*ngFor="let log of timeLogs"
					>
						<div
							class="col-auto"
							*ngxPermissionsOnly="[
								OrganizationPermissionsEnum.ALLOW_DELETE_TIME
							]"
						>
							<nb-checkbox
								[checked]="log.checked"
								(checkedChange)="toggleCheckbox($event, log)"
								status="basic"
								[disabled]="log.isRunning"
							></nb-checkbox>
						</div>
						<div class="col-3 project-name">
							<ngx-project
								*ngIf="log?.project; else noProject"
								[rowData]="log"
							></ngx-project>
							<ng-template #noProject>
								<span>{{
									'TIMESHEET.NO_PROJECT' | translate
								}}</span>
							</ng-template>
							<div class="mt-2 small">
								<span *ngIf="log?.task; else noToDo">
									<strong
										>{{ 'TIMESHEET.TODO' | translate }} :
									</strong>
									{{ log?.task?.title }}
								</span>
								<ng-template #noToDo>
									<span>{{
										'TIMESHEET.NO_TODO' | translate
									}}</span>
								</ng-template>
							</div>
						</div>
						<div
							class="col employee-name"
							*ngxPermissionsOnly="[
								PermissionsEnum.CHANGE_SELECTED_EMPLOYEE
							]"
						>
							<div class="name-container">
								<ngx-avatar
									[name]="log?.employee?.user?.name"
									[src]="log?.employee?.user?.imageUrl"
									[id]="log?.employee?.id"
								></ngx-avatar>
							</div>
						</div>
						<div class="col">
							<span class="log">{{ log.logType }}</span>
						</div>
						<div class="col">
							<span class="log">{{
								log.source | replace: '_':' '
							}}</span>
						</div>
						<div class="col">
							{{ log.duration | durationFormat }}
						</div>
						<div class="col-2">
							<span class="start-timer">
								{{
									log.startedAt
										| utcToLocal
										| timeFormat: true
								}}
							</span>
							-
							<span
								class="end-timer"
								*ngIf="!log.isRunning; else runningTimer"
							>
								{{
									log.stoppedAt
										| utcToLocal
										| timeFormat: true
								}}
							</span>
							<ng-template #runningTimer>
								<span class="running-timer">
									{{ 'TIMESHEET.TILL_NOW' | translate }}
								</span>
							</ng-template>
						</div>
					</div>
				</div>
			</ng-template>
		</div>

		<ng-template #notFound>
			<div class="row font-weight-bold py-3 align-items-center">
				<div class="col text-center">
					{{ 'TIMESHEET.NO_TIMELOG' | translate }}
				</div>
			</div>
		</ng-template>
	</nb-card-body>
</nb-card>
<ng-template #actionButtons>
	<div class="actions">
		<ng-container *ngIf="(isIndeterminate() || allChecked) && contextMenus">
			<button
				outline
				nbButton
				status="primary"
				class="action"
				size="small"
				[title]="'TIMESHEET.BULK_ACTION' | translate"
				[nbContextMenu]="contextMenus"
				nbContextMenuTag="time-logs-bulk-action"
			>
				{{ 'TIMESHEET.BULK_ACTION' | translate }}
				<nb-icon icon="chevron-down-outline"></nb-icon>
			</button>
		</ng-container>
		<button
			nbButton
			status="basic"
			class="action secondary"
			size="small"
			[disabled]="allChecked && timeLogs?.length !== 1"
			(click)="openView(selectedLog?.data)"
		>
			<nb-icon icon="eye-outline"></nb-icon>
			{{ 'TIMESHEET.VIEW' | translate }}
		</button>
		<button
			*ngxPermissionsOnly="[
				OrganizationPermissionsEnum.ALLOW_MODIFY_TIME
			]"
			[disabled]="selectedLog?.data?.isRunning"
			nbButton
			status="basic"
			class="action primary"
			[disabled]="allChecked && timeLogs?.length !== 1"
			size="small"
			(click)="openEdit(selectedLog?.data)"
		>
			<nb-icon icon="edit"></nb-icon>
			{{ 'TIMESHEET.EDIT' | translate }}
		</button>
		<button
			*ngxPermissionsOnly="[
				OrganizationPermissionsEnum.ALLOW_DELETE_TIME
			]"
			[disabled]="selectedLog?.data?.isRunning"
			nbButton
			status="basic"
			size="small"
			class="action"
			[disabled]="allChecked && timeLogs?.length !== 1"
			ngxConfirmDialog
			[message]="'TIMESHEET.DELETE_TIMELOG' | translate"
			(confirm)="onDeleteConfirm(selectedLog?.data)"
			[nbTooltip]="'TIMESHEET.DELETE' | translate"
		>
			<nb-icon status="danger" icon="trash-2-outline"></nb-icon>
		</button>
	</div>
</ng-template>
<ng-template #visible>
	<ng-template
		[ngxPermissionsOnly]="[OrganizationPermissionsEnum.ALLOW_MANUAL_TIME]"
	>
		<button
			class="action"
			size="small"
			nbButton
			status="success"
			(click)="openAdd()"
		>
			<nb-icon icon="plus-outline"></nb-icon>
			{{ 'TIMESHEET.ADD_TIME' | translate }}
		</button>
	</ng-template>
</ng-template>
