<nb-card>
	<nb-card-header>
		<button
			*ngIf="!showAddCard"
			(click)="showAddCard = !showAddCard"
			nbButton
			status="success"
		>
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
		<div *ngIf="showAddCard" class="row m-0">
			<input
				#addInput
				class="col-8"
				nbInput
				type="text"
				placeholder="{{ 'FORM.PLACEHOLDERS.ADD_POSITION' | translate }}"
				fullWidth
			/>
			<span class="col-2 pl-2 pr-1"
				><button
					class="w-100"
					(click)="addPosition(addInput.value)"
					nbButton
					status="success"
				>
					{{ 'BUTTONS.SAVE' | translate }}
				</button></span
			>
			<span class="col-2 pl-1 pr-0"
				><button
					class="w-100"
					(click)="showAddCard = !showAddCard"
					nbButton
					status="danger"
				>
					{{ 'BUTTONS.CANCEL' | translate }}
				</button></span
			>
		</div>
	</nb-card-header>
	<div class="ml-3 mb-4"><strong>Position name</strong></div>

	<nb-card *ngFor="let p of positions">
		<nb-card-body>
			{{ selectedPosition === p ? '' : p.name }}
			<div *ngIf="showEditDiv && p === selectedPosition" class="row m-0">
				<input
					#editInput
					class="col-8"
					nbInput
					type="text"
					[value]="selectedPosition.name"
					fullWidth
				/>
				<span class="col-2 pl-2 pr-1">
					<button
						class="w-100"
						(click)="
							editPosition(selectedPosition.id, editInput.value)
						"
						nbButton
						status="success"
					>
						Update
					</button></span
				>
				<span class="col-2 pl-1 pr-0">
					<button
						class="w-100"
						(click)="cancel()"
						nbButton
						status="danger"
					>
						{{ 'BUTTONS.CANCEL' | translate }}
					</button></span
				>
			</div>
			<nb-actions
				*ngIf="p !== selectedPosition"
				class="float-right"
				e="medium"
			>
				<nb-action
					(click)="showEditCard(p)"
					class="d-inline pr-0"
					icon="edit"
				></nb-action>
				<nb-action
					(click)="removePosition(p.id, p.name)"
					class="d-inline pr-0"
					icon="close"
				></nb-action>
			</nb-actions>
		</nb-card-body>
	</nb-card>
</nb-card>
