@import '../../daily/daily/daily.component.scss';

:host {
	.filters {
		.form-control {
			min-height: 40px;
		}
	}

	ga-status-badge ::ng-deep .badge {
		width: fit-content;
	}

	.custom-body {
		&.approval {
			height: calc(100vh - 25.7rem) !important;
			max-height: unset !important;
		}
	}

}

.menu-item {
	min-width: 150px;

	button {
		width: 100%;
	}
}