:host {
  ::ng-deep {
    nb-progress-bar {
      .progress-container {
        height: 5px !important;
      }
      .progress-value {
        span {
          display: none;
        }
      }
    }
  }
  nb-card.member-list {
    max-height: 40%;
    overflow-y: hidden;
  }

  .nb-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .view-all{
    position:absolute;
    right: 20px;
  }

  .hour-label{
    display: flex;
  }

  .link-text {
    cursor: pointer;
    text-decoration: none;
    color: #1e6bb8;
    font-size: small;
  }

  .member-weekly-activity-graph {
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
    min-height: 30px;
    .bar-graph-entry {
      width: 7px;
      margin-right: 3px;
      background-color: #0095ff;
      min-height: 1px;
    }
  }

  nb-badge {
    position: unset;
    display: table;
    margin: 10px auto 0;
  }
}
