<nb-card>
	<nb-card-header>
		<h4>Time Tracking</h4>
		<div>{{ startDate | date }} - {{ endDate | date }}</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div
						class="col-sm-4 col-md-3 col-lg"
						*ngxPermissionsOnly="
							PermissionsEnum.CHANGE_SELECTED_EMPLOYEE
						"
					>
						<nb-card
							[nbSpinner]="countsLoading"
							nbSpinnerSize="giant"
							nbSpinnerStatus="primary"
						>
							<nb-card-body>
								<p>Members worked</p>
								<div class="h1">
									{{ counts?.employeesCount || 0 }}
								</div>
							</nb-card-body>
						</nb-card>
					</div>
					<div class="col-sm-4 col-md-3 col-lg">
						<nb-card
							[nbSpinner]="countsLoading"
							nbSpinnerSize="giant"
							nbSpinnerStatus="primary"
						>
							<nb-card-body>
								<p>Projects worked</p>
								<div class="h1">
									{{ counts?.projectsCount || 0 }}
								</div>
							</nb-card-body>
						</nb-card>
					</div>
					<div class="col-sm-4 col-md-3 col-lg">
						<nb-card
							[nbSpinner]="countsLoading"
							nbSpinnerSize="giant"
							nbSpinnerStatus="primary"
						>
							<nb-card-body>
								<p>Weekly Activity</p>
								<div class="h1">
									{{ counts?.weekActivites || 0 }}%
								</div>
							</nb-card-body>
						</nb-card>
					</div>
					<div class="col-sm-4 col-md-3 col-lg">
						<nb-card
							[nbSpinner]="countsLoading"
							nbSpinnerSize="giant"
							nbSpinnerStatus="primary"
						>
							<nb-card-body>
								<p>Worked this week</p>
								<div class="h1">
									{{
										counts?.weekDuration || 0
											| durationFormat
									}}
								</div>
							</nb-card-body>
						</nb-card>
					</div>
					<div class="col-sm-4 col-md-3 col-lg">
						<nb-card
							[nbSpinner]="countsLoading"
							nbSpinnerSize="giant"
							nbSpinnerStatus="primary"
						>
							<nb-card-body>
								<p>Today's Activity</p>
								<div class="h1">
									{{ counts?.todayActivites || 0 }}%
								</div>
							</nb-card-body>
						</nb-card>
					</div>
					<div class="col-sm-4 col-md-3 col-lg">
						<nb-card
							[nbSpinner]="countsLoading"
							nbSpinnerSize="giant"
							nbSpinnerStatus="primary"
						>
							<nb-card-body>
								<p>Worked today</p>
								<div class="h1">
									{{
										counts?.todayDuration || 0
											| durationFormat
									}}
								</div>
							</nb-card-body>
						</nb-card>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<nb-card
					[nbSpinner]="timeSlotLoading"
					nbSpinnerSize="giant"
					nbSpinnerStatus="primary"
				>
					<nb-card-header>Recent Activities</nb-card-header>
					<nb-card-body>
						<ng-template
							[ngIf]="timeSlotEmployees?.length > 0"
							[ngIfElse]="noScreenshot"
						>
							<div
								class="row"
								*ngFor="let employee of timeSlotEmployees"
							>
								<div class="col">
									<div
										class="hour-lable mt-3"
										*ngxPermissionsOnly="
											PermissionsEnum.CHANGE_SELECTED_EMPLOYEE
										"
									>
										<ngx-avatar
											size="sm"
											[name]="employee?.user?.name"
											[src]="employee?.user?.imageUrl"
											[caption]="
												(employee?.timeSlots)[0]
													?.startedAt | date
											"
										></ngx-avatar>
									</div>
									<div
										class="row my-3 align-items-center justify-content-center"
									>
										<div
											class="col"
											*ngFor="
												let timeSlot of employee.timeSlots
											"
										>
											<ngx-screenshots-item
												[timeSlot]="timeSlot"
											>
											</ngx-screenshots-item>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
						<ng-template #noScreenshot>
							<div class="text-center" *ngIf="!timeSlotLoading">
								No screenshot for the week
							</div>
						</ng-template>
					</nb-card-body>
				</nb-card>

				<nb-card
					class="mt-4"
					[nbSpinner]="tasksLoading"
					nbSpinnerSize="giant"
					nbSpinnerStatus="primary"
				>
					<nb-card-header>Tasks</nb-card-header>
					<ng-template
						[ngIf]="tasks?.length > 0"
						[ngIfElse]="noTasks"
					>
						<nb-list>
							<nb-list-item *ngFor="let task of tasks">
								<div class="w-100">
									<div class="row align-items-center">
										<div class="col">
											{{ task.title }}
										</div>
										<div class="col-sm-3">
											<nb-progress-bar
												class="mb-1"
												[value]="
													task.durationPercentage
												"
												[status]="
													prgressStatus(
														task.durationPercentage
													)
												"
												[displayValue]="true"
												size="tiny"
											>
											</nb-progress-bar>
										</div>
										<div class="col-auto">
											{{ task.duration | durationFormat }}
										</div>
									</div>
								</div>
							</nb-list-item>
						</nb-list>
					</ng-template>
					<ng-template #noTasks>
						<div class="text-center p-3" *ngIf="!tasksLoading">
							No task activity for the week
						</div>
					</ng-template>
				</nb-card>

				<nb-card
					class="mt-4"
					[nbSpinner]="manualTimeLoading"
					nbSpinnerSize="giant"
					nbSpinnerStatus="primary"
				>
					<nb-card-header>Manual Time</nb-card-header>
					<ng-template
						[ngIf]="manualTimes?.length > 0"
						[ngIfElse]="noManualTimes"
					>
						<nb-list>
							<nb-list-item>
								<div class="w-100">
									<div class="row py-2 font-weight-bold">
										<div class="col-sm-4">Member</div>
										<div class="col-sm-4">Project</div>
										<div class="col-sm-2">Duration</div>
										<div class="col-sm-2">Date</div>
									</div>
								</div>
							</nb-list-item>
							<nb-list-item
								*ngFor="let manualTime of manualTimes"
							>
								<div class="w-100">
									<div class="row">
										<div class="col-sm-4">
											<ngx-avatar
												[name]="manualTime?.user?.name"
												[src]="
													manualTime?.user?.imageUrl
												"
											></ngx-avatar>
										</div>
										<div class="col-sm-4">
											{{ manualTime.project.name }}
										</div>
										<div class="col-sm-2">
											{{
												manualTime.duration
													| durationFormat
											}}
										</div>
										<div class="col-sm-2">
											{{ manualTime.startedAt | date }}
										</div>
									</div>
								</div>
							</nb-list-item>
						</nb-list>
					</ng-template>
					<ng-template #noManualTimes>
						<div class="text-center p-3" *ngIf="!manualTimeLoading">
							No manual time for the week
						</div>
					</ng-template>
				</nb-card>
			</div>

			<div class="col-sm-6">
				<nb-card
					[nbSpinner]="projectsLoading"
					nbSpinnerSize="giant"
					nbSpinnerStatus="primary"
				>
					<nb-card-header>Projects</nb-card-header>
					<ng-template
						[ngIf]="projects?.length > 0"
						[ngIfElse]="noProjects"
					>
						<nb-list>
							<nb-list-item *ngFor="let project of projects">
								<div class="w-100">
									<div class="row align-items-center">
										<div class="col">
											{{ project.name }}
										</div>
										<div class="col-sm-3">
											<nb-progress-bar
												class="mb-1"
												[value]="
													project.durationPercentage
												"
												[status]="
													prgressStatus(
														project.durationPercentage
													)
												"
												[displayValue]="true"
												size="tiny"
											>
											</nb-progress-bar>
										</div>
										<div class="col-auto">
											{{
												project.duration
													| durationFormat
											}}
										</div>
									</div>
								</div>
							</nb-list-item>
						</nb-list>
					</ng-template>
					<ng-template #noProjects>
						<div class="text-center p-3" *ngIf="!projectsLoading">
							No project activity for the week
						</div>
					</ng-template>
				</nb-card>

				<nb-card
					class="mt-4"
					[nbSpinner]="activitiesLoading"
					nbSpinnerSize="giant"
					nbSpinnerStatus="primary"
				>
					<nb-card-header>Apps & Urls</nb-card-header>
					<ng-template
						[ngIf]="activities?.length > 0"
						[ngIfElse]="noActivities"
					>
						<nb-list>
							<nb-list-item *ngFor="let activity of activities">
								<div class="w-100">
									<ngx-activity-item
										[item]="activity"
									></ngx-activity-item>
								</div>
							</nb-list-item>
						</nb-list>
					</ng-template>
					<ng-template #noActivities>
						<div class="text-center p-3" *ngIf="!activitiesLoading">
							No app & url activity for the week
						</div>
					</ng-template>
				</nb-card>

				<nb-card
					class="mt-4"
					[nbSpinner]="memberLoading"
					nbSpinnerSize="giant"
					nbSpinnerStatus="primary"
					*ngxPermissionsOnly="
						PermissionsEnum.CHANGE_SELECTED_EMPLOYEE
					"
				>
					<nb-card-header>Members</nb-card-header>
					<ng-template
						[ngIf]="members?.length > 0"
						[ngIfElse]="noMember"
					>
						<nb-list>
							<nb-list-item>
								<div class="w-100">
									<div class="row font-weight-bold">
										<div class="col">Member info</div>
										<div class="col-sm-2 text-center">
											Today
										</div>
										<div class="col-sm-3 text-center">
											This week
										</div>
									</div>
								</div>
							</nb-list-item>
							<nb-list-item *ngFor="let member of members">
								<div class="w-100">
									<div class="row">
										<div class="col">
											<ngx-avatar
												[name]="member?.user?.name"
												[src]="member?.user?.imageUrl"
											></ngx-avatar>
										</div>
										<div class="col-sm-2 text-center">
											<div class="activity">
												<div class="duration">
													{{
														member?.todayTime
															?.duration || 0
															| durationFormat
													}}
												</div>
												<div
													class="activity-percentage"
												>
													<nb-badge
														[status]="
															prgressStatus(
																member
																	?.todayTime
																	?.overall
															)
														"
														[text]="
															(member?.todayTime
																?.overall ||
																0) + '%'
														"
													></nb-badge>
												</div>
											</div>
										</div>
										<div class="col-sm-3 text-center">
											<div class="d-flex">
												<div
													class="activity text-center"
												>
													<div class="duration">
														{{
															member?.weekTime
																?.duration || 0
																| durationFormat
														}}
													</div>
													<div
														class="activity-percentage"
													>
														<nb-badge
															[status]="
																prgressStatus(
																	member
																		?.weekTime
																		?.overall
																)
															"
															[text]="
																(member
																	?.weekTime
																	?.overall ||
																	0) + '%'
															"
														></nb-badge>
													</div>
												</div>
												<div
													class="member-weekly-activity-graph"
												>
													<div
														class="bar-graph-entry"
														*ngFor="
															let weekHour of member.weekHours
														"
														[style.height]="
															weekHour.duration +
															'%'
														"
													></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</nb-list-item>
						</nb-list>
					</ng-template>
					<ng-template #noMember>
						<div class="text-center p-3" *ngIf="!memberLoading">
							No member activity for the week
						</div>
					</ng-template>
				</nb-card>
			</div>
		</div>
	</nb-card-body>
</nb-card>
