<div class="content-active">
	<div class="button-container mb-3">
		<div class="button-add">
			<button (click)="addPlugin()" status="success" size="small" nbButton>
				<nb-icon icon="plus-outline"></nb-icon>
				{{ 'BUTTONS.ADD_PLUGIN' | translate }}
			</button>
		</div>
		<div *ngIf="plugin" class="button-hide">
			<button
				*ngIf="plugin.renderer"
				class="action secondary"
				status="basic"
				size="small"
				(click)="view()"
				nbButton
			>
				<nb-icon icon="eye-outline"></nb-icon>{{ 'BUTTONS.VIEW' | translate }}
			</button>
			<button
				*gauzySpinnerButton="processing"
				size="small"
				[status]="plugin?.isActivate ? 'warning' : 'primary'"
				class="button-install"
				(click)="changeStatus()"
				nbButton
			>
				<nb-icon [icon]="plugin?.isActivate ? 'close-circle-outline' : 'checkmark-circle-outline'"></nb-icon
				>{{ (plugin?.isActivate ? 'BUTTONS.DEACTIVATE' : 'BUTTONS.ACTIVATE') | translate }}
			</button>
			<button
				*gauzySpinnerButton="processing"
				size="small"
				class="action danger"
				status="basic"
				(click)="uninstall()"
				nbButton
			>
				<nb-icon status="danger" icon="trash-2-outline"></nb-icon>
				{{ 'BUTTONS.UNINSTALL' | translate }}
			</button>
		</div>
	</div>
	<div *ngIf="(plugins$ | async)?.length > 0; else noPlugin" class="col-12 custom-table">
		<div class="table-scroll-container">
			<angular2-smart-table
				#pluginTable
				(userRowSelect)="handleRowSelection($event)"
				[settings]="smartTableSettings"
				[source]="sourceData$ | async"
				style="cursor: pointer"
			>
			</angular2-smart-table>
		</div>
		<div class="pagination-container">
			<ga-pagination [source]="sourceData$ | async"></ga-pagination>
		</div>
	</div>
</div>
<ng-template #noPlugin>
	<div class="no-data">
		<ngx-no-data-message [message]="'SM_TABLE.NO_DATA.PLUGIN' | translate"> </ngx-no-data-message>
	</div>
</ng-template>
