<nb-card class="employee-edit">
	<nb-card-header class="header">
		<h4>{{ 'TIMESHEET.DAILY' | translate }}</h4>
	</nb-card-header>
	<nb-card-body>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">
						<nb-checkbox status="primary"></nb-checkbox>
					</th>
					<th scope="col">Project</th>
					<th scope="col">Duration</th>
					<th scope="col">Time span</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let log of timeLogs">
					<th scope="row">
						<nb-checkbox status="primary"></nb-checkbox>
					</th>
					<td>
						{{ log.project.name }}
						<div class="mt-2 small">
							<span *ngIf="log?.task; else noToDo">
								<strong>TO-DO : </strong>
								{{ log?.task.title }}</span
							>
							<ng-template #noToDo>
								<span>No to-do</span>
							</ng-template>
						</div>
					</td>
					<td>{{ log.duration | durationFormat }}</td>
					<td>
						{{ log.startedAt | timeFormat: true }} -
						{{ log.stoppedAt | timeFormat: true }}
					</td>
					<td>
						<div class="action-button">
							<button
								class="m-1"
								nbButton
								status="success"
								size="small"
							>
								Edit
							</button>
							<button
								class="m-1"
								nbButton
								status="danger"
								size="small"
							>
								Delete
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- <ngx-back-navigation class="d-block"></ngx-back-navigation> -->
	</nb-card-body>
</nb-card>
