<nb-card>
	<nb-card-header>
		<h4>
			{{ 'ORGANIZATIONS_PAGE.EDIT.HEADER' | translate }}
			{{ organization?.name }}
		</h4>
	</nb-card-header>
	<nb-card-body>
		<div class="navigate" (click)="goBack()">
			<nb-icon icon="arrow-back-outline"></nb-icon>
			<span>{{ 'BUTTONS.BACK' | translate }}</span>
		</div>
		<div *ngIf="organization" class="org-settings">
			<nb-tabset
				(changeTab)="
					tabChange($event);
					clients.loadClients();
					clients.showAddCard = false;
					projects.loadProjects();
					projects.showAddCard = false
				"
				fullWidth
			>
				<nb-tab
					[active]="activeTabName === 'main'"
					tabTitle="{{ 'ORGANIZATIONS_PAGE.MAIN' | translate }}"
					tabIcon="person-outline"
					responsive
				>
					<ga-edit-org-main
						[organization]="organization"
						[countries]="countries"
					></ga-edit-org-main>
				</nb-tab>

				<nb-tab
					[active]="activeTabName === 'departments'"
					tabTitle="{{
						'ORGANIZATIONS_PAGE.DEPARTMENTS' | translate
					}}"
					tabIcon="briefcase-outline"
					responsive
				>
					<ga-edit-org-departments
						[organizationId]="organization?.id"
					>
					</ga-edit-org-departments>
				</nb-tab>

				<nb-tab
					[active]="activeTabName === 'clients'"
					tabTitle="{{ 'ORGANIZATIONS_PAGE.CLIENTS' | translate }}"
					tabIcon="book-open-outline"
					responsive
				>
					<ga-edit-org-clients
						#clients
						[organizationId]="organization?.id"
					></ga-edit-org-clients>
				</nb-tab>

				<nb-tab
					[active]="activeTabName === 'positions'"
					tabTitle="{{ 'ORGANIZATIONS_PAGE.POSITIONS' | translate }}"
					tabIcon="award-outline"
					responsive
				>
					<ga-edit-org-positions
						[organizationId]="organization?.id"
					></ga-edit-org-positions>
				</nb-tab>

				<nb-tab
					[active]="activeTabName === 'vendors'"
					tabTitle="{{ 'ORGANIZATIONS_PAGE.VENDORS' | translate }}"
					tabIcon="car-outline"
					responsive
				>
					<ga-edit-org-vendors [organizationId]="organization?.id">
					</ga-edit-org-vendors>
				</nb-tab>
				<nb-tab
					[active]="activeTabName === 'projects'"
					tabTitle="{{ 'ORGANIZATIONS_PAGE.PROJECTS' | translate }}"
					tabIcon="book-outline"
					responsive
				>
					<ga-edit-org-projects
						#projects
						[organizationId]="organization?.id"
					></ga-edit-org-projects>
				</nb-tab>
				<nb-tab
					[active]="activeTabName === 'teams'"
					tabTitle="{{ 'ORGANIZATIONS_PAGE.EDIT.TEAMS' | translate }}"
					tabIcon="people-outline"
					responsive
				>
					<ga-edit-org-teams>
						#teams [organizationId]="organization?.id"
					</ga-edit-org-teams>
				</nb-tab>
			</nb-tabset>
		</div>
	</nb-card-body>
	<nb-card-footer> </nb-card-footer>
</nb-card>
