dist
tmp
.github
.circle
.npmrc
.travis.yml
greenkeeper.json
docker-compose*.yml
*.md
.deploy
.git/
.gitignore

node_modules
apps/api/node_modules

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db