dist

tmp
.cache
.github
.circle
.circleci
.npmrc
.husky
.travis.yml
greenkeeper.json
docker-compose*.yml
*.md
.git/
.gitignore
Jenkinsfile
.env.prod

node_modules
apps/api/node_modules
apps/desktop/node_modules
apps/desktop-timer/node_modules
apps/gauzy/node_modules
apps/gauzy-e2e/node_modules
packages/**/node_modules
packages/plugins/**/node_modules

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db
