# Editor configuration, see http://editorconfig.org
# This is the root config - stops EditorConfig from looking in parent directories
root = true

# Default settings for all files
[*]
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# TypeScript/JavaScript files
[*.{ts,tsx,js,jsx}]
indent_style = tab
indent_size = 4
tab_width = 4

# HTML files
[*.html]
indent_style = tab
indent_size = 4
tab_width = 4

# SCSS/CSS files
[*.{scss,css}]
indent_style = space
indent_size = 2
tab_width = 2

# YAML files - must use spaces (YAML spec)
[*.{yml,yaml}]
indent_style = space
indent_size = 2
tab_width = 2

# JSON files
[*.json]
indent_style = tab
indent_size = 4
tab_width = 4

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# Makefile - must use tabs
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf

# Windows batch files
[*.{cmd,bat}]
end_of_line = crlf
