API_BASE_URL=http://localhost:3000

# DB_TYPE: sqlite | postgres
DB_TYPE=sqlite

# Below are PostgreSQL Connection Parameters
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=gauzy
# DB_USER=postgres
# DB_PASS=root

GoogleClientId=
GoogleClientSecret=
FacebookClientId=
FacebookClientSecret=
INTEGRATED_HUBSTAFF_USER_PASS=hubstaffPassword
UPWORK_CALLBACK_URL=http://localhost:4200/#/pages/integrations/upwork

# File System
FILE_PROVIDER=

# AWS Config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# Gauzy AI
GAUZY_AI_GRAPHQL_ENDPOINT=http://localhost:3005/graphql

# SMTP Mail Config
MAIL_FROM_ADDRESS=Gauzy@Ever.co
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=

# Sentry Client Key
SENTRY_DSN=