# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Windows batch files require CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

LICENSE    text
Jenkinsfile text

*.conf     text
*.js       text
*.ts       text
*.json     text
*.md       text
*.sample   text
*.txt      text
*.yaml     text
*.yml      text

*.jar      binary
*.png      binary
