# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/apps/api/node_modules

# sqlite3 database
/apps/api/data

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.env

# Typeorm Logs
ormlogs.log
 
# Cache File
/.cache
/apps/api/.cache

/.deploy/nginx/log
/apps/api/src/app/integrations/upwork/csv
/apps/gauzy/src/environments/environment.prod.ts
/apps/gauzy/src/environments/environment.ts
/export
/import