{
	"printWidth": 120,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"arrowParens": "always",
	"trailingComma": "none",
	"quoteProps": "as-needed",
	"trimTrailingWhitespace": true,
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.yml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
