{
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"arrowParens": "always",
	"trailingComma": "none",
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
