<div>
    <h3>Добро пожаловать в Gauzy!</h3>
    <p>Уважаемый {{email}},</p>
    <p>Благодарим вас за регистрацию в Gauzy ™ - платформе с открытым исходным кодом для справедливого распределения прибыли </p>
    <p>Мы рады, что вы на борту!</p>
    <p> С уважением,</p>
    <p>Gauzy Team</p>
</div>