.color {
    position: static;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
  }
  
.tags {
    // display: flex;
    // width: 100px;
    flex-wrap: wrap;
}
  
.tags-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
  
.contacts-img {
    display: flex;
    justify-content: space-between;
}
  
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}