@import 'var';
$radius: nb-theme(button-rectangle-border-radius);
ng-select {
  .selector-template {
    display: flex;
    align-items: center;
    height: 100%;
  }
  img {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: $radius;
  }
}

::ng-deep .organization {
  &.close {
    opacity: 1;
  }
  &.ng-select {
    .ng-select-container {
      .ng-value-container {
        padding-left: 0;
      }
    }
    &.close.ng-select .ng-select-container .ng-value-container {
      span {
        display: none;
      }
    }
  }
}
