<div *ngIf="(allOrganizations$ | async) as res">
    <ng-select [items]="res.items" bindLabel="name" autofocus bindValue="id" [(ngModel)]="selectedOrganizationId"
        placeholder="Select Company">
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <img *ngIf='item.imageUrl' [src]="item.imageUrl" width="40" height="40" />
            {{ item.name }}
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
            <div class="selector-template">
                <img *ngIf='item.imageUrl' height="25" width="25" [src]="item.imageUrl" />
                <span>{{ item.name }}</span>
            </div>
        </ng-template>
    </ng-select>
</div>