<form [formGroup]="form" *ngIf="form">
	<div class="fields">
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label class="label" for="nameInput">{{
						'FORM.LABELS.NAME' | translate
					}}</label>
					<input
						fullWidth
						id="nameInput"
						type="text"
						nbInput
						formControlName="name"
						placeholder="{{ 'FORM.PLACEHOLDERS.NAME' | translate }}"
					/>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label class="label">{{
						'FORM.LABELS.CURRENCY' | translate
					}}</label>
					<nb-select
						class="d-block"
						size="medium"
						formControlName="currency"
						placeholder="{{
							'FORM.PLACEHOLDERS.ALL_CURRENCIES' | translate
						}}"
						fullWidth="true"
					>
						<nb-option
							*ngFor="let currency of currencies"
							[value]="currency"
						>
							{{ currency }}
						</nb-option>
					</nb-select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<label class="label">{{
						'FORM.LABELS.DATE_TYPE' | translate
					}}</label>
					<nb-select
						class="d-block"
						size="medium"
						formControlName="defaultValueDateType"
						placeholder="{{
							'FORM.PLACEHOLDERS.DATE_TYPE' | translate
						}}"
						fullWidth
					>
						<nb-option
							*ngFor="let type of defaultValueDateTypes"
							[value]="type"
						>
							{{ 'SM_TABLE.' + type | translate }}
						</nb-option>
					</nb-select>
				</div>
			</div>
		</div>
	</div>
</form>
