@import 'gauzy/_gauzy-table';

.setting-name {
  font-size: 24px;
  font-weight: bold;
}

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.sub-header {
  margin-bottom: 20px;
  font-weight: bold;
  background-color: nb-theme(gauzy-card-3);
  padding: 0.75rem;
  border-radius: nb-theme(border-radius);
  color: nb-theme(gauzy-text-color-2);
}

.header-content {
  display: flex;

  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding-left: 30px;
  }

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

    .block-item {
      width: 11rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .block-item-big {
      width: 17.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.container {
  padding: 1rem;
  overflow-x: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

:host {

  nb-card,
  nb-card-header {
    background-color: rgba(50, 50, 50, 0.03);
  }
}