<div>
    <p>Здравейте!</p>
    <p>Получихме заявка за промяна на паролата Ви за достъп в Gauzy.co</p>
    <p>Ako Вие сте заявили промяна на паролата<br><br>
        <a href='{{generatedUrl}}'>
            Кликнете тук
        </a>
    <p>
</div>