<form [formGroup]="form">
	<nb-card class="main">
		<nb-card-header class="d-flex">
			<h5>
				{{
					(mode == 'update'
						? 'PROPOSAL_TEMPLATE.EDIT_PROPOSAL_TEMPLATE'
						: 'PROPOSAL_TEMPLATE.ADD_PROPOSAL_TEMPLATE'
					) | translate
				}}
			</h5>
			<nb-icon
				class="ml-auto mt-1 close"
				icon="close-outline"
				(click)="close()"
			></nb-icon>
		</nb-card-header>
		<nb-card-body class="body">
			<div
				class="form-group"
				*ngIf="
					!selectedEmployee?.id && mode === 'create';
					else employeeInfoEl
				"
			>
				<ga-employee-multi-select
					[label]="'PROPOSAL_TEMPLATE.SELECT_EMPLOYEE' | translate"
					[placeholder]="
						'PROPOSAL_TEMPLATE.SELECT_EMPLOYEE' | translate
					"
					[multiple]="false"
					formControlName="employeeId"
				></ga-employee-multi-select>
			</div>
			<ng-template #employeeInfoEl>
				<div class="mb-2">
					<label>{{
						'PROPOSAL_TEMPLATE.EMPLOYEE' | translate
					}}</label>
					<ngx-avatar
						*ngIf="mode === 'create'"
						[name]="
							selectedEmployee?.firstName +
							' ' +
							selectedEmployee?.lastName
						"
						[src]="selectedEmployee?.imageUrl"
					></ngx-avatar>
					<ngx-avatar
						*ngIf="mode === 'update'"
						[name]="proposalTemplate?.employee?.user?.name"
						[src]="proposalTemplate?.employee?.user?.imageUrl"
					></ngx-avatar>
				</div>
			</ng-template>
			<div class="form-group">
				<label class="d-block">{{
					'PROPOSAL_TEMPLATE.NAME' | translate
				}}</label>
				<input
					fullWidth
					formControlName="name"
					type="text"
					nbInput
					[placeholder]="'PROPOSAL_TEMPLATE.NAME' | translate"
				/>
			</div>
			<div class="form-group">
				<label class="d-block">{{
					'PROPOSAL_TEMPLATE.CONTENT' | translate
				}}</label>
				<ckeditor formControlName="content" [config]="ckConfig">
				</ckeditor>
			</div>
		</nb-card-body>
		<nb-card-footer class="text-right">
			<button (click)="close()" status="danger" class="mr-3" nbButton>
				{{ 'BUTTONS.CANCEL' | translate }}
			</button>
			<button
				(click)="onSave()"
				[disabled]="form.invalid"
				status="success"
				nbButton
			>
				{{ 'BUTTONS.SAVE' | translate }}
			</button>
		</nb-card-footer>
	</nb-card>
</form>
