@import '../../@theme/styles/themes.scss';

:host {
    header {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    nb-card {
        background-color: nb-theme(gauzy-card-2);
    }

    nb-card.card-smtp {
        height: calc(100vh - 20rem);
        border-radius: 0 0 nb-theme(border-radius) nb-theme(border-radius);
        padding: 0;
        margin: 0;
    }
}