nb-card-header {
    display: flex;
    justify-content: space-between;

    & span {
        cursor: pointer;
    }
}

nb-card-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .group-container {
        background: var(--gauzy-card-2);
        padding: 10px 20px;
        border-radius: var(--border-radius);
        margin: 0.5rem;

        .group-header {
            font-weight: bold;
            font-size: 1rem;
            color: var(--gauzy-text-color-2);
            margin-top: 0.5rem;
        }
    }
}
