@import 'themes';

@include nb-install-component {
  .item-invalid {
    ::ng-deep .ng-select-container {
      border: 1px solid;
      border-color: nb-theme(color-danger-default);
    }
  }

  .item-valid {
    ::ng-deep .ng-select-container {
      border: 1px solid;
      border-color: nb-theme(color-success-default);
    }
  }

  // Remove drop down arrow from email select
  #emailsSelect {
    ::ng-deep {
      .ng-clear-wrapper {
        width: 20px;
      }
      .ng-arrow-wrapper {
        display: none;
      }
    }
  }
}
