<nb-card style="min-width: 1200px;">
	<nb-card-header>
		<div class="main-header">
			<h4>Goal Title</h4>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-md-6">
				<nb-tabset fullWidth>
					<nb-tab tabTitle="Key Results">
						<nb-card>
							<nb-card-header>Key result - 1</nb-card-header>
						</nb-card>
					</nb-tab>
				</nb-tabset>
			</div>
			<div class="col-md-6">
				<nb-card>
					<nb-card-header>
						<div class="main-header">
							<h6>Updates</h6>
							<button nbButton status="primary">
								{{ 'BUTTONS.ADD_NEW' | translate }}
							</button>
						</div>
					</nb-card-header>
				</nb-card>
			</div>
		</div>
	</nb-card-body>
</nb-card>
