.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host {
  display: block;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(30% - 1rem);
  margin: 0 0.5rem;
  max-width: 30%;
  padding: 0.5em 0;
  .req {
    height: 7rem;
    display: flex;
    flex: 1;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    .req-icon {
      flex: 1 0 calc(30% - 1rem);
      height: 100%;
      text-align: center;
      line-height: 7rem;
      nb-icon {
        font-size: 3em;
      }
    }
    .req-content {
      flex: 1 0 calc(70% - 1rem);
      height: 100%;
      .req-title {
        width: 100%;
        height: 50%;
        p {
          padding: 1em 0;
          font-weight: bold;
        }
      }
      .req-btn {
        width: 100%;
        height: 50%;
        button {
          width: 70%;
          font-size: 0.7em;
        }
        .req-review {
          float: right;
          p {
            font-size: 0.8em;
            padding: 1em 1em;
            font-weight: bold;
          }
        }
      }
    }
  }
}
::ng-deep {
  ng2-smart-table .actions {
    max-width: 260px;
    width: 260px;
  }
}
