:host {
  display: block;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(30% - 1rem);
  margin: 0 0.5rem;
  max-width: 30%;
  padding: 0.5em 0;
  .req {
    height: 7rem;
    display: flex;
    flex: 1;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    .req-icon {
      flex: 1 0 calc(30% - 1rem);
      height: 100%;
      text-align: center;
      line-height: 7rem;
      nb-icon {
        font-size: 3em;
      }
    }
    .req-content {
      flex: 1 0 calc(70% - 1rem);
      height: 100%;
      .req-title {
        width: 100%;
        height: 50%;
        p {
          padding: 1em 0;
          font-weight: bold;
        }
      }
      .req-btn {
        width: 100%;
        height: 50%;
        button {
          width: 70%;
          font-size: 0.7em;
        }
        .req-review {
          float: right;
          p {
            font-size: 0.8em;
            padding: 1em 1em;
            font-weight: bold;
          }
        }
      }
    }
  }
}
::ng-deep {
  ng2-smart-table .actions {
    max-width: 260px;
    width: 260px;
  }
}

/* Card grid */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  border: 0.0625rem solid #e4e9f2;
  border-radius: 0.25rem;
  width: 350px;
  margin-top: 10px;
  margin-right: 10px;
}

.info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em;
  color: darkgray;
  line-height: 0px;
  padding: 1rem 1.5rem;

  .info-meta {
    margin-right: 10px;
  }

  .info-value {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    color: black;
    font-size: 1em;
  }
}

.card-footer {
  justify-content: space-around;
  display: flex;
}

/* Status */
.badge-danger-card {
  text-align: center;
  padding: 10px;
  background-color: #ff3d71;
  border-radius: 0.45rem;
  color: #fff;
}

.badge-success-card {
  text-align: center;
  padding: 10px;
  background-color: #00d68f;
  border-radius: 0.45rem;
  color: #fff;
}

.badge-warning-card {
  text-align: center;
  padding: 10px;
  background-color: #fa0;
  border-radius: 0.45rem;
  color: #fff;
}

.badge-danger {
  text-align: center;
  padding: 5px;
  background-color: #ff3d71;
  border-radius: 0.45rem;
  color: #fff;
}

.badge-success {
  text-align: center;
  padding: 5px;
  background-color: #00d68f;
  border-radius: 0.45rem;
  color: #fff;
}

.badge-warning {
  text-align: center;
  padding: 5px;
  background-color: #fa0;
  border-radius: 0.45rem;
  color: #fff;
}
