@import 'themes';
@import '@shared/table-components/contact-links/contact-links.component';

@include nb-install-component() {
  .client-badge {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.25rem 0.4rem;
    background-color: nb-theme(color-success-default);
  }
}
