<nb-card class="card-scroll">
  <nb-card-header class="card-header-title">
    <div class="card-header-title">
      <ngx-back-navigation></ngx-back-navigation>
      <h4>
        <!-- Routed through `ngx-header-title` like every other page in this
             area: that is what renders the breadcrumb trail under the heading,
             which this page had no way to show. -->
        <ngx-header-title [allowEmployee]="false">
          {{ 'CANDIDATES_PAGE.EDIT_CANDIDATE.HEADER' | translate }}
          @if (selectedCandidate?.user?.name) {
            <span>{{ selectedCandidate?.user?.name }}</span>
          }
          @if (selectedCandidate?.user?.username) {
            <span>
              @if (selectedCandidate?.user.name) {
                ({{ selectedCandidate?.user.username }})
              } @else {
                '{{ selectedCandidate?.user.username }}'
              }
            </span>
          }
        </ngx-header-title>
      </h4>
    </div>
    <div class="notification" (click)="interviewInfo()">
      <nb-icon class="bell" icon="bell-outline"></nb-icon>
      @if (futureInterviews?.length > 0) {
        <div class="exist"></div>
      }
    </div>
  </nb-card-header>
  <nb-card-body class="p-3">
    <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
  </nb-card-body>
</nb-card>
