@import 'var';
.form-group input {
  width: 100%;
}

.navigation {
  height: 24px;
  margin-bottom: 5px;
}

.navigation {
  height: 30px;
  margin-bottom: 5px;
}

.tabset {
  padding: 30px 30px;
}

.org-settings {
  width: 100%;
}

nb-tab,
nb-tabset {
  height: 100%;
}

nb-card-body {
  overflow-y: hidden; //prevent extra scroll bar
}

:host ::ng-deep {
  nb-route-tabset {
    ul.route-tabset {
      padding: 0;
      @include respond(dsk) {
        flex-wrap: wrap;
      }
    }

    .tab-link {
      padding: px2rem(10px) px2rem(20px);
      height: 100%;

      @include respond(dsk) {
        padding: px2rem(10px) px2rem(20px);
      }
      @include respond(1440px) {
        padding: px2rem(10px) px2rem(25px);
      }
      @include respond(xxl) {
        padding: px2rem(10px) px2rem(20px);
      }
      nb-icon {
        display: block;
        margin: auto;
        margin-bottom: 8px;
      }
    }
  }
}
