<nb-card>
	<nb-card-header>
		<button
			nbButton
			status="success"
			*ngIf="!showAddCard"
			(click)="showCard()"
		>
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
		<div *ngIf="showAddCard" class="row m-0">
			<div class="col-8 documents-card">
				<form class="col-5" [formGroup]="form" *ngIf="form">
					<div formArrayName="documents">
						<div
							*ngFor="
								let document of form.controls.documents
									?.controls;
								let i = index
							"
						>
							<div [formGroupName]="i" class="documents-add-card">
								<div class="col-12 add-card-wrapp">
									<label for="documentName" class="label">{{
										'FORM.LABELS.DOCUMENT_NAME' | translate
									}}</label>
									<input
										id="documentName"
										#addInput
										class="col-12"
										nbInput
										formControlName="name"
										type="text"
										placeholder="{{
											'FORM.PLACEHOLDERS.DOCUMENT_NAME'
												| translate
										}}"
										fullWidth
									/>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="col-7">
					<div class="label">
						{{ 'FORM.LABELS.DOCUMENT_URL' | translate }}
					</div>
					<ga-candidate-cv
						#candidateCv
						[documentUrl]="documentUrl"
						[isDocument]="true"
					></ga-candidate-cv>
				</div>
			</div>

			<span class="col-2 pl-2 pr-0 button"
				><button
					class="w-100 form-btn"
					(click)="submitForm()"
					nbButton
					status="success"
				>
					{{ 'BUTTONS.SAVE' | translate }}
				</button></span
			>
			<span class="col-2 pl-2 pr-0 button"
				><button
					class="w-100 form-btn"
					(click)="cancel()"
					nbButton
					status="danger"
				>
					{{ 'BUTTONS.CANCEL' | translate }}
				</button></span
			>
		</div>
	</nb-card-header>
	<nb-card-body *ngIf="documentList?.length" class="mt-3">
		<nb-card *ngFor="let document of documentList; let i = index">
			<nb-card-body class="documents-card">
				<div class="documents-line">
					<div>
						<nb-icon
							class="doc-icon"
							icon="file-text-outline"
						></nb-icon>
						<a href="{{ document.documentUrl }}">
							{{ document.name }}
						</a>
					</div>
					<div class="document-data">
						{{ document.updatedAt | date: 'medium' }}
					</div>
				</div>

				<nb-actions class="float-right" e="medium">
					<nb-action
						(click)="editDocument(i, document.id)"
						class="d-inline pr-2"
						icon="edit"
					></nb-action>
					<nb-action
						(click)="removeDocument(document.id)"
						class="d-inline pr-0 pl-2"
						icon="close"
					></nb-action>
				</nb-actions>
			</nb-card-body>
		</nb-card>
	</nb-card-body>
</nb-card>
