.documents-form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
input {
	height: 36px;
}
.form-btn {
	margin: 0.5rem 0;
}
.documents-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.documents-line {
	margin: 0.2rem 0;
}
.documents-title {
	font-weight: 600;
}
.documents-add-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.add-card-wrapp {
	padding: 0;
	margin: 0 0 20px 0;
}
.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
}
.label {
	margin: 0 0 8px;
}
.document-data {
	font-size: 12px;
	color: grey;
}
.doc-icon {
	color: #3365ff !important;
}
