<span class="created-by"
	><b
		>© 2019,
		<a href="{{ companySiteLink }}" target="_blank">{{ companySite }}</a>
		{{ 'FOOTER.BY' | translate }}
		<a href="{{ companyLink }}" target="_blank">{{ companyName }}</a
		>. {{ 'FOOTER.RIGHTS_RECERVED' | translate }}</b
	></span
>
<div class="socials">
	<a
		href="{{ companyGithubLink }}"
		target="_blank"
		class="ion ion-logo-github"
	></a>
	<a
		href="{{ companyFacebookLink }}"
		target="_blank"
		class="ion ion-logo-facebook"
	></a>
	<a
		href="{{ companyTwitterLink }}"
		target="_blank"
		class="ion ion-logo-twitter"
	></a>
	<a
		href="{{ companyLinkedinLink }}"
		target="_blank"
		class="ion ion-logo-linkedin"
	></a>
</div>
