<span class="created-by"
	>Copyright © 2016-present,
	<b
		><a href="{{ companySiteLink }}" target="_blank">{{
			companyName
		}}</a></b
	>. All rights reserved.</span
>
<div class="socials">
	<a
		href="{{ companyGithubLink }}"
		target="_blank"
		class="ion ion-logo-github"
	></a>
	<a
		href="{{ companyFacebookLink }}"
		target="_blank"
		class="ion ion-logo-facebook"
	></a>
	<a
		href="{{ companyTwitterLink }}"
		target="_blank"
		class="ion ion-logo-twitter"
	></a>
	<a
		href="{{ companyLinkedinLink }}"
		target="_blank"
		class="ion ion-logo-linkedin"
	></a>
</div>
