<ng-container *ngTemplateOutlet="popup"></ng-container>
<ng-template #popup>
	<nb-card>
		<nb-card-body>
			<div class="close-popup">
				<span><i (click)="close()" class="fas fa-times"></i></span>
			</div>
			<div class="content">
				<img width="48px" height="48px" src="assets/images/others/under-construction.webp" alt="" />
				<p>
					We are working hard to implement this feature in our future
					releases.<br />
					<strong>Stay tuned!</strong>
				</p>
				<button class="button info" nbButton status="info" size="small" (click)="close()">
					Ok
				</button>
			</div>
		</nb-card-body>
	</nb-card>
</ng-template>
