@import 'var';
nb-card-body {
	padding: 50px 70px;
	@include respond(dsk) {
		padding: 30px 40px;
	}

	.stepper-buttons {
		display: flex;
		justify-content: space-evenly;
	}

	.organization-container {
		padding-right: 70px;
		padding-top: 35px;
		margin-right: 70px;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		transition: transform 150ms ease-in-out;

		.organization-photo {
			width: fit-content;
			height: fit-content;
			position: relative;

			.image-overlay {
				pointer-events: none;
				background: black;
				position: absolute;
				height: 100%;
				width: 100%;
				border-radius: 13px;
			}

			img {
				width: 180px;
				height: auto;
				border-radius: 13px;
			}

			svg {
				z-index: 2;
				transition: opacity 0.2s ease-in;
				opacity: 0.3;
				position: absolute;
				top: calc(50% - 68px / 2);
				left: calc(50% - 68px / 2);
			}
		}
	}
}

.help-icon {
	font-size: 0.9rem;
	margin-bottom: 0.25rem;
	margin-left: 0.5rem;
}
