<nb-card class="email-wrap">
	<nb-card-body class="info-block">
		<div *ngIf="isCandidate">
			<span>To</span>
			<span class="email">{{ selectedCandidate?.user.email }}</span>
		</div>
		<div *ngIf="!isCandidate">
			<span>To</span>
			<span class="email" *ngFor="let employee of employees">{{
				employee?.user.email
			}}</span>
		</div>
	</nb-card-body>
	<nb-card-body class="info-block ">
		<strong> {{ templateData?.title }} </strong>
		on
		<strong>{{ dateTemplate }} </strong>
	</nb-card-body>
	<nb-card-body>
		<form [formGroup]="form" *ngIf="form">
			<ckeditor
				[formControl]="form.controls['text']"
				[config]="{
					width: '100%',
					height: '180'
				}"
			></ckeditor>
		</form>
	</nb-card-body>
</nb-card>
