.email-wrap {
	border: 1px #d1d1d1 solid;
	max-width: 45rem;
}

.info-block {
	border-bottom: 1px #d1d1d1 solid;
}

.email {
	border: 1px #d1d1d1 solid;
	padding: 3px 6px;
	margin-left: 15px;
	border-radius: 5px;
}
