.email-wrap {
  max-width: 45rem;
}

.info-block {
  border-top: 1px #d1d1d1 solid;
  border-left: 1px #d1d1d1 solid;
  border-right: 1px #d1d1d1 solid;
}

.email {
  border: 1px #d1d1d1 solid;
  padding: 3px 6px;
  margin-left: 15px;
  border-radius: 5px;
}

.editor {
  padding: 0 2px 0 0px;
}
