:host {
    ::ng-deep {
        .ng-smart-table-container {
            height: calc(70vh - 205px);
            overflow: auto;
            border: 1px solid #edf1f7 !important;

            ::ng-deep table thead {
                position: sticky;
                z-index: 100;
                height: 100%;
                top: -1px;
             }
    
             ::ng-deep table thead th {
                border-top: none !important;
                border-bottom: none !important;
                box-shadow: inset 0 0.5px 0 #edf1f7, inset 0 -0.9px 0 #edf1f7;
             }

             ::ng-deep table tbody:nth-of-type(1) tr:nth-of-type(1) td {
                border-top: none !important;
            }
        }         
    }
}
