<nb-card 
	[nbSpinner]="loading" 
	nbSpinnerStatus="primary" 
	nbSpinnerSize="large"
>
	<nb-card-header class="card-header-title" fixed>
		<div>
			<h4>
				<ngx-header-title>
					{{ 'PROPOSALS_PAGE.HEADER' | translate }}
				</ngx-header-title>
			</h4>
		</div>
		<div>
			<ga-layout-selector
				[componentName]="viewComponentName"
			></ga-layout-selector>
		</div>
	</nb-card-header>
	<nb-card-body>
		<nb-card class="p-3">
			<h6>{{ 'PROPOSALS_PAGE.STATISTICS' | translate }}</h6>
			<div>
				<span
					>{{
						'PROPOSALS_PAGE.ACCEPTED_PROPOSALS' | translate
					}}: </span
				><span>{{ countAccepted }}</span>
			</div>
			<div>
				<span
					>{{ 'PROPOSALS_PAGE.TOTAL_PROPOSALS' | translate }}:
				</span>
				<span>{{ totalProposals }}</span>
			</div>
			<div>
				<span>{{ 'PROPOSALS_PAGE.SUCCESS_RATE' | translate }}: </span>
				<span
					><b>{{ successRate }}</b>
				</span>
			</div>
		</nb-card>

		<ng-template ngxPermissionsOnly="ORG_PROPOSALS_EDIT">
			<div class="mb-3">
				<button 
					nbButton 
					status="success" 
					class="mr-2"
					[routerLink]="['/pages/sales/proposals/register']"
				>
					<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
					{{ 'BUTTONS.ADD' | translate }}
				</button>
				<ng-container *ngIf="dataLayoutStyle === componentLayoutStyleEnum.TABLE">
					<ng-container
						*ngTemplateOutlet="actionButtons"
					></ng-container>
				</ng-container>
				<ng-template ngxPermissionsOnly="ORG_PROPOSAL_TEMPLATES_VIEW">
					<button
						nbButton
						status="info"
						[routerLink]="['/pages/jobs/proposal-template']"
						class="mr-2"
					>
						<nb-icon
							class="mr-1"
							icon="file-text-outline"
						></nb-icon>
						{{ 'BUTTONS.MANAGE_TEMPLATES' | translate }}
					</button>
				</ng-template>
			</div>
		</ng-template>

		<ng-template 
			[ngIf]="dataLayoutStyle === componentLayoutStyleEnum.TABLE" 
			[ngIfElse]="gridLayout"
		>
			<div class="table-scroll-container">
				<ng2-smart-table
					class="tags-table"
					[settings]="smartTableSettings"
					[source]="smartTableSource"
					(userRowSelect)="selectProposal($event)"
					style="cursor: pointer"
					#proposalsTable
				>
				</ng2-smart-table>
			</div>			
		</ng-template>
		<ng-template #gridLayout>
			<div class="grid-scroll-container">
				<ga-card-grid
					[settings]="smartTableSettings"
					[source]="proposals"
					[buttonTemplate]="actionButtons"
					[cardSize]="'big'"
				></ga-card-grid>
			</div>
			<div 
				*ngIf="dataLayoutStyle === componentLayoutStyleEnum.CARDS_GRID"
				class="pagination-container"
			>
				<ng-container *ngIf="pagination.totalItems > pagination.itemsPerPage">
					<ga-pagination 
						(selectedPage)="onPageChange($event)"
						[doEmit]="false"
						[totalItems]="pagination?.totalItems" 
						[itemsPerPage]="pagination?.itemsPerPage" 
						[activePage]="pagination?.activePage">
					</ga-pagination>
				</ng-container>
			</div>
		</ng-template>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<ng-template ngxPermissionsOnly="ORG_PROPOSALS_EDIT">
		<button
			nbButton
			(click)="details(selectedItem)"
			status="info"
			class="mr-2"
			[disabled]="!selectedItem && disableButton"
			[size]="buttonSize || 'medium'"
		>
			<nb-icon class="mr-1" icon="edit-outline"></nb-icon
			>{{ 'BUTTONS.DETAILS' | translate }}
		</button>
		<button
			nbButton
			(click)="delete(selectedItem)"
			status="danger"
			class="mr-2"
			[disabled]="!selectedItem && disableButton"
			[size]="buttonSize || 'medium'"
		>
			<nb-icon class="mr-1" icon="trash-2-outline"></nb-icon
			>{{ 'BUTTONS.DELETE' | translate }}
		</button>
		<ng-container
			[ngTemplateOutlet]="statusButtonTemplate"
			[ngTemplateOutletContext]="{ item: selectedProposal || selectedItem, buttonSize: buttonSize }"
		></ng-container>
	</ng-template>
</ng-template>

<ng-template #statusButtonTemplate 
	let-item="item"
	let-buttonSize="buttonSize"
>
	<button
		*ngIf="item?.status"
		nbButton
		(click)="
			item?.status == proposalStatusEnum.SENT
				? switchToAccepted(item)
				: switchToSent(item)
		"
		[size]="buttonSize || 'medium'"
		status="warning"
		class="mr-2"
		[disabled]="!item && disableButton"
	>
		<nb-icon class="mr-1" icon="person-delete-outline"></nb-icon>
		<span *ngIf="item?.status == proposalStatusEnum.ACCEPTED">{{
			'BUTTONS.MARK_AS_SENT' | translate
		}}</span>
		<span *ngIf="item?.status == proposalStatusEnum.SENT">{{
			'BUTTONS.MARK_AS_ACCEPTED' | translate
		}}</span>
	</button>
</ng-template>
