.stars {
  position: relative;
  font-size: 1.5rem;
  font-style: italic;
  background-size: contain;
  color: #ccc;
  margin: 0.3rem 0 0.3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gold-star {
  color: #ffa900;
}

.grey-star {
  color: #ccc;
}
