<nb-card class="main">
	<nb-card-header>
		<div class="header">
			<h6>Manage Category</h6>
			<nb-icon icon="close-outline" (click)="closeDialog()"></nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="select">
			<nb-select
				class="main-buttons"
				placeholder="Select Language"
				[(selected)]="selectedLang"
			>
				<nb-option *ngFor="let lang of languages" [value]="lang">{{
					lang
				}}</nb-option>
			</nb-select>
			<nb-select
				class="main-buttons"
				placeholder="Select Color"
				[(selected)]="selectedColor"
			>
				<nb-option *ngFor="let color of colors" [value]="color">{{
					color
				}}</nb-option>
			</nb-select>
			<nb-select
				placeholder="Select Status"
				[(selected)]="selectedStatus"
			>
				<nb-option *ngFor="let status of isDraft" [value]="status">{{
					status
				}}</nb-option>
			</nb-select>
		</div>
		<div class="mb-1">
			<p class="label">Select Icon:</p>
			<nb-select
				class="main-buttons"
				placeholder="Select Icon"
				[(selected)]="selectedIcon"
			>
				<nb-option *ngFor="let icon of icons" [value]="icon"
					><nb-icon class="ml-1" icon="{{ icon }}"></nb-icon
					>{{ icon | slice: 0:icon.length - 8 }}</nb-option
				>
			</nb-select>
		</div>
		<form [formGroup]="form" (ngSubmit)="submit()">
			<div class="edit-field">
				<div>
					<p class="label">Name of the base:</p>
					<input
						formControlName="name"
						class="main-buttons"
						type="text"
						size="24"
						maxlength="18"
						nbInput
					/>
				</div>
				<div>
					<p class="label">Description:</p>
					<input
						formControlName="desc"
						class="main-buttons"
						type="text"
						size="30"
						maxlength="26"
						nbInput
					/>
				</div>
			</div>
			<div class="save-button">
				<button status="success" nbButton>
					{{ 'BUTTONS.SAVE' | translate }}
				</button>
			</div>
		</form>
	</nb-card-body>
</nb-card>
