@import 'gauzy/_gauzy-dialogs';

.equipment-img {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 145px;

  svg {
    position: absolute;
  }

  img{
    border-radius: nb-theme(border-radius);
  }
}

:host{
  nb-card{
    background-color: nb-theme(gauzy-card-1);
  }
}