<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="main-header">
		<div class="main-header">
			<h4> <ngx-header-title> {{ 'ORGANIZATIONS_PAGE.PROJECTS' | translate }} </ngx-header-title> </h4>
		</div>
		<div class="main-header">
			<div class="main-header" *ngIf="!showAddCard">
				<ga-layout-selector
					[componentName]="viewComponentName"
				></ga-layout-selector>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body class="project-list">
		<div class="w-100">
			<div class="mb-3">
				<button
					*ngIf="!showAddCard"
					class="mr-2"
					(click)="showAddCard = !showAddCard"
					nbButton
					status="success"
				>
					<nb-icon class="mr-1" icon="plus-outline"></nb-icon
					>{{ 'BUTTONS.REQUEST' | translate }}
				</button>
				<ga-projects-mutation
					*ngIf="showAddCard && organization"
					[employees]="employees"
					[organization]="organization"
					[project]="projectToEdit"
					[organizationContacts]="organizationContacts"
					(canceled)="cancel()"
					(addOrEditProject)="addOrEditProject($event)"
				>
				</ga-projects-mutation>
				<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
					<ng-container
						*ngTemplateOutlet="actionButtons"
					></ng-container>
				</ng-container>
			</div>
		</div>
		<ng-container *ngIf="dataLayoutStyle === 'CARDS_GRID' && !showAddCard">
			<div class="member-card-wrap">
				<ga-entity-with-members-card
					*ngFor="let p of projects"
					[entityWithMembers]="p"
					(remove)="removeProject(p.id, p.name)"
					(edit)="editProject(p)"
					class="member-card"
				>
					<div class="public-icon">
						<div *ngIf="p.public; else notPublic">
							<nb-icon
								class="ml-auto mt-1 close float-left"
								icon="eye-outline"
							></nb-icon>
						</div>
						<ng-template #notPublic>
							<nb-icon
								class="ml-auto mt-1 close float-left"
								icon="eye-off-outline"
							></nb-icon>
						</ng-template>
					</div>
					<div class="client-info">
						<div class="info-line">
							<div class="info-meta">
								{{
									'ORGANIZATIONS_PAGE.EDIT.CONTACT'
										| translate
								}}
							</div>
							<div class="info-value">
								{{ p.organizationContact?.name }}
							</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{
									'ORGANIZATIONS_PAGE.EDIT.START_DATE'
										| translate
								}}
							</div>
							<div class="info-value">
								{{ p.startDate | date }}
							</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{
									'ORGANIZATIONS_PAGE.EDIT.END_DATE'
										| translate
								}}
							</div>
							<div class="info-value">{{ p.endDate | date }}</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{
									'ORGANIZATIONS_PAGE.EDIT.BILLING'
										| translate
								}}
							</div>
							<div class="info-value">
								{{ p.billing | removeLodash | titlecase }}
							</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{
									'ORGANIZATIONS_PAGE.EDIT.CURRENCY'
										| translate
								}}
							</div>
							<div class="info-value">{{ p.currency }}</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{
									'ORGANIZATIONS_PAGE.EDIT.OWNER' | translate
								}}
							</div>
							<div class="info-value">
								{{ p.owner | titlecase }}
							</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{ 'FORM.PLACEHOLDERS.CODE' | translate }}
							</div>
							<div class="info-value">
								{{ p.code | titlecase }}
							</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{ 'FORM.PLACEHOLDERS.COLOR' | translate }}
							</div>
							<div class="info-value">
								{{ p.color | titlecase }}
							</div>
						</div>
						<div class="info-line">
							<div class="info-meta">
								{{
									'APPROVAL_POLICY_PAGE.APPROVAL_POLICY_DESCRIPTION'
										| translate
								}}
							</div>
							<div class="info-value">
								{{ p.description | titlecase }}
							</div>
						</div>
					</div>
				</ga-entity-with-members-card>
			</div>
		</ng-container>
		<ng2-smart-table
			*ngIf="
				dataLayoutStyle === 'TABLE' && !showAddCard
			"
			class="tags-table w-100"
			(userRowSelect)="selectProject($event)"
			[settings]="settingsSmartTable"
			[source]="smartTableSource"
			style="cursor: pointer"
			#projectsTable
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
<ng-template #actionButtons let-buttonSize="buttonSize">
	<button
		(click)="editProject(selectedProject)"
		nbButton
		status="info"
		*ngIf="!showAddCard"
		class="mr-2"
		[disabled]="disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
		{{ 'BUTTONS.EDIT' | translate }}
	</button>
	<button
		(click)="removeProject(selectedProject.id, selectedProject.name)"
		nbButton
		*ngIf="!showAddCard"
		status="danger"
		class="mr-2"
		[disabled]="disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="archive-outline"> </nb-icon>
		{{ 'BUTTONS.DELETE' | translate }}
	</button>
</ng-template>
