@import '../payments/payments.component.scss';

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}

:host {
  .custom-body-content {
    background-color: unset;
    padding-bottom: 0;
    height: calc(100vh - 15.25rem) !important;
  }

  ::ng-deep ga-projects-mutation {
    input,
    nb-select.appearance-outline.status-basic .select-button,
    .ng-select .ng-select-container {
      background-color: var(--background-basic-color-1) !important;
    }

    .ng-select .ng-select-container {
      input {
        background-color: unset !important;
      }
    }

    nb-card {
      @include nb-rtl(margin, -16px -18px -16px -8px);
      @include nb-ltr(margin, -16px -8px -16px -18px);
    }

    nb-card-body {
      padding: 0;

      nb-tab.content-active,
      .action-buttons {
        background-color: var(--gauzy-card-2);
        margin: 0;
      }

      nb-tab.content-active {
        height: calc(100vh - 22.5rem);
      }

      .action-buttons {
        padding: 1rem 2rem;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
      }
    }
  }
}
