@if (rowData?.isDeleted) {
  <div>
    <div class="badge badge-danger">
      {{ 'EMPLOYEES_PAGE.DELETED' | translate }}
    </div>
  </div>
}
@if (rowData?.isActive) {
  <div>
    <div class="badge badge-success">
      {{ 'EMPLOYEES_PAGE.ACTIVE' | translate }}
    </div>
  </div>
}
@if (!rowData.startedWorkOn) {
  <div [nbTooltip]="'EMPLOYEES_PAGE.NOT_STARTED_HELP' | translate">
    <div class="badge badge-disabled">
      {{ 'EMPLOYEES_PAGE.NOT_STARTED' | translate }}
    </div>
  </div>
}
@if (rowData.workStatus) {
  <div class="text-center d-block">
    <div class="badge badge-danger">
      {{ 'EMPLOYEES_PAGE.WORK_ENDED' | translate }}
    </div>
    {{ rowData.workStatus }}
  </div>
}
