.badge-danger {
  width: 140px;
  text-align: center;
  padding: 5px;
  background-color: #ff3d71;
  margin-bottom: 5px;
}

.badge-success {
  width: 140px;
  text-align: center;
  padding: 5px;
  background-color: #00d68f;
}
