div {
  border-radius: 0.25rem;
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 23px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
}
