@import 'gauzy/_gauzy-dialogs';

.max-width-30vw {
  width: 30vw;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host {
  nb-card {
    background: var(--gauzy-card-1);
  }
}
