@import 'report';
@import "themes";

::ng-deep {
    .group-by-wrapper {
        display: inline-flex;
        align-items: center;

        & .label {
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 11px;
            letter-spacing: 0em;
            text-align: left;
        }

        .select-button.select-button {
            padding: 5px 12px !important;
            border-radius: 20px;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;

            & > span {
                margin-right: 25px;
            }
        }

    }
        .option-list > nb-option {
            padding: 5px !important;
        }
}

:host {
    display: block;

    ::ng-deep {
        .select-button {
            background-color: nb-theme(gauzy-card-1) !important;
            border-radius: 2rem !important;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);;
        }

        .card {
            background-color: nb-theme(gauzy-card-1);
            border-radius: 10px;
            & nb-card-header {
                background-color: nb-theme(gauzy-card-1);
                margin-bottom: 0;
                border-bottom: none;
            }
            & nb-card-body {
                background-color: nb-theme(background-basic-color-2);
            }
        }
        .employee-row {
            border-radius: 8px;
            height: 86px;
            background-color: nb-theme(gauzy-card-1);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .employee-inner-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 20px;
            padding-right: 20px;
        }
        .names-wrapper {
            max-width: 110px;
        }
    }
}

.columns-header {
    background-color: nb-theme(background-basic-color-3);
    border-radius: 8px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}


.single-project-template {
    display: flex;
    align-items: center;
    padding-top: 5px;

    .logo-wrapper {
        min-width: 28px;
        min-height: 28px;
        width: 28px;
        height: 28px;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .headers-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .main-header {
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .employees-count {
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}

.employee-column {
    width: 20%;
    min-width: 165px;
    max-width: 200px;
}
.project-column {
    width: 20%;
    min-width: 20%;
}
.todo-column {
    width: 30%;
}
.time-column {
    width: 15%;
}
.activity-column {
    width: 15%;
}
.responsive-table-header {
    display: none;
}
.avatar-wrapper {
    max-width: 190px;
    padding-top: 5px;
    display: inline-flex;

    .inner-wrapper {
        display: inline-flex !important;
    }
}

@include respond(lg) {
    .card nb-card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .employee-row {
        border-radius: 0;
        margin-bottom: 15px;
    }
    .employee-column {
        min-width: auto;
        max-width: unset;
    }
    .columns-header {
        display: none;
    }
    .responsive-table-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
        border-left: 1px solid nb-theme(border-basic-color-4);
    }
    .responsive-table-header {
        display: block;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
    }
    .responsive-table-content, .responsive-table-header {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .single-project-template .headers-wrapper .main-header {
        white-space: break-spaces;
    }

    :host {
        ::ng-deep {
            .employee-row {
                height: auto;
            }
            .employee-inner-wrapper {
                flex-direction: column;
            }
            .avatar-wrapper {
                width: unset;
                max-width: 100%;
            }
            .names-wrapper {
                max-width: unset;
            }
        }
    }
}