
<ng-container
  	*ngIf="show_popup; then showWorkspacesTemplate; else showMessagesTemplate">
</ng-container>

<ng-template #showWorkspacesTemplate>
	<ngx-workspace-selection
		[workspaces]="workspaces"
		[confirmed_email]="confirmed_email"
		(selectedWorkspace)="signInWorkspace($event)"
	></ngx-workspace-selection>
</ng-template>

<ng-template #showMessagesTemplate>
	<div class="message-container">
		<ngx-gauzy-logo [isAccordion]="false" class="ever-logo-svg"></ngx-gauzy-logo>
		<!-- Error Message -->
		<div *ngIf="error" class="error">
		<!-- <div class="error"> -->
			<div class="text">
				<p class="title">Error! the magic code or link you provided is expired or invalid </p>
				<p class="sub-title">Please initiate the process again.</p>
			</div>
		</div>
		<!-- Success Message -->
		<!-- <div *ngIf="success" class="success"> -->
		<div class="success">
			<div class="text">
				<p class="title">Congrats! you’ve successfully signed in to your workspace</p>
				<p class="sub-title">Please be patient while we are preparing the workspace...</p>
			</div>
		</div>
		<!-- Thanking text -->
		<div>
			<p class="thanking-text">Thank you for choosing us</p>
		</div>
	</div>
</ng-template>
