@import "themes";
@import "../reusable";

.wrapper {
  border-radius: 35px;
  background: nb-theme(color-basic-transparent-600);
  width: 70px;
  padding: 4.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.dark {
    background: #6E49E8;
  }
  & nb-icon {
    min-width: 27px;
    min-height: 27px;
    padding: 3px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.25);
  }
  & .active {
    background: nb-theme(color-basic-100);
    color: #7E7E8F;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 23px -5px rgba(0,0,0,0.72);
    box-shadow: 5px 5px 23px -5px rgba(0,0,0,0.72);
    &.dark {
      color: #6E49E8;
    }
  }
}

@include mobile-screen {
  .wrapper {
    width: 60px;
    height: 30px;
    & nb-icon {
      min-width: 20px;
      min-height: 20px;
      padding: 2px;
    }
  }
}
