@import "themes";
@import "../reusable";

.wrapper {
  border-radius: 35px;
  background: nb-theme(color-basic-transparent-600);
  width: 70px;
  padding: 4.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & nb-icon {
    min-width: 27px;
    min-height: 27px;
    padding: 3px;
    cursor: pointer;
    color: nb-theme(color-basic-300);
  }
  & .active {
    background: nb-theme(color-basic-100);
    box-sizing: border-box;
    border-radius: 50%;
    color: nb-theme(color-basic-transparent-600);
    -webkit-box-shadow: 5px 5px 23px -5px rgba(0,0,0,0.72);
    box-shadow: 5px 5px 23px -5px rgba(0,0,0,0.72);
  }
}

@include mobile-screen {
  .wrapper {
    width: 54px;
    height: 26px;
    & nb-icon {
      min-width: 18px;
      min-height: 18px;
      padding: 2px;
    }
  }
}
