<nb-layout>
	<nb-layout-column class="top-bottom-space">
        <nb-card>
            <nb-card-body>
                <div class="row" style="margin: auto;">
                    <div class="col-12" style="text-align: center;">
                        <p>Screen Capture</p>
                    </div>
                    <div class="col-12">
                        <img 
                            class="screen-capture-img"
                            [src]="screenCaptureUrl"
                        >
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>