<nb-card size="small">
	<nb-card-body>
		<img
			*ngIf="imageAsset"
			class="img-asset-preview"
			[src]="imageAsset.url"
			[alt]="imageAsset.name"
		/>
		<img
			*ngIf="!imageAsset"
			class="img-asset-preview"
			[src]="'https://afostats.imagead.net/uploads/afo/no_img.png'"
			alt="No image"
		/>
	</nb-card-body>
	<nb-card-footer>
		<div *ngIf="!imageAsset" class="img-preview-info">
			No image selected
		</div>
		<div *ngIf="imageAsset" class="img-preview-info">
			<div>{{ imageAsset.name }}</div>
			<div>{{ imageAsset.url }}</div>
			<div>{{ imageAsset.width }}x{{ imageAsset.height }}</div>
		</div>
	</nb-card-footer>
</nb-card>
