.recurring-expense-history {
	margin: 10px 30px 0px 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.history {
		max-width: 560px;
		flex: 1;
	}
	.close-icon {
		cursor: pointer;
		justify-content: space-between;
	}
}
