<form class="main-form" [formGroup]="form" *ngIf="form">
	<nb-card>
		<nb-card-header>
			{{ 'ORGANIZATIONS_PAGE.EDIT.GENERAL_SETTINGS' | translate }}
		</nb-card-header>
		<nb-card-body>
			<div class="fields">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="label">{{
								'FORM.LABELS.CHOOSE_TIME_ZONE' | translate
							}}</label>
							<ng-select
								[(items)]="listOfZones"
								[placeholder]="'FORM.PLACEHOLDERS.CHOOSE_TIME_ZONE' | translate"
								[searchable]="true"
								appendTo="body"
								formControlName="timeZone"
							>
								<ng-template
									ng-option-tmp
									let-item="item"
									let-index="index"
								>
									{{ getTimeWithOffset(item) }}
								</ng-template>
								<ng-template ng-label-tmp let-item="item">
									{{ getTimeWithOffset(item) }}
								</ng-template>
							</ng-select>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label" for="startWeekOnSelect">{{
								'FORM.LABELS.START_WEEK_ON' | translate
							}}</label>
							<nb-select
								class="d-block"
								size="medium"
								formControlName="startWeekOn"
								id="startWeekOnSelect"
								[placeholder]="'FORM.PLACEHOLDERS.START_WEEK_ON' | translate"
								fullWidth="true"
							>
								<nb-option
									*ngFor="let weekday of weekdays"
									[value]="weekday"
								>
									{{ 'SM_TABLE.' + weekday | translate }}
								</nb-option>
							</nb-select>
						</div>
					</div>

					<div class="form-group col-6">
						<label class="label">{{
							'FORM.LABELS.START_TIME' | translate
						}}</label>
						<ga-timer-picker
							fullWidth
							formControlName="defaultStartTime"
						></ga-timer-picker>
					</div>

					<div class="form-group col-6">
						<label class="label">{{
							'FORM.LABELS.END_TIME' | translate
						}}</label>
						<ga-timer-picker
							fullWidth
							formControlName="defaultEndTime"
						></ga-timer-picker>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="label">{{
								'FORM.LABELS.DATE_TYPE' | translate
							}}</label>
							<nb-select
								class="d-block"
								size="medium"
								formControlName="defaultValueDateType"
								[placeholder]="'FORM.PLACEHOLDERS.DATE_TYPE' | translate"
								fullWidth
							>
								<nb-option
									*ngFor="let type of defaultValueDateTypes"
									[value]="type"
								>
									{{ 'SM_TABLE.' + type | translate }}
								</nb-option>
							</nb-select>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">{{
								'ORGANIZATIONS_PAGE.EDIT.REGIONS' | translate
							}}</label>
							<nb-select
								class="d-block"
								size="medium"
								[placeholder]="'FORM.PLACEHOLDERS.REGIONS' | translate"
								formControlName="regionCode"
								fullWidth
							>
								<nb-option
									*ngFor="let code of regionCodes"
									[value]="code"
								>
									{{ 'SM_TABLE.REGION.' + code | translate }}
								</nb-option>
							</nb-select>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">{{
								'FORM.PLACEHOLDERS.NUMBER_FORMAT' | translate
							}}</label>
							<nb-select
								class="d-block"
								size="medium"
								[placeholder]="'FORM.PLACEHOLDERS.NUMBER_FORMAT' | translate"
								formControlName="numberFormat"
								fullWidth
							>
								<nb-option
									*ngFor="let numFormat of numberFormats"
									[value]="numFormat"
								>
									{{ numberFormatPreview(numFormat) }}
								</nb-option>
							</nb-select>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{ 'FORM.LABELS.DATE_FORMAT' | translate }}
							</label>
							<nb-select
								class="d-block"
								size="medium"
								formControlName="dateFormat"
								[placeholder]="'FORM.PLACEHOLDERS.CHOOSE_FORMAT' | translate"
								fullWidth
							>
								<nb-option
									*ngFor="let format of listOfDateFormats"
									[value]="format"
								>
									{{ dateFormatPreview(format) }}
								</nb-option>
							</nb-select>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">{{
								'FORM.LABELS.TIME_FORMAT' | translate
							}}</label>
							<ng-select
								[items]="[12, 24]"
								[clearable]="false"
								appendTo="body"
								[searchable]="false"
								formControlName="timeFormat"
							></ng-select>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">{{
								'FORM.LABELS.DEFAULT' | translate
							}}</label>
							<button
								nbButton
								status="info"
								size="small"
								ghost
								[nbTooltip]="
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.ALLOW_TO_SET_DEFAULT_ORGANIZATION'
										| translate
								"
							>
								<nb-icon icon="info"></nb-icon>
							</button>
							<nb-select
								class="d-block"
								size="medium"
								[placeholder]="'FORM.PLACEHOLDERS.DEFAULT' | translate"
								formControlName="isDefault"
								fullWidth
							>
								<nb-option
									*ngFor="let item of defaultOrganizationSelection"
									[value]="item.value"
								>
									{{ item?.key }}
								</nb-option>
							</nb-select>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-header>
			{{ 'ORGANIZATIONS_PAGE.EDIT.DESIGN' | translate }}
		</nb-card-header>
		<nb-card-body>
			<div class="fields">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{ 'FORM.LABELS.BRAND_COLOR' | translate }}
							</label>
							<input
								fullWidth
								id="brandColorInput"
								nbInput
								formControlName="brandColor"
								[placeholder]="'FORM.PLACEHOLDERS.ADD_COLOR' | translate"
								[colorPicker]="form.get('brandColor').value"
								[style.background]="
									form.get('brandColor').value
								"
								[value]="form.get('brandColor').value"
								(colorPickerChange)="
									form.get('brandColor').setValue($event)
								"
							/>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{ 'FORM.LABELS.LOGO_ALIGNMENT' | translate }}
							</label>
							<nb-select
								class="d-block"
								size="medium"
								formControlName="defaultAlignmentType"
								[placeholder]="'FORM.PLACEHOLDERS.ALIGN_LOGO_TO' | translate"
								fullWidth
							>
								<nb-option
									*ngFor="let type of defaultAlignmentTypes"
									[value]="type.toUpperCase()"
								>
									{{ type }}
								</nb-option>
							</nb-select>
						</div>
					</div>
				</div>
				<div class="row" id="temporary">
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{
									'FORM.PLACEHOLDERS.CURRENCY_POSITION'
										| translate
								}}
							</label>
							<nb-select
								class="d-block"
								size="medium"
								formControlName="currencyPosition"
								[placeholder]="'FORM.PLACEHOLDERS.CURRENCY_POSITION' | translate"
								fullWidth
							>
								<nb-option
									*ngFor="let pos of defaultCurrencyPosition"
									[value]="pos.toUpperCase()"
								>
									{{ pos }}
								</nb-option>
							</nb-select>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-header>
			{{ 'ORGANIZATIONS_PAGE.EDIT.ACCOUNTING' | translate }}
		</nb-card-header>
		<nb-card-body>
			<div class="fields">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{
									'FORM.LABELS.FISCAL_YEAR_START_DATE'
										| translate
								}}
							</label>
							<input
								fullWidth
								id="fiscalStartDate"
								type="date"
								nbInput
								value="2017-06-01"
								formControlName="fiscalStartDate"
							/>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{
									'FORM.LABELS.FISCAL_YEAR_END_DATE'
										| translate
								}}</label
							>
							<input
								fullWidth
								type="date"
								id="fiscalEndDate"
								nbInput
								formControlName="fiscalEndDate"
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group invite-toggle">
							<label class="label">
								{{
									'FORM.LABELS.TAX_AND_DISCOUNT_INVOICE_ITEMS_SEPARATELY'
										| translate
								}}
							</label>
							<nb-toggle
								class="d-block"
								formControlName="separateInvoiceItemTaxAndDiscount"
								status="primary"
								labelPosition="start"
								(checkedChange)="toggleSeparateTaxing($event)"
							>
								{{
									'FORM.LABELS.ALLOW_TAXING_AND_DISCOUNTING_OF_INVOICE_ITEMS_SEPARATELY'
										| translate
								}}
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{
									'FORM.PLACEHOLDERS.FISCAL_INFORMATION'
										| translate
								}}
							</label>
							<input
								[placeholder]="'FORM.PLACEHOLDERS.FISCAL_INFORMATION' | translate"
								fullWidth
								type="text"
								id="fiscalInformation"
								nbInput
								formControlName="fiscalInformation"
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group invite-toggle">
							<label class="label">
								{{
									'FORM.LABELS.DISCOUNT_AFTER_TAX' | translate
								}}
							</label>
							<nb-toggle
								class="d-block"
								formControlName="discountAfterTax"
								status="primary"
								labelPosition="start"
								(checkedChange)="toggleDiscountAfterTax($event)"
							>
								{{
									'FORM.LABELS.APPLY_DISCOUNT_AFTER_TAX_FOR_INVOICES_AND_ESTIMATES'
										| translate
								}}
							</nb-toggle>
						</div>
						<div class="form-group invite-toggle">
							<label class="label">
								{{
									'FORM.LABELS.CONVERT_ESTIMATES' | translate
								}}
							</label>
							<nb-toggle
								class="d-block"
								formControlName="convertAcceptedEstimates"
								status="primary"
								labelPosition="start"
								(checkedChange)="
									toggleEstimateConverting($event)
								"
							>
								{{ 'FORM.LABELS.ALLOW_CONVERTING' | translate }}
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group h-75">
							<label class="label">
								{{ 'FORM.LABELS.DEFAULT_TERMS' | translate }}
							</label>
							<textarea
								nbInput
								[placeholder]="'INVOICES_PAGE.INVOICES_SELECT_TERMS' | translate"
								formControlName="defaultInvoiceEstimateTerms"
								id="inputTerms"
								fullWidth
								class="terms-textarea h-100"
							>
							</textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{ 'FORM.LABELS.DEFAULT_DAYS' | translate }}
							</label>
							<input
								[placeholder]="'FORM.PLACEHOLDERS.DAYS_UNTIL_DUE' | translate"
								formControlName="daysUntilDue"
								fullWidth
								type="number"
								nbInput
							/>
						</div>
					</div>
					<div *ngIf="invoiceTemplates" class="col-6">
						<label class="label">
							{{
								'FORM.LABELS.DEFAULT_INVOICE_TEMPLATE'
									| translate
							}}
						</label>
						<nb-select
							size="medium"
							[placeholder]="'FORM.PLACEHOLDERS.INVOICE_TEMPLATE' | translate"
							fullWidth
							(selectedChange)="selectTemplate($event)"
							formControlName="invoiceTemplate"
						>
							<nb-option
								*ngFor="let template of invoiceTemplates"
								[value]="template.id"
							>
								{{
									'ACCOUNTING_TEMPLATES_PAGE.TEMPLATE_NAMES.' +
										template.name | translate
								}}
							</nb-option>
						</nb-select>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<label class="label">
							{{
								'FORM.LABELS.DEFAULT_ESTIMATE_TEMPLATE'
									| translate
							}}
						</label>
						<nb-select
							size="medium"
							[placeholder]="'FORM.PLACEHOLDERS.ESTIMATE_TEMPLATE' | translate"
							formControlName="estimateTemplate"
							fullWidth
							(selectedChange)="selectTemplate($event)"
						>
							<nb-option
								[value]="template.id"
								*ngFor="let template of estimateTemplates"
							>
								{{
									'ACCOUNTING_TEMPLATES_PAGE.TEMPLATE_NAMES.' +
										template.name | translate
								}}
							</nb-option>
						</nb-select>
					</div>
					<div class="col-6">
						<label class="label">
							{{
								'FORM.LABELS.DEFAULT_RECEIPT_TEMPLATE'
									| translate
							}}
						</label>
						<nb-select
							size="medium"
							[placeholder]="'FORM.PLACEHOLDERS.RECEIPT_TEMPLATE' | translate" 
							formControlName="receiptTemplate"
							fullWidth
							(selectedChange)="selectTemplate($event)"
						>
							<nb-option
								[value]="template.id"
								*ngFor="let template of receiptTemplates"
							>
								{{
									'ACCOUNTING_TEMPLATES_PAGE.TEMPLATE_NAMES.' +
										template.name | translate
								}}
							</nb-option>
						</nb-select>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-header>
			{{ 'ORGANIZATIONS_PAGE.EDIT.BONUS' | translate }}
		</nb-card-header>
		<nb-card-body>
			<div class="fields">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{ 'FORM.LABELS.TYPE_OF_BONUS' | translate }}
							</label>
							<nb-select
								class="d-block"
								size="medium"
								formControlName="bonusType"
								[placeholder]="'FORM.PLACEHOLDERS.TYPE_OF_BONUS' | translate"
								(selectedChange)="
									loadDefaultBonusPercentage($event)
								"
								fullWidth
							>
								<nb-option [value]="null">
									{{ 'SM_TABLE.NONE' | translate }}
								</nb-option>
								<nb-option
									*ngFor="let type of defaultBonusTypes"
									[value]="type"
								>
									{{ 'SM_TABLE.' + type | translate }}
								</nb-option>
							</nb-select>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{ 'FORM.LABELS.BONUS_PERCENTAGE' | translate }}
							</label>
							<input
								nbInput
								type="number"
								[min]="0"
								formControlName="bonusPercentage"
								[placeholder]="'FORM.PLACEHOLDERS.BONUS_PERCENTAGE' | translate"
								fullWidth
								class="d-block"
								[ngClass]="{
									'status-danger': form.get('bonusPercentage')
										.invalid
								}"
							/>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-header>
			{{ 'ORGANIZATIONS_PAGE.EDIT.INVITE' | translate }}
		</nb-card-header>
		<nb-card-body>
			<div class="fields">
				<div class="row">
					<div class="col-6">
						<div class="form-group invite-toggle">
							<label class="label">
								{{
									'FORM.LABELS.ENABLE_DISABLE_INVITES'
										| translate
								}}
							</label>
							<nb-toggle
								class="d-block"
								formControlName="invitesAllowed"
								status="primary"
								labelPosition="start"
								(checkedChange)="toggleExpiry($event)"
							>
								{{
									'FORM.LABELS.ALLOW_USER_INVITES' | translate
								}}
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="label">
								{{
									'FORM.LABELS.INVITE_EXPIRY_PERIOD'
										| translate
								}}
							</label>
							<input
								nbInput
								type="number"
								[min]="0"
								formControlName="inviteExpiryPeriod"
								[placeholder]="'FORM.PLACEHOLDERS.INVITE_EXPIRY_PERIOD' | translate"
								fullWidth
								class="d-block"
								[ngClass]="{
									'status-danger': form.get(
										'inviteExpiryPeriod'
									).invalid
								}"
							/>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-header>
			{{ 'ORGANIZATIONS_PAGE.EDIT.DATE_LIMIT' | translate }}
		</nb-card-header>
		<nb-card-body>
			<div class="fields">
				<div class="row">
					<div class="col-6">
						<div class="form-group invite-toggle">
							<label class="label">
								{{
									'FORM.LABELS.ENABLE_DISABLE_FUTURE_DATE'
										| translate
								}}
							</label>
							<nb-toggle
								class="d-block"
								formControlName="futureDateAllowed"
								status="primary"
								labelPosition="start"
							>
								{{
									'FORM.LABELS.ALLOW_FUTURE_DATE' | translate
								}}
							</nb-toggle>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<nb-card>
		<nb-card-header>
			{{ 'ORGANIZATIONS_PAGE.EDIT.SETTINGS.TIMER_SETTINGS' | translate }}
		</nb-card-header>
		<nb-card-body>
			<div class="fields">
				<div class="row">
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="allowManualTime"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.ALLOW_MANUAL_TIME'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									nbTooltip="This is a tooltip"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="allowModifyTime"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.ALLOW_MODIFY_TIME'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									[nbTooltip]="
										'ORGANIZATIONS_PAGE.EDIT.SETTINGS.ALLOW_MODIFY_TIME_INFO'
											| translate
									"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="allowDeleteTime"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.ALLOW_DELETE_TIME'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									[nbTooltip]="
										'ORGANIZATIONS_PAGE.EDIT.SETTINGS.ALLOW_DELETE_TIME_INFO'
											| translate
									"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="requireReason"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_REASON'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									nbTooltip="This is a tooltip"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="requireDescription"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_DESCRIPTION'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									[nbTooltip]="
										'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_DESCRIPTION_INFO'
											| translate
									"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="requireProject"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_PROJECT'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									[nbTooltip]="
										'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_PROJECT_INFO'
											| translate
									"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="requireTask"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_TASK'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									[nbTooltip]="
										'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_TASK_INFO'
											| translate
									"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group invite-toggle">
							<nb-toggle
								class="d-block"
								formControlName="requireClient"
								status="primary"
								labelPosition="start"
							>
								{{
									'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_CLIENT'
										| translate
								}}
								<button
									nbButton
									status="info"
									size="small"
									ghost
									[nbTooltip]="
										'ORGANIZATIONS_PAGE.EDIT.SETTINGS.REQUIRE_CLIENT_INFO'
											| translate
									"
								>
									<nb-icon icon="info"></nb-icon>
								</button>
							</nb-toggle>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>

	<div class="actions">
		<button
			[disabled]="this.form.invalid"
			(click)="updateOrganizationSettings()"
			nbButton
			status="success"
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</div>
</form>
