:host {
  nb-accordion {
    box-shadow: unset;
    border-bottom: 1px solid rgba(126, 126, 143, 0.1);
    margin-top: 6px;
    nb-accordion-item.opened {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
      nb-accordion-item-header {
        background-color: rgba(126, 126, 143, 0.1);
        border-radius: 8px 8px 0 0;
      }
      nb-accordion-item-body {
        background-color: rgba(126, 126, 143, 0.05);
      }
    }
    &.focus {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
      nb-accordion-item-header,
      i {
        color: rgba(245, 109, 88, 1);
      }
    }
    &.collapsed {
      nb-accordion-item-header {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          margin-right: unset;
        }
        ::ng-deep nb-icon {
          display: none;
        }
      }
    }
    &.application {
      nb-accordion-item {
        nb-accordion-item-header {
          border: 1px solid rgba(110, 73, 232, 1);
          color: rgba(110, 73, 232, 1);
          border-radius: 8px;
        }
        i {
          color: rgba(110, 73, 232, 1);
        }
        nb-accordion-item-header ::ng-deep nb-icon {
          border: 1px solid rgba(110, 73, 232, 0.5);
          border-radius: 8px;
          width: 1.75rem;
          height: 1.75rem;
          margin-right: calc(-1.75rem / 4);
        }
      }
    }
  }
  hr.custom-separator {
    border: 0.5px solid rgba(126, 126, 143, 0.1);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  i {
    margin-right: 0.625rem;
    color: rgba(66, 66, 66, 1);
  }

  nb-accordion-item-header {
    color: rgba(126, 126, 143, 1);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.sub-item {
  padding: 11px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(126, 126, 143, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  border-top: 1px solid rgba(126, 126, 143, 0.1);
  &:first-child {
    border-top: none;
  }
  &:hover,
  &.selected {
    background-color: rgba(126, 126, 143, 0.1);
    border-radius: 8px;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
  }
}
