<nb-accordion
	*ngxPermissionsOnly="item?.data?.permissionKeys"
	[ngClass]="state ? item?.class : item?.class + ' closed'"
>
	<nb-accordion-item
		(collapsedChange)="onCollapse($event)"
		[ngClass]="selected ? 'opened' : ''"
	>
		<nb-accordion-item-header
			[nbTooltip]="item?.title"
			nbTooltipPlacement="right"
			[ngClass]="onCollapse ? 'collapsed' : ''"
			(click)="redirectTo()"
		>
			<i [class]="item?.icon"></i
			><span *ngIf="state">{{ item?.title }}</span>
		</nb-accordion-item-header>
		<nb-accordion-item-body
			[ngClass]="state ? '' : 'item-collapsed'"
			*ngIf="item?.children?.length > 0"
		>
			<div
				class="menu"
				*ngFor="let subItem of item.children; trackBy: subItem?.title"
			>
				<ga-children-menu-item
					*ngIf="!item?.hidden"
					[item]="subItem"
					[parent]="item"
					[collapse]="state"
					[selected]="subItem === selectedChildren && selected"
					(focusItemChange)="focusOn($event)"
				></ga-children-menu-item>
			</div>
		</nb-accordion-item-body>
	</nb-accordion-item>
</nb-accordion>
