<div class="filters row mb-3">
	<div class="col">
		<ngx-filters (filtersChange)="filtersChange($event)"></ngx-filters>
	</div>
</div>
<div
	class="screenshot-container"
	[nbSpinner]="loading"
	nbSpinnerSize="giant"
	nbSpinnerStatus="primary"
>
	<ng-template [ngIf]="timeSlots?.length > 0" [ngIfElse]="notFound">
		<div class="row" *ngFor="let hourSlot of timeSlots; let i = index">
			<div class="col">
				<div
					class="hour-lable mt-3"
					[ngClass]="{ 'border-top pt-3': i != 0 }"
				>
					<h6>
						{{ hourSlot.startTime | timeFormat }} -
						{{ hourSlot.endTime | timeFormat }}
					</h6>
				</div>

				<div class="row my-3 align-items-center justify-content-center">
					<div
						class="col"
						*ngFor="let timeSlot of hourSlot.timeSlots"
					>
						<div class="card">
							<div
								class="activity"
								*ngIf="timeSlot; else noActivity"
							>
								<div class="image-contaer">
									<ng-template
										[ngIf]="
											timeSlot?.screenshots?.length > 0
										"
										[ngIfElse]="noImageEl"
									>
										<img
											[src]="
												timeSlot.screenshots[0]?.fullUrl
											"
										/>
									</ng-template>
									<ng-template #noImageEl>
										<img />
										<span class="no-image p-3">
											No screenshot
										</span>
									</ng-template>
								</div>
								<div class="slot-info text-center p-2">
									<div class="time-span mb-1">
										{{
											timeSlot.localStartedAt | timeFormat
										}}
										-
										{{
											timeSlot.localStoppedAt | timeFormat
										}}
									</div>
									<nb-progress-bar
										class="mb-1"
										[value]="timeSlot.overall"
										[status]="
											prgressStatus(timeSlot.overall)
										"
										[displayValue]="true"
										size="tiny"
									></nb-progress-bar>
									<div class="activity-count">
										{{ timeSlot.overall || 0 }}% of
										{{
											timeSlot.duration
												| amFromUnix
												| amFromUtc
												| amDateFormat: 'mm'
										}}
										Minutes
									</div>
								</div>
							</div>
							<ng-template #noActivity>
								<div class="no-activity p-3 text-center">
									No Activity
								</div>
							</ng-template>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template #notFound>
		<div class="py-5 text-center">
			<h6>No screenshots</h6>
		</div>
	</ng-template>
</div>
