:host {
  ::ng-deep {
    nb-progress-bar.size-tiny .progress-container {
      height: 4px;
    }
  }
  .activity {
    .image-contaer {
      background: rgba($color: #000000, $alpha: 0.1);
      min-height: 200px;
      position: relative;

      .no-image {
        padding: 8px;
        background: rgba($color: #000000, $alpha: 0.6);
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        text-align: center;
      }

      img {
        width: 100%;
        max-height: 200px;
        object-fit: contain;
      }
    }
  }
  ::ng-deep {
    .progress-value {
      span {
        display: none;
      }
    }
  }
}
