<nb-card class="main">
	<nb-card-header class="d-flex">
		<h5>
			{{
				(invoice
					? 'INVOICES_PAGE.EDIT_INVOICE'
					: 'INVOICES_PAGE.ADD_INVOICE'
				) | translate
			}}
		</h5>
		<nb-icon
			class="ml-auto mt-1 close"
			icon="close-outline"
			(click)="closeDialog()"
		></nb-icon>
	</nb-card-header>
	<nb-card-body class="body">
		<form [formGroup]="form">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputInvoiceDate" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_INVOICE_DATE'
								| translate
						}}</label>
						<input
							formControlName="invoiceDate"
							type="text"
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_INVOICE_DATE'
									| translate
							}}"
							[nbDatepicker]="invoiceDatePicker"
							id="inputInvoiceDate"
							fullWidth
							required
						/>
						<nb-datepicker #invoiceDatePicker></nb-datepicker>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputInvoiceNumber" class="label">{{
							'INVOICES_PAGE.INVOICE_NUMBER' | translate
						}}</label>
						<input
							type="number"
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICE_NUMBER' | translate
							}}"
							formControlName="invoiceNumber"
							id="inputInvoiceNumber"
							fullWidth
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputDueDate" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_DUE_DATE' | translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_DUE_DATE'
									| translate
							}}"
							[nbDatepicker]="dueDatePicker"
							formControlName="dueDate"
							id="inputDueDate"
							fullWidth
						/>
						<nb-datepicker #dueDatePicker></nb-datepicker>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputCurrency" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_CURRENCY' | translate
						}}</label>
						<nb-select class="d-block" formControlName="currency">
							<nb-option
								*ngFor="let currency of currencies"
								value="{{ currency }}"
								>{{ currency }}</nb-option
							>
						</nb-select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputDiscountValue" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_DISCOUNT_VALUE'
								| translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_DISCOUNT_VALUE'
									| translate
							}}"
							type="number"
							formControlName="discountValue"
							id="inputDiscountValue"
							fullWidth
						/>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputTax" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_TAX' | translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_TAX' | translate
							}}"
							type="number"
							formControlName="tax"
							id="inputTax"
							fullWidth
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputTerms" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_TERMS' | translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_TERMS'
									| translate
							}}"
							formControlName="terms"
							id="inputTerms"
							fullWidth
						/>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputTotalValue" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_TOTAL_VALUE'
								| translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_TOTAL_VALUE'
									| translate
							}}"
							type="number"
							formControlName="totalValue"
							id="inputTotalValue"
							fullWidth
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<nb-checkbox formControlName="paid">
							<span>{{
								'INVOICES_PAGE.INVOICES_SELECT_PAID' | translate
							}}</span>
						</nb-checkbox>
					</div>
				</div>
			</div>
			<input type="hidden" formControlName="id" />
		</form>
	</nb-card-body>
	<nb-card-footer class="text-right">
		<button (click)="closeDialog()" status="danger" class="mr-3" nbButton>
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button
			[disabled]="form.invalid"
			(click)="saveInvoice()"
			status="success"
			nbButton
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
