:host {
	height: 100%;

	.task-settings {
		background-color: var(--gauzy-card-2);

		&__projects {
			padding: 0 !important;
			background-color: var(--gauzy-card-2);
		}
	}

	.header {
		display: flex;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;

		.bold {
			font-weight: 600;
		}

	}
}