<nb-card class="h-100 task-settings" *ngIf="project$ | async as project">
	<nb-card-header
		class="d-flex justify-content-between align-items-center task-settings__title"
	>
		<div>
			<span class="font-weight-bold">Project:</span> {{ project.name }}
		</div>
		<button nbButton (click)="goBack()">Back</button>
	</nb-card-header>
	<nb-card-body class="task-settings__projects">
		<ngx-project-view
			[project]="project"
			(changeEvent)="changeProject($event)"
		></ngx-project-view>
	</nb-card-body>
</nb-card>
