<nb-card class="card-wrap">
	<nb-card-header>
		<h5>
			{{ 'CANDIDATES_PAGE.EDIT_CANDIDATE.LEAVE_FEEDBACK' | translate }}
			{{ interviewTitle }}
		</h5>
	</nb-card-header>
	<nb-card-body>
		<form class="form" [formGroup]="form" *ngIf="form">
			<ga-candidate-select
				class="select"
				[allCandidates]="employeesForSelect"
				[placeholder]="
					'FORM.PLACEHOLDERS.ADD_REMOVE_EMPLOYEE' | translate
				"
				(selectedChange)="onMembersSelected($event)"
			>
			</ga-candidate-select>
			<div class="label-wrap">
				<ga-star-rating-input
					formControlName="rating"
				></ga-star-rating-input>
				<nb-radio-group
					[(ngModel)]="status"
					[ngModelOptions]="{ standalone: true }"
					class="radio-group"
				>
					<nb-radio [value]="'HIRED'" [disabled]="isRejected"
						>{{
							'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.HIRE'
								| translate
						}}
						<span *ngIf="interviewers?.length > 1">
							({{ statusHire }}/{{ interviewers?.length }}) </span
						><i
							class="fas fa-thumbs-up"
							[ngClass]="{
								success: !isRejected,
								disabled: isRejected
							}"
						></i>
					</nb-radio>

					<nb-radio [value]="'APPLIED'" [checked]="true"
						>{{
							'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.POSTPONE'
								| translate
						}}<i class="fas primary fa-clock"></i
					></nb-radio>

					<nb-radio [value]="'REJECTED'"
						>{{
							'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.REJECT'
								| translate
						}}
						<i class="fas error fa-thumbs-down"></i
					></nb-radio>
				</nb-radio-group>
			</div>
			<div class="form-group">
				<label for="description" class="label">{{
					'FORM.LABELS.FEEDBACK_DESCRIPTION' | translate
				}}</label>
				<textarea
					id="description"
					nbInput
					fullWidth
					formControlName="description"
					placeholder="{{
						'FORM.PLACEHOLDERS.FEEDBACK_DESCRIPTION' | translate
					}}"
				>
				</textarea>
			</div>
		</form>

		<div class="buttons">
			<button
				class="form-btn"
				(click)="closeDialog()"
				nbButton
				status="danger"
			>
				{{ 'BUTTONS.CANCEL' | translate }}
			</button>
			<button
				class="form-btn"
				(click)="createFeedback()"
				nbButton
				status="success"
			>
				{{ 'BUTTONS.SAVE' | translate }}
			</button>
		</div>
	</nb-card-body>
</nb-card>
