@import 'report';
@import "var";

:host {
  display: block;
}

.employee-column {
  width: 20%;
  min-width: 165px;
  max-width: 200px;
}
.limit-column {
  width: 20%;
}
.spent-column {
  width: 45%;
}
.remaining-column {
  width: 15%;
  text-align: right;
}

.progress-wrapper {
  display: flex;
  align-items: center;

  @include respond(lg){
    flex-wrap: wrap;
  }
  .duration-span {
    margin-right: 50px;

    @include respond(lg){
      margin-bottom: 10px;
    }
  }
}
.remaining-content {
  text-align: right;
}