<ng-container *ngxPermissionsOnly="item?.data?.permissionKeys">
	<ng-container *ngIf="!collapse; else withNbTooltip">
		<div
			[class]="parent.children.at(-1) === item ? '' : 'border-bottom'"
			*ngIf="!item?.hidden"
			[gaTooltip]="item?.title"
			[icon]="item?.icon"
			[ngClass]="
				selected
					? !collapse
						? 'sub-item selected custom'
						: 'sub-item selected'
					: !collapse
					? 'sub-item custom'
					: 'sub-item'
			"
			(click)="select()"
		>
			<span class="info">
				<i [class]="item?.icon"></i
				><span *ngIf="collapse || mouseHover">{{ item?.title }}</span>
			</span>
		</div>
	</ng-container>
	<ng-template #withNbTooltip>
		<div
			[class]="parent.children.at(-1) === item ? '' : 'border-bottom'"
			*ngIf="!item?.hidden"
			[nbTooltip]="item?.title"
			nbTooltipPlacement="right"
			[ngClass]="
				selected
					? !collapse
						? 'sub-item selected custom'
						: 'sub-item selected'
					: !collapse
					? 'sub-item custom'
					: 'sub-item'
			"
			(click)="select()"
		>
			<span class="info w-100">
				<i [class]="item?.icon"></i
				><span *ngIf="collapse || mouseHover"
					>{{ item?.title }}
					<button
						*ngIf="item?.data?.add"
						class="float-right plus"
						status="basic"
						outline
						size="tiny"
						(click)="add()"
						nbButton
					>
						<i class="fas fa-plus"></i>
					</button>
				</span>
			</span>
		</div>
	</ng-template>
</ng-container>
