@import 'report';
@import "var";

.project-row {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: nb-theme(gauzy-card-1);
    border-radius: nb-theme(border-radius);

    .table-row-custom {
        background-color: nb-theme(gauzy-card-1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .activity-row, .table-inner-wrapper {
        min-height: 37px;
    }
}

// column proportions
.employee-column {
    width: 20%;
    min-width: 155px;
    max-width: 200px;
}
.project-column, .title-column {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}
.duration-column {
    width: 10%;
}
.progress-bar-column {
    width: 35%;
}

:host {
    ::ng-deep {
        .progress-percentage {
            padding-right: 0;
            width: auto;
        }
    }
}

.no-height {
    height: 0;
    padding: 0;
}

@include respond(lg){
    .project-row {
        margin-bottom: 20px;
    }
    .main-column-responsive {
        background-color: nb-theme(background-basic-color-3);
    }
    .progress-bar-column  {
        justify-content: flex-end;
    }
    .progress-bar-column, .no-height {
        border-left: none;
    }
}