<nb-card class="p-0 no-data-found">
	<nb-card-body>
		<div class="row align-items-center h-100">
			<div class="col-12">
				<div class="text-center d-flex justify-content-center py-3">
					<nb-icon icon="bar-chart-2-outline" class="no-record-icon"></nb-icon>
				</div>
				<h5 class="text-center m-0">
					{{ 'SM_TABLE.NO_DATA_MESSAGE' | translate }}
				</h5>
				<p class="text-center">
					{{ message | translate }}
					<ng-content select="[message]"></ng-content>
				</p>
			</div>
		</div>
	</nb-card-body>
</nb-card>
