.color {
  width: 90%;
  padding: 12.5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: 32px;
  align-items: center;
}