<form class="main-form" #ngForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(ngForm)" novalidate>
	<section class="fields-section">
		<div class="actions">
			<button
				nbButton
				status="success"
			>
				{{ 'BUTTONS.SAVE' | translate }}
			</button>
		</div>
		<div class="accordion-section">
			<nb-accordion #accordion>
				<nb-accordion-item #general [expanded]="true">
					<nb-accordion-item-header>
						{{ 'EMPLOYEES_PAGE.EDIT_EMPLOYEE.GENERAL_SETTINGS' | translate }}
					</nb-accordion-item-header>
					<nb-accordion-item-body>
						<div class="fields">
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label class="label">
											{{ 'FORM.LABELS.CHOOSE_TIME_ZONE' | translate }}
										</label>
										<ng-select
											[(items)]="listOfZones"
											[placeholder]="
												'FORM.PLACEHOLDERS.CHOOSE_TIME_ZONE'
													| translate
											"
											[searchable]="true"
											[clearable]="true"
											appendTo="body"
											formControlName="timeZone"
										>
											<ng-template
												ng-option-tmp
												let-item="item"
												let-index="index"
											>
												{{ getTimeWithOffset(item) }}
											</ng-template>
											<ng-template
												ng-label-tmp
												let-item="item"
											>
												{{ getTimeWithOffset(item) }}
											</ng-template>
										</ng-select>
									</div>
								</div>
							</div>
						</div>
					</nb-accordion-item-body>
				</nb-accordion-item>
			</nb-accordion>
		</div>
	</section>
</form>
