<nb-card
	class="main card-scroll"
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
>
	<nb-card-header class="d-flex">
		<ngx-back-navigation></ngx-back-navigation>
		<h4>
			{{ 'INVOICES_PAGE.PAYMENTS.HEADER' | translate }}
			{{ invoice ? invoice.invoiceNumber : '' }}
		</h4>
	</nb-card-header>
	<nb-card-body class="body">
		<div class="info-container">
			<div class="date-and-value">
				<div>
					{{ 'INVOICES_PAGE.DUE_DATE' | translate }}:
					{{ invoice ? (invoice.dueDate | dateFormat) : '' }}
				</div>
				<div>
					{{ 'INVOICES_PAGE.PAYMENTS.TOTAL_VALUE' | translate }}:
					{{ invoice ? invoice.currency + ' ' + invoice.totalValue : '' }}
				</div>
				<div>
					{{ 'INVOICES_PAGE.PAYMENTS.LEFT_TO_PAY' | translate }}:
					{{ invoice ? invoice.currency + ' ' + leftToPay: '' }}
				</div>
			</div>
			<div class="total-paid-label">
				{{ 'INVOICES_PAGE.PAYMENTS.TOTAL_PAID' | translate }}:
				{{ invoice ? invoice.currency : '' }}
				{{ totalPaid ? totalPaid : 0 }}
				<span>
					<div class="progress-bar-container">
						<div class="progress-bar">
							<div class="paid-percent">
								{{ barWidth }}%
								{{ 'INVOICES_PAGE.PAYMENTS.PAID' | translate }}
							</div>
							<span
								id="progress-bar-inner"
								class="progress-bar-inner"
								style="width: 0%"
							></span>
						</div>
					</div>
				</span>
			</div>
		</div>
		<div class="mb-3 buttons">
			<button
				class="mr-2"
				status="success"
				(click)="recordPayment()"
				nbButton
				nbTooltip="Add"
			>
				<nb-icon icon="plus-outline"></nb-icon>
			</button>
			<button
				class="mr-2"
				status="info"
				(click)="editPayment()"
				[disabled]="disableButton"
				nbButton
				nbTooltip="Edit"
			>
				<nb-icon icon="edit-outline"></nb-icon>
			</button>
			<button
				nbButton
				status="info"
				(click)="download()"
				class="mr-2"
				[disabled]="!payments?.length"
				nbTooltip="Download"
			>
				<nb-icon icon="download-outline"></nb-icon>
			</button>
			<button
				class="mr-2"
				status="danger"
				(click)="deletePayment()"
				[disabled]="disableButton"
				nbButton
				nbTooltip="Delete"
			>
				<nb-icon icon="trash-2-outline"></nb-icon>
			</button>
			<button
				class="mr-2"
				nbButton
				status="info"
				[disabled]="disableButton"
				(click)="sendReceipt()"
			>
				<nb-icon icon="email-outline"></nb-icon>
				{{ 'BUTTONS.SEND_RECEIPT' | translate }}
			</button>
			<button
				class="mr-2"
				nbButton
				status="info"
				(click)="exportToCsv()"
				[disabled]="payments ? payments.length <= 0 : true"
			>
				<nb-icon icon="file-text-outline"></nb-icon>
				{{ 'BUTTONS.EXPORT_TO_CSV' | translate }}
			</button>
			<button
				class="mr-2"
				status="info"
				(click)="recordFullPayment()"
				[disabled]="isDisabled"
				nbButton
			>
				<nb-icon icon="credit-card-outline"></nb-icon>
				{{ 'BUTTONS.RECORD_FULL_PAYMENT' | translate }}
			</button>
			<button
				class="mr-2"
				status="info"
				(click)="invoiceRemainingAmount()"
				[disabled]="isDisabled"
				nbButton
			>
				<nb-icon icon="file-text-outline"></nb-icon>
				{{ 'BUTTONS.INVOICE_REMAINING_AMOUNT' | translate }}
			</button>
		</div>
		<ng2-smart-table
			class="tags-table"
			[settings]="settingsSmartTable"
			[source]="smartTableSource"
			(userRowSelect)="selectPayment($event)"
			style="cursor: pointer"
			#paymentsTable
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
