@import 'gauzy/_gauzy-dialogs';
:host {
	display: block;
	width: 1024px;
	nb-card {
		background-color: nb-theme(background-basic-color-1);
	}
	::ng-deep {
		.cancel {
			@include nb-rtl(justify-content, flex-start);
		}
		.title {
			@include nb-rtl(text-align, right);
		}
	}
	.well {
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--gauzy-text-color-2);
	}
	.my-drop-zone {
		border: dashed 3px var(--gauzy-border-default-color);
		border-radius: var(--border-radius);
	}
	.nv-file-over {
		border: dashed 3px red;
		border-radius: var(--border-radius);
	}
	.sync-container {
		.sync {
			color: var(--gauzy-text-color-2);
			font-size: 14px;
			float: right;
			&.spin {
				animation: rotate 1s linear 0s infinite;
			}
		}
	}
}
