@import 'themes';

.employee-form {
  width: 100%;
}

.content {
  display: flex;
  padding: 1rem;
  background-color: var(--gauzy-card-2);
  border-radius: nb-theme(border-radius);
}

.bill-rate {
  display: flex;
}

.currency-per-hour {
  margin-left: 1rem;
}
