@import "themes";
@import "../../reusable";

.wrapper {
  background: nb-theme(color-info-100);
  padding: $wrapperPadding;
  box-sizing: border-box;
  border-radius: 10px;

  & .headings-wrapper {
    width: 80%;
    margin-bottom: 30px;

    & .header {
      font-size: 22px;
    }

    & .sub-header {
      width: 70%;
      color: #a9a9a9;
      font-size: 17px;
    }
  }

  & .buttons-wrapper {
    display: flex;
    flex-direction: column;

    & button {
      -webkit-box-shadow: 3px 11px 30px -17px #3366ff;
      box-shadow: 3px 11px 30px -17px #3366ff;
      width: auto;
      padding: 15px 25px;
      display: inline-flex;
      justify-content: flex-start;
      margin-bottom: 25px;
      background-color: white;
      color: nb-theme(color-primary-500);
      border: 1px solid white;

      &:hover {
        background-color: #fafafa;
        border: 1px solid #fafafa;
      }
    }
  }
}
