<section class="wrapper">
  <div class="headings-wrapper">
    <h6 class="header">Login Automatically into Demo accounts</h6>
    <div class="sub-header">Please select account type below.</div>
  </div>
  <div class="buttons-wrapper">
    <span>
      <button nbButton status="basic">
        <nb-icon icon="star"></nb-icon>
        Super Admin Demon
      </button>
    </span>
    <span>
      <button nbButton status="basic">Admin demo</button>
    </span>
    <span>
      <button nbButton status="basic">Employee demo</button>
    </span>
  </div>
</section>
