.charts {
	display: flex;
	justify-content: flex-end;
	gap: 0.6rem
}
.chart-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.select-charts {
	cursor: pointer;
	font-size: 0.875rem;
	margin-bottom: 20px;
	min-width: 150px;
	width: fit-content;
	margin-top: -10px;
}
.chart-option {
	margin-left: 5px;
}
