.title {
  margin-top: 2rem;
}

.select {
  width: 100%;
  margin: 2rem 0;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px #e5e5e5 solid;
  height: 150px;
  &-text {
    color: #909cb4;
  }
  &-icon {
    font-size: 1.5rem !important;
    color: #909cb4;
  }
}
