<div class="timer-container">
	<div class="is_billable">
		<button
			nbButton
			(click)="$event.stopPropagation(); isBillable = !isBillable"
			size="small"
			[status]="isBillable ? 'primary' : 'basic'"
			nbTooltip="Is Billable"
			[disabled]="running"
		>
			$
		</button>
	</div>
	<div class="time">{{ time }}</div>
	<div class="actions">
		<div class="toggle">
			<button
				class="btn btn-rounded"
				[ngClass]="{ 'btn-danger': running, 'btn-success': !running }"
				(click)="$event.stopPropagation(); toggle()"
				nbTooltip="{{ running ? 'Stop' : 'Start' }} Timer"
			>
				<nb-icon *ngIf="!running" icon="play-circle-outline"></nb-icon>
				<nb-icon *ngIf="running" icon="pause-circle-outline"></nb-icon>
			</button>
		</div>
		<div class="mode">
			<button
				nbButton
				(click)="$event.stopPropagation(); setTimeType('TRACKED')"
				size="tiny"
				[status]="timeType == 'TRACKED' ? 'primary' : 'basic'"
				nbTooltip="Timer"
				[disabled]="running"
			>
				<nb-icon icon="clock-outline"></nb-icon>
			</button>
			<button
				nbButton
				(click)="$event.stopPropagation(); setTimeType('MANUAL')"
				size="tiny"
				[status]="timeType == 'MANUAL' ? 'primary' : 'basic'"
				nbTooltip="Manual"
				[disabled]="running"
			>
				<nb-icon icon="menu-outline"></nb-icon>
			</button>
		</div>
	</div>
</div>
