<nb-card class="card-scroll">
	<nb-card-header class="card-header-title">
		<div class="card-header-title">
			<h5>
				<ngx-back-navigation
					class="float-left"
					[haveLink]="true"
					(click)="navigateToIntegrations()"></ngx-back-navigation>
				{{ 'INTEGRATIONS.GITHUB_PAGE.TITLE' | translate }}
			</h5>
		</div>
		<div>
			<div>
				<button
					nbButton
					status="primary"
					class="mr-2"
					(click)="navigateToResetIntegration()"
				>
					<div class="sync-container">
						<nb-icon class="sync" icon="sync-outline"></nb-icon>
						{{ 'BUTTONS.RESET_INTEGRATION' | translate }}
					</div>
				</button>
				<button
					nbButton
					(click)="openSettingModal()"
				>
					<nb-icon icon="settings-2-outline"></nb-icon>
				</button>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<ng-template [ngIf]="integration$ | async">
			<div class="mb-3">
				<button
					[disabled]="selectedIssues.length == 0"
					nbButton
					status="primary"
					class="mr-2"
					debounceClick
					(throttledClick)="syncIssues()"
				>
					<div class="sync-container">
						<nb-icon class="sync" icon="sync-outline" [ngClass]="{ 'spin' : syncing }"></nb-icon>
						{{ (syncing ? 'BUTTONS.SYNCING' : 'BUTTONS.SYNC') | translate }}
					</div>
				</button>
			</div>
			<div class="issues-container">
				<ngx-github-repository-selector
					[sourceId]="(project$ | async)?.repository?.repositoryId"
					[integration]="integration"
					(onChanged)="selectRepository($event)"
					[selected]="true"
				></ngx-github-repository-selector>
				<div class="table-scroll-container">
					<ng2-smart-table
						[settings]="settingsSmartTable"
						[source]="issues$ | async"
						(userRowSelect)="selectIssues($event)"
						style="cursor: pointer;"
					></ng2-smart-table>
				</div>
			</div>
		</ng-template>
	</nb-card-body>
</nb-card>
