@import 'gauzy/_gauzy-table.scss';

:host {
	nb-card,
	nb-card-body {
		background-color: var(--gauzy-card-2);
	}
	.sync-arrow-right > i {
		font-size: 25px;
		margin-top: 40px;
	}
	.sync-process-button {
		margin-top: 35px;
	}
}
::ng-deep {
	.table-scroll-container {
		input[type="checkbox"] {
			box-shadow: none !important;
			height: auto !important;
		}
	}
}
