<nb-card
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
	class="card-scroll"
>
	<nb-card-header>
		<ngx-back-navigation class="float-left"></ngx-back-navigation>
		<nb-actions class="float-left pt-2" size="small">
			<nb-action class="toggle-layout p-0">
				<h5>{{ 'INTEGRATIONS.GITHUB_PAGE.NAME' | translate }}</h5>
				<nb-icon
					icon="settings-2-outline"
					[nbContextMenu]="contextMenuItems"
				></nb-icon>
			</nb-action>
		</nb-actions>
	</nb-card-header>
	<nb-card-body>
		<ng-template [ngIf]="integration">
			<div class="mb-3">
				<button nbButton status="primary" class="mr-2">
					<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
					{{ 'BUTTONS.SYNC' | translate }}
				</button>
			</div>
			<div class="issues-container">
				<ngx-github-repository-selector
					[integration]="integration"
					(onChanged)="selectRepository($event)"
				></ngx-github-repository-selector>
				<ng2-smart-table
					[settings]="settingsSmartTable"
					[source]="issues$ | async"
					style="cursor: pointer;"
				></ng2-smart-table>
			</div>
		</ng-template>
	</nb-card-body>
</nb-card>
