:host {
	nb-card,
	nb-card-body {
		background-color: var(--gauzy-card-2);
	}
}
::ng-deep {
	.issues-container {
		input[type="checkbox"] {
			box-shadow: none !important;
			height: auto !important;
		}
	}
}
