<nb-card>
  <nb-card-header>
    <h4 [innerHTML]="'PIPELINES_PAGE.HEADER' | translate"></h4>
  </nb-card-header>
  <nb-card-body>
    <div class="btn-container mb-3">
      <button *ngIf="CAN_EDIT_SALES_PIPELINES"
              (click)="createPipeline()"
              style="cursor: pointer"
              status="success"
              type="button"
              class="mr-2"
              nbButton
      >
        <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
        <span [innerHTML]="'BUTTONS.ADD' | translate"></span>
      </button>
      <button *ngIf="CAN_EDIT_SALES_PIPELINES && pipeline" (click)="editPipeline()"
              style="cursor: pointer"
              status="info"
              type="button"
              class="mr-2"
              nbButton
      >
        <nb-icon icon="edit-outline" pack="eva"></nb-icon>
        <span [innerHTML]="'BUTTONS.EDIT' | translate"></span>
      </button>
      <button
        *ngIf="CAN_EDIT_SALES_PIPELINES && pipeline"
        (click)="deletePipeline()"
        style="cursor: pointer"
        status="danger"
        type="button"
        class="mr-2"
        nbButton
      >
        <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
        <span [innerHTML]="'BUTTONS.DELETE' | translate"></span>
      </button>
      <input
        [placeholder]="'FORM.FILTER' | translate"
        (ngModelChange)="filterPipelines()"
        [(ngModel)]="name"
        type="text"
        nbInput
      >
    </div>

    <ng2-smart-table
      (rowSelect)="pipeline = $event.data"
      [settings]="smartTableSettings"
      [source]="pipelines"
    ></ng2-smart-table>
  </nb-card-body>
</nb-card>
