<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="d-flex flex-column pb-0">
		<div class="card-header-title d-flex justify-content-start">
			<ngx-back-navigation></ngx-back-navigation>
			<h4>
				<ngx-header-title [allowEmployee]="false">
					{{ 'TIME_OFF_PAGE.POLICY.HEADER' | translate }}
				</ngx-header-title>
			</h4>
		</div>
		<div class="align-self-end">
			<ngx-gauzy-button-action
				[isDisable]="disableButton"
				[buttonTemplate]="actionButtons"
				[buttonTemplateVisible]="visibleButton"
				[componentName]="viewComponentName"
			>
			</ngx-gauzy-button-action>
		</div>
	</nb-card-header>
	<nb-card-body>
		<ng2-smart-table
			class="income-table"
			[settings]="smartTableSettings"
			*ngIf="dataLayoutStyle === 'TABLE'"
			[source]="smartTableSource"
			(userRowSelect)="selectTimeOffPolicy($event)"
			style="cursor: pointer"
			#timeOffPolicySettingsTable
		>
		</ng2-smart-table>
		<ga-card-grid
			*ngIf="dataLayoutStyle === 'CARDS_GRID'"
			[settings]="smartTableSettings"
			[source]="timeOffPolicyData"
			[buttonTemplate]="actionButtons"
		></ga-card-grid>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<div class="btn-group actions">
		<ng-template ngxPermissionsOnly="POLICY_EDIT">
			<button
				nbButton
				status="basic"
				class="action primary"
				[disabled]="!selectedItem && disableButton"
				(click)="openEditPolicyDialog(selectedItem)"
				size="small"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button
				nbButton
				status="basic"
				class="action"
				[disabled]="!selectedItem && disableButton"
				(click)="deletePolicy(selectedItem)"
				size="small"
				[nbTooltip]="'BUTTONS.DELETE' | translate"
			>
				<nb-icon status="danger" icon="trash-2-outline"></nb-icon>
			</button>
		</ng-template>
	</div>
</ng-template>
<ng-template #visibleButton>
	<ng-template ngxPermissionsOnly="POLICY_EDIT">
		<button
			nbButton
			status="success"
			size="small"
			(click)="openAddPolicyDialog()"
		>
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
	</ng-template>
</ng-template>
