<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="card-header">
		<h5>{{ 'INTEGRATIONS.HUBSTAFF_PAGE.NAME' | translate }}</h5>
		<nb-icon icon="settings-outline" (click)="setSettings()"></nb-icon>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3">
			<button
				nbButton
				[disabled]="!selectedProjects"
				(click)="syncProjects()"
				status="primary"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.SYNC' | translate }}
			</button>
			<button nbButton (click)="autoSync()" status="primary" class="mr-2">
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.AUTO_SYNC' | translate }}
			</button>
		</div>

		<div class="hubstaff-container">
			<ng-select
				class="mb-2"
				bindLabel="name"
				[items]="organizations$ | async"
				[searchable]="true"
				placeholder="{{
					'INTEGRATIONS.HUBSTAFF_PAGE.SELECT_ORGANIZATION' | translate
				}}"
				(change)="selectOrganization($event)"
			>
			</ng-select>
			<ng2-smart-table
				[settings]="settingsSmartTable"
				[source]="projects$ | async"
				(userRowSelect)="selectProject($event)"
				style="cursor: pointer;"
				#projectsTable
			>
			</ng2-smart-table>
		</div>
	</nb-card-body>
</nb-card>
