nb-card-body {
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 30px;

    .header-container {
        display: flex;
        justify-content: space-between;

        .employee-info {
            display: flex;
    
            .employee-image {
                max-width: 70px;
                max-height: 70px;
                border-radius: 13px;
                margin-right: 24px;
            }
        }

        .employee-details {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .employee-name {
                font-weight: bold;
                font-size: 18px;
            }

            .employee-position {
                font-size: 14px;
            }
        }
    }
}

.open {
    cursor: pointer;
}

.body {
    padding: 36px;

    .half-content {
        width: 49%;
    }

    .info-block {
        &:hover {
            box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.26);
            transform: translateY(-1px);
        }

        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
        height: 84px;
        border-radius: 4px;
        padding: 29px;
        background-color: #f6f9fc;

        .info-text, .info-value {
            display: flex;
            font-size: 18px;
            color: #333333;
        }

        .info-text {
            flex-direction: column;
            justify-content: center;
        }

        .info-value {
            flex-direction: row;
            align-items: center;

            span {
                font-size: 24px;
                margin-right: 12px;
            }
        }
    }

    .bonus {
        display: flex;
        flex-direction: row-reverse;
        padding: 29px;
        width: 100%;
        height: 84px;

        .bonus-value {
            margin-right: 39px;

            :first-child {
                text-align: right;
                font-size: 16px;
                margin-bottom: 15px;
                margin-right: 3px;
            }
    
            :last-child {
                font-size: 46px;
                font-weight: bold;
                color: #0091ff;
            }
        }
    }
}