@import 'themes';

.body {
  width: 890px;
  max-width: 100%;
}

form .tab_sections nb-tab {
  padding-left: 0;
  padding-right: 0;
}

.form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    color: #222b45;
    font-size: 15px;
    font-weight: 700;
  }
}

:host .card-footer {
  @include nb-ltr(text-align, right);
  @include nb-rtl(text-align, left);
}

:host span.heading_title {
  color: #222b45;
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1rem;
  @include nb-ltr(margin-right, 10px);
  @include nb-rtl(margin-left, 10px);
}

:host button.add_new {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 !important;
  @include nb-ltr(padding-right, 4px !important);
  @include nb-rtl(padding-left, 4px !important);
}

:host .nb_list_item.item {
  border: none !important;
  @include nb-ltr(float, left);
  @include nb-rtl(float, right);
  @include nb-ltr(padding-left, 0);
  @include nb-rtl(padding-right, 0);
}

.close {
  cursor: pointer;
}

.awards-list {
  flex-direction: row;
}