<div class="row">
	<div class="bulk-actions col-auto">
		<div class="input-group" *ngIf="hasDateRangeFilter">
			<div class="input-group-append" id="button-addon4">
				<button nbButton status="primary" (click)="previousDay()">
					<nb-icon icon="arrow-ios-back-outline"></nb-icon>
				</button>
			</div>
			<div class="week-date-input form-control ml-1">
				<div class="display-box">
					<span *ngIf="dateRange == 'day'; else displayDateRange">
						{{ filters.startDate | date }}
					</span>
					<ng-template #displayDateRange>
						{{ filters.startDate | date }} -
						{{ filters.endDate | date }}
					</ng-template>
				</div>
				<input
					type="text"
					nbInput
					placeholder="Select Date"
					[(ngModel)]="selectedDate"
					[nbDatepicker]="formpicker"
				/>
			</div>
			<div class="input-group-append ml-1" id="button-addon4">
				<button nbButton status="primary" (click)="nextDay()">
					<nb-icon icon="arrow-ios-forward-outline"></nb-icon>
				</button>
			</div>
			<div class="input-group-append ml-1" id="button-addon4">
				<button
					nbButton
					status="primary"
					(click)="selectedDate = today"
				>
					{{ 'TIMESHEET.TODAY' | translate }}
				</button>
			</div>
			<nb-datepicker #formpicker [max]="today"></nb-datepicker>
		</div>
	</div>
	<div class="col-auto ml-auto">
		<div class="row align-items-end">
			<div
				class="col-auto ml-auto pr-1"
				*ngIf="canChangeSelectedEmployee && hasEmployeeFilter"
			>
				<ga-employee-multi-select
					class="select-box"
					name="employeeId"
					[placeholder]="'TIMESHEET.ALL_EMPLOYEE' | translate"
					[(ngModel)]="filters.employeeId"
					[allEmployees]="employees"
					(selectedChange)="triggerFilterChange()"
				>
				</ga-employee-multi-select>
			</div>
			<div class="col-auto ml-auto pr-1" *ngIf="hasSourceFilter">
				<nb-select
					multiple
					[placeholder]="'TIMESHEET.SELECT_SOURCE' | translate"
					[(selected)]="filters.source"
					(selectedChange)="triggerFilterChange()"
				>
					<nb-option
						*ngFor="let source of TimeLogSourceEnum | keyvalue"
						[value]="source.key"
					>
						{{ source.value }}</nb-option
					>
				</nb-select>
			</div>
			<div class="col-auto ml-auto pr-1" *ngIf="hasActivityLevelFilter">
				<button
					class="activity-level-filter"
					nbButton
					status="basic"
					outline
					[nbPopover]="templateRef"
					nbPopoverPlacement="bottom"
				>
					{{ 'TIMESHEET.SELECT_ACTIVITY_LEVEL' | translate }}
					<nb-icon icon="chevron-down-outline"></nb-icon>
				</button>
				<ng-template #templateRef>
					<div class="p-3 slider-dropdown">
						<ng5-slider
							[value]="activityLevel?.start"
							[highValue]="activityLevel?.end"
							(userChange)="setActivityLevel($event)"
							[options]="sliderOptions"
						></ng5-slider>
					</div>
				</ng-template>
				<!-- <nb-select
					placeholder="Select Activity Level"
					[(selected)]="filters.activityLevel"
					(selectedChange)="triggerFilterChange()"
				>
					<nb-option [value]=""> All </nb-option>
					<nb-option *ngFor="let logType of TimeLogType | keyvalue" [value]="logType.key"> {{ logType.value }}</nb-option>
				</nb-select> -->
			</div>
			<div class="col-auto ml-auto pr-1" *ngIf="hasLogTypeFilter">
				<nb-select
					multiple
					[placeholder]="'TIMESHEET.SELECT_LOG_TYPE' | translate"
					[(selected)]="filters.logType"
					(selectedChange)="triggerFilterChange()"
				>
					<nb-option
						*ngFor="let logType of TimeLogType | keyvalue"
						[value]="logType.key"
					>
						{{ logType.value }}</nb-option
					>
				</nb-select>
			</div>
		</div>
	</div>
</div>
