@import 'var';

.calendar-picker {
	position: relative;
	max-height: 40px;
	input {
		width: 100%;
		max-width: 100% !important;
    border-radius: nb-theme(button-rectangle-border-radius);
    height: 32px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(126, 126, 143, 0.05);
	}
	.calendar {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		z-index: 9999;
		nb-calendar-year-picker,
		nb-calendar-month-picker {
			z-index: 1;
		}
	}
	.date-reset {
		position: absolute;
		top: 28%;
		transform: scale(1.5);
		right: 20px;
		cursor: pointer;
	}
}
