.calendar-picker {
    position: relative;
    max-height: 40px;
    input {
        width: 100%;
    }
    .calendar { 
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 9999;
        nb-calendar-year-picker, nb-calendar-month-picker{
            z-index: 1;
        }
    }
} 