::ng-deep nb-auth-block {
	max-width: 35rem;
}
.login-container {
	position: relative;
	.demo-credentials-btn {
		position: absolute;
		top: 10px;
		right: 0px;
	}
	.demo-credentials-card {
		position: absolute;
		top: 135px;
		left: -80%;
	}
	.demo-credentials-close-icon {
		position: absolute;
		right: 0px;
	}
}
