@import '@shared/_add-task-dialog';
@import '@shared/required-asterisk';

.body {
  width: 550px;
}
.description {
  margin-top: 10px;
  height: 150px;
}

.name-input {
  min-width: 100%;
}

.estimate-inputs {
  display: flex;
  justify-content: space-between;

  input {
    width: 30%;
    padding: 0.4rem !important;
  }
}

.nb-radio {
  display: inline-block;
}
