<nb-card class="card-scroll">
	<nb-card-header class="d-flex flex-column pb-0">
		<div class="card-header-title">
			<h4>
				<ngx-header-title [allowEmployee]="false">
					{{ 'INTEGRATIONS.TITLE' | translate }}
				</ngx-header-title>
			</h4>
		</div>
		<div class="gauzy-button-container">
			<ngx-gauzy-button-action
				[buttonTemplateVisible]="visibleButton"
				[buttonTemplate]="actionButtons"
				[hasLayoutSelector]="false"
				[isDisable]="disabled"
			>
			</ngx-gauzy-button-action>
		</div>
		<div class="columns-header row align-items-center">
			<div class="col-md-9 p-0 float-left text-truncate">
				{{ 'SM_TABLE.PROVIDER' | translate }}
			</div>
			<div class="col-md-3 p-0 float-left text-truncate">
				{{ 'SM_TABLE.LAST_SYNC' | translate }}
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="table-scroll-container">
			<nb-card *ngFor="let integration of dummyIntegrations$ | async">
				<nb-card-body
					(click)="selectIntegration(integration)"
					[ngClass]="{
						selected:
							!disabled &&
							integration.id === selectedIntegration.id
					}"
					class="card-body-table"
				>
					<div class="col-md-2 p-0 float-left text-truncate">
						<img
							[alt]="[integration?.integration?.title]"
							[src]="integration?.integration?.fullImgUrl"
							[title]="
								integration?.integration?.name
									| replace : '_' : ' '
							"
							height="100%"
							width="100%"
						/>
					</div>
					<div class="col-md-7 pl-3 float-left text-truncate">
						<div class="title">{{ integration?.name }}</div>
						<div class="description">{{ integration?.description || 'Lorem Ipsum Lorem Ipsum' }}</div>
					</div>
					<div class="col-md-3 p-0 float-left text-truncate">
						{{ (integration?.lastSyncedAt || integration?.updatedAt) | dateTimeFormat }}
					</div>
				</nb-card-body>
			</nb-card>
		</div>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<ng-container *ngxPermissionsOnly="['ALL_ORG_EDIT']">
		<div class="actions">
			<button
				(click)="edit(selectedItem)"
				[disabled]="disabled"
				class="action primary"
				nbButton
				size="small"
				status="basic"
			>
				<nb-icon icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button
				(click)="delete(selectedItem)"
				[disabled]="disabled"
				[nbTooltip]="'BUTTONS.DELETE' | translate"
				class="action"
				nbButton
				size="small"
				status="basic"
			>
				<nb-icon icon="trash-2-outline" status="danger"></nb-icon>
			</button>
		</div>
	</ng-container>
</ng-template>
<ng-template #visibleButton>
	<ng-container *ngxPermissionsOnly="['ALL_ORG_EDIT']">
		<button (click)="add()" nbButton size="small" status="success">
			<nb-icon icon="plus-outline"></nb-icon>
			{{ 'BUTTONS.ADD' | translate }}
		</button>
	</ng-container>
</ng-template>
