@import 'themes';

:host ::ng-deep ngx-avatar {
  .inner-wrapper {
    background-color: nb-theme(color-primary-transparent-100);
    border-radius: nb-theme(button-rectangle-border-radius);
    padding: 3px 9px 3px 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    .image-container {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      img[type='user'] {
        height: 18px;
        width: 18px;
      }
    }
    .link-text {
      color: nb-theme(text-primary-color);
      font-weight: normal;
      margin-left: 10px;
    }
  }
}
.badges-block{
  margin-top: 10px;
}
