<div>
    <h3>Welcome to Gauzy!</h3>
    <p>Dear {{email}},</p>
    <p>Thank you for your registration in Gauzy™ - Fair Profits Sharing Open-Source Platform</p>
    <p>We are happy to have you on board!</p>
    <p>Best regards,</p>
    <p>Gauzy Team</p>
</div>