.global {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  margin-left: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 1px;
  height: 55px;
  background-color: #fafafa;
}

.cards {
  padding-left: 10px;
  padding-top: 8px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-info {
  padding-right: 100px;
  display: flex;
  flex-direction: row;
}

.create-at {
  margin-left: 100px;
}

.articles {
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
}

.header-article {
  display: flex;
  flex-direction: row;
}

.cards:hover .edit-icon {
  display: inline-block;
}

.edit-icon {
  margin-top: 27px;
  font-size: 24px;
  display: none;
}
