<div class="global">
	<ga-sidebar></ga-sidebar>
	<div class="main">
		<nb-card class="header">
			<div class="header-article">
				<h5>Category Name</h5>
				<h5 class="articles">4 articles</h5>
			</div>
			<button
				status="success"
				class="base-button"
				(click)="addNode()"
				nbButton
			>
				Add article
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
			</button>
		</nb-card>
		<nb-card class="cards">
			<div>
				<h6 class="label">aaaa</h6>
				<p>description</p>
				<div class="user-info">
					<p>written by</p>
					<p class="create-at">create at:</p>
				</div>
			</div>
			<div class="mr-3">
				<nb-icon class="edit-icon" icon="edit-outline"></nb-icon>
				<nb-icon
					class="edit-icon"
					icon="trash-2-outline"
					(click)="deleteNode()"
				></nb-icon>
			</div>
		</nb-card>
	</div>
</div>
