<div class="global">
	<ga-sidebar
		(clickedNode)="clickedNode($event)"
		(deletedNode)="deletedNode()"
	></ga-sidebar>
	<div class="main card-scroll">
		<div class="overflow">
			<nb-card class="head">
				<div class="header">
					<div class="header-article">
						<h6 *ngIf="!categoryName">
							{{ 'HELP_PAGE.CHOOSE_ANY_CATEGORY' | translate }}
						</h6>
						<h6 *ngIf="categoryName">{{ categoryName }}</h6>
						<h6 class="articles">
							{{ this.articleList.length }}
							{{ 'HELP_PAGE.ARTICLES' | translate }}
						</h6>
					</div>
					<button
						[disabled]="!categoryName"
						status="success"
						class="base-button"
						(click)="addNode()"
						nbButton
					>
						{{ 'HELP_PAGE.ADD_ARTICLE' | translate }}
						<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
					</button>
				</div>
				<div *ngIf="categoryName" class="row row-search ml-1 align-items-end">
					<div class="col-lg-5">
						<div class="form-group">
							<label for="employee" class="label">{{
								'HELP_PAGE.SEARCH_BY_NAME' | translate
							}}</label>
							<input
								fullWidth
								[formControl]="search"
								placeholder="Search"
								value="inputValue"
								type="text"
								nbInput
							/>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
								<label for="employee" class="label">{{
									'HELP_PAGE.FILTER_BY_AUTHOR' | translate
								}}</label>
								<ga-employee-multi-select
									[multiple]="false"
									[label]="false"
									[allEmployees]="employees"
									(selectedChange)="onEmployeeSelected($event)"
									[reset]="isResetSelect"
								>
								</ga-employee-multi-select>
						</div>
					</div>
					<div class="col-lg-2">
						<button
							status="danger"
							class="clear-button"
							(click)="clearFilters()"
							nbButton
						>
							{{ 'HELP_PAGE.CLEAR' | translate }}
						</button>
					</div>					
				</div>
			</nb-card>
			<div
				[nbSpinner]="loading"
				nbSpinnerStatus="primary"
				nbSpinnerSize="giant"
			>
				<nb-card
					class="cards"
					*ngFor="let article of this.filteredArticles; let i = index"
				>
					<div class="main-article" (click)="openArticle(i)">
						<div class="row-name">
							<p class="name">
								{{ article.name }}
							</p>
							<p class="draft" *ngIf="article.draft === true">
								{{ 'HELP_PAGE.DRAFT' | translate }}
							</p>
							<p class="privacy" *ngIf="article.privacy === true">
								{{ 'HELP_PAGE.EMPLOYEES' | translate }}
							</p>
						</div>
						<p>{{ article.description }}</p>
						<div
							class="data"
							*ngIf="showData[i]"
							[innerHtml]="dataArray[i]"
						></div>
						<div class="user-info">
							<p>
								{{ 'HELP_PAGE.WRITTEN_BY' | translate }}
							</p>
							<div class="image-wrap">
								<span
									*ngFor="let employee of article.employees"
									nbTooltip=" {{ employee?.user?.firstName }}
									{{ employee?.user?.lastName }}"
									nbTooltipPlacement="top"
								>
									<img
										class="author-image-small"
										[src]="employee?.user?.imageUrl"
										alt="employee Avatar"
									/>
								</span>
							</div>
							<div class="create-at">
								<nb-icon
									class="icon"
									icon="clock-outline"
								></nb-icon>
								<p>
									{{ 'HELP_PAGE.CREATED_AT' | translate }}:
									{{ article.createdAt | date: 'short' }}
								</p>
							</div>
						</div>
					</div>
					<div class="mr-3">
						<nb-icon
							class="edit-icon"
							icon="edit-outline"
							(click)="editNode(i)"
						></nb-icon>
						<nb-icon
							class="edit-icon"
							icon="trash-2-outline"
							(click)="deleteNode(i)"
						></nb-icon>
					</div>
				</nb-card>
			</div>
		</div>
	</div>
</div>
