<div class="global">
	<ga-sidebar></ga-sidebar>
	<div class="main">
		<nb-card class="header">
			<div class="header-article">
				<h5>Category Name</h5>
				<h5 class="articles">{{ this.nodes.length }} articles</h5>
			</div>
			<button
				status="success"
				class="base-button"
				(click)="addNode()"
				nbButton
			>
				Add article
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
			</button>
		</nb-card>
		<nb-card
			class="cards"
			*ngFor="let article of this.nodes; let i = index"
		>
			<div>
				<div class="row-name">
					<p class="name">{{ article.name }}</p>
					<p class="draft" *ngIf="article.draft === 'draft'">
						{{ article.draft }}
					</p>
				</div>
				<p>{{ article.description }}</p>
				<div class="user-info">
					<p>written by</p>
					<p class="create-at">
						create at: {{ article.createdAt | date: 'mediumDate' }}
					</p>
				</div>
			</div>
			<div class="mr-3">
				<nb-icon
					class="edit-icon"
					icon="edit-outline"
					(click)="editNode(i)"
				></nb-icon>
				<nb-icon
					class="edit-icon"
					icon="trash-2-outline"
					(click)="deleteNode(i)"
				></nb-icon>
			</div>
		</nb-card>
	</div>
</div>
