<nb-card class="main">
	<nb-card-header class="d-flex">
		<h3>
			Register Proposal
		</h3>
	</nb-card-header>

	<nb-card-body>
		<form [formGroup]="form" *ngIf="form">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="label">Author</label>
						<ga-employee-selector
							#employeeSelector
							[skipGlobalChange]="true"
							id="authorInput"
							class="employees"
						>
						</ga-employee-selector>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="label">Job Post URL</label>
						<input
							nbInput
							fullWidth
							type="text"
							placeholder="Job Post URL"
							formControlName="jobPostUrl"
							autocomplete="on"
						/>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label class="label">Pick a Date</label>
						<input
							formControlName="valueDate"
							nbInput
							fullWidth
							placeholder="Pick a Date"
							[nbDatepicker]="formpicker"
						/>
						<nb-datepicker #formpicker></nb-datepicker>
					</div>
				</div>
				<div class="col-sm-6">
					<!-- <ngx-ckeditor></ngx-ckeditor> -->
					<div class="form-group">
						<label class="label">Job Post Content</label>
						<textarea
							nbInput
							fullWidth
							rows="12"
							type="text"
							placeholder="Job Post Content"
							formControlName="jobPostContent"
							autocomplete="on"
						></textarea>
						<button class="upload-btn" nbButton status="primary">
							Upload
						</button>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="label">Proposal Content</label>
						<textarea
							nbInput
							rows="12"
							fullWidth
							type="text"
							placeholder="Proposal Content"
							formControlName="proposalContent"
							autocomplete="on"
						></textarea>
						<button class="upload-btn" nbButton status="primary">
							Upload
						</button>
					</div>
				</div>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer class="text-right">
		<button
			[disabled]="form.invalid"
			(click)="registerProposal()"
			class="register-btn"
			status="success"
			nbButton
		>
			Register Proposal
		</button>
	</nb-card-footer>
</nb-card>
