:host {
  display: block;
  width: 100%;

  .no-data {
    height: 100%;
    width: 100%;
  }

  nb-card {
    margin-bottom: 0;
  }

  nb-card-body {
    border-radius: var(--border-radius);
    padding: 0;
  }

  nb-card-footer {
    display: flex;
    gap: 1rem;
    padding: 0;
    padding-top: 1rem;
  }
}

// Section styling
.form-section {
  margin-bottom: 1rem;
  background-color: var(--gauzy-card-2);
  border-radius: var(--border-radius);
  padding: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .section-title {
    font-weight: 600;
    margin-bottom: 1rem;
    color: nb-theme(text-basic-color);
    border-bottom: 1px solid nb-theme(border-basic-color-3);
    padding-bottom: 0.5rem;
  }
}

// Info rows and items
.info-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .b-status {
    right: 1rem;
    top: 1rem;
    border-radius: 4px;

    &.left {
      right: 4.5rem;
    }
  }

  .info-item {
    flex: 1 1 45%;
    margin-right: 5%;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-right: 0;
    }

    &.full-width {
      flex: 0 0 100%;
      margin-right: 0;
    }

    .label {
      font-size: 0.875rem;
      color: var(--gauzy-text-color-2);
      font-weight: 600;
      margin-bottom: 0.25rem;
    }

    .value {
      font-size: 1rem;
      word-break: break-word;

      &.description {
        white-space: pre-line;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        color: nb-theme(text-basic-color);
      }

      a {
        color: nb-theme(color-primary-default);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        .external-link {
          font-size: 0.875rem;
          margin-left: 0.25rem;
        }
      }
    }
  }
}

// Tags styling
nb-tag-list {
  display: inline-flex;
  flex-wrap: wrap;

  nb-tag {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Truncate long text
.text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Responsive adjustments
@media (max-width: 767px) {
  .info-row {
    flex-direction: column;

    .info-item {
      flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
