<div [formGroup]="parentFormGroup">
	<ga-currency
		*ngIf="parentFormGroup.value.type == keyResultTypeEnum.CURRENCY"
		formControlName="unit"
		[placeholder]="'Unit'"
	></ga-currency>
	<nb-select
		fullWidth
		formControlName="unit"
		[selected]="numberUnits[0]"
		(selectedChange)="
			parentFormGroup.value.unit == 'create-new'
				? (createNew = !createNew)
				: true
		"
		*ngIf="
			parentFormGroup.value.type == keyResultTypeEnum.NUMERICAL &&
			!createNew
		"
		id="unit"
		nbSuffix
	>
		<nb-option [value]="unit" *ngFor="let unit of numberUnits">
			{{ unit }}
		</nb-option>
		<nb-option value="create-new" class="bg-secondary text-light">
			+ create new
		</nb-option>
	</nb-select>
	<nb-form-field *ngIf="createNew">
		<input type="text" formControlName="unit" nbInput fullWidth />
		<nb-icon
			nbSuffix
			icon="checkmark-outline"
			status="success"
			(click)="createNewUnit()"
		>
		</nb-icon>
		<nb-icon
			nbSuffix
			icon="close-outline"
			status="danger"
			(click)="createNew = !createNew"
		>
		</nb-icon>
	</nb-form-field>
</div>
