app = "ever-gauzy-webapp"
primary_region = "lax"

[build]
  image = "ghcr.io/ever-co/gauzy-webapp-demo:latest"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
