::ng-deep .nb-theme-default nb-card-header {
  	display: none !important;
}

:host(.login-small-height) {
  ::ng-deep .login-wrapper {
    padding-top: 20px;
  }

  ::ng-deep .login-container {
	 top: -30px;
  }

  ::ng-deep nb-card-body {
	overflow: hidden;
  }
}

:host(.setup-max-height) {
	::ng-deep nb-stepper .step-content {
		height: calc(100vh - 5.5rem);
	}
}
