<nb-card size="large" class="max-width-800">
	<nb-card-header>
		Add Objective
		<nb-icon
			class="ml-auto mt-1 close"
			icon="close-outline"
			(click)="closeDialog()"
		></nb-icon>
	</nb-card-header>

	<nb-card-body>
		<form [formGroup]="objectiveForm">
			<label for="objective-title" class="label"> Name </label>
			<input
				type="text"
				id="objective-title"
				nbInput
				fullWidth
				formControlName="name"
				placeholder="Objective Name. eg. Improve Website SEO"
			/>

			<label for="objective-description" class="label mt-3">
				Description
			</label>
			<textarea
				id="objective-description"
				nbInput
				fullWidth
				formControlName="description"
				placeholder="Objective Description."
			></textarea>

			<label for="objective-level" class="label mt-3">
				Level
			</label>
			<nb-select
				id="objective-level"
				formControlName="level"
				placeholder="Goal Level"
				fullWidth
			>
				<nb-option value="organization">Organization</nb-option>
				<nb-option value="team">Team</nb-option>
				<nb-option value="employee">Individual</nb-option>
			</nb-select>

			<label for="objective-owner" class="label mt-3"> Owner </label>
			<ga-employee-multi-select
				[multiple]="false"
				[allEmployees]="employees"
				[selectedEmployeeIds]="objectiveForm.value.owner"
				[label]="false"
				(selectedChange)="selectEmployee($event, 'owner')"
				id="key-result-owner"
				placeholder="Owner"
				class="header-selector employee-selector"
			></ga-employee-multi-select>

			<label for="objective-Lead" class="label mt-3"> Lead </label>
			<ga-employee-multi-select
				[multiple]="false"
				[allEmployees]="employees"
				[selectedEmployeeIds]="objectiveForm.value.lead"
				[label]="false"
				(selectedChange)="selectEmployee($event, 'lead')"
				id="key-result-Lead"
				placeholder="Lead"
				class="header-selector employee-selector"
			></ga-employee-multi-select>

			<label for="objective-deadline" class="label mt-3">
				Deadline
			</label>
			<nb-select
				*ngIf="timeFrames.length > 0"
				id="objective-deadline"
				formControlName="deadline"
				placeholder="Deadline"
				fullWidth
				selected="Q4-2020"
			>
				<nb-option
					*ngFor="let deadline of timeFrames"
					[value]="deadline.name"
					>{{ deadline.name }}</nb-option
				>
			</nb-select>
			<p>
				<button
					id="objective-deadline"
					*ngIf="timeFrames.length == 0"
					status="primary"
					nbButton
					(click)="openSetTimeFrame()"
				>
					Add Time Frame
				</button>
			</p>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button class="mr-3" nbButton (click)="closeDialog()">
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button
			nbButton
			[disabled]="!objectiveForm.valid"
			status="success"
			(click)="saveObjective()"
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
