<nb-card class="main">
	<nb-card-body>
		<div class="header">
			<h6>Add Category</h6>
			<nb-icon icon="close-outline" (click)="closeDialog()"></nb-icon>
		</div>
		<br />
		<div class="select">
			<nb-select
				class="main-buttons"
				placeholder="Select Language"
				[(selected)]="selectedLang"
			>
				<nb-option *ngFor="let lang of languages" [value]="lang">{{
					lang
				}}</nb-option>
			</nb-select>
			<nb-select placeholder="Select Color" [(selected)]="selectedColor">
				<nb-option *ngFor="let color of colors" [value]="color">{{
					color
				}}</nb-option>
			</nb-select>
		</div>
		<form [formGroup]="form" (ngSubmit)="submit()">
			<div class="edit-field">
				<div>
					<p class="label">Name of the base:</p>
					<input
						formControlName="name"
						class="main-buttons"
						type="text"
						size="24"
						maxlength="18"
						nbInput
					/>
				</div>
				<div>
					<p class="label">Description:</p>
					<input
						formControlName="desc"
						class="main-buttons"
						type="text"
						size="30"
						maxlength="26"
						nbInput
					/>
				</div>
			</div>
			<div class="save-button">
				<button
					[disabled]="!selectedLang || !selectedColor"
					status="success"
					nbButton
				>
					{{ 'BUTTONS.SAVE' | translate }}
				</button>
			</div>
		</form>
	</nb-card-body>
</nb-card>
