<nb-card class="card-scroll">
	<nb-card-header class="d-flex justify-content-between">
		<h4 class="email-history-header">
			<ngx-header-title>
				{{ 'MENU.SETTINGS' | translate }} - {{ 'SETTINGS.EMAIL_HISTORY.HEADER' | translate }}
			</ngx-header-title>
		</h4>
		<div class="filter">
			<button
				(click)="openFiltersDialog()"
				nbButton
				status="primary"
				size="small"
			>
				{{ 'BUTTONS.FILTER' | translate }}
				<span>
					<nb-badge
						*ngIf="filteredCount"
						status="danger"
						[text]="filteredCount"
						position="center"
						class="filterCount"
					>
					</nb-badge>
				</span>
			</button>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="content-container">
			<nb-list
				[nbSpinner]="loading"
				nbInfiniteList
				[threshold]="20"
				(bottomThreshold)="loadNext()"
			>
				<nb-list-item
					(click)="selectEmail(email)"
					*ngFor="let email of emails"
				>
					<div class="email-list-item">
						<div class="d-flex flex-row">
							<div class="image-container">
								<img
									class="email-history-avatar"
									[src]="getUrl(email.email)"
								/>
							</div>
							<div>
								<span [title]="email.email">
									<b>{{ getEmailDate(email.createdAt) }}</b>
								</span>
								<span>
									{{
										'SETTINGS.EMAIL_HISTORY.FROM'
											| translate
									}}
									<b>{{
										email.user
											? email.user.email
											: ('SETTINGS.EMAIL_HISTORY.SYSTEM'
											  | translate)
									}}</b>
								</span>
							</div>
						</div>
						<div class="email-history-to">
							<span [title]="email.email">
								{{ 'SETTINGS.EMAIL_HISTORY.TO' | translate }}
								<b>{{ email.email }}</b>
							</span>
						</div>
					</div>
				</nb-list-item>
			</nb-list>
			<div class="email-container">
				<div class="email-details" *ngIf="selectedEmail">
					<span>
						{{ 'SETTINGS.EMAIL_HISTORY.FROM' | translate }}
						<b>{{
							selectedEmail.user
								? selectedEmail.user.email
								: ('SETTINGS.EMAIL_HISTORY.SYSTEM' | translate)
						}}</b>
					</span>
					<span>
						{{ 'SETTINGS.EMAIL_HISTORY.TO' | translate }}
						<b>{{ selectedEmail.email }}</b>
					</span>
					<span>
						{{ 'SETTINGS.EMAIL_HISTORY.SUBJECT' | translate }}
						<b>{{ selectedEmail.name }}</b>
					</span>
					<span>
						{{ 'SETTINGS.EMAIL_HISTORY.LANGUAGE' | translate }}
						<b>{{
							getEmailLanguageFullName(
								selectedEmail.emailTemplate.languageCode
							)
						}}</b>
					</span>
					<span>
						{{ 'SETTINGS.EMAIL_HISTORY.TEMPLATE' | translate }}
						<b>{{
							selectedEmail.emailTemplate.title | titlecase
						}}</b>
					</span>
				</div>
				<button
					*ngIf="selectedEmail"
					class="w-25 email-history-archive"
					status="primary"
					nbButton
					(click)="archive()"
				>
					{{ 'SETTINGS.EMAIL_HISTORY.ARCHIVE' | translate }}
				</button>
				<div
					[innerHtml]="selectedEmail.content | safeHtml"
					*ngIf="selectedEmail; else emailNotSelected"
					class="email-content"
				></div>
				<ng-template #emailNotSelected>
					<h2>
						{{
							'SETTINGS.EMAIL_HISTORY.NO_EMAILS_SENT' | translate
						}}
					</h2>
				</ng-template>
			</div>
		</div>
	</nb-card-body>
</nb-card>
