@import '../../../@theme/styles/themes.scss';

@include nb-install-component {
  nb-card-body {
    padding: 0;
  }

  .content-container {
    display: flex;

    nb-list {
      white-space: nowrap;
      overflow: hidden;
      min-width: 200px;
      flex: none;

      nb-list-item {
        cursor: pointer;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          color: #3366ff;
        }

        .email-list-item {
          display: flex;
          justify-content: center;
          flex-direction: column;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            width: 180px;
          }
        }
      }
    }

    .email-container {
      border-left: 1px solid nb-theme(list-item-divider-color);
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
