<div>
    <h3> ברוך הבא לגוזי! </ h3><p> {{email}} היקר, </ p>
    <p> תודה על הרשמתך ל- Gauzy ™ - שיתוף רווחים הוגנים פלטפורמת קוד פתוח </ p>
    <p> אנו שמחים לקבל אותך על הסיפון! </ p>
    <p> בברכה ,</p>
    <p> צוות גאוזי </ p>
</div>