.content {
    width: 800px !important;
    height: 550px !important;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 550px;
    }

    .actions {
        margin-top: 0;
    }
}

.employee-container {
    height: 550px !important;
}


nb-list-item {
    line-height: 10px;
    border-bottom: none;
}