.content {
    width: 800px !important;
    height: 220px !important;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 240px;
    }

    .actions {
        margin-top: 0;
    }
}

.employee-container {
    height: 220px !important;
}