<nb-accordion *ngIf="isAccordion" class="accordion workspace">
	<nb-accordion-item
		[collapsed]="controlled"
		(collapsedChange)="onCollapse($event)"
	>
		<nb-accordion-item-header class="principal">
			<ng-container *ngTemplateOutlet="logo"></ng-container>
			<div class="organization" *ngIf="!isCollapse">
				<img [src]="organization.imageUrl" alt="" />
				<div class="description text">
					<div>{{ organization?.name }}</div>
					<div>{{ organization?.website }}</div>
				</div>
			</div>
		</nb-accordion-item-header>
		<nb-accordion-item-body class="setting">
			<ga-sidebar-menu [items]="actions"></ga-sidebar-menu>
		</nb-accordion-item-body>
		<nb-accordion-item-body class="setting">
			<ga-sidebar-menu [items]="[settings]"></ga-sidebar-menu>
		</nb-accordion-item-body>
		<nb-accordion-item-body class="item footer">
			<div class="content">
				<span>Download Apps:</span>
				<span>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#desktop/apple"
						><i class="fab fa-apple"></i
					></a>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#desktop/windows"
						><i class="fa-brands fa-windows"></i
					></a>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#desktop/linux"
						><i class="fa-brands fa-linux"></i
					></a>
					<a
						target="_blank"
						href=" https://web.gauzy.co/downloads#mobile"
						><i class="fas fa-mobile"></i
					></a>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#extensions"
						><i class="fa-brands fa-chrome"></i
					></a>
				</span>
			</div>
		</nb-accordion-item-body>
	</nb-accordion-item>
</nb-accordion>

<div *ngIf="!isAccordion">
	<ng-container *ngTemplateOutlet="logo"></ng-container>
</div>

<ng-template #logo>
	<div
		*ngIf="isCollapse"
		[ngClass]="
			theme === 'default' ||
			theme === 'corporate' ||
			theme === 'gauzy-light' ||
			theme === 'material-light'
				? ''
				: 'white-svg'
		"
		class="logo"
		(click)="navigateHome()"
	>
		<object data="assets/images/logos/logo_Gauzy.svg" type="image/svg+xml">
			<img src="assets/images/logos/logo_Gauzy.png" />
		</object>
	</div>
</ng-template>
