@import 'var';
.accordion.workspace {
  width: 100%;
  max-width: nb-theme(sidebar-width);
  max-height: 2.625rem;
  .organization {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    img {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: nb-theme(button-rectangle-border-radius);
      margin-right: 0.25rem;
    }
    .description {
      > div {
        &:first-child {
          font-size: 0.75rem;
        }
        &:last-child {
          font-size: 0.6875rem;
          color: nb-theme(text-primary-color);
        }
      }
    }
  }
  .item.footer {
    background-color: nb-theme(gauzy-card-2);
    border-radius: 0 0 nb-theme(border-radius) nb-theme(border-radius);
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 15%);
    .content {
      display: flex;
      align-items: center;
      color: #7e7e8f;
      font-size: 12px;
      font-weight: 500;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
      padding: 6px;
      a {
        margin: 0 0.2rem;
        color: #7e7e8f;
        transition: 0.2s;
        i {
          padding: 0;
          margin: 0;
        }
        &:hover {
          color: nb-theme(text-primary-color);
          border: 1px solid nb-theme(text-primary-color);
          border-radius: calc(nb-theme(border-radius) - 4px);
          padding: 0.1rem 0.2rem;
        }
      }
    }
  }
}

nb-accordion-item-header ::ng-deep nb-icon {
  border: 1px solid nb-theme(border-basic-color-4);
  border-radius: nb-theme(button-rectangle-border-radius);
  width: 1.75rem;
  height: 1.75rem;
}

nb-accordion-item-body ::ng-deep {
  background-color: rgba(255, 255, 255, .05);
}

nb-accordion-item:last-child.collapsed nb-accordion-item-header {
  border-bottom: none;
  max-height: 42px;
  background-color: rgba(255, 255, 255, .1);
  border-radius: nb-theme(border-radius);
}

.white-svg {
  filter: brightness(0) invert(1);
}

.link {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  &:hover {
    background-color: rgba(126, 126, 143, 0.1);
    border-radius: nb-theme(border-radius);
  }
}

.text {
  margin: 0 10px;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
