<nb-accordion *ngIf="isAccordion" class="accordion workspace">
	<nb-accordion-item (collapsedChange)="onCollapse($event)">
		<nb-accordion-item-header>
			<ng-container *ngTemplateOutlet="logo"></ng-container>
			<div class="organization" *ngIf="!isCollapse">
				<img [src]="organization.imageUrl" alt="" />
				<div class="description text">
					<div>{{ organization?.name }}</div>
					<div>{{ organization?.website }}</div>
				</div>
			</div>
		</nb-accordion-item-header>
		<nb-accordion-item-body>
			<div class="d-flex flex-column" *ngFor="let action of actions">
				<ng-container *ngxPermissionsOnly="action.data.permissionKeys">
					<span [routerLink]="action.link" class="link"
						><i [class]="action.icon"></i
						><span class="text">{{
							action.data.translationKey | translate
						}}</span></span
					>
				</ng-container>
			</div>
		</nb-accordion-item-body>
		<nb-accordion-item-body>
			<nb-accordion>
				<nb-accordion-item>
					<nb-accordion-item-header>
						<i [class]="settings.icon"></i
						><span class="text">{{
							settings.data.translationKey | translate
						}}</span>
					</nb-accordion-item-header>
					<nb-accordion-item-body>
						<div
							class="d-flex flex-column"
							*ngFor="let setting of settings.children"
						>
							<ng-container
								*ngxPermissionsOnly="
									setting.data.permissionKeys
								"
							>
								<span [routerLink]="setting.link" class="link">
									<i [class]="setting.icon"></i
									><span class="text">{{
										setting.data.translationKey | translate
									}}</span>
								</span>
							</ng-container>
						</div>
					</nb-accordion-item-body>
				</nb-accordion-item>
			</nb-accordion>
		</nb-accordion-item-body>
		<nb-accordion-item-body class="item footer">
			<div class="content">
				<span>Download Apps:</span>
				<span>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#desktop/apple"
						><i class="fab fa-apple"></i
					></a>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#desktop/windows"
						><i class="fa-brands fa-windows"></i
					></a>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#desktop/linux"
						><i class="fa-brands fa-linux"></i
					></a>
					<a
						target="_blank"
						href=" https://web.gauzy.co/downloads#mobile"
						><i class="fas fa-mobile"></i
					></a>
					<a
						target="_blank"
						href="https://web.gauzy.co/downloads#extensions"
						><i class="fa-brands fa-chrome"></i
					></a>
				</span>
			</div>
		</nb-accordion-item-body>
	</nb-accordion-item>
</nb-accordion>

<div *ngIf="!isAccordion">
	<ng-container *ngTemplateOutlet="logo"></ng-container>
</div>

<ng-template #logo>
	<div
		*ngIf="isCollapse"
		[ngClass]="
			theme === 'default' ||
			theme === 'corporate' ||
			theme === 'gauzy-light' ||
			theme === 'material-light'
				? ''
				: 'white-svg'
		"
		class="logo"
		(click)="navigateHome()"
	>
		<object data="assets/images/logos/logo_Gauzy.svg" type="image/svg+xml">
			<img src="assets/images/logos/logo_Gauzy.png" />
		</object>
	</div>
</ng-template>
