<section class="section-wrapper">
  <div class="inner-wrapper">
    <div class="forgot-password-wrapper">
      <div class="svg-wrapper">
        <img src="/assets/images/logos/logo_Gauzy.svg" alt="gauzy logo" class="ever-logo-svg">
        <ngx-theme-switch class="theme-switch"></ngx-theme-switch>
      </div>

      <div class="headings-wrapper">
        <h1 class="main-header">Forgot password?</h1>
        <div class="misc-desc">Enter your email address and we'll send a link to reset your password</div>
      </div>

      <!--    Basically copied and pasted login form email component-->
      <form (ngSubmit)="handleSubmit()" class="form">
        <label class="label" for="input-email">
          {{ 'LOGIN_PAGE.LABELS.EMAIL' | translate }}
        </label>
        <input
          nbInput
          fullWidth
          name="email"
          id="input-email"
          pattern=".+@.+\..+"
          [placeholder]="'LOGIN_PAGE.PLACEHOLDERS.EMAIL' | translate"
          fieldSize="large"
          autofocus
          autocomplete="off"
        />
        <div class="submit-btn-wrapper">
          <button nbButton>Request password!</button>
        </div>
      </form>
      <div class="links">
        <div>
          <span>Back tount? <a routerLink="/auth/login">Login</a></span>
        </div>
        <a routerLink="/auth/register">Register</a>
      </div>
    </div>
    <div class="faq">
      <div>
        <h5 class="faq-heading">FAQ</h5>
        <div class="single-faq">
          <div class="heading-wrapper">
            <nb-icon icon="unlock-outline"></nb-icon>
            <h6>Reset password</h6>
          </div>
          <p>Open your Account. You might need to sign in. Under "Security", select Signing in. Choose Password. You might
            need to sign in again. Enter your new password, then select Change Password.</p>
        </div>
        <div class="single-faq">
          <div class="heading-wrapper">
            <nb-icon icon="umbrella-outline"></nb-icon>
            <h6>Secure password</h6>
          </div>
          <p>For example, Use a password that has at least 8-16 characters, use at least one number, one uppercase letter
            one lowercase letter and one special symbol.</p>
        </div>
      </div>
      <span>
      <button nbButton outline status="primary" class="learn-more">Learn more</button>
    </span>
    </div>
  </div>
</section>
