@import "themes";
@import "../reusable";

.section-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobileScreen {
    height: 100vh;
  }

  & .inner-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;

    @include smallLaptopScreen {
      width: 90%;
    }

    @include tabletScreen {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    & .forgot-password-wrapper {
      background: nb-theme(color-basic-200);
      padding: 30px;
      width: 60%;
      border-radius: 10px;

      @include tabletScreen {
        width: 80%;
        margin-bottom: 30px;
      }

      @include mobileScreen {
        padding: 20px;
        width: 100%;
      }
    }

    & .svg-wrapper {
      display: flex;
      justify-content: space-between;

      & .ever-logo-svg {
        margin-bottom: 40px;
      }
    }


    & .headings-wrapper {
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
      width: 105%;
      margin-left: -2.5%;
      padding-left: 15px;

      @include mobileScreen {
        padding-left: 0;
      }

      & .main-header {
        margin: 0;
        margin-bottom: 15px;

        @include mobileScreen {
          font-size: 22px;
          text-align: center;
        }
      }

      & .misc-desc {
        padding-bottom: 15px;

        @include mobileScreen {
          text-align: center;
        }
      }
    }

    & .form {
      padding-top: 30px;
      border-bottom: 1px solid #ececec;

      & .submit-btn-wrapper {
        display: flex;
        justify-content: flex-end;

        @include mobileScreen {
          justify-content: center;
        }

        & > button {
          margin-top: 30px;
          margin-bottom: 50px;
          padding: 15px 25px;
          background: #fa754e;
          border: 1px solid #fa754e;
          color: white;
        }
      }
    }

    & .links {
      display: flex;
      justify-content: space-between;

      & a {
        color: nb-theme(color-primary-500);
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .faq {
      width: 35%;
      padding: 30px;
      background: rgb(255, 250, 247);
      border-radius: 10px;
      height: auto;
      min-height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tabletScreen {
        width: 70%;
      }

      @include mobileScreen {
        display: none;
      }

      & .faq-heading {
        color: nb-theme(color-primary-500);
        margin-bottom: 20px;
      }

      & .heading-wrapper {
        display: flex;

        & nb-icon {
          margin-right: 10px;
          color: nb-theme(color-primary-500);
        }
      }
    }
  }
}

.theme-switch {
  @include notMobileScreen {
    display: none;
  }
}
