<div>
    <p>Здравствуйте!</p>>
    <p>Мы получили запрос на изменение пароля.</p>
    <p>Если вы просили сбросить пароль<br><br>
        <a href='{{generatedUrl}}'>
            Кликните сюда
        </a>
    <p>
</div>