<nb-card>
	<nb-card-header>
		<div class="header-wrapper">
			<h4> <ngx-header-title> {{ 'ORGANIZATIONS_PAGE.EMPLOYMENT_TYPES' | translate }} </ngx-header-title> </h4>
			<div class="header-wrapper">
				<ga-layout-selector
					[componentName]="viewComponentName"
				></ga-layout-selector>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3">
			<ng-container
				*ngIf="showAddCard; then editableTemplate; else buttonTemplate"
			>
			</ng-container>
			<ng-template #editableTemplate>
				<form [formGroup]="form" *ngIf="form" class="row">
					<div
						class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
					>
						<label class="label">{{
							'ORGANIZATIONS_PAGE.EMPLOYMENT_TYPE_NAME'
								| translate
						}}</label>
						<input
							required
							formControlName="name"
							nbInput
							type="text"
							(keyup)="onKeyEnter($event)"
							[placeholder]="
								'ORGANIZATIONS_PAGE.EMPLOYMENT_TYPE_NAME'
									| translate
							"
							fullWidth
						/>
					</div>
					<div
						class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
					>
						<ga-tags-color-input
							[selectedTags]="tags"
							(selectedTagsEvent)="selectedTagsEvent($event)"
							[isOrgLevel]="true"
						>
						</ga-tags-color-input>
					</div>
					<div
						class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
					>
						<button
							class="w-100 mt-3"
							(click)="submitForm()"
							nbButton
							status="success"
							[disabled]="form.invalid"
						>
							{{ 'BUTTONS.SAVE' | translate }}
						</button>
					</div>
					<div
						class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
					>
						<button
							class="w-100 mt-3"
							(click)="cancel()"
							nbButton
							status="danger"
						>
							{{ 'BUTTONS.CANCEL' | translate }}
						</button>
					</div>
				</form>
			</ng-template>
			<ng-template #buttonTemplate>
				<button (click)="add()" nbButton status="success">
					<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
					{{ 'BUTTONS.ADD' | translate }}
				</button>
			</ng-template>
		</div>

		<div
			*ngIf="
				organizationEmploymentTypes?.length &&
				dataLayoutStyle === 'TABLE'
			"
		>
			<nb-card *ngFor="let employmentType of organizationEmploymentTypes">
				<nb-card-body
					style="
						display: flex;
						align-items: center;
						justify-content: space-between;
						overflow: inherit;
					"
				>
					<ga-notes-with-tags
						[rowData]="employmentType"
						*ngIf="employmentType !== selectedOrgEmpType"
					>
					</ga-notes-with-tags>
					<div
						*ngIf="
							showEditDiv && employmentType === selectedOrgEmpType
						"
						class="row m-0 w-100"
					>
						<div
							class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
						>
							<label class="label">{{
								'ORGANIZATIONS_PAGE.EMPLOYMENT_TYPE_NAME'
									| translate
							}}</label>
							<input
								#editInput="ngModel"
								required
								nbInput
								type="text"
								fullWidth
								[(ngModel)]="employmentType.name"
							/>
						</div>
						<div
							class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
						>
							<ga-tags-color-input
								[selectedTags]="tags"
								(selectedTagsEvent)="selectedTagsEvent($event)"
								[isOrgLevel]="true"
							>
							</ga-tags-color-input>
						</div>
						<div
							class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
						>
							<button
								class="w-100 mt-3"
								(click)="
									editOrgEmpType(
										employmentType.id,
										editInput.value
									)
								"
								nbButton
								status="success"
								[disabled]="editInput.invalid"
							>
								{{ 'BUTTONS.UPDATE' | translate }}
							</button>
						</div>
						<div
							class="col-sm-12 col-md-3 d-flex flex-column justify-content-end"
						>
							<button
								class="w-100 mt-3"
								(click)="cancel()"
								nbButton
								status="danger"
							>
								{{ 'BUTTONS.CANCEL' | translate }}
							</button>
						</div>
					</div>
					<nb-actions
						class="float-right"
						e="medium"
						*ngIf="employmentType !== selectedOrgEmpType"
					>
						<nb-action
							(click)="showEditCard(employmentType)"
							class="d-inline pr-0 pr-2"
							icon="edit"
						></nb-action>
						<nb-action
							(click)="
								deleteEmploymentType(
									employmentType.id,
									employmentType.name
								)
							"
							class="d-inline pr-0 pl-2"
							icon="close"
						></nb-action>
					</nb-actions>
				</nb-card-body>
			</nb-card>
		</div>
		<ga-card-grid
			*ngIf="dataLayoutStyle === 'CARDS_GRID'"
			[settings]="settingsSmartTable"
			[source]="organizationEmploymentTypes"
			[buttonTemplate]="actionButtons"
		></ga-card-grid>
		<ng-template
			#actionButtons
			let-buttonSize="buttonSize"
			let-selectedItem="selectedItem"
		>
			<button
				(click)="gridEdit(selectedItem)"
				nbButton
				status="info"
				class="mr-2"
				[disabled]="!selectedItem"
				[size]="buttonSize || 'medium'"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button
				(click)="
					deleteEmploymentType(selectedItem.id, selectedItem.name)
				"
				nbButton
				status="danger"
				class="mr-2"
				[disabled]="!selectedItem"
				[size]="buttonSize || 'medium'"
			>
				<nb-icon class="mr-1" icon="archive-outline"> </nb-icon>
				{{ 'BUTTONS.DELETE' | translate }}
			</button>
		</ng-template>
	</nb-card-body>
</nb-card>