@import 'apps/gauzy/src/app/pages/expenses/expense-categories/expense-categories.component.scss';


:host {
    nb-tab.content-active {
        padding: 1rem;
    }

    nb-card,
    nb-tab {
        background-color: var(--gauzy-card-2);
    }
}

:host .gauzy-button-container {
    position: absolute;
    @include nb-ltr(right, 16px);
    @include nb-rtl(left, 16px);
    top: 0;
}

nb-accordion-item-header ::ng-deep nb-icon {
    border: 1px solid nb-theme(border-basic-color-4);
    border-radius: nb-theme(input-rectangle-border-radius);
    width: 1.75rem;
    height: 1.75rem;
}

nb-card-body {
    background: none;
}

:host .custom-table.selected {
    box-shadow: -6px 0px 0px 0px rgb(50 50 50 / 25%);
    background: rgba(50, 50, 50, 0.03);
}