<nb-card class="dialog-card" [status]="data.status">
	<nb-card-header class="mb-0">
		<span class="cancel"><i (click)="dismiss()" class="fas fa-times"></i></span>
		<h5 class="title">{{ data.title | translate }}</h5>
	</nb-card-header>
	<nb-card-body>
		{{ data.message | translate }}
	</nb-card-body>
	<nb-card-footer class="text-right mt-0">
		<button nbButton type="button" (click)="dismiss()" outline status="basic">
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button nbButton type="submit" status="success" (click)="confirm()">{{ 'BUTTONS.OK' | translate }}</button>
	</nb-card-footer>
</nb-card>
