@import 'themes';

:host {
  display: block;
  position: relative;
  width: 700px;
  margin: auto;
  overflow: auto;
  .close-button {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 9;
  }
  .screenshot{
    position: relative;
    width: 150px;
    object-fit: cover;
    & .select-hidden{
      display: none;
      position: absolute;
      right: 3px;
      top: 3px;
    }
    &:hover, &:focus {
      & .select-hidden {
        display: flex;
      }
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
    nb-card{
      background-color: var(--gauzy-card-1);
    }
  }
  ::ng-deep {
    .progress-value {
      span {
        display: none;
      }
    }
  }
  .card{
    background-color: var(--gauzy-card-2);
    border-radius: var(--border-radius);
    border: unset;
  }
}
