@import '../../../../@theme/styles/themes.scss';

@include nb-install-component {
	.remove-icon {
		div {
			cursor: pointer;
		}

		padding-left: 7px;
		padding-right: 7px;
		padding-top: 2px;
	}

	.adjust-height {
		::ng-deep .ng-select-container {
			height: auto;
		}
	}

	.item-invalid {
		::ng-deep .ng-select-container {
			border: 1px solid;
			border-color: nb-theme(color-danger-default);
		}
	}

	.item-valid {
		::ng-deep .ng-select-container {
			border: 1px solid;
			border-color: nb-theme(color-success-default);
		}
	}

	.label-with-select {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// Remove drop down arrow from email select
	#emailsSelect {
		::ng-deep {
			.ng-clear-wrapper {
				width: 20px;
			}
			.ng-arrow-wrapper {
				display: none;
			}
		}
	}

	.employee-padding {
		margin-bottom: 50px;
	}
}
