@import 'themes';

:host {
    .inner-wrapper {
        background: rgba(110, 73, 232, 0.1);
        display: flex;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
        padding: 5px 10px 5px 7px;
    }

    .avatar-wrapper {
        width: 100%;
        border-radius: 20px;
    }

    .names-wrapper {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .link-text {
        cursor: pointer;
        text-decoration: none;
        color: #6E49E8;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
    }
    .link-text:hover {
        text-decoration: underline;
    }
    .image-outer-wrapper {
        margin-right: 8px;
    }
    .image-container {
        width: 20px;
        cursor: pointer;
        border-radius: 30px;

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
        //&.lg {
        //    width: 64px;
        //    img {
        //        width: 64px;
        //        height: 64px;
        //    }
        //}
        //&.sm {
        //    width: 32px;
        //    img {
        //        width: 32px;
        //        height: 32px;
        //    }
        //}
    }
}
