:host {
  display: block;
  .link-text {
    cursor: pointer;
    text-decoration: none;
    color: #1e6bb8;
  }
  .link-text:hover {
    text-decoration: underline;
  }
  .image-container {
    width: 48px;
    cursor: pointer;
    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
    &.lg {
      width: 64px;
      img {
        width: 64px;
        height: 64px;
      }
    }
    &.sm {
      width: 32px;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
