<div class="actions-container">
  <div class="transition-container">
    <div
      [ngClass]="
        !isDisable
          ? 'transition show'
          : 'transition hide'
      "
    >
      <span
        [ngClass]="
          !isDisable
            ? 'transition show'
            : 'transition show-button'
        "
      >
        <ng-container
        *ngTemplateOutlet="buttonTemplateVisible"
        ></ng-container>
      </span>
      <ng-container
        *ngTemplateOutlet="buttonTemplate"
      ></ng-container>
    </div>
  </div>
  <ga-layout-selector
    [componentName]="componentName"
  ></ga-layout-selector>
</div>
