@import 'var';

:host .actions-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include nb-rtl(left, 0);
  @include nb-ltr(right, 0);
  padding: 1rem;
}

.action {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  &[nbButton].appearance-filled.status-basic {
    background-color: #ffffff;
  }
  &.info {
    background-color: #0088fe;
  }
  &.secondary {
    color: #7e7e8f;
  }
  &.success{
    color: rgba(37, 184, 105, 1);
  }
  &.warning{
    color: rgba(245, 109, 88, 1);
  }
  &.primary {
    &[nbButton].appearance-filled.status-basic,
    .appearance-filled.status-basic[nbButtonToggle] {
      color: nb-theme(text-primary-color);
    }
  }
  &.select-nb ::ng-deep {
    box-shadow: none;
    .select-button {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
      background: rgba(245, 245, 245);
    }
  }
}

button {
  margin: 5px;
}

.actions {
  background: rgba(50, 50, 50, 0.03);
  border-radius: nb-theme(button-rectangle-border-radius);
  padding: 0 1px;
  margin-right: 20px;
}

.transition-container {
  overflow-x: hidden;
  border-radius: nb-theme(button-rectangle-border-radius);
  span {
    background: rgba(50, 50, 50, 0.03);
    border-radius: nb-theme(button-rectangle-border-radius);
    padding: 0px 1px 0px 1px;
    margin-right: 10px;
  }
}

:host .transition {
  display: flex;
  &.hide {
    @include nb-rtl(transform, translateX(-100%));
    @include nb-ltr(transform, translateX(100%));
    transition: all 0.15s ease-in;
  }
  &.show {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.25s ease-out;
  }
  &.show-button{
    @include nb-rtl(transform, translateX(110%));
    @include nb-ltr(transform, translateX(-110%));
    transition: all 0.15s ease-out;
  }
}
