.tasks-component {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__settings {
    display: flex;
    align-items: center;
  }

  &__setup-btn {
    margin-right: 10px;
  }
}
