<nb-card
	class="card-scroll"
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
>
	<nb-card-header class="card-customer-header">
		<div class="card-header-title">
			<h4>
				<ngx-header-title [allowEmployee]="false">
					<ng-container *ngIf="isTasksPage()">
						{{ 'TASKS_PAGE.HEADER' | translate }}
					</ng-container>
					<ng-container *ngIf="isMyTasksPage()">
						{{ 'TASKS_PAGE.MY_TASK_HEADER' | translate }}
					</ng-container>
					<ng-container *ngIf="isTeamTaskPage()">
						{{ 'TASKS_PAGE.TEAM_TASKS_HEADER' | translate }}
					</ng-container>
				</ngx-header-title>
			</h4>
			<ng-container *ngIf="selectedProject">
				<button
					*ngIf="selectedProject.id !== defaultProject.id"
					size="small"
					nbButton
					(click)="openTasksSettings(selectedProject)"
				>
					<nb-icon icon="settings-2-outline"></nb-icon>
				</button>
			</ng-container>
		</div>
		<div class="tasks-component__settings">
			<div class="gauzy-button-container">
				<ngx-gauzy-button-action
					[buttonTemplateVisible]="visibleButton"
					[isDisable]="disableButton"
					[buttonTemplate]="actionButtons"
					[componentName]="viewComponentName"
				>
				</ngx-gauzy-button-action>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<ng-container [ngSwitch]="viewMode">
			<ng-template [ngSwitchCase]="taskListTypeEnum.GRID">
				<ng-template
					[ngIf]="dataLayoutStyle === componentLayoutStyleEnum.TABLE"
					[ngIfElse]="gridLayout"
				>
					<div class="table-scroll-container">
						<ng2-smart-table
							[settings]="settingsSmartTable"
							[source]="smartTableSource"
							(userRowSelect)="selectTask($event)"
							style="cursor: pointer"
							#tasksTable
						>
						</ng2-smart-table>
					</div>
          <ng-container
						*ngTemplateOutlet="
							paginationTemplate;
							context: {
								pagination: pagination
							}
						"
					>
					</ng-container>
				</ng-template>
				<ng-template #gridLayout>
					<div class="grid-scroll-container">
						<ga-card-grid
							[settings]="settingsSmartTable"
							[source]="availableTasks$ | async"
							[cardSize]="'big'"
							[buttonTemplate]="actionButtons"
						></ga-card-grid>
					</div>
				</ng-template>
			</ng-template>
			<ng-template [ngSwitchCase]="taskListTypeEnum.SPRINT">
				<ga-tasks-sprint-view
					(createTaskEvent)="createTaskDialog()"
					(editTaskEvent)="editTaskDialog($event)"
					(deleteTaskEvent)="deleteTask($event)"
					[project]="selectedProject"
					[tasks]="availableTasks$ | async"
				></ga-tasks-sprint-view>
				<ng-container
					*ngTemplateOutlet="
						paginationTemplate;
						context: {
							pagination: pagination
						}
					"
				>
				</ng-container>
			</ng-template>
		</ng-container>
	</nb-card-body>
</nb-card>

<ng-template #actionButtons let-selectedItem="selectedItem">
	<div class="btn-group actions">
		<button
			nbButton
			status="basic"
			class="action secondary"
			[disabled]="disableButton"
			size="small"
		>
			<nb-icon icon="eye-outline" pack="eva"></nb-icon>
			{{ 'BUTTONS.VIEW' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			(click)="editTaskDialog(selectedItem)"
			[disabled]="!selectedItem && disableButton"
			class="action primary"
			size="small"
		>
			<nb-icon icon="edit-outline"></nb-icon>
			{{ 'BUTTONS.EDIT' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			(click)="duplicateTaskDialog(selectedItem)"
			[disabled]="!selectedItem && disableButton"
			class="action primary"
			size="small"
		>
			<nb-icon icon="copy-outline"></nb-icon>
			{{ 'BUTTONS.DUPLICATE' | translate }}
		</button>
		<button
			nbButton
			status="basic"
			(click)="deleteTask(selectedItem)"
			[disabled]="!selectedItem && disableButton"
			class="action"
			size="small"
		>
			<nb-icon status="danger" icon="trash-2-outline"> </nb-icon>
		</button>
	</div>
</ng-template>

<ng-template #paginationTemplate let-pagination="pagination">
	<div class="pagination-container">
		<ng-container *ngIf="pagination.totalItems > pagination.itemsPerPage">
			<ga-pagination
				(selectedOption)="onUpdateOption($event)"
				(selectedPage)="onPageChange($event)"
				[doEmit]="false"
				[totalItems]="pagination?.totalItems"
				[itemsPerPage]="pagination?.itemsPerPage"
				[activePage]="pagination?.activePage"
			>
			</ga-pagination>
		</ng-container>
	</div>
</ng-template>
<ng-template #visibleButton>
	<button nbButton status="success" (click)="createTaskDialog()" size="small">
		<nb-icon icon="plus-outline"></nb-icon>{{ 'BUTTONS.ADD' | translate }}
	</button>
</ng-template>
