
:host {
    .job-detail {
        letter-spacing: 0em;
        text-align: left;
        .job-header {
            .job-date-created {
                font-weight: 600;
            }
            .job-title {
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                padding-top: 10px;
                color: #000000;
                a {
                    color: #000000 !important;
                }
            }
            // add provider color
            .job-provider {
                &.upwork {
                    color: #14a800;
                }
                &.linkedin {
                    color: #0a66c2;
                }
            }
        }
        .job-body {
            margin-top: 20px;
            .job-description {
                font-size: 14px;
                margin-top: 10px;
                line-height: 17px
            }
        }
        .job-footer {
            .job-search-container, .job-category-container {
                font-size: 14px;
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
