
:host {
    .job-detail {
        letter-spacing: 0em;
        text-align: left;
        .job-header {
            .job-date-created {
                margin-bottom: 10px;
            }
            .job-title {
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
            }
        }
        .job-body {
            margin-top: 20px;
            .job-description {
                font-size: 14px;
                margin-top: 10px;
                line-height: 17px
            }
        }
        .job-footer {
            .job-search-container, .job-category-container {
                font-size: 14px;
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
