<nb-card>
	<nb-card-body *ngIf="employee$ | async as employee" class="employee-card">
		<div class="employee-photo-wrapper">
			<ng-container
				*ngIf="hasEditPermission$ | async; else noPermissionTemp"
			>
				<div class="employee-photo">
					<ngx-image-uploader
						(changeHoverState)="hoverState = $event"
						(uploadedImageUrl)="updateImageUrl($event)"
						(uploadImageError)="handleImageUploadError($event)"
					></ngx-image-uploader>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						width="68"
						height="68"
						viewBox="0 0 68 68"
						[ngStyle]="{
							opacity: hoverState ? '1' : '0.3'
						}"
					>
						<defs>
							<path
								id="a"
								d="M28.667 31.333a2 2 0 1 0-.002-4.001 2 2 0 0 0 .002 4.001m13.333 12H26.748l9.34-7.793c.328-.279.923-.277 1.244-.001l6.001 5.12V42c0 .736-.597 1.333-1.333 1.333M26 24.667h16c.736 0 1.333.597 1.333 1.333v11.152l-4.27-3.643c-1.32-1.122-3.386-1.122-4.694-.008l-9.702 8.096V26c0-.736.597-1.333 1.333-1.333M42 22H26c-2.205 0-4 1.795-4 4v16c0 2.205 1.795 4 4 4h16c2.205 0 4-1.795 4-4V26c0-2.205-1.795-4-4-4"
							/>
						</defs>
						<g fill="none" fill-rule="evenodd">
							<circle
								cx="34"
								cy="34"
								r="34"
								fill="#0091FF"
								opacity=".3"
							/>
							<circle
								cx="34"
								cy="34"
								r="26"
								fill="#0091FF"
								opacity=".9"
							/>
							<use
								fill="#FFF"
								fill-rule="nonzero"
								xlink:href="#a"
							/>
						</g>
					</svg>
					<div
						class="image-overlay"
						[ngStyle]="{
							opacity: hoverState ? '0.2' : '0'
						}"
					></div>

					<img
						*ngIf="employee.user.imageUrl"
						[src]="employee.user.imageUrl"
						alt="{{ 'PUBLIC_PAGE.COMPANY_PROFILE' | translate }}"
						(mouseenter)="hoverState = true"
						(mouseleave)="hoverState = false"
					/>
					<button
						*ngIf="imageUpdateButton"
						class="save_image"
						(click)="saveImage({ imageUrl: imageUrl })"
						status="success"
						nbButton
					>
						{{ 'BUTTONS.UPDATE' | translate }}
					</button>
				</div>
			</ng-container>
			<ng-template #noPermissionTemp>
				<img
					class="org-image"
					[src]="employee.user.imageUrl"
					alt="User Avatar"
				/>
			</ng-template>
			<h4 class="org-name">
				{{ employee.user.name }}
			</h4>
			<span class="org-banner">
				{{ employee.user.email }}
			</span>
			<div>
				{{ employee.short_description }}
			</div>
		</div>
		<nb-tabset class="o__p__s">
			<nb-tab tabTitle="Profile" class="o__p__s__t">
				<div class="employee-profile-item">
					<h5 class="employee-profile-item-title">
						{{ 'MENU.ORGANIZATION' | translate }}:
					</h5>
					<span>
						{{ employee.organization.name }}
					</span>
				</div>
				<div class="employee-profile-item">
					<h5 class="employee-profile-item-title">
						{{ 'PUBLIC_PAGE.ACTIVE' | translate }}:
					</h5>
					<span>
						{{ employee.isActive ? 'Yes' : 'No' }}
					</span>
				</div>
				<div class="employee-profile-item">
					<h5 class="employee-profile-item-title">
						{{ 'PUBLIC_PAGE.STARTED_WORK_ON' | translate }}:
					</h5>
					<span>
						{{ employee.startedWorkOn }}
					</span>
				</div>
				<div class="employee-profile-item">
					<h5 class="employee-profile-item-title">
						{{ 'PUBLIC_PAGE.RATE' | translate }}:
					</h5>
					<span>
						{{ employee.billRateValue }}
						{{ employee.billRateCurrency }}
					</span>
				</div>
			</nb-tab>
			<nb-tab tabTitle="Skills" class="o__p__s__t">
				<ul class="skill-items">
					<li>
						<span class="tag tag-sm">MySQL</span>
					</li>
					<li>
						<span class="tag tag-sm">React</span>
					</li>
					<li>
						<span class="tag tag-sm">AngularJS</span>
					</li>
					<li>
						<span class="tag tag-sm">ASP &amp; ASP.NET</span>
					</li>
					<li>
						<span class="tag tag-sm">jQuery</span>
					</li>
					<li>
						<span class="tag tag-sm">Node.js</span>
					</li>
					<li>
						<span class="tag tag-sm">TypeScript</span>
					</li>
					<li>
						<span class="tag tag-sm">GraphQL</span>
					</li>
				</ul>
			</nb-tab>
			<nb-tab tabTitle="Portfolio" class="o__p__s__t"> </nb-tab>
		</nb-tabset>
	</nb-card-body>
</nb-card>
