@import 'themes';

.options-wrap {
  display: flex;
  min-height: 20px;
}

.d-bottom {
  display: flex;
  align-items: flex-end;
}

.width-100 {
  width: 100%;
}

.row.text-option {
  border-bottom: 1px solid nb-theme(color-basic-300);
}

.text-option {
  font-size: 16px;
  color: nb-theme(color-basic-600);
}

.option-row-icon {
  color: nb-theme(color-basic-300);
}
