.d-bottom {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.options-wrap {
  display: flex;
}

.option-delete {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  nb-icon {
    width: 100%;
    color: #fff;
    padding-bottom: 2px;
  }
}

.option {
  padding: 5px 10px;
  font-size: 12px;
  background: #3366ff;
  border-radius: 7px;
  color: #fff;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text-danger {
  max-width: 100%;
  font-size: 12px;
  margin-top: 5px;
}
//tstodo
ng-select {
  width: 100%;
  z-index: 100;
}

ng-option {
  z-index: 200;
}

.variants-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.width-100 {
  width: 100%;
}

nb-card-body {
  overflow-y: visible;
  height: 100%;
}

nb-card {
  overflow-y: visible;
}

nb-card-footer {
  justify-self: flex-end;
}

.card-container {
  display: flex;
  flex-direction: column;
}

::host {
  height: 100%;
}

.product-container {
  width: 100%;
}
.product-photo {
  width: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;

  div {
    pointer-events: none;
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 3;
    cursor: pointer;
  }

  svg {
    z-index: 2;
    transition: opacity 0.2s ease-in;
    opacity: 0.3;
    position: absolute;
    top: calc(50% - 68px / 2);
    left: calc(50% - 68px / 2);
  }
}
