.main {
	.body {
		width: 505px;
	}

	.close {
		cursor: pointer;
	}

	.notes {
		height: 198px;
	}

	nb-card-header .employees {
		margin-left: 20px;
		padding-left: 20px;
		border-left: 1px solid #edf1f7;

		width: 220px;
	}
}
