.notification {
  margin-top: 18px;
  margin-right: -20px;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(0, 145, 255);
}

.notification:hover {
  cursor: pointer;
}

.exist {
  position: absolute;
  font-size: 8px;
  top: 9px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f10;
}

.bell {
  color: white !important;
  font-size: 18px;
  position: absolute;
  margin-top: 9px;
  margin-left: 9px;
}

.edit-icon {
  margin-left: 30px;
  position: relative;
  width: 36px;

  svg {
    position: absolute;
  }

  nb-icon {
    position: absolute;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
}

.edit-icon {
	margin-left: 30px;
	position: relative;
	width: 36px;

	svg {
		position: absolute;
	}

	nb-icon {
		position: absolute;
	}
}

.org-details {
	.edit-public-page {
		cursor: pointer;
		color: #027ad6;
		padding-top: 3px;
	}
}

.setting-name {
	font-size: 24px;
	font-weight: bold;
}

.body-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

.mutation-card.setting-block {
	background: #eaf3fc;
}

.transparent {
	opacity: 0.7;
}

.settings-body {
	padding: 35px;
}

.sub-header {
	margin-bottom: 20px;
	font-weight: bold;
}

.header-content {
	display: flex;
	.header-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 560px;
		padding-left: 30px;
	}
}
