<nb-card>
	<nb-card-header class="header">
		<div class="btn">
			<button
				nbButton
				status="success"
				*ngIf="!showAddCard"
				(click)="add()"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
				{{ 'BUTTONS.ADD' | translate }}
			</button>
			<ng-container
				*ngIf="
					dataLayoutStyle === 'TABLE' &&
					!showAddCard &&
					educationList?.length
				"
			>
				<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
			</ng-container>
		</div>

		<ga-layout-selector
			*ngIf="!showAddCard"
			componentName="{{ viewComponentName }}"
		></ga-layout-selector>
		<div *ngIf="showAddCard" class="row m-0">
			<form class="col-10" [formGroup]="form" *ngIf="form">
				<div formArrayName="educations">
					<div
						*ngFor="
							let education of form.controls.educations?.controls;
							let i = index
						"
					>
						<div [formGroupName]="i">
							<input
								#addInput
								class="col-5"
								nbInput
								formControlName="schoolName"
								type="text"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.SCHOOL_NAME'
										| translate
								}}"
								fullWidth
							/>
							<input
								#addInput
								class="col-5"
								nbInput
								formControlName="degree"
								type="text"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.DEGREE'
										| translate
								}}"
								fullWidth
							/>
							<input
								#addInput
								class="col-5"
								nbInput
								formControlName="field"
								type="text"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.FIELD_OF_STUDY'
										| translate
								}}"
								fullWidth
							/>
							<input
								readonly
								#addInput
								class="col-5"
								nbInput
								type="text"
								formControlName="completionDate"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.DATE_OF_COMPLETION'
										| translate
								}}"
								fullWidth
								[nbDatepicker]="appliedDatePicker"
							/>
							<nb-datepicker #appliedDatePicker></nb-datepicker>
							<textarea
								class="notes col-5"
								nbInput
								formControlName="notes"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.ADDITIONAL_NOTES'
										| translate
								}}"
							>
							</textarea>
						</div>
					</div>
				</div>
			</form>
			<div class="col-2">
				<span class="col-2 pl-2 pr-0"
					><button
						class="w-100 form-btn"
						(click)="submitForm()"
						nbButton
						status="success"
					>
						{{ 'BUTTONS.SAVE' | translate }}
					</button></span
				>
				<span class="col-2 pl-2 pr-0"
					><button
						class="w-100 form-btn"
						(click)="cancel()"
						nbButton
						status="danger"
					>
						{{ 'BUTTONS.CANCEL' | translate }}
					</button></span
				>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body *ngIf="educationList?.length" class="mt-3">
		<ng2-smart-table
			*ngIf="dataLayoutStyle === 'TABLE'"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectEducation($event)"
			#educationTable
		>
		</ng2-smart-table>
	</nb-card-body>
	<nb-card-body *ngIf="educationList?.length">
		<ga-card-grid
			*ngIf="dataLayoutStyle === 'CARDS_GRID'"
			[settings]="settingsSmartTable"
			[source]="educationList"
			[buttonTemplate]="actionButtons"
		></ga-card-grid>
	</nb-card-body>

	<ng-template
		#actionButtons
		let-buttonSize="buttonSize"
		let-selectedItem="selectedItem"
	>
		<button
			(click)="editEducation(selectedItem)"
			nbButton
			status="info"
			class="mr-2"
			[disabled]="!selectedItem && disableButton"
			[size]="buttonSize || 'medium'"
		>
			<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
			{{ 'BUTTONS.EDIT' | translate }}
		</button>
		<button
			(click)="removeEducation(selectedItem)"
			nbButton
			status="danger"
			class="mr-2"
			[disabled]="!selectedItem && disableButton"
			[size]="buttonSize || 'medium'"
		>
			<nb-icon class="mr-1" icon="archive-outline"> </nb-icon>
			{{ 'BUTTONS.DELETE' | translate }}
		</button>
	</ng-template>
</nb-card>
