<nb-card>
	<nb-card-header>
		<button
			nbButton
			status="success"
			*ngIf="!showAddCard"
			(click)="showAddCard = !showAddCard"
		>
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
		<div *ngIf="showAddCard" class="row m-0">
			<form class="col-10" [formGroup]="form" *ngIf="form">
				<div formArrayName="educations">
					<div
						*ngFor="
							let education of form.controls.educations?.controls;
							let i = index
						"
					>
						<div [formGroupName]="i">
							<input
								#addInput
								class="col-5"
								nbInput
								formControlName="schoolName"
								type="text"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.SCHOOL_NAME'
										| translate
								}}"
								fullWidth
							/>
							<input
								#addInput
								class="col-5"
								nbInput
								formControlName="degree"
								type="text"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.DEGREE'
										| translate
								}}"
								fullWidth
							/>
							<input
								#addInput
								class="col-5"
								nbInput
								formControlName="field"
								type="text"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.FIELD_OF_STUDY'
										| translate
								}}"
								fullWidth
							/>
							<input
								#addInput
								class="col-5"
								nbInput
								type="text"
								formControlName="completionDate"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.DATE_OF_COMPLETION'
										| translate
								}}"
								fullWidth
								[nbDatepicker]="appliedDatePicker"
							/>
							<nb-datepicker #appliedDatePicker></nb-datepicker>
							<textarea
								class="notes col-5"
								nbInput
								formControlName="notes"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_EDUCATION.ADDITIONAL_NOTES'
										| translate
								}}"
							>
							</textarea>
						</div>
					</div>
				</div>
			</form>
			<div class="col-2 ">
				<span class="col-2 pl-2 pr-0"
					><button
						class="w-100 form-btn"
						(click)="addEducation()"
						nbButton
						status="primary"
					>
						{{ 'BUTTONS.ADD' | translate }}
					</button></span
				>
				<span class="col-2 pl-2 pr-0"
					><button
						class="w-100 form-btn"
						(click)="submitForm()"
						nbButton
						status="success"
					>
						{{ 'BUTTONS.SAVE' | translate }}
					</button></span
				>
				<span class="col-2 pl-2 pr-0"
					><button
						class="w-100 form-btn"
						(click)="showAddCard = !showAddCard"
						nbButton
						status="danger"
					>
						{{ 'BUTTONS.CANCEL' | translate }}
					</button></span
				>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body *ngIf="educations?.length">
		<div class="ml-3 mb-4"><strong>Education</strong></div>

		<nb-card *ngFor="let education of educations; let i = index">
			<nb-card-body>
				<span> {{ education.schoolName }}</span>
				<span> {{ education.degree }}</span>
				<div class="row m-0" *ngIf="showEditDiv[i]">
					<input
						#addInput
						class="col-5"
						nbInput
						formControlName="schoolName"
						type="text"
						[value]="education.schoolName"
						fullWidth
					/>
					<input
						#addInput
						class="col-5"
						nbInput
						formControlName="degree"
						type="text"
						[value]="education.degree"
						fullWidth
					/>
					<span class="col-2 pl-2 pr-1">
						<button
							class="w-100"
							(click)="editEducation(editInput.value, i)"
							nbButton
							status="success"
						>
							Update
						</button></span
					>
					<span class="col-2 pl-1 pr-0">
						<button
							class="w-100"
							(click)="cancel(i)"
							nbButton
							status="danger"
						>
							{{ 'BUTTONS.CANCEL' | translate }}
						</button></span
					>
				</div>
				<nb-actions class="float-right" e="medium">
					<nb-action
						(click)="showEditCard(i)"
						class="d-inline pr-0"
						icon="edit"
					></nb-action>
					<nb-action
						(click)="removeEducation(i)"
						class="d-inline pr-0"
						icon="close"
					></nb-action>
				</nb-actions>
			</nb-card-body>
		</nb-card>
	</nb-card-body>
</nb-card>
