<div class="header">
	<div class="row">
		<div class="col">
			<h5 class="mb-3">
				{{
					(!recurringAvailabilityMode
						? 'SCHEDULE.DATE_SPECIFIC_AVAILABILITY'
						: 'SCHEDULE.RECURRING_AVAILABILITY'
					) | translate
				}}
				<nb-icon
					class="ml-2"
					icon="link-2-outline"
					nbTooltip="{{
						(!recurringAvailabilityMode
							? 'SCHEDULE.DATE_SPECIFIC_AVAILABILITY_TOOLTIP'
							: 'SCHEDULE.RECURRING_AVAILABILITY_TOOLTIP'
						) | translate
					}}"
					nbTooltipTrigger="hover"
				>
				</nb-icon>
			</h5>
		</div>
	</div>
</div>

<div class="filters row mb-3">
	<div
		class="employee-select col-sm-3"
		*ngIf="canChangeSelectedEmployee && _selectedOrganizationId"
	>
		<ga-employee-selector
			#employeeSelector
			[skipGlobalChange]="true"
			(selectionChanged)="onEmployeeChange($event)"
			class="employee-selector"
		></ga-employee-selector>
	</div>
</div>

<full-calendar
	*ngIf="!loading"
	#calendar
	[options]="calendarOptions"
></full-calendar>
