<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="main-header">
		<h4>{{ 'EQUIPMENT_SHARING_PAGE.HEADER' | translate }}</h4>
		<ga-layout-selector
			componentName="{{ viewComponentName }}"
		></ga-layout-selector>
	</nb-card-header>

	<nb-card-body>
		<div class="mb-3">
			<button nbButton status="success" class="mr-2" (click)="save()">
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.REQUEST' | translate }}
			</button>
			<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
				<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
			</ng-container>
		</div>

		<ng2-smart-table
			class="tags-table"
			[settings]="settingsSmartTable"
			(userRowSelect)="selectEquipmentSharing($event)"
			[source]="smartTableSource"
			style="cursor: pointer;"
			*ngIf="dataLayoutStyle === 'TABLE'"
			#equipmentSharingTable
		>
		</ng2-smart-table>
		<ul class="flex-container" *ngIf="dataLayoutStyle === 'CARDS_GRID'">
			<li class="flex-item" *ngFor="let x of equipmentsData">
				<div class="info-line">
					<span class="info-meta">Equipment Name</span>
					<span class="info-value">{{ x.equipment.name }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Share request date</span>
					<span class="info-value">{{
						x.shareRequestDay | date
					}}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Share start date</span>
					<span class="info-value">{{ x.shareStartDay | date }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Share end date</span>
					<span class="info-value">{{ x.shareEndDay | date }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Status</span>
					<span class="info-value">{{ x.status }}</span>
				</div>
				<div class="info-line" style="height: 56px;">
					<span class="info-meta">Action</span>
					<div *ngIf="x.status === 1">
						<button
							nbButton
							status="success"
							(click)="approval(x)"
							*ngIf="isApproval"
							class="mr-3"
							[size]="'tiny'"
						>
							{{ 'EQUIPMENT_SHARING_PAGE.APPROVE' | translate }}
						</button>
						<button
							nbButton
							status="danger"
							(click)="refuse(x)"
							*ngIf="isRefuse"
							[size]="'tiny'"
						>
							{{ 'EQUIPMENT_SHARING_PAGE.REFUSE' | translate }}
						</button>
					</div>
				</div>
				<nb-card-footer class="card-footer">
					<ng-container
						*ngTemplateOutlet="
							actionButtons;
							context: {
								buttonSize: 'tiny',
								selectedItem: x
							}
						"
					>
					</ng-container>
				</nb-card-footer>
			</li>
		</ul>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<button
		nbButton
		status="info"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		(click)="save(selectedItem)"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
		{{ 'BUTTONS.EDIT' | translate }}
	</button>
	<button
		nbButton
		status="danger"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		(click)="delete(selectedItem)"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="archive-outline"> </nb-icon>
		{{ 'BUTTONS.DELETE' | translate }}
	</button>
</ng-template>
