<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="d-flex flex-column pb-0">
		<div class="card-header-title">
			<div class="card-header-title">
				<h4>
					<ngx-back-navigation></ngx-back-navigation>
					<ngx-header-title [allowEmployee]="false">
						{{ 'EQUIPMENT_SHARING_PAGE.HEADER' | translate }}
					</ngx-header-title>
				</h4>
			</div>
			<div class="card-header-title">
				<div class="mr-2">
					<button
						nbButton
						outline
						status="primary"
						(click)="manageApprovalPolicy()"
					>
						{{
							'EQUIPMENT_SHARING_PAGE.EQUIPMENT_SHARING_POLICY'
								| translate
						}}
					</button>
				</div>
			</div>
		</div>
		<div class="gauzy-button-container">
			<ngx-gauzy-button-action
				[buttonTemplate]="actionButtons"
				[componentName]="viewComponentName"
				[buttonTemplateVisible]="visibleButton"
				[isDisable]="disableButton"
			>
			</ngx-gauzy-button-action>
		</div>
	</nb-card-header>
	
	<nb-card-body>
		<ng-container *ngIf="dataLayoutStyle === componentLayoutStyleEnum.TABLE">
			<div class="table-scroll-container">
				<ng2-smart-table
					[settings]="settingsSmartTable"
					[source]="smartTableSource"
					(userRowSelect)="selectEquipmentSharing($event)"
					style="cursor: pointer"
					#equipmentSharingTable
				></ng2-smart-table>
			</div>
			<div class="pagination-container">
				<ng-container *ngIf="pagination.totalItems > minItemPerPage">
					<ga-pagination
						(selectedOption)="onUpdateOption($event)"
						(selectedPage)="onPageChange($event)"
						[doEmit]="false"
						[totalItems]="pagination?.totalItems"
						[itemsPerPage]="pagination?.itemsPerPage"
						[activePage]="pagination?.activePage"
					></ga-pagination>
				</ng-container>
			</div>
		</ng-container>
		<ng-container *ngIf="dataLayoutStyle === componentLayoutStyleEnum.CARDS_GRID">
			<ga-card-grid
				[settings]="settingsSmartTable"
				[source]="equipmentsData"
				(selectedOption)="onUpdateOption($event)"
				(selectedPage)="onPageChange($event)"
				(onSelectedItem)="selectEquipmentSharing($event)"
				[doEmit]="false"
				[totalItems]="pagination?.totalItems"
				[itemsPerPage]="pagination?.itemsPerPage"
				[activePage]="pagination?.activePage"
        	></ga-card-grid>
		</ng-container>
	</nb-card-body>
</nb-card>
<ng-template #visibleButton>
	<ng-container *ngxPermissionsOnly="ALL_ORG_EDIT">
		<button
			(click)="save(true)"
			nbButton
			status="success"
			class="action"
			size="small"
		>
			<nb-icon icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>	
	</ng-container>
</ng-template>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<ng-container *ngxPermissionsOnly="ALL_ORG_EDIT">	
		<div class="btn-group actions">
			<button
				nbButton
				outline
				status="success"
				(click)="approval(selectedEquipmentSharing)"
				*ngIf="showApprovedButton(selectedEquipmentSharing)"
				class="action"
				size="small"
			>
				{{ 'EQUIPMENT_SHARING_PAGE.APPROVE' | translate }}
			</button>
			<button
				nbButton
				outline
				status="danger"
				(click)="refuse(selectedEquipmentSharing)"
				*ngIf="showRefuseButton(selectedEquipmentSharing)"
				size="small"
				class="action"
			>
				{{ 'EQUIPMENT_SHARING_PAGE.REFUSE' | translate }}
			</button>
			<button
				(click)="save(false, selectedItem)"	
				nbButton
				status="basic"
				class="action primary"
				size="small"	
				[disabled]="!selectedItem && disableButton"				
			>
				<nb-icon icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.EDIT' | translate }}
			</button>	
			<button
				nbButton
				[disabled]="!selectedItem && disableButton"		
				size="small"
				(click)="delete(selectedItem)"
				status="basic"
				class="action"
				[nbTooltip]="'BUTTONS.DELETE' | translate"
			>
				<nb-icon status="danger" icon="trash-2-outline"></nb-icon>
			</button>		
		</div>
	</ng-container>
</ng-template>
