.main-form {
	width: 100%;
}

.content {
	display: flex;
	padding: 50px 0px;
}

.permission-items-col {
	nb-toggle {
		display: flex;
		::ng-deep .toggle-label {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
		}
	}
}
