<nb-card class="add-criterion-card">
	<nb-card-header>
		<h6>
			{{ 'CANDIDATES_PAGE.CRITERIONS.TECHNOLOGY_STACK' | translate }}
		</h6>
		<div class="row m-0 mt-2">
			<form class="col-8 pl-0" [formGroup]="form" *ngIf="form">
				<div formArrayName="technologies">
					<div
						*ngFor="
							let technology of form.controls.technologies
								?.controls;
							let i = index
						"
					>
						<div [formGroupName]="i">
							<input
								formControlName="name"
								class="col-12"
								nbInput
								type="text"
								placeholder="{{
									'FORM.PLACEHOLDERS.ADD_TECHNOLOGY'
										| translate
								}}"
								fullWidth
							/>
						</div>
					</div>
				</div>
			</form>
			<span class="col-2 pl-2 pr-1"
				><button
					class="w-100"
					nbButton
					status="success"
					(click)="save()"
				>
					{{ 'BUTTONS.SAVE' | translate }}
				</button></span
			>
			<span class="col-2 pl-1 pr-0"
				><button
					class="w-100"
					(click)="cancel()"
					nbButton
					status="danger"
				>
					{{ 'BUTTONS.CANCEL' | translate }}
				</button></span
			>
		</div></nb-card-header
	>
	<nb-card-body class="technologies">
		<div
			class="technologies-card"
			*ngFor="let technology of technologiesList; let i = index"
		>
			<div class="technology">
				<p class="technology-text">{{ technology.name }}</p>
				<div class="technology-buttons">
					<nb-icon
						class="technology-buttons-icons pl-1"
						icon="edit"
						(click)="edit(i, technology.id)"
					></nb-icon
					><nb-icon
						class="technology-buttons-icons pl-1"
						icon="close"
						(click)="remove(technology.id)"
					></nb-icon>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
