<nb-card
	class="tags-component"
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
>
	<nb-card-header>
		<h4>
			{{ 'TAGS_PAGE.HEADER' | translate }}
		</h4>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3">
			<button nbButton status="success" (click)="add()" class="mr-2">
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>
			<button nbButton status="info" (click)="edit()" class="mr-2">
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button nbButton status="danger" (click)="delete()" class="mr-2">
				<nb-icon class="mr-1" icon="archive-outline"> </nb-icon>
				{{ 'BUTTONS.DELETE' | translate }}
			</button>
			<ngx-search-input class="search"></ngx-search-input>
		</div>

		<ng2-smart-table class="tags-table" 
		[settings]="settingsSmartTable"
		[source]="smartTableSource"
		(userRowSelect)="selectTag($event)"
		style="cursor: pointer;"

		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
