<nb-card>
	<nb-card-header>
		<h4>{{ 'EVENT_TYPE_PAGE.MANAGE_EVENT_TYPE' | translate }}</h4>
	</nb-card-header>
	<nb-card-body>
		<ngx-back-navigation class="d-block"></ngx-back-navigation>
		<div class="event-type-form">
			<form [formGroup]="form" *ngIf="form">
				<div class="row">
					<div class="col-9">
						<div class="form-group">
							<label for="title" class="label">{{
								'FORM.LABELS.TITLE' | translate
							}}</label>
							<input
								fullWidth
								id="title"
								type="text"
								nbInput
								formControlName="title"
								placeholder="{{
									'FORM.PLACEHOLDERS.TITLE' | translate
								}}"
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-9">
						<div class="form-group">
							<label for="description" class="label">{{
								'FORM.LABELS.DESCRIPTION' | translate
							}}</label>
							<input
								fullWidth
								id="description"
								type="text"
								nbInput
								formControlName="description"
								placeholder="{{
									'FORM.PLACEHOLDERS.DESCRIPTION' | translate
								}}"
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<input
								placeholder="{{
									'FORM.LABELS.DURATION' | translate
								}}"
								fullWidth
								id="durationInput"
								type="number"
								nbInput
								formControlName="duration"
							/>
						</div>
					</div>
					<div class="col-sm-6">
						<nb-select
							class="d-block"
							[selected]="defaultTimeUnit"
							formControlName="durationUnit"
						>
							<nb-option
								*ngFor="let unit of durationUnits"
								value="{{ unit }}"
							>
								{{ unit }}
							</nb-option>
						</nb-select>
					</div>
				</div>
			</form>
		</div>
	</nb-card-body>
	<nb-card-footer>
		<button status="success" nbButton (click)="onSaveRequest()">
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
