@import "./themes";

::-webkit-scrollbar {
  width: nb-theme(scrollbar-width);
}
::-webkit-scrollbar-track {
  background: nb-theme(scrollbar-background-color);
}
::-webkit-scrollbar-thumb {
  background: nb-theme(scrollbar-color);
  border-radius: 0.15625rem;
}
body {
  -ms-overflow-style: none;
}

@mixin nb-overrides() {
  // overrides bootstrap svg style
  nb-icon svg {
    vertical-align: top;
  }

  nb-auth-block .links nb-icon {
    font-size: 2.5rem;
  }

  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  nb-flip-card {
    .front-container {
      -webkit-backface-visibility: visible;
    }
    .back-container {
      -webkit-backface-visibility: hidden;
    }

    .flipped {
      .front-container {
        -webkit-backface-visibility: hidden;
      }
      .back-container {
        -webkit-backface-visibility: visible;
      }
    }
  }

  nb-layout {
    .scrollable-container {
      overflow-y: auto !important;
    }
  }

  nb-layout .layout .layout-container nb-sidebar {
    &,
    .main-container-fixed {
      top: nb-theme(header-height);
    }
  }

  //Override padding from 1.25rem to 0.5rem
  nb-layout .layout .layout-container .content nb-layout-footer nav {
    padding: 0.5rem;
  }

  nb-sidebar {
    nb-menu {
      .menu-items {
        &::-webkit-scrollbar {
          width: nb-theme(scrollbar-width);
        }
        &::-webkit-scrollbar-track {
          background: nb-theme(scrollbar-background-color);
        }
        &::-webkit-scrollbar-thumb {
          background: nb-theme(scrollbar-color);
          border-radius: 0.15625rem;
        }
      }
    }
  }

  .ng-dropdown-panel {
    .scroll-host {
      &::-webkit-scrollbar {
        width: nb-theme(scrollbar-width);
      }
      &::-webkit-scrollbar-track {
        background: nb-theme(scrollbar-background-color);
      }
      &::-webkit-scrollbar-thumb {
        background: nb-theme(scrollbar-color);
        border-radius: 0.15625rem;
      }
    }
  }

  .card-scroll {
    height: calc(100vh - 220px);
    min-height: auto !important;
    nb-card {
      height: auto !important;
      min-height: auto !important;
      nb-card-body {
        overflow: hidden;
        height: 100%;
      }
    }
  }
  .dashboard-card-scroll {
    height: calc(100vh - 270px);
    min-height: auto !important;
    nb-card {
      height: auto !important;
      min-height: auto !important;
      nb-card-body {
        overflow: hidden;
        height: 100%;
      }
    }
  }

  @media screen and (min-width: nb-theme(layout-window-mode-max-width) + 20px) {
    @include f-window-mode(nb-theme(layout-window-mode-padding-top) / 4);
  }

  @media screen and (min-width: nb-theme(layout-window-mode-max-width) + 150px) {
    @include f-window-mode(nb-theme(layout-window-mode-padding-top) / 2);
  }

  @media screen and (min-width: nb-theme(layout-window-mode-max-width) + 300px) {
    @include f-window-mode(nb-theme(layout-window-mode-padding-top));
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background: nb-theme(background-basic-color-1);
    color: nb-theme(text-basic-color);
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;
    transition-duration: 0.15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.5rem;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    color: nb-theme(text-primary-hover-color);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-marked {
    color: nb-theme(text-primary-active-color);
    background: nb-theme(background-basic-color-3);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-selected {
    color: nb-theme(text-primary-active-color);
    background: nb-theme(background-basic-color-3);
  }

  .ng-value-container .ng-input input {
    background-color: nb-theme(background-basic-color-1);
    color: nb-theme(text-basic-color);
  }

  .ng-dropdown-panel {
    border-bottom-left-radius: nb-theme(border-radius);
    border-bottom-right-radius: nb-theme(border-radius);
    box-shadow: nb-theme(shadow);
    transform: translateY(1px);
    border-color: nb-theme(color-primary-transparent-active-border);
    border-width: 1px;
    border-style: solid;
  }

  .ng-select .ng-select-container {
    background-color: nb-theme(background-basic-color-1) !important;
    color: nb-theme(text-basic-color) !important;
  }

  .setting-block {
    background-color: nb-theme(background-basic-color-2) !important;
    color: nb-theme(text-basic-color) !important;
  }
  .info-block-wrapper {
    background-color: nb-theme(background-basic-color-2) !important;
    color: nb-theme(text-basic-color) !important;
  }
  .info-block-wrapper .info-block--highlight {
    background: nb-theme(background-basic-color-3) !important;
  }
  .info-text {
    color: nb-theme(text-basic-color) !important;
  }
  a > nb-icon {
    color: nb-theme(text-basic-color) !important;
  }
  .records {
    box-shadow: 0px 0px 16px 9px nb-theme(shadow) !important;
    background: nb-theme(background-basic-color-1) !important;
  }
  .profit-history {
    box-shadow: 0px 0px 16px 9px nb-theme(shadow) !important;
    background: nb-theme(background-basic-color-1) !important;
  }
  tr {
    background-color: nb-theme(background-basic-color-1) !important;
  }
  .table {
    color: nb-theme(text-basic-color) !important;
  }
}

@mixin f-window-mode($padding-top) {
  nb-layout.window-mode nb-layout-header.fixed {
    top: $padding-top;
  }

  nb-sidebar .main-container-fixed {
    height: calc(100vh - #{nb-theme(header-height)} - #{$padding-top}) !important;
    top: calc(#{nb-theme(header-height)} + #{$padding-top}) !important;
  }
}

ng2-smart-table tbody tr {
  &:hover,
  &.selected {
    background-color: nb-theme(background-basic-color-3) !important;
  }
}

nb-card-header {
  &.card-header-title,
  .card-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

nb-card-body {
	.pagination-container {
		display: flex;
		justify-content: center;
	}
}

// ng smart table scroll container
.table-scroll-container, .grid-scroll-container {
	overflow-y: auto;
  max-height: calc(70vh - 100px);
	table thead {
		position: sticky;
		z-index: 100;
		height: 100%;
		top: -1px;
	}

	table thead th {
		border-top: none !important;
		border-bottom: none !important;
		box-shadow: inset 0 0.5px 0 #edf1f7, inset 0 -0.9px 0 #edf1f7;
	}

	table tbody:nth-of-type(1) tr:nth-of-type(1) td {
		border-top: none !important;
	}
  .nb-theme-default ng2-smart-table thead tr:first-child {
    border-top: 1px solid#edf1f7 !important;
	}
  table tbody:first-of-type tr:first-child {
    border-top: 1px solid #edf1f7 !important;
  }
}