@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:600i&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';


// loading progress bar theme
@import './pace.theme';

@import './overrides';
@import './site-menu.scss';

// install ng-select default theme
@import "~@ng-select/ng-select/themes/default.theme.css";

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

  //override ng-select colors
.ng-select.ng-select-opened>.ng-select-container {
  background: nb-theme(background-basic-color-2);
  border-color: nb-theme(border-basic-color-1)
}

.ng-select .ng-clear-wrapper {
  color: nb-theme(text-basic-color);
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
  color: nb-theme(text-basic-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup  {
  color: nb-theme(text-basic-color);
}

.ng-select .ng-select-container {
  background-color: nb-theme(background-basic-color-2);
  border: 1px solid nb-theme(border-basic-color-3);
  color: nb-theme(text-basic-color);
}

.ng-select.ng-select-focused .ng-select-container {
  border-color: nb-theme(text-primary-focus-color);
  box-shadow: 0 0 0 0.375rem nb-theme(outline-color) !important;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background: nb-theme(background-basic-color-1);
  color: nb-theme(text-basic-color);
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: nb-theme(text-hint-color);
}

.ng-select .ng-select-container:hover {
border: 1px solid  nb-theme(text-primary-hover-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option  {
  background: nb-theme(background-basic-color-1);
  color: nb-theme(text-basic-color);
}

.ng-dropdown-panel {
  border-color: nb-theme(text-primary-focus-color);
  box-shadow: 0 0 nb-theme(outline-width) ng-theme(outline-color);
}

};


