// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// material themes
@import './material/material-dark';
@import './material/material-light';
// Google Inter font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$nb-themes: nb-register-theme(
  (
    font-family-secondary: font-family-primary,
    layout-padding-top: 2.25rem,
    layout-window-mode-padding-top: 0,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    gauzy-text-contact: #323232,
    accordion-padding: 0.625rem,
    actions-divider-style: none,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem,
    sidebar-padding: 0.625rem,
    gauzy-card-1: rgba(255, 255, 255, 1),
    gauzy-card-2: rgba(50, 50, 50, 0.03),
    gauzy-input-background: rgba(255, 255, 255, 1),
    gauzy-sidebar-background-1: #ebebeb,
    gauzy-sidebar-background-2: rgba(251, 251, 251, 1),
    accordion-item-background-color: #fbfbfb
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    font-family-secondary: font-family-primary,
    layout-padding-top: 2.25rem,
    layout-window-mode-padding-top: 0,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
    accordion-padding: 0.625rem,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem,
    sidebar-padding: 0.625rem,
    gauzy-card-2: rgba(41, 41, 51, 1),
    gauzy-card-1: rgba(32, 32, 35, 1),
    gauzy-input-background: rgba(255, 255, 255, 0.15),
    gauzy-sidebar-background-1: #ebebeb,
    gauzy-sidebar-background-2: rgba(251, 251, 251, 1),
    accordion-item-background-color: #fbfbfb
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    font-family-secondary: font-family-primary,
    layout-padding-top: 2.25rem,
    layout-window-mode-padding-top: 0,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    accordion-padding: 0.625rem,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem,
    sidebar-padding: 0.625rem,
    gauzy-card-1: rgba(255, 255, 255, 1),
    gauzy-card-2: rgba(50, 50, 50, 0.03),
    gauzy-input-background: rgba(255, 255, 255, 1)
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    font-family-secondary: font-family-primary,
    layout-padding-top: 2.25rem,
    layout-window-mode-padding-top: 0,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    gauzy-text-contact: #eeeeee,
    accordion-padding: 0.625rem,
    actions-divider-style: none,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem,
    sidebar-padding: 0.625rem,
    gauzy-card-2: rgba(41, 41, 51, 1),
    gauzy-card-1: rgba(32, 32, 35, 1),
    gauzy-input-background: rgba(255, 255, 255, 0.15),
    gauzy-sidebar-background-1: #181818,
    gauzy-sidebar-background-2: rgba(38, 38, 46, 1),
    accordion-item-background-color: rgba(255, 255, 255, 0.05)
  ),
  dark,
  dark
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    option-list-border-radius: 0,
    slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
    slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,
    accordion-padding: 0.625rem,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem
  ),
  material-light,
  material-light
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    option-list-border-radius: 0,
    slide-out-background: linear-gradient(270deg, #1f1f1f 0%, #292929 100%),
    slide-out-shadow-color: 0 4px 14px 0 #292929,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #292929,
    accordion-padding: 0.625rem,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem
  ),
  material-dark,
  material-dark
);

$nb-themes: nb-register-theme(
  (
    // Status colors: primary, success, info, warning, danger - for colored elements (buttons, etc)
    color-primary-100: #f2f6ff,
    color-primary-200: #dbd3f7,
    color-primary-300: #ab92fd,
    color-primary-400: #7d56fd,
    color-primary-500: #6e49e8,
    color-primary-600: #5037a3,
    color-primary-700: #3d2a7a,
    color-primary-800: #291d52,
    color-primary-900: #1a1038,
    color-primary-transparent-100: rgba(110, 73, 232, 0.05),
    // Basic colors: background
    layout-background-color: #ffffff,
    background-basic-color-3: #f9f9f9,
    // Supporting variables - border radius, outline, shadow, divider
    border-radius: 0.5rem,
    outline-width: 0.375rem,
    outline-color: color-basic-transparent-200,
    scrollbar-color: background-basic-color-4,
    scrollbar-background-color: background-basic-color-2,
    button-rectangle-border-radius: 2rem,
    scrollbar-width: 0.3125rem,
    shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    divider-color: border-basic-color-3,
    checkbox-border-radius: 1rem,
    divider-style: solid,
    divider-width: 1px,
    tabset-tab-active-underline-color: background-basic-color-1,
    tabset-tab-active-background-color: rgb(249, 249, 249),
    card-background-color: rgb(249, 249, 249),
    tabset-border-radius: 0.5rem,
    select-rectangle-border-radius: 2rem,
    tabset-tab-hover-underline-color: background-basic-color-1,
    tabset-tab-focus-underline-color: background-basic-color-1,
    tabset-tab-text-transform: capitalize,
    button-filled-text-transform: none,
    font-family-primary: unquote('Inter, sans-serif'),
    font-family-secondary: unquote('Inter, sans-serif'),
    button-outline-text-transform: none,
    gauzy-text-contact: #323232,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem,
    toggle-height: 1.5rem,
    toggle-switcher-size: 1.4rem,
    toggle-switcher-icon-size: 0,
    header-shadow: none,
    card-border-style: none,
    tabset-divider-style: none,
    route-tabset-divider-style: none,
    tabset-divider-width: 0,
    route-tabset-divider-width: 0,
    route-tabset-tab-underline-width: 0,
    footer-shadow: none,
    footer-divider-style: none,
    sidebar-shadow: none
  ),
  gauzy-light,
  default
);

$nb-themes: nb-register-theme(
  (
    // Status colors: primary, success, info, warning, danger - for colored elements (buttons, etc)
    color-primary-100: #f2f6ff,
    color-primary-200: #dbd3f7,
    color-primary-300: #ab92fd,
    color-primary-400: #7d56fd,
    color-primary-500: #6e49e8,
    color-primary-600: #5037a3,
    color-primary-700: #3d2a7a,
    color-primary-800: #291d52,
    color-primary-900: #1a1038,
    color-primary-transparent-100: rgba(110, 73, 232, 0.05),
    // Supporting variables - border radius, outline, shadow, divider
    border-radius: 0.5rem,
    outline-width: 0.375rem,
    outline-color: color-basic-transparent-200,
    scrollbar-color: background-basic-color-4,
    scrollbar-background-color: background-basic-color-2,
    scrollbar-width: 0.3125rem,
    shadow: rgba(0, 0, 0, 0.733) 0px 4px 8px -2px,
    divider-color: border-basic-color-3,
    button-rectangle-border-radius: 2rem,
    checkbox-border-radius: 1rem,
    divider-style: solid,
    divider-width: 1px,
    tabset-tab-active-underline-color: background-basic-color-1,
    tabset-border-radius: 0.5rem,
    select-rectangle-border-radius: 2rem,
    tabset-tab-hover-underline-color: background-basic-color-1,
    tabset-tab-focus-underline-color: background-basic-color-1,
    tabset-tab-text-transform: capitalize,
    button-filled-text-transform: none,
    font-family-primary: unquote('Inter, sans-serif'),
    font-family-secondary: unquote('Inter, sans-serif'),
    button-outline-text-transform: none,
    button-filled-medium-padding: 0.4375rem 0.875rem,
    button-outline-medium-padding: 0.4375rem 0.875rem,
    toggle-height: 1.5rem,
    toggle-switcher-size: 1.4rem,
    toggle-switcher-icon-size: 0,
    header-shadow: none,
    card-border-style: none,
    tabset-divider-style: none,
    route-tabset-divider-style: none,
    tabset-divider-width: 0,
    route-tabset-divider-width: 0,
    route-tabset-tab-underline-width: 0,
    footer-shadow: none,
    footer-divider-style: none,
    sidebar-shadow: none,
    layout-background-color: gauzy-card-1,
    footer-background-color: gauzy-card-1,
    header-background-color: gauzy-card-1
  ),
  gauzy-dark,
  dark
);
