<nb-card class="public-link-dialog">
	<nb-card-header>
		<h5 class="title">
			{{ 'INVOICES_PAGE.PUBLIC_LINK.HEADER' | translate }}
		</h5>
		<button type="button" class="cancel" [attr.aria-label]="'BUTTONS.CLOSE' | translate" (click)="close()">
			<i class="fas fa-times" aria-hidden="true"></i>
		</button>
	</nb-card-header>
	<nb-card-body>
		<p class="hint">
			{{
				'INVOICES_PAGE.PUBLIC_LINK.ACCESS'
					| translate
						: {
								text: invoice.isEstimate ? 'estimate' : 'invoice'
						  }
			}}
		</p>
		<label for="publicLink" class="label">
			{{ 'FORM.LABELS.PUBLIC_LINK' | translate }}
		</label>
		<input id="publicLink" [ngModel]="publicLink" readonly nbInput fullWidth #inputTarget />
	</nb-card-body>
	<nb-card-footer class="text-left">
		<button nbButton ghost status="basic" size="small" (click)="close()" type="button">
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button
			[ngxClipboard]="inputTarget"
			status="success"
			nbButton
			size="small"
			type="button"
			[disabled]="isCopied"
			(click)="copyLink()"
			[nbTooltip]="'INVOICES_PAGE.PUBLIC_LINK.COPY_TO_CLIPBOARD_TOOLTIP' | translate"
		>
			<nb-icon [icon]="isCopied ? 'checkmark-outline' : 'copy-outline'"></nb-icon>
			{{ isCopied ? ('BUTTONS.COPIED' | translate) : ('BUTTONS.COPY_LINK' | translate) }}
		</button>
	</nb-card-footer>
</nb-card>
