<nb-card class="jobs-page">
	<nb-card-header class="header">
		<h4>
			{{
				'JOB_MATCHING.CONFIGURE_EMPLOYEES_TO_JOBS_MATCHING' | translate
			}}
		</h4>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group row">
					<label class="col-sm-4">Source</label>
					<nb-select
						placeholder="Source"
						class="w-100 col-sm-8"
						formControlName="jobSource"
					>
						<nb-option
							*ngFor="let source of JobPostSourceEnum | keyvalue"
							[value]="source.value"
						>
							{{ source.value | titlecase }}</nb-option
						>
					</nb-select>
				</div>

				<div class="row form-group">
					<label class="d-block col-sm-4">Preset</label>
					<nb-select
						placeholder="Source"
						class="w-100 col-sm-8"
						formControlName="jobSource"
					>
						<nb-option
							*ngFor="let preset of presets"
							[value]="preset.value"
						>
							{{ preset.value | titlecase }}</nb-option
						>
					</nb-select>
				</div>
			</div>
		</div>

		<div class="row align-items-center my-3">
			<h6 class="col m-0">Criterions</h6>
			<div class="col-auto">
				<button nbButton status="primary" (click)="addEditCriterion()">
					<nb-icon icon="plus-outline"></nb-icon>Add New
				</button>
			</div>
		</div>
		<div
			class="criterions-list"
			*ngFor="let criterion of criterions; let index = index"
		>
			<form #form (ngSubmit)="addEditCriterion(criterion)">
				<div class="row">
					<div class="col-auto">
						<h6>{{ index + 1 }}</h6>
					</div>
					<div class="col-sm">
						<div class="form-group">
							<label class="d-block">Keywords</label>
							<ng-select
								[addTag]="createNewKeyword"
								[(ngModel)]="criterion.keywords"
								[clearable]="true"
								[items]="keywords"
								placeholder="Select Keywords"
							>
							</ng-select>
						</div>
						<div class="form-group">
							<label class="d-block">Categories</label>
							<ng-select
								[addTag]="createNewCategories"
								[(ngModel)]="criterion.categories"
								[clearable]="true"
								[items]="categories"
								placeholder="Select Categories"
							>
							</ng-select>
						</div>
						<div class="form-group">
							<label class="d-block">Occupations</label>
							<ng-select
								[addTag]="createNewOccupations"
								[(ngModel)]="criterion.occupations"
								[clearable]="true"
								[items]="occupations"
								placeholder="Select Occupations"
							>
							</ng-select>
						</div>

						<div class="row">
							<div class="col-sm">
								<div class="row">
									<div class="col-sm-4">
										<nb-checkbox
											[(ngModel)]="criterion.fixPrice"
											>Fix Price</nb-checkbox
										>
									</div>
									<div class="col-sm-4">
										<nb-checkbox
											[(ngModel)]="criterion.hourly"
											>Hourly</nb-checkbox
										>
									</div>
								</div>
							</div>

							<div class="col-auto">
								<button type="submit" nbButton status="success">
									<nb-icon icon="trash-save"></nb-icon>
									Save
								</button>
								<button
									nbButton
									status="danger"
									type="button"
									(click)="deleteCriterions(criterion)"
								>
									<nb-icon icon="trash-outline"></nb-icon>
									Delete
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</nb-card-body>
</nb-card>
