<div>
    <h3>Добре дошли в Gauzy™ </h3>
    <p>Уважаеми {{email}},</p>
    <p>Благодарим за Вашата регистрация в Gauzy™ - Платформа за споделяне на печалби с отворен код</p>
    <p>Радваме се да Ви приветстваме на борда!</p>
    <p>С най-добри пожелания,</p>
    <p>Екипът на Gauzy™</p>
</div>