<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="header-selector-wrapper">
		<ngx-back-navigation class="d-block navigation"></ngx-back-navigation>
		<div class="header-title">
			<h4>
				{{ 'INVITE_PAGE.' + invitationType + '.MANAGE' | translate }}
				{{ organizationName }}
			</h4>
			<ga-layout-selector
				componentName="{{ viewComponentName }}"
			></ga-layout-selector>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div *ngIf="hasInviteEditPermission" class="mb-3">
			<button nbButton status="primary" (click)="invite()" class="mr-2">
				<nb-icon class="mr-1" icon="email-outline"></nb-icon
				>{{ 'BUTTONS.INVITE' | translate }}
			</button>
			<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
				<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
			</ng-container>
		</div>
		<ng2-smart-table
			*ngIf="dataLayoutStyle === 'TABLE'"
			class="employees-table"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectEmployeeTmp($event)"
			#employeesTable
		>
		</ng2-smart-table>
		<ga-card-grid
			[settings]="settingsSmartTable"
			[source]="manageInvites"
			*ngIf="dataLayoutStyle === 'CARDS_GRID'"
			[buttonTemplate]="actionButtons"
		></ga-card-grid>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		status="success"
		(click)="copyToClipboard(selectedItem)"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="link-2-outline"></nb-icon
		>{{ 'BUTTONS.COPY_LINK' | translate }}
	</button>

	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		status="warning"
		(click)="resendInvite(selectedItem)"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="flip-2-outline"></nb-icon
		>{{ 'BUTTONS.RESEND' | translate }}
	</button>

	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		status="danger"
		(click)="deleteInvite(selectedItem)"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="trash-2-outline"></nb-icon
		>{{ 'BUTTONS.DELETE' | translate }}
	</button>
</ng-template>
