<nb-card>
	<nb-card-header>
		<button *ngIf="!showAddCard" (click)="add()" nbButton status="success">
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
		<button
			class="ml-2"
			*ngIf="!showAddCard"
			(click)="invite()"
			nbButton
			status="primary"
		>
			<nb-icon class="mr-1" icon="email-outline"></nb-icon
			>{{ 'BUTTONS.INVITE' | translate }}
		</button>
		<ga-edit-organization-clients-mutation
			*ngIf="showAddCard"
			[employees]="employees"
			[organizationId]="organizationId"
			[client]="clientToEdit"
			[projectsWithoutClients]="projectsWithoutClients"
			(canceled)="cancel()"
			(addOrEditClient)="addOrEditClient($event)"
		>
		</ga-edit-organization-clients-mutation>
	</nb-card-header>

	<nb-card-body class="client-list" *ngIf="clients?.length">
		<ga-entity-with-members-card
			*ngFor="let c of clients"
			[entityWithMembers]="c"
			(remove)="removeClient(c.id, c.name)"
			(edit)="editClient(c)"
			class="member-card"
		>
			<div class="client-info">
				<div>
					<!-- <button
						size="tiny"
						class="ml-2"
						*ngIf="!showAddCard"
						(click)="invite()"
						nbButton
						status="primary"
					>
						<nb-icon class="mr-1" icon="email-outline"></nb-icon
						>{{ 'BUTTONS.INVITE' | translate }}
					</button> -->
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{
							'ORGANIZATIONS_PAGE.EDIT.PRIMARY_EMAIL' | translate
						}}
					</div>
					<div class="info-value">{{ c.primaryEmail }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.PHONE' | translate }}
					</div>
					<div class="info-value">{{ c.primaryPhone }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.COUNTRY' | translate }}
					</div>
					<div class="info-value">{{ c.country }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.CITY' | translate }}
					</div>
					<div class="info-value">{{ c.city }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.STREET' | translate }}
					</div>
					<div class="info-value">{{ c.street }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.PROJECTS' | translate }}
					</div>
					<div class="info-value">
						<div
							class="info-list-item"
							*ngFor="let p of c.projects"
						>
							{{ p.name }}
						</div>
					</div>
				</div>
			</div>
		</ga-entity-with-members-card>
	</nb-card-body>
</nb-card>
