.body {
	width: 550px;
}
.description {
	margin-top: 10px;
	height: 198px;
}

.name-input {
	min-width: 100%;
}

.estimate-inputs {
	display: flex;
	justify-content: space-between;

	input {
		width: 30%;
		padding: 0.4rem !important;
	}
}
nb-radio {
	display: inline-block;
}
