@import 'report';
@import 'gauzy/_gauzy-overrides';

:host {
  .filters {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
  ::ng-deep {
    ng-select {
      min-width: 10rem;
    }
    @include ng-select-overrides(
      2rem,
      $default-button-radius,
      $default-box-shadow
    );
  }
}
