<nb-card>
	<nb-card-header class="header">
		<div class="header">
			<h4>
				<ngx-header-title [allowEmployee]="false">
					<ngx-back-navigation></ngx-back-navigation>
					{{ 'CANDIDATES_PAGE.MANAGE_INTERVIEWS.MANAGE_INTERVIEWS' | translate }}
				</ngx-header-title>
			</h4>
		</div>
		<div>
			<button nbButton status="primary" (click)="add()">
				<nb-icon icon="plus-outline"></nb-icon>
				{{
					'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.ADD_INTERVIEW'
						| translate
				}}
			</button>
		</div>
	</nb-card-header>
	<nb-card-body>
		<nb-route-tabset [tabs]="tabs" fullWidth></nb-route-tabset>
	</nb-card-body>
</nb-card>
