.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.multi-select {
  width: 15rem;
}

.buttons {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
