<div class="row">
	<div class="col-12">
		<div class="form-group">
			<label>{{ 'TIMER_TRACKER.DATE' | translate }}</label>
			<input
				type="text"
				class="form-control"
				autocomplete="off"
				name="date"
				[(ngModel)]="date"
				[nbDatepicker]="datepicker"
				placeholder="YYYY-MM-DD"
				#dateModel="ngModel"
			/>
			<nb-datepicker
				[max]="maxDate"
				(dateChange)="updateTimePickerLimit($event)"
				#datepicker
			></nb-datepicker>
		</div>
	</div>
	<div class="col">
		<div class="form-group">
			<label>{{ 'TIMER_TRACKER.START_TIME' | translate }}</label>
			<ga-timer-picker
				name="start_time"
				[min]="minSlotStartTime"
				[max]="maxSlotStartTime"
				(change)="updateEndTimeSlot($event)"
				[(ngModel)]="startTime"
				#startTimeModel="ngModel"
			></ga-timer-picker>
			<!-- <input type="text" class="form-control" autocomplete="off" name="start_time" [(ngModel)]="manualTime.startTime" placeholder="00:00"> -->
		</div>
	</div>
	<div class="col">
		<div class="form-group">
			<label>{{ 'TIMER_TRACKER.END_TIME' | translate }}</label>
			<ga-timer-picker
				name="end_time"
				[min]="minSlotEndTime"
				[max]="maxSlotEndTime"
				[(ngModel)]="endTime"
				#endTimeModel="ngModel"
			></ga-timer-picker>
			<!-- <input type="text" class="form-control" autocomplete="off" name="end_time" [(ngModel)]="manualTime.endTime" placeholder="01:00"> -->
		</div>
	</div>
</div>
