//@import 'themes';

// @include nb-install-component() {

// }

// .income-component {
//   .add-button {
//     height: 40px;
//     padding: 0;
//     width: 84px;
//     display: flex;
//     align-items: center;
//   }

//   .btn-container {
//     display: flex;
//     justify-content: space-between;
//     width: 20rem;
//     padding-bottom: 1rem;
//     margin-left: 1rem;
//   }
// }

.header-selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
