<nb-card>
  <nb-card-header>
    <h4>Income</h4>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" *ngIf="form">
      <div class="row mb-3">
        <div class="col">
          <input
            formControlName="date"
            nbInput
            placeholder="Pick Date"
            [nbDatepicker]="formpicker"
            [ngClass]="{
              'status-danger': date.invalid && (date.dirty || date.touched),
              'status-success': date.valid && (date.dirty || date.touched)
            }"
          />
          <nb-datepicker #formpicker></nb-datepicker>
        </div>
        <div class="col">
          <input
            formControlName="clientName"
            type="text"
            nbInput
            placeholder="Income Type"
            [ngClass]="{
              'status-danger':
              clientName.invalid && (clientName.dirty || clientName.touched),
              'status-success': clientName.valid && (clientName.dirty || clientName.touched)
            }"
          />
        </div>
        <div class="col">
          <input
            formControlName="amount"
            type="number"
            step="0.1"
            nbInput
            placeholder="Value"
            [ngClass]="{
              'status-danger':
                amount.invalid && (amount.dirty || amount.touched),
              'status-success': amount.valid && (amount.dirty || amount.touched)
            }"
          />
        </div>
        <div class="col">
          <button [disabled]="form.invalid" nbButton status="success" (click)="addIncome()" class="mr-2">
            <nb-icon class="mr-1" icon="plus-outline"></nb-icon>Add
          </button>
        </div>
      </div>
    </form>

    <ng2-smart-table
      class="income-table"
      [settings]="smartTableSettings"
      [source]="sourceSmartTable"
      (userRowSelect)="selectEmployeeTmp($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
