// @import '../../../app/@theme/styles/styles.scss';

// @include nb-install-component() {

// }

.income-component {
    .add-button {
        height: 40px;
        padding: 0;
        width: 84px;
        display: flex;
        align-items: center;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        width: 20rem;
        padding-bottom: 1rem;
    }
}

