<nb-card class="income-component">
  <nb-card-header>
    <h4>Income</h4>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="hasRole; else noRole">
      <form [formGroup]="form" *ngIf="form">
        <div class="row mb-3">
          <div class="col">
            <input
              formControlName="valueDate"
              nbInput
              placeholder="Pick Date"
              [nbDatepicker]="formpicker"
              [ngClass]="{
                'status-danger':
                  valueDate.invalid && (valueDate.dirty || valueDate.touched),
                'status-success':
                  valueDate.valid && (valueDate.dirty || valueDate.touched)
              }"
            />
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
          <div class="col">
            <ng-select
              [items]="fakeClients"
              bindLabel="clientName"
              [searchable]="false"
              formControlName="client"
              placeholder="All Clients"
            >
            </ng-select>
          </div>
          <div class="col">
            <input
              formControlName="amount"
              type="number"
              step="1"
              nbInput
              placeholder="Value"
              [ngClass]="{
                'status-danger':
                  amount?.invalid && (amount.dirty || amount.touched),
                'status-success':
                  amount?.valid && (amount.dirty || amount.touched)
              }"
            />
          </div>
          <div class="col">
            <div class="btn-container">

              <button
                [hidden]="selectedIncome ? selectedIncome.isSelected : false"
                [disabled]="form.invalid"
                nbButton
                status="success"
                (click)="addIncome()"
                class="mr-2 add-button"
              >
                <nb-icon class="mr-1" icon="plus-outline"></nb-icon>Add
              </button>

              <button
                *ngIf="selectedIncome ? selectedIncome.isSelected : false"
                (click)="editIncome()"
                [disabled]="form.invalid"
                nbButton
                status="success"
                size="small"
                class="add-button"
              >
                Edit
              </button>

              <button
                *ngIf="selectedIncome ? selectedIncome.isSelected : false"
                (click)="deleteIncome()"
                nbButton
                status="danger"
                size="small"
                class="add-button"
              >
                Delete
              </button>

            </div>
          </div>
        </div>
      </form>

      <!-- (userRowSelect)="selectEmployeeTmp($event)" -->
      <ng2-smart-table
        class="income-table"
        (userRowSelect)="selectIncome($event)"
        [settings]="smartTableSettings"
        [source]="smartTableSource"
      >
      </ng2-smart-table>
    </ng-container>

    <ng-template #noRole>
      <h5 style="color: red">You don't have permission to view this page</h5>
    </ng-template>
  </nb-card-body>
</nb-card>
