@import 'gauzy/_gauzy-table.scss';

.profit-history {
	box-shadow: 0px 0px 16px 9px grey;
  border-radius: nb-theme(border-radius);
	padding: 15px;
	.totals {
		display: flex;
		justify-content: space-between;
	}
	.margin-offset {
		margin-left: 69px;
	}
	nb-card {
		width: 15rem;
	}
}
