<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<div class="main-header">
			<h4>
				{{ 'EMPLOYEES_PAGE.HEADER' | translate }} {{ organizationName }}
			</h4>

			<div class="header-selector-wrapper">
				<div style="margin-right: 9px;">
					<button
						*ngIf="
							organizationInvitesAllowed &&
							hasInviteViewOrEditPermission &&
							hasEditPermission
						"
						nbButton
						status="primary"
						(click)="manageInvites()"
					>
						{{ 'BUTTONS.MANAGE_INVITES' | translate }}
					</button>
				</div>
				<div>
					<ga-layout-selector
						componentName="{{ viewComponentName }}"
					></ga-layout-selector>
				</div>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3" *ngIf="hasEditPermission">
			<button
				nbButton
				*ngIf="organizationInvitesAllowed && hasInviteEditPermission"
				status="primary"
				(click)="invite()"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="email-outline"></nb-icon
				>{{ 'BUTTONS.INVITE' | translate }}
			</button>

			<button nbButton status="success" (click)="add()" class="mr-2">
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>

			<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
				<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
			</ng-container>

			<nb-checkbox
				(checkedChange)="changeIncludeDeleted($event)"
				status="danger"
				class="float-right py-auto"
				>{{
					'FORM.CHECKBOXES.INCLUDE_DELETED' | translate
				}}</nb-checkbox
			>
		</div>
		<div
			class="mb-3"
			*ngIf="!hasEditPermission && hasEditExpensePermission"
		>
			<button
				nbButton
				[disabled]="!selectedEmployee"
				(click)="edit()"
				status="info"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.EDIT' | translate }}
			</button>
		</div>

		<ng2-smart-table
			class="employees-table"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			*ngIf="dataLayoutStyle === 'TABLE'"
			[source]="sourceSmartTable"
			(userRowSelect)="selectEmployeeTmp($event)"
			#employeesTable
		>
		</ng2-smart-table>

		<ul class="flex-container" *ngIf="dataLayoutStyle === 'CARDS_GRID'">
			<li class="flex-item" *ngFor="let x of employeeData">
				<div class="fullName">
					<img [src]="x.imageUrl" alt="Avatar" class="avatar" />
					<span>{{ x.fullName }}</span>
				</div>
				<div class="email">
					<span class="info-value">{{ x.email }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Income (Average)</span>
					<span class="info-value">{{ x.averageIncome }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Expenses (Average)</span>
					<span class="info-value">{{ x.averageExpenses }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Bonus (Average)</span>
					<span class="info-value">{{ x.averageBonus }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta"
						>Bonus ({{ month }} {{ year }})</span
					>
					<span class="info-value">{{ x.bonus }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Work Status</span>
					<div class="badge-success info-value">
						{{ 'EMPLOYEES_PAGE.ACTIVE' | translate }}
					</div>
				</div>

				<nb-card-footer class="card-footer">
					<ng-container
						*ngTemplateOutlet="
							actionButtons;
							context: {
								buttonSize: 'tiny',
								selectedItem: x
							}
						"
					>
					</ng-container>
				</nb-card-footer>
			</li>
		</ul>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
		(click)="edit(selectedItem)"
		status="info"
		class="mr-2"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon
		>{{ 'BUTTONS.EDIT' | translate }}
	</button>
	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
		(click)="delete(selectedItem)"
		status="danger"
		class="mr-2"
	>
		<nb-icon class="mr-1" icon="trash-2-outline"></nb-icon
		>{{ 'BUTTONS.DELETE' | translate }}
	</button>
	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
		*ngIf="dataLayoutStyle === 'TABLE'"
		(click)="
			selectedEmployee.endWork
				? backToWork(selectedItem)
				: endWork(selectedItem)
		"
		status="warning"
		class="mr-2"
	>
		<nb-icon class="mr-1" icon="person-delete-outline"> </nb-icon>
		{{
			(selectedEmployee && selectedEmployee.endWork
				? 'EMPLOYEES_PAGE.BACK_TO_WORK'
				: 'EMPLOYEES_PAGE.END_WORK'
			) | translate
		}}
	</button>
</ng-template>
