<nb-card>
  <nb-card-header>
    <h4>Manage Employees for {{ organizationName }}</h4>
  </nb-card-header>
  <nb-card-body>
    <div class="mb-3">
      <button nbButton status="success" (click)="add()" class="mr-2">
        <nb-icon class="mr-1" icon="plus-outline"></nb-icon>Add
      </button>

      <button
        nbButton
        [disabled]="!selectedEmployee"
        (click)="edit()"
        status="info"
      >
        <nb-icon class="mr-1" icon="edit-outline"></nb-icon>Edit
      </button>
    </div>
    <ng2-smart-table
      class="employees-table"
      [settings]="settingsSmartTable"
      [source]="sourceSmartTable"
      (userRowSelect)="selectEmployeeTmp($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
