.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  border: 0.0625rem solid #e4e9f2;
  border-radius: 0.25rem;
  width: 386px;
  margin-top: 10px;
}

.fullName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  line-height: 40px;
  font-size: 1.5em;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.email {
  text-align: right;
  padding-right: 1.5rem;
  bottom: 36px;
  position: relative;
}

.info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
  color: darkgray;
  line-height: 0px;
  padding: 1rem 1.5rem;

  .info-meta {
    margin-right: 10px;
  }

  .info-value {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    color: black;
    font-size: 1em;
  }
}

.card-footer {
  justify-content: space-around;
  display: flex;
}

.badge-success {
  text-align: center;
  padding: 5px;
  background-color: #00d68f;
}
