@import 'gauzy/_gauzy-table.scss';
@import 'gauzy/_gauzy-overrides';
@import 'gauzy/_gauzy-cards.scss';

nb-card {
  background-color: rgba(50, 50, 50, 0.03);
}
.btn-group.actions {
  padding: 0;
}
.gauzy-button-container {
  display: flex;
  align-items: center;
}
:host {
  .custom-toggle {
    margin: 0 28px 0 12px;
    padding-top: 5px;
    ::ng-deep {
      nb-toggle.status-danger .toggle.checked {
        background-color: rgba(245, 109, 88, 1);
        border-color: rgba(245, 109, 88, 1);
      }
      nb-toggle.status-danger .text {
        color: rgba(245, 109, 88, 1);
      }
      nb-toggle.status-danger .toggle {
        background-color: nb-theme(color-primary-transparent-default);
        border-color: nb-theme(color-primary-transparent-default);
      }
    }
  }
  .custom-table {
    height: calc(100vh - 27.5rem);
  }
  @include nb-card-overrides(
    unset,
    calc($default-card-height + 3.5rem),
    $default-radius
  );
  nb-tab {
    border-radius: nb-theme(border-radius);
  }
}
