<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<h4>
			{{ 'EMPLOYEES_PAGE.HEADER' | translate }} {{ organizationName }}
		</h4>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3">
			<button nbButton status="success" (click)="add()" class="mr-2">
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>

			<button
				nbButton
				[disabled]="!selectedEmployee"
				(click)="edit()"
				status="info"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button
				nbButton
				[disabled]="!selectedEmployee"
				(click)="delete()"
				status="danger"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="trash-2-outline"></nb-icon
				>{{ 'BUTTONS.DELETE' | translate }}
			</button>
			<button
				nbButton
				[disabled]="!selectedEmployee"
				(click)="selectedEmployee.endWork ? backToWork() : endWork()"
				status="warning"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="person-delete-outline"> </nb-icon>
				{{
					(selectedEmployee && selectedEmployee.endWork
						? 'EMPLOYEES_PAGE.BACK_TO_WORK'
						: 'EMPLOYEES_PAGE.END_WORK') | translate
				}}
			</button>
			<nb-checkbox
				(checkedChange)="changeIncludeDeleted($event)"
				status="danger"
				class="float-right py-auto"
				>{{
					'FORM.CHECKBOXES.INCLUDE_DELETED' | translate
				}}</nb-checkbox
			>
		</div>
		<ng2-smart-table
			class="employees-table"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectEmployeeTmp($event)"
			#employeesTable
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
