.interviews-line {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.interviews-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.candidate-image-small {
  max-width: 35px;
  max-height: 35px;
  border-radius: 13px;
  margin-right: 4px;
  margin-left: 4px;
}

.icons {
  padding: 0 4px !important;
  margin: 0 2px !important;
}

.icon-wrap {
  padding-left: 10px;
}
