<nb-card>
	<nb-card-header>
		<button nbButton status="success" (click)="add()">
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
	</nb-card-header>
	<nb-card-body *ngIf="interviewList?.length">
		<div class="ml-3 mb-4">
			<strong>{{
				'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.INTERVIEWS'
					| translate
			}}</strong>
		</div>
		<nb-card *ngFor="let interview of interviewList; let i = index">
			<nb-card-body class="interviews-card">
				<div class="interviews-line">
					<nb-icon icon="calendar-outline"></nb-icon>
					<strong> {{ interview?.title }} </strong>
					{{
						'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.ON'
							| translate
					}}
					<strong
						>{{ interview?.startTime | date: 'fullDate' }} </strong
					>{{
						'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.FROM'
							| translate
					}}
					<strong>{{
						interview?.startTime | date: 'shortTime'
					}}</strong
					>-
					<strong>{{
						interview?.endTime | date: 'shortTime'
					}}</strong>
					{{
						'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.WITH'
							| translate
					}}
					<strong>
						{{ selectedCandidate.user.firstName }}
						{{ selectedCandidate.user.lastName }}</strong
					>
				</div>
				<nb-actions class="float-right" e="medium">
					<nb-action
						(click)="editInterview(interview.id)"
						class="d-inline pr-0"
						icon="edit"
					></nb-action>
					<nb-action
						(click)="removeInterview(interview.id)"
						class="d-inline pr-0"
						icon="close"
					></nb-action>
				</nb-actions>
			</nb-card-body>
		</nb-card>
	</nb-card-body>
</nb-card>
