<nb-card>
	<nb-card-header>
		<button nbButton status="success" (click)="add()">
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
	</nb-card-header>
	<nb-card-body *ngIf="interviewList?.length">
		<div class="ml-3 mb-4">
			<strong>{{
				'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.INTERVIEWS'
					| translate
			}}</strong>
		</div>
		<nb-card *ngFor="let interview of interviewList; let i = index">
			<nb-card-body class="interviews-card">
				<div class="interviews-line">
					<div>
						<nb-icon icon="calendar-outline"></nb-icon>
						<strong> {{ interview?.title }} </strong>
						{{
							'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.ON'
								| translate
						}}
						<strong
							>{{
								interview?.startTime | date: 'fullDate'
							}} </strong
						>{{
							'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.FROM'
								| translate
						}}
						<strong>{{
							interview?.startTime | date: 'shortTime'
						}}</strong
						>-
						<strong>{{
							interview?.endTime | date: 'shortTime'
						}}</strong>
						{{
							'CANDIDATES_PAGE.EDIT_CANDIDATE.INTERVIEW.WITH'
								| translate
						}}
						<strong>
							{{ selectedCandidate.user.firstName }}
							{{ selectedCandidate.user.lastName }}</strong
						>
					</div>
					<div>
						<span
							*ngFor="let employee of interview.employees"
							nbTooltip=" {{ employee?.user?.firstName }}
					{{ employee?.user?.lastName }}"
							nbTooltipPlacement="top"
						>
							<img
								class="candidate-image-small"
								[src]="employee?.user?.imageUrl"
								alt="employee Avatar"
							/>
						</span>
					</div>
				</div>
				<nb-actions class="float-right icon-wrap" e="medium">
					<nb-action
						(click)="addInterviewFeedback(interview.id)"
						class="d-inline pr-0 icons"
						icon="message-square-outline"
					></nb-action>
					<nb-action
						(click)="editInterview(interview.id)"
						class="d-inline pr-0 icons"
						icon="edit"
					></nb-action>
					<nb-action
						(click)="removeInterview(interview.id)"
						class="d-inline pr-0 icons"
						icon="close"
					></nb-action>
				</nb-actions>
			</nb-card-body>
		</nb-card>
	</nb-card-body>
</nb-card>
