<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="header-selector-wrapper">
		<div>
			<h4>{{ 'EVENT_TYPE_PAGE.EVENT_TYPE' | translate }}</h4>
		</div>
		<div>
			<ga-layout-selector
				componentName="{{ viewComponentName }}"
			></ga-layout-selector>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3">
			<button
				nbButton
				status="success"
				(click)="openAddEventTypeDialog()"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>
			<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
				<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
			</ng-container>
		</div>
		<ng2-smart-table
			class="employees-table"
			*ngIf="canShowTable() && dataLayoutStyle === 'TABLE'"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectEventType($event)"
			#eventTypesTable
		>
		</ng2-smart-table>
		<ga-card-grid
			[settings]="settingsSmartTable"
			[source]="eventTypeData"
			*ngIf="dataLayoutStyle === 'CARDS_GRID'"
			[buttonTemplate]="actionButtons"
		></ga-card-grid>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
		(click)="openEditEventTypeDialog(selectedItem)"
		status="info"
		class="mr-2"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon
		>{{ 'BUTTONS.EDIT' | translate }}
	</button>
	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
		(click)="deleteEventType(selectedItem)"
		status="danger"
		class="mr-2"
	>
		<nb-icon class="mr-1" icon="trash-2-outline"></nb-icon
		>{{ 'BUTTONS.DELETE' | translate }}
	</button>
</ng-template>
