<nb-card>
	<nb-card-header class="header">
		<h4>{{ mode == 'update' ? 'Edit' : 'Add' }} time logs</h4>
	</nb-card-header>
	<nb-card-body>
		<form #f="ngForm" ngForm>
			<div class="form-group" *ngIf="!employeeId">
				<ga-employee-multi-select
					name="employeeId"
					[multiple]="false"
					[(ngModel)]="addEditRequest.employeeId"
				>
				</ga-employee-multi-select>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-12">
						<ngx-timer-range-picker
							name="selectedRange"
							[maxDate]="today"
							[(ngModel)]="selectedRange"
						>
						</ngx-timer-range-picker>
					</div>

					<div class="col-12">
						<nb-checkbox
							[(ngModel)]="addEditRequest.isBillable"
							name="isBillable"
							status="primary"
						>
							{{ 'TIMER_TRACKER.IS_BILLABLE' | translate }}
						</nb-checkbox>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_PROJECT' | translate }}</label>
				<ga-project-selector
					name="projectId"
					[(ngModel)]="addEditRequest.projectId"
					#projectInput="ngModel"
					[required]="organization.requireProject"
				></ga-project-selector>

				<div
					*ngIf="projectInput.invalid && f.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="projectInput.errors.required">
						Please selct project
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_TASK' | translate }}</label>
				<ga-task-selector
					name="taskId"
					[projectId]="addEditRequest.projectId"
					[(ngModel)]="addEditRequest.taskId"
					#taskInput="ngModel"
					[required]="organization.requireTask"
				>
				</ga-task-selector>

				<div
					*ngIf="taskInput.invalid && f.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="taskInput.errors.required">
						Please selct task
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.DESCRIPTION' | translate }}</label>
				<textarea
					class="form-control"
					rows="2"
					[placeholder]="'TIMER_TRACKER.DESCRIPTION' | translate"
					name="description"
					[(ngModel)]="addEditRequest.description"
					#descriptionInput="ngModel"
					[required]="organization.requireDescription"
				></textarea>

				<div
					*ngIf="descriptionInput.invalid && f.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="descriptionInput.errors.required">
						Description is required
					</div>
				</div>
			</div>

			<div class="form-group">
				<button
					nbButton
					status="primary"
					class="mr-2"
					(click)="addTime(f)"
				>
					{{ mode == 'create' ? 'Add Time' : 'Update Time' }}
				</button>
				<button nbButton status="default" (click)="close()">
					Close
				</button>
			</div>
		</form>
	</nb-card-body>
</nb-card>
