<form #f="ngForm" *ngIf="form" [formGroup]="form" (submit)="addTime()">
	<nb-card>
		<nb-card-header class="header">
			<div class="row">
				<div class="col">
					{{
						(mode == 'update'
							? 'TIMESHEET.EDIT_TIME_LOGS'
							: 'TIMESHEET.ADD_TIME_LOGS'
						) | translate
					}}
				</div>
				<button
					class="col-auto"
					nbButton
					ghost
					(click)="close()"
					type="button"
				>
					<nb-icon icon="close-outline"></nb-icon>
				</button>
			</div>
		</nb-card-header>
		<nb-card-body class="custom-scroll">
			<div
				class="form-group"
				*ngxPermissionsOnly="[PermissionsEnum.CHANGE_SELECTED_EMPLOYEE]"
			>
				<div
					class="description"
					*ngIf="mode == 'update'; else employeeSelect"
				>
					<ngx-avatar
						[name]="timeLog?.employee?.user?.name"
						[src]="timeLog?.employee?.user?.imageUrl"
					></ngx-avatar>
				</div>
				<ng-template #employeeSelect>
					<ga-employee-multi-select
						name="employeeId"
						[multiple]="false"
						label="TIMESHEET.SELECT_EMPLOYEE"
						[placeholder]="'TIMESHEET.SELECT_EMPLOYEE' | translate"
						formControlName="employeeId"
						[allEmployees]="employees"
						required
					>
					</ga-employee-multi-select>
					<div
						*ngIf="form.get('employeeId')?.invalid && f.submitted"
						class="invalid-feedback d-block"
					>
						<div *ngIf="form.get('employeeId')?.errors.required">
							{{ 'TIMESHEET.VALIDATION.EMPLOYEE' | translate }}
						</div>
					</div>
				</ng-template>
			</div>
			<div class="form-group">
				<ngx-timer-range-picker
					name="selectedRange"
					[maxDate]="futureDateAllowed ? null : today"
					formControlName="selectedRange"
				>
				</ngx-timer-range-picker>
			</div>

			<nb-card status="danger" *ngIf="overlaps.length > 0">
				<nb-card-header>
					<div class="d-flex align-items-center">
						<nb-icon
							icon="alert-triangle-outline"
							class="mr-3"
						></nb-icon>
						{{ 'TIMESHEET.TIME_OVERLAPS' | translate }}
					</div>
				</nb-card-header>
				<nb-card-body>
					<p>{{ 'TIMESHEET.OVERLAP_MESSAGE' | translate }}</p>
					<div
						class="row border-bottom border-top font-weight-bold align-items-center py-2"
					>
						<div class="col">
							{{ 'TIMESHEET.PROJECT' | translate }} /
							{{ 'TIMESHEET.TODO' | translate }}
						</div>
						<div class="col text-center">
							{{ 'TIMESHEET.DURATION' | translate }}
						</div>
					</div>
					<div
						class="row border-top py-2"
						*ngFor="let timelog of overlaps"
					>
						<div class="col">
							<span *ngIf="timelog?.task; else noProfject">
								{{ timelog?.project?.name }}
							</span>
							<ng-template #noProfject>
								<span>{{
									'TIMESHEET.NO_PROJECT' | translate
								}}</span>
							</ng-template>
							<div class="mt-2 small">
								<span *ngIf="timelog?.task; else noToDo">
									<strong
										>{{ 'TIMESHEET.TODO' | translate }} :
									</strong>
									{{ timelog?.task?.title }}
								</span>
								<ng-template #noToDo>
									<span>{{
										'TIMESHEET.NO_TODO' | translate
									}}</span>
								</ng-template>
							</div>
						</div>
						<div class="col text-center">
							{{ timelog.overlapDueration | durationFormat }}
						</div>
					</div>
				</nb-card-body>
			</nb-card>

			<div class="form-group">
				<nb-checkbox
					formControlName="isBillable"
					name="isBillable"
					status="primary"
				>
					{{ 'TIMER_TRACKER.IS_BILLABLE' | translate }}
				</nb-checkbox>
			</div>

			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_CLIENT' | translate }}</label>
				<ga-contact-selector
					[employeeId]="form.get('employeeId')?.value"
					name="organizationContactId"
					formControlName="organizationContactId"
					[required]="organization?.requireClient"
				></ga-contact-selector>
				<div
					*ngIf="
						form.get('organizationContactId')?.invalid &&
						f.submitted
					"
					class="invalid-feedback d-block"
				>
					<div
						*ngIf="
							form.get('organizationContactId')?.errors.required
						"
					>
						{{
							'TIMER_TRACKER.VALIDATION.CLIENT_REQUIRED'
								| translate
						}}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_PROJECT' | translate }}</label>
				<ga-project-selector
					name="projectId"
					formControlName="projectId"
					[employeeId]="form.get('employeeId')?.value"
					[organizationContactId]="
						form.get('organizationContactId')?.value
					"
					[required]="organization?.requireProject"
				></ga-project-selector>
				<div
					*ngIf="form.get('projectId')?.invalid && f.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="form.get('projectId')?.errors.required">
						{{ 'TIMESHEET.VALIDATION.PROJECT' | translate }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_TASK' | translate }}</label>

				<ga-task-selector
					name="taskId"
					[employeeId]="form.get('employeeId')?.value"
					[projectId]="form.get('projectId')?.value"
					formControlName="taskId"
					[required]="organization?.requireTask"
				>
				</ga-task-selector>

				<div
					*ngIf="form.get('taskId')?.invalid && f.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="form.get('taskId').errors.required">
						{{ 'TIMESHEET.VALIDATION.TASK' | translate }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.DESCRIPTION' | translate }}</label>
				<textarea
					class="form-control"
					rows="2"
					[placeholder]="'TIMER_TRACKER.DESCRIPTION' | translate"
					name="description"
					formControlName="description"
					[required]="organization?.requireDescription"
				></textarea>

				<div
					*ngIf="form.get('description')?.invalid && f.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="form.get('description')?.errors.required">
						{{ 'TIMESHEET.VALIDATION.DESCRIPTION' | translate }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>{{ 'TIMESHEET.REASON' | translate }}</label>
				<textarea
					class="form-control"
					rows="2"
					[placeholder]="'TIMESHEET.REASON' | translate"
					name="reason"
					formControlName="reason"
					[required]="organization?.requireReason"
				></textarea>

				<div
					*ngIf="form.get('reason')?.invalid && f.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="form.get('reason')?.errors.required">
						{{ 'TIMESHEET.VALIDATION.REASON' | translate }}
					</div>
				</div>
			</div>

			<div class="form-group"></div>
		</nb-card-body>
		<nb-card-footer>
			<button
				nbButton
				status="primary"
				class="mr-2"
				[nbSpinner]="loading"
				[disabled]="loading"
				nbSpinnerStatus="primary"
			>
				<nb-icon icon="save-outline"></nb-icon>
				{{
					(mode == 'create'
						? 'TIMESHEET.ADD_TIME'
						: 'TIMESHEET.UPDATE_TIME'
					) | translate
				}}
			</button>
			<ng-template
				*ngxPermissionsOnly="[
					OrganizationPermissionsEnum.ALLOW_DELETE_TIME
				]"
			>
				<button
					type="button"
					class="mr-2"
					nbButton
					status="danger"
					ngxConfirmDialog
					[message]="'TIMESHEET.DELETE_TIMELOG' | translate"
					(confirm)="onDeleteConfirm()"
					*ngIf="mode == 'update'"
				>
					<nb-icon icon="trash-2-outline"></nb-icon>
					{{ 'TIMESHEET.DELETE' | translate }}
				</button>
			</ng-template>
		</nb-card-footer>
	</nb-card>
</form>
