@import 'gauzy/_gauzy-dialogs';
@import 'gauzy/_gauzy-table';

:host {
  nb-card {
    width: 645px;
    background-color: nb-theme(gauzy-card-1);
  }
  ::ng-deep ngx-avatar {
    .inner-wrapper {
      background-color: nb-theme(color-primary-transparent-100);
      border-radius: nb-theme(button-rectangle-border-radius);
      padding: 3px 9px 3px 3px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      .image-container {
        height: 20px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        img[type='user'] {
          height: 18px;
          width: 18px;
        }
      }
      .link-text {
        color: nb-theme(text-primary-color);
        font-weight: normal;
      }
    }
  }
}
