@import 'gauzy/_gauzy-dialogs';
@import 'gauzy/_gauzy-table';
@import 'apps/gauzy/src/app/pages/employees/timesheet/weekly/weekly/weekly.component.scss';

:host {
  nb-card {
    width: 645px;
    background-color: nb-theme(gauzy-card-1);
  }

  .col-12,
  .col-6 {
    padding: 0;
  }

  .custom-card {
    background-color: nb-theme(gauzy-card-2);

    .custom-card-body {
      max-height: unset;
      height: unset;
    }
  }
}