<div class="content">
	<div class="employee-form">
		<form [formGroup]="form" *ngIf="form">
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="offerDateInput" class="label">{{
							'FORM.LABELS.OFFER_DATE' | translate
						}}</label>
						<input
							fullWidth
							id="offerDateInput"
							formControlName="offerDate"
							nbInput
							[nbDatepicker]="offertDatePicker"
							placeholder="{{ 'POP_UPS.PICK_DATE' | translate }}"
							autocomplete="off"
						/>

						<nb-datepicker #offertDatePicker></nb-datepicker>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="acceptDateInput" class="label">{{
							'FORM.LABELS.ACCEPT_DATE' | translate
						}}</label>
						<input
							fullWidth
							id="acceptDateInput"
							formControlName="acceptDate"
							nbInput
							[nbDatepicker]="acceptDatePicker"
							placeholder="{{ 'POP_UPS.PICK_DATE' | translate }}"
							autocomplete="off"
							[ngClass]="{
								'status-danger':
									form.controls['acceptDate'].dirty &&
									!form.controls['acceptDate'].valid
							}"
						/>
						<nb-datepicker #acceptDatePicker></nb-datepicker>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="rejectDateInput" class="label">{{
							'FORM.LABELS.REJECT_DATE' | translate
						}}</label>
						<input
							fullWidth
							id="rejectDateInput"
							formControlName="rejectDate"
							nbInput
							[nbDatepicker]="rejectDatePicker"
							placeholder="{{ 'POP_UPS.PICK_DATE' | translate }}"
							autocomplete="off"
							[ngClass]="{
								'status-danger':
									form.controls['rejectDate'].dirty &&
									!form.controls['rejectDate'].valid
							}"
						/>
						<nb-datepicker #rejectDatePicker></nb-datepicker>
					</div>
				</div>
				<div class="col"></div>
			</div>

			<div class="actions">
				<button
					nbButton
					status="success"
					[disabled]="form.invalid"
					(click)="submitForm()"
				>
					{{ 'BUTTONS.SAVE' | translate }}
				</button>
			</div>
		</form>
	</div>
</div>
