.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  min-width: 500px;
}

.select {
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-buttons {
  margin-right: 10px;
  margin-bottom: 10px;
}

.save-button {
  min-width: 450px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
