@import 'themes';
::ng-deep .leaflet-container {
  width: 100% !important;
  height: 450px !important;
  position: relative !important;
  outline: none !important;
  border-radius: nb-theme(border-radius);
}
