@import "themes";
@import "var";

@mixin header-styles {
    :host nb-card-header {
        padding: 20px;
        border-bottom: none;
        background-color: nb-theme(background-basic-color-2);
    }
}

@mixin body-styles {
    :host nb-card-body {
        background-color: nb-theme(background-basic-color-3);
        padding: 18px;
    }
}
