@import 'gauzy/_gauzy-cards';
$radius: nb-theme(border-radius);
.notes {
  margin-top: 16px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--color-warning-transparent-100);
}
.notes p {
  margin: 0;
  color: var(--color-warning-default);
  font-size: 0.75rem;
  font-weight: 600;
  text-align: justify;
}
.card{
  background-color: var(--gauzy-card-2);
  border: unset;
}
:host {
  @include nb-card_overrides(
    auto,
    calc($default-card-height + 0.25rem),
    $default-radius
  );
}
