.main-form {
	padding: 50px 0px;
}
.notes {
	margin-top: 16px;
	padding: 10px;
	border-radius: 5px;
	text-indent: 1em;
}
.notes p {
	margin: 0;
	color: #eac72d;
	font-size: 0.75rem;
	font-weight: 700;
}
