.calendar {
  height: 45rem;
}

.card-calendar {
  max-width: 75rem;
  overflow-y: scroll;
  padding-bottom: 2rem;
}

.icons {
  margin-right: 10px;
  color: grey !important;
}

.card-calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
