@import 'gauzy/_gauzy-cards';

$orange: rgba(245, 109, 88, 1);
[nbButton].delete.appearance-outline.status-basic {
  background-color: transparent;
  border-color: rgba($color: $orange, $alpha: 0.3);
  border-width: 2px;
  color: $orange;

  &:hover {
    border-color: $orange;
  }
}

[nbButton].delete.appearance-outline:hover {
  box-shadow: 0 0 0 nb-theme(button-outline-width) rgba($color: $orange, $alpha: 0.05),
    inset nb-theme(button-outline-focus-inset-shadow-length) transparent;
}

[nbButton].delete.appearance-outline:focus:not(:hover):not(:active) {
  box-shadow: unset;
}

.col-sm-3 {
  padding-left: 0;
}

.status-label {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 3px;

  h4 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
}

.status-label.requested {
  background: #ffc94d;
}

.status-label.approved {
  background: #2ce69b;
}

.status-label.active {
  background: #598bff;
}

nb-radio-group {
  display: flex;
}

.text-danger {
  max-width: 100%;
  font-size: 12px;
  margin-top: 5px;
}

.main {
  min-width: 800px;
}
