<nb-card class="main">
	<nb-card-header class="d-flex">
		<h5>
			{{
				(equipmentSharing
					? 'EQUIPMENT_SHARING_PAGE.EDIT_EQUIPMENT_REQUEST'
					: 'EQUIPMENT_SHARING_PAGE.ADD_EQUIPMENT_REQUEST'
				) | translate
			}}
		</h5>
		<nb-icon
			class="ml-auto mt-1 close"
			icon="close-outline"
			(click)="closeDialog()"
		></nb-icon>
	</nb-card-header>
	<nb-card-body>
		<form [formGroup]="form" *ngIf="form">
			<div class="row">
				<div class="col-sm-9 mb-4">
					<nb-select
						class="d-block"
						formControlName="equipment"
						(selectedChange)="setRequestStatus($event)"
						placeholder="{{
							'FORM.LABELS.SELECT_EQUIPMENT' | translate
						}}"
					>
						<nb-option
							*ngFor="let item of equipmentItems"
							value="{{ item.id }}"
							>{{ item.name }}</nb-option
						>
					</nb-select>
				</div>
				<div class="col-sm-3 mb-4">
					<div
						class="status-label"
						[ngClass]="{
							active: requestStatus === requestStatuses[0],
							requested: requestStatus === requestStatuses[1],
							approved: requestStatus === requestStatuses[2]
						}"
					>
						<h4>{{ requestStatus }}</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 mb-3">
					<nb-radio-group
						(valueChange)="onParticipantsChange($event)"
						[value]="participants"
					>
						<nb-radio [value]="'employees'">Employees </nb-radio>
						<nb-radio [value]="'teams'">Teams </nb-radio>
					</nb-radio-group>
				</div>
			</div>
			<div class="row">
				<div
					class="col-sm-12 mb-3"
					*ngIf="participants === 'employees'"
				>
					<nb-select
						formControlName="employees"
						multiple
						[selected]="selectedEmployees"
						(selectedChange)="onEmployeesSelected($event)"
						fullWidth
						placeholder="{{
							'FORM.PLACEHOLDERS.CHOOSE_EMPLOYEES' | translate
						}}"
					>
						<nb-option
							*ngFor="let employee of employees"
							[value]="employee.id"
						>
							<img
								src="{{ employee.user.imageUrl }}"
								alt="Employee picture"
								height="40"
								width="40"
								style="margin-right:10px"
							/>
							{{ employee.user.firstName }}
							{{ employee.user.lastName }}</nb-option
						>
					</nb-select>
				</div>
				<div class="col-sm-12 mb-3" *ngIf="participants === 'teams'">
					<nb-select
						formControlName="teams"
						multiple
						[selected]="selectedTeams"
						(selectedChange)="onTeamsSelected($event)"
						fullWidth
						placeholder="{{
							'FORM.PLACEHOLDERS.CHOOSE_TEAMS' | translate
						}}"
					>
						<nb-option *ngFor="let team of teams" [value]="team.id">
							{{ team.name }}</nb-option
						>
					</nb-select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input
							fullWidth
							formControlName="shareRequestDay"
							nbInput
							[nbDatepicker]="shareRequestDatePicker"
							placeholder="{{
								'FORM.LABELS.SELECT_SHARE_REQUEST_DATE'
									| translate
							}}"
						/>
						<nb-datepicker #shareRequestDatePicker></nb-datepicker>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input
							fullWidth
							formControlName="shareStartDay"
							nbInput
							[nbDatepicker]="shareStartDatePicker"
							placeholder="{{
								'FORM.LABELS.SELECT_SHARE_START_DATE'
									| translate
							}}"
						/>
						<nb-datepicker #shareStartDatePicker></nb-datepicker>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input
							fullWidth
							formControlName="shareEndDay"
							nbInput
							[nbDatepicker]="shareEndDatePicker"
							placeholder="{{ 'POP_UPS.PICK_DATE' | translate }}"
							placeholder="{{
								'FORM.LABELS.SELECT_SHARE_END_DATE' | translate
							}}"
						/>
						<nb-datepicker #shareEndDatePicker></nb-datepicker>
					</div>
				</div>
			</div>
		</form>
	</nb-card-body>

	<nb-card-footer class="text-right">
		<button
			(click)="dialogRef.close()"
			status="warning"
			class="mr-3"
			nbButton
		>
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button
			[disabled]="form.invalid"
			status="success"
			nbButton
			(click)="onSaveRequest()"
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
