<nb-card class="main">
	<nb-card-header class="d-flex">
		<h5>
			{{
				(equipmentSharing
					? 'EQUIPMENT_SHARING_PAGE.EDIT_EQUIPMENT_REQUEST'
					: 'EQUIPMENT_SHARING_PAGE.ADD_EQUIPMENT_REQUEST'
				) | translate
			}}
		</h5>
		<nb-icon
			class="ml-auto mt-1 close"
			icon="close-outline"
			(click)="closeDialog()"
		></nb-icon>
	</nb-card-header>
	<nb-card-body>
		<form [formGroup]="form" *ngIf="form">
			<div class="row">
				<div class="col-sm-9 mb-4">
					<nb-select
						class="d-block"
						formControlName="equipmentItem"
						placeholder="{{
							'FORM.LABELS.SELECT_EQUIPMENT' | translate
						}}"
					>
						<nb-option
							*ngFor="let item of equipmentItems"
							value="{{ item.id }}"
							>{{ item.name }}</nb-option
						>
					</nb-select>
				</div>
				<div class="col-sm-4">
					<div class="status-label">
						ACTIVE
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 mb-3">
					<ng-select
						formControlName="employee"
						[searchable]="true"
						[items]="employees"
						bindName="employee"
						placeholder="{{
							'FORM.LABELS.SELECT_EMPLOYEE' | translate
						}}"
					>
						<ng-template
							ng-option-tmp
							let-item="item"
							let-index="index"
						>
							<img
								*ngIf="item.imageUrl"
								[src]="item.imageUrl"
								width="40"
								height="40"
							/>
							{{ getName(item.firstName, item.lastName) }}
						</ng-template>
						<ng-template ng-label-tmp let-item="item">
							<div class="selector-template">
								<img
									*ngIf="item.imageUrl"
									height="25"
									width="25"
									[src]="item.imageUrl"
								/>
								<span>{{
									getName(item.firstName, item.lastName)
								}}</span>
							</div>
						</ng-template>
					</ng-select>
				</div>
				<div class="col-sm-6 mb-3">
					<nb-select class="d-block" formControlName="team">
						<!-- //todo -->
						<nb-option
							*ngFor="let team of teams"
							value="{{ team.id }}"
							>{{ team }}</nb-option
						>
					</nb-select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input
							fullWidth
							formControlName="shareRequestDay"
							nbInput
							[nbDatepicker]="shareRequestDatePicker"
							placeholder="{{
								'FORM.LABELS.SELECT_SHARE_REQUEST_DATE'
									| translate
							}}"
						/>
						<nb-datepicker #shareRequestDatePicker></nb-datepicker>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input
							fullWidth
							formControlName="shareStartDay"
							nbInput
							[nbDatepicker]="shareStartDatePicker"
							placeholder="{{
								'FORM.LABELS.SELECT_SHARE_START_DATE'
									| translate
							}}"
						/>
						<nb-datepicker #shareStartDatePicker></nb-datepicker>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input
							fullWidth
							formControlName="shareEndDay"
							nbInput
							[nbDatepicker]="shareEndDatePicker"
							placeholder="{{ 'POP_UPS.PICK_DATE' | translate }}"
							placeholder="{{
								'FORM.LABELS.SELECT_SHARE_END_DATE' | translate
							}}"
						/>
						<nb-datepicker #shareEndDatePicker></nb-datepicker>
					</div>
				</div>
			</div>
		</form>
	</nb-card-body>

	<nb-card-footer class="text-right">
		<button
			(click)="dialogRef.close()"
			status="warning"
			class="mr-3"
			nbButton
		>
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button
			[disabled]="form.invalid"
			status="success"
			nbButton
			(click)="onSaveRequest()"
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
