<nb-card size="large">
	<nb-card-header>
		Add Key Result
		<nb-icon
			class="ml-auto mt-1 close"
			icon="close-outline"
			(click)="closeDialog()"
		></nb-icon>
	</nb-card-header>
	<nb-card-body>
		<form [formGroup]="keyResultsForm">
			<label for="key-result-title" class="label">
				{{ 'FORM.LABELS.NAME' | translate }}
			</label>
			<input
				type="text"
				id="key-result-title"
				nbInput
				fullWidth
				formControlName="name"
				placeholder="{{
					'KEY_RESULT_PAGE.FORM.PLACEHOLDERS.NAME' | translate
				}}"
			/>

			<label for="key-result-description" class="label mt-3">
				{{ 'FORM.LABELS.DESCRIPTION_OPTIONAL' | translate }}
			</label>
			<textarea
				id="key-result-description"
				nbInput
				fullWidth
				formControlName="description"
				placeholder="{{
					'KEY_RESULT_PAGE.FORM.PLACEHOLDERS.DESCRIPTION' | translate
				}}"
			></textarea>

			<label for="key-result-type" class="label mt-3">
				{{ 'KEY_RESULT_PAGE.FORM.LABELS.KEY_RESULT_TYPE' | translate }}
			</label>
			<nb-select
				(selectedChange)="taskTypeValidators()"
				id="key-result-type"
				fullWidth
				formControlName="type"
			>
				<nb-option
					*ngFor="let type of keyResultTypeEnum | keyvalue"
					[value]="type.value"
					>{{
						'KEY_RESULT_PAGE.TYPE.' + type.key | translate
					}}</nb-option
				>
			</nb-select>
			<div
				class="row"
				*ngIf="keyResultsForm.value.type === keyResultTypeEnum.TASK"
			>
				<div class="col-md-6">
					<label class="label mt-3" for="project-selector">{{
						'KEY_RESULT_PAGE.FORM.LABELS.SELECT_PROJECT' | translate
					}}</label>
					<ga-project-selector
						id="project-selector"
						formControlName="projectId"
					>
					</ga-project-selector>
				</div>
				<div class="col-md-6">
					<label class="label mt-3" for="task-selector">{{
						'KEY_RESULT_PAGE.FORM.LABELS.SELECT_TASK' | translate
					}}</label>
					<ga-task-selector
						id="task-selector"
						formControlName="taskId"
						[(projectId)]="keyResultsForm.value.projectId"
					>
					</ga-task-selector>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label
						*ngIf="
							keyResultsForm.value.type ==
								keyResultTypeEnum.NUMBER ||
							keyResultsForm.value.type ==
								keyResultTypeEnum.CURRENCY
						"
						for="initial-value"
						class="label"
					>
						{{
							'KEY_RESULT_PAGE.FORM.LABELS.INITIAL_VALUE'
								| translate
						}}
					</label>
					<input
						type="number"
						id="initial-value"
						*ngIf="
							keyResultsForm.value.type ==
								keyResultTypeEnum.NUMBER ||
							keyResultsForm.value.type ==
								keyResultTypeEnum.CURRENCY
						"
						nbInput
						fullWidth
						formControlName="initialValue"
						placeholder="						{{
							'KEY_RESULT_PAGE.FORM.LABELS.INITIAL_VALUE'
								| translate
						}}"
					/>
				</div>

				<div class="col-md-6">
					<label
						*ngIf="
							keyResultsForm.value.type ==
								keyResultTypeEnum.NUMBER ||
							keyResultsForm.value.type ==
								keyResultTypeEnum.CURRENCY
						"
						for="target-value"
						class="label"
					>
						{{
							'KEY_RESULT_PAGE.FORM.LABELS.TARGET_VALUE'
								| translate
						}}
					</label>
					<input
						type="number"
						id="target-value"
						*ngIf="
							keyResultsForm.value.type ==
								keyResultTypeEnum.NUMBER ||
							keyResultsForm.value.type ==
								keyResultTypeEnum.CURRENCY
						"
						nbInput
						fullWidth
						formControlName="targetValue"
						placeholder="{{
							'KEY_RESULT_PAGE.FORM.LABELS.TARGET_VALUE'
								| translate
						}}"
					/>
				</div>
			</div>

			<label for="key-result-owner" class="label mt-3">
				{{ 'KEY_RESULT_PAGE.FORM.LABELS.OWNER' | translate }}
			</label>
			<ga-employee-multi-select
				[multiple]="false"
				[allEmployees]="employees"
				[selectedEmployeeIds]="keyResultsForm.value.owner"
				[label]="false"
				(selectedChange)="selectEmployee($event, 'owner')"
				id="key-result-owner"
				placeholder="{{
					'KEY_RESULT_PAGE.FORM.LABELS.OWNER' | translate
				}}"
				class="header-selector employee-selector"
			></ga-employee-multi-select>

			<label for="key-result-Lead" class="label mt-3">
				{{ 'KEY_RESULT_PAGE.FORM.LABELS.LEAD' | translate }}</label
			>
			<ga-employee-multi-select
				[multiple]="false"
				[allEmployees]="employees"
				[selectedEmployeeIds]="keyResultsForm.value.lead"
				[label]="false"
				(selectedChange)="selectEmployee($event, 'lead')"
				id="key-result-Lead"
				placeholder="{{
					'KEY_RESULT_PAGE.FORM.LABELS.LEAD' | translate
				}}"
				class="header-selector employee-selector"
			></ga-employee-multi-select>

			<label for="key-result-deadline" class="label mt-3">
				{{ 'KEY_RESULT_PAGE.FORM.LABELS.DEADLINE' | translate }}
			</label>
			<nb-select
				(selectedChange)="deadlineValidators()"
				id="key-result-deadline"
				fullWidth
				formControlName="deadline"
			>
				<nb-option
					*ngFor="let deadline of keyResultDeadlineEnum | keyvalue"
					[value]="deadline.value"
					>{{
						'KEY_RESULT_PAGE.DEADLINE.' + deadline.key | translate
					}}</nb-option
				>
			</nb-select>
			<div class="row mt-3">
				<div
					class="col-md-6"
					*ngIf="
						keyResultsForm.value.deadline ==
						keyResultDeadlineEnum.HARD_AND_SOFT_DEADLINE
					"
				>
					<label for="soft-deadline" class="label">
						{{
							'KEY_RESULT_PAGE.FORM.LABELS.SOFT_DEADLINE'
								| translate
						}}
					</label>
					<input
						nbInput
						id="soft-deadline"
						fullWidth
						placeholder="{{
							'KEY_RESULT_PAGE.FORM.LABELS.SOFT_DEADLINE'
								| translate
						}}"
						[nbDatepicker]="softDeadlinePicker"
						formControlName="softDeadline"
					/>
					<nb-datepicker
						#softDeadlinePicker
						[min]="minDate"
						[max]="
							keyResultsForm.value.hardDeadline
								? keyResultsForm.value.hardDeadline
								: null
						"
					></nb-datepicker>
				</div>
				<div
					class="col-md-6"
					*ngIf="
						keyResultsForm.value.deadline ==
							keyResultDeadlineEnum.HARD_AND_SOFT_DEADLINE ||
						keyResultsForm.value.deadline ==
							keyResultDeadlineEnum.HARD_DEADLINE
					"
				>
					<label for="hard-deadline" class="label">
						{{
							'KEY_RESULT_PAGE.FORM.LABELS.HARD_DEADLINE'
								| translate
						}}
					</label>
					<input
						nbInput
						id="hard-deadline"
						fullWidth
						placeholder="{{
							'KEY_RESULT_PAGE.FORM.LABELS.HARD_DEADLINE'
								| translate
						}}"
						[nbDatepicker]="hardDeadlinePicker"
						formControlName="hardDeadline"
					/>
					<nb-datepicker
						#hardDeadlinePicker
						[min]="
							keyResultsForm.value.softDeadline
								? keyResultsForm.value.softDeadline
								: minDate
						"
					></nb-datepicker>
				</div>
			</div>
		</form>
	</nb-card-body>
	<nb-card-footer>
		<button class="mr-3" nbButton (click)="closeDialog()">
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button
			[disabled]="keyResultsForm.invalid"
			nbButton
			status="success"
			(click)="saveKeyResult()"
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
