@import 'themes';

:host {
    header {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    nb-card {
        background-color: nb-theme(gauzy-card-2);
    }

    nb-card.card-feature {
        height: calc(100vh - 20rem);
        border-radius: 0 0 nb-theme(border-radius) nb-theme(border-radius);
        padding: 0;
        margin: 0;
    }

    nb-card-body.features {
        overflow: auto;

        nb-card {
            background-color: unset;

            nb-card-body {
                border-radius: 0 0 nb-theme(border-radius) nb-theme(border-radius);
                color: nb-theme(gauzy-text-color-2);

                nb-list-item {
                    nb-checkbox ::ng-deep {
                        span.checked+span.text {
                            color: nb-theme(text-primary-color);
                        }
                    }

                    nb-checkbox ::ng-deep {
                        span+span.text {
                            color: nb-theme(gauzy-text-color-2);
                        }
                    }
                }
            }
        }
    }
}