<nb-card>
	<nb-card-header>
		<div
			class="row"
			*ngxPermissionsOnly="[PermissionsEnum.CHANGE_SELECTED_EMPLOYEE]"
		>
			<div class="col-10">
				<ngx-avatar
					[name]="timeLog?.employee?.user?.name"
					[src]="timeLog?.employee?.user?.imageUrl"
					[caption]="
						(timeLog?.startedAt | utcToLocal | timeFormat: true) +
						' - ' +
						(timeLog?.stoppedAt
							? (timeLog?.stoppedAt
							  | utcToLocal
							  | timeFormat: true)
							: ('TIMESHEET.TILL_NOW' | translate)) +
						' (' +
						(timeLog?.duration | durationFormat) +
						')'
					"
				></ngx-avatar>
			</div>
			<div class="col-1">
				<ngx-label
					[status]="TimeLogsLabel[timeLog?.logType].status"
					[text]="TimeLogsLabel[timeLog?.logType].text"
				>
				</ngx-label>
			</div>
			<div class="col-1 mt-2">
				<button
					size="small"
					class="close-button"
					nbButton
					ghost
					(click)="close()"
					type="button"
				>
					<nb-icon icon="close-outline"></nb-icon>
				</button>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body class="custom-scroll">
		<div>
			<strong
				>{{ 'TIMESHEET.ORGANIZATION_CONTACT' | translate }} :
			</strong>
			<span>{{
				timeLog?.organizationContact
					? timeLog?.organizationContact.name
					: ('TIMESHEET.NO_ORGANIZATION_CONTACT' | translate)
			}}</span>
		</div>

		<div class="mt-3">
			<div class="description mb-2">
				<strong>{{ 'TIMESHEET.PROJECT' | translate }} : </strong>
				{{
					timeLog?.project
						? timeLog?.project.name
						: ('TIMESHEET.NO_PROJECT' | translate)
				}}
			</div>
		</div>

		<div class="mt-3">
			<div class="description">
				<strong>{{ 'TIMESHEET.TODO' | translate }} : </strong>
				{{
					timeLog?.task
						? timeLog?.task?.title
						: ('TIMESHEET.NO_TODO' | translate)
				}}
			</div>
		</div>

		<div class="mt-3" *ngIf="timeLog?.description">
			<div class="font-weight-bold mb-2">
				{{ 'TIMESHEET.NOTES' | translate }} :
			</div>
			<div class="description">{{ timeLog?.description }}</div>
		</div>

		<div class="mt-3" *ngIf="timeLog?.reason">
			<div class="font-weight-bold mb-2">
				{{ 'TIMESHEET.REASON' | translate }} :
			</div>
			<div class="description">
				{{ timeLog?.reason }}
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer>
		<button
			[disabled]="!timeLog.stoppedAt"
			size="small"
			class="mr-2"
			nbButton
			status="primary"
			(click)="openDialog()"
			*ngxPermissionsOnly="[
				OrganizationPermissionsEnum.ALLOW_MODIFY_TIME
			]"
		>
			<nb-icon icon="edit"></nb-icon> {{ 'TIMESHEET.EDIT' | translate }}
		</button>
		<button
			[disabled]="!timeLog.stoppedAt"
			size="small"
			class="mr-2"
			nbButton
			status="danger"
			ngxConfirmDialog
			[message]="'TIMESHEET.DELETE_TIMELOG' | translate"
			(confirm)="onDeleteConfirm()"
			*ngxPermissionsOnly="[
				OrganizationPermissionsEnum.ALLOW_DELETE_TIME
			]"
		>
			<nb-icon icon="trash-2-outline"></nb-icon>
			{{ 'TIMESHEET.DELETE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
