@import 'gauzy/_gauzy-cards';
.organization-employee-header {
  align-items: center;
}

.setting-block {
  &:hover {
    box-shadow: var(--gauzy-shadow);
    transform: translateY(-1px);
  }
  box-shadow:var(--gauzy-shadow);
  border-radius: $default-radius;
  margin-bottom: 4px;
  padding: 15px 20px;
  .block-content {
    .block-info {
      width: 100%;
    }
    .col {
      display: flex;
      align-items: center;
    }
    .image-container {
      width: 70px;
      height: 63px;
      display: inline-flex;
      justify-content: center;
      margin-right: 15px;
      margin-left: 15px;
    }
    img {
      height: 100%;
      width: 70px;
      border-radius: var(--button-rectangle-border-radius);
      object-fit: cover;
    }
    .row {
      cursor: pointer;
    }
  }
}

:host {
  nb-card {
    background: nb-theme(background-basic-color-1);
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 5%);
    margin-bottom: 0;
  }
  @include card_overrides(
    auto,
    calc($default-card-height - 3rem),
    0 $default-radius $default-radius $default-radius
  );
  .card,
  .card-header:first-child {
    border-radius: 0 $default-radius 0 0;
  }
  background-color: rgba(50, 50, 50, 0.02);
  .card {
    background-color: var(--gauzy-card-2);
    .card-header {
      background-color: unset;
    }
  }
}
