<nb-card class="secret-dialog">
	<nb-card-header>
		<nb-icon icon="shield-outline" status="warning"></nb-icon>
		{{ 'OAUTH_CLIENTS.SECRET_DIALOG.TITLE' | translate }}
	</nb-card-header>

	<nb-card-body>
		<nb-alert status="warning" class="warning">
			{{ 'OAUTH_CLIENTS.SECRET_DIALOG.WARNING' | translate }}
		</nb-alert>

		<div class="credential">
			<label>{{ 'OAUTH_CLIENTS.SECRET_DIALOG.CLIENT_ID' | translate }}</label>
			<div class="credential-row">
				<code>{{ client.clientId }}</code>
				<button type="button" nbButton size="small" status="primary" ghost (click)="copyClientId()">
					<nb-icon icon="copy-outline"></nb-icon>
				</button>
			</div>
		</div>

		<div class="credential">
			<label>{{ 'OAUTH_CLIENTS.SECRET_DIALOG.CLIENT_SECRET' | translate }}</label>
			<div class="credential-row">
				<code class="secret">{{ client.clientSecret }}</code>
				<button type="button" nbButton size="small" status="primary" ghost (click)="copySecret()">
					<nb-icon icon="copy-outline"></nb-icon>
				</button>
			</div>
		</div>

		<nb-toggle [(checked)]="acknowledged">
			{{ 'OAUTH_CLIENTS.SECRET_DIALOG.ACKNOWLEDGE' | translate }}
		</nb-toggle>
	</nb-card-body>

	<nb-card-footer class="actions">
		<button type="button" nbButton status="primary" [disabled]="!acknowledged" (click)="close()">
			{{ 'OAUTH_CLIENTS.SECRET_DIALOG.CLOSE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
