.button-at-bottom {
  bottom: 0;
}

.full-height {
  height: 80% !important;
  min-height: 600px !important;
}

.btn-save {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-width {
  width: 80px;
  position: absolute;
  bottom: 10px;
  right: -500px;
}
