<div class="charts">
	<label class="chart-select-label">{{
		'DASHBOARD_PAGE.CHARTS.CHART_TYPE' | translate
	}}</label>
	<nb-select
		placeholder="Select chart"
		class="select-charts"
		filled
		status="success"
		[selected]="selectedChart"
		(selectedChange)="onChartSelected($event)"
		size="tiny"
	>
		<nb-option value="1"
			><img
				width="auto"
				height="24"
				style="margin-right:10px"
				src="assets/images/others/bar-chart.svg"
			/>
			{{ 'DASHBOARD_PAGE.CHARTS.BAR' | translate }}</nb-option
		>
		<nb-option value="2"
			><img
				width="auto"
				height="24"
				style="margin-right:10px"
				src="assets/images/others/doughnut.svg"
			/>
			{{ 'DASHBOARD_PAGE.CHARTS.DOUGHNUT' | translate }}
		</nb-option>
		<nb-option value="3"
			><img
				width="auto"
				height="24"
				style="margin-right:10px"
				src="assets/images/others/stacked-bar-chart.svg"
			/>
			{{ 'DASHBOARD_PAGE.CHARTS.STACKED_BAR' | translate }}</nb-option
		>
	</nb-select>
</div>
<div class="chart-wrap" [ngSwitch]="selectedChart">
	<ngx-employee-doughnut-chart
		*ngSwitchCase="2"
	></ngx-employee-doughnut-chart>
	<ngx-employee-stacked-bar-chart
		*ngSwitchCase="3"
	></ngx-employee-stacked-bar-chart>
	<ngx-employee-horizontal-bar-chart
		*ngSwitchDefault
	></ngx-employee-horizontal-bar-chart>
</div>
