<nb-card>
	<nb-card-header class="d-flex">
		<div>
			<h5 class="title">
				{{ interview.title }}
			</h5>
			<p *ngIf="!isMinutes" class="interview-info">
				{{ 'INTERVIEW_INFO_MODAL.SCHEDULED_BY' | translate }}
				{{ interview.interviewers }} {{ hoursUpdate }}
				{{ 'INTERVIEW_INFO_MODAL.HOURS_AGO' | translate }}
			</p>
			<p *ngIf="isMinutes" class="interview-info">
				{{ 'INTERVIEW_INFO_MODAL.SCHEDULED_BY' | translate }}
				{{ interview.interviewers }} {{ hoursUpdate }}
				{{ 'INTERVIEW_INFO_MODAL.MINUTES_AGO' | translate }}
			</p>
		</div>
		<nb-icon
			class="ml-auto mt-1 close"
			icon="close-outline"
			(click)="closeDialog()"
		></nb-icon>
	</nb-card-header>
	<nb-card-body>
		<div>
			<div class="interview-info">
				<nb-icon icon="calendar-outline" class="icons"></nb-icon>
				<p class="interview-text">
					{{ 'INTERVIEW_INFO_MODAL.DATE' | translate }}
				</p>
			</div>
			<p class="interview-data">
				{{ interview.startTime | date: 'fullDate' }}
			</p>
		</div>
		<div>
			<div class="interview-info">
				<nb-icon icon="clock-outline" class="icons"></nb-icon>
				<p class="interview-text">
					{{ 'INTERVIEW_INFO_MODAL.TIME' | translate }}
				</p>
			</div>
			<p class="interview-data">
				{{ interview.startTime | date: 'mediumTime' }} -
				{{ interview.endTime | date: 'longTime' }}
			</p>
		</div>
		<div>
			<div class="interview-info">
				<nb-icon icon="person-outline" class="icons"></nb-icon>
				<p class="interview-text">
					{{ 'INTERVIEW_INFO_MODAL.CANDIDATE' | translate }}
				</p>
			</div>
			<p class="interview-data">{{ candidateName }}</p>
		</div>
		<div>
			<div class="interview-info">
				<nb-icon icon="people-outline" class="icons"></nb-icon>
				<p class="interview-text">
					{{ 'INTERVIEW_INFO_MODAL.INTERVIEWERS' | translate }}
				</p>
			</div>
			<p class="interview-data">{{ interview.interviewers }}</p>
		</div>
		<div>
			<div class="interview-info">
				<nb-icon icon="navigation-2-outline" class="icons"></nb-icon>
				<p class="interview-text">
					{{ 'INTERVIEW_INFO_MODAL.LOCATION' | translate }}
				</p>
			</div>
			<p class="interview-data">{{ interview.location }}</p>
		</div>
		<div>
			<div class="interview-info">
				<nb-icon icon="edit-outline" class="icons"></nb-icon>
				<p class="interview-text">
					{{ 'INTERVIEW_INFO_MODAL.NOTE' | translate }}
				</p>
			</div>
			<p class="interview-data">{{ interview.note }}</p>
		</div>
	</nb-card-body>
</nb-card>
