@import 'themes';
$radius: nb-theme(border-radius);
:host {
  background-color: var(--gauzy-card-2);
  border-radius: $radius;
  overflow-y: auto;
  max-height: calc(100vh - 20.5rem);
}

nb-card-body{
	background-color: var(--gauzy-sidebar-background-2);
	border-radius: var(--border-radius);
}
