<label class="label">{{
	'FORM.LABELS.ADD_OR_REMOVE_EMPLOYEES' | translate
}}</label>
<ng-select
	[multiple]="multiple"
	[disabled]="disabled"
	[clearable]="true"
	[items]="employees"
	[(ngModel)]="employeeId"
	bindValue="value"
	bindLabel="label"
	placeholder="{{ placeholder | translate }}"
	(onChange)="onMembersSelected($event)"
	fullWidth
>
	<ng-template ng-option-tmp let-item="item" let-index="index">
		<ngx-avatar
			[name]="item.user?.firstName + ' ' + item.user?.lastName"
			[src]="item.user?.imageUrl"
		>
		</ngx-avatar>
	</ng-template>
	<ng-template ng-label-tmp let-item="item">
		<span class="p-1">
			{{ item.user?.firstName }} {{ item.user?.lastName }}
		</span>
	</ng-template>
</ng-select>
