:host {
  ::ng-deep {
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
      flex-wrap: nowrap;
      overflow: hidden;
    }
  }
}
::ng-deep {
  .nb-theme-default nb-option-list {
    min-width: 300px !important;
    width: 100% !important;
  }
}
