<div>
	<img
		*ngIf="inventoryItem && inventoryItem.imageUrl"
		class="featured-image"
		[src]="inventoryItem.imageUrl"
		alt="Feature image"
	/>
	<img
		*ngIf="!inventoryItem || !inventoryItem.imageUrl"
		class="featured-image"
		[src]="'https://afostats.imagead.net/uploads/afo/no_img.png'"
		alt="Feature image"
	/>
</div>

<div class="actions-container mt-2">
	<button nbButton ghost status="primary" (click)="onAddImageClick()">
		<nb-icon icon="plus-circle-outline"></nb-icon>
	</button>
	<button nbButton ghost status="primary">
		<nb-icon icon="image-outline"></nb-icon>
	</button>
	<button nbButton ghost status="primary">
		<nb-icon icon="eye-outline"></nb-icon>
	</button>
	<button nbButton ghost status="primary">
		<nb-icon icon="edit-outline"></nb-icon>
	</button>
	<button nbButton ghost status="danger" class="ml-3">
		<nb-icon icon="trash-outline"></nb-icon>
	</button>
</div>

<div class="gallery-preview-items mt-3">
	<div class="row">
		<div
			class="col-sm-3 col-md-4 gallery-sm-preview"
			*ngFor="let galleryItem of gallery"
			(click)="onSmallImgPreviewClick(galleryItem)"
		>
			<div
				class="gallery-sm-preview-item"
				[ngStyle]="{
					backgroundImage: 'url(' + galleryItem.url + ')'
				}"
			></div>
		</div>
	</div>
</div>
