@import 'themes';

:host {

    a,
    span {
        display: block;
    }

    a {
        pointer-events: none;
        text-decoration: none;
    }

    li {
      cursor: pointer;
      overflow: hidden;
      line-height: 1.25rem;

      &.active span{
        color: nb-theme(color-basic-active);
        background-color: nb-theme(background-primary-color-1);
      }

      span {
        font-size: 0.875rem;
        line-height: 1rem;
        background-color: transparent;
        color: nb-theme(text-basic-color);
        padding: 0.75rem 1.25rem;
        border: none;
      }
    }


    .pagination {
        font-size: 0.875rem;
        line-height: 1rem;
        border: nb-theme(border-basic-color-3) solid 1px;
        border-radius: 0.25rem;
    }

    li:not(:last-child) {
        border-right: 1px solid nb-theme(border-basic-color-3);
    }
}
