.header-selector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popover-container {
  border: solid 1px #919191;
  padding: 0 50px;
  padding-bottom: 20px;
}

.per-page {
  display: flex;
  text-align: center;
}

.per-page-input {
  width: 100px;
  margin: auto 0;
}

.per-page-label {
  margin-right: 20px;
  align-self: center;
  margin-bottom: 0;
}

.per-page-button {
  margin-left: 20px;
}

.show-columns {
  display: flex;
  flex-direction: column;
}

.show-columns-label {
  margin: 10px auto;
}

.settings-button {
  width: 100%;
  text-align: right;
}

.actions-container {
  display: flex;
}

.show-columns-select {
  margin-bottom: 20px;
}

.history-list {
  width: 50%;
  margin: 20px 0;
}

.history-list-item {
  display: flex;
  flex-direction: column;
}

.history-list-select {
  font-weight: bold;
  // margin: 20px 0;
  width: 50%;
}

.history-action {
  font-weight: bold;
}

.history-date {
  color: #919191;
  font-size: 12px;
}

.history-item {
  align-self: flex-start;
}
