<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<h4 *ngIf="!isEstimate">
			{{ 'INVOICES_PAGE.HEADER' | translate }}
		</h4>
		<h4 *ngIf="isEstimate">
			{{ 'INVOICES_PAGE.ESTIMATES.HEADER' | translate }}
		</h4>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3" *ngIf="hasInvoiceEditPermission">
			<button nbButton status="success" (click)="add()" class="mr-2">
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>
			<button
				nbButton
				status="info"
				(click)="download()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="download-outline"> </nb-icon>
				{{ 'BUTTONS.DOWNLOAD' | translate }}
			</button>
			<button
				nbButton
				status="info"
				(click)="edit()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button
				nbButton
				status="info"
				(click)="duplicate()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="copy-outline"></nb-icon>
				{{ 'BUTTONS.DUPLICATE' | translate }}
			</button>
			<button
				nbButton
				status="info"
				(click)="send()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="upload-outline"> </nb-icon>
				{{ 'BUTTONS.SEND' | translate }}
			</button>
			<button
				nbButton
				status="info"
				(click)="email()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="email-outline"> </nb-icon>
				{{ 'BUTTONS.EMAIL' | translate }}
			</button>
			<button
				nbButton
				status="danger"
				(click)="delete()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="archive-outline"> </nb-icon>
				{{ 'BUTTONS.DELETE' | translate }}
			</button>
		</div>

		<div class="mb-3" *ngIf="!hasInvoiceEditPermission">
			<button
				nbButton
				status="info"
				(click)="view()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.VIEW' | translate }}
			</button>
		</div>

		<ng2-smart-table
			class="tags-table"
			[settings]="settingsSmartTable"
			[source]="smartTableSource"
			(userRowSelect)="selectInvoice($event)"
			style="cursor: pointer;"
			#invoicesTable
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
