<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header class="header-selector-wrapper">
		<div>
			<h4 *ngIf="!isEstimate">
				{{ 'INVOICES_PAGE.HEADER' | translate }}
			</h4>
			<h4 *ngIf="isEstimate">
				{{ 'INVOICES_PAGE.ESTIMATES.HEADER' | translate }}
			</h4>
		</div>
		<div>
			<ga-layout-selector
				componentName="{{ viewComponentName }}"
			></ga-layout-selector>
		</div>
	</nb-card-header>
	<nb-card-body>
		<nb-tabset>
			<nb-tab tabTitle="Actions">
				<div class="mb-3" *ngIf="hasInvoiceEditPermission">
					<button
						nbButton
						status="success"
						(click)="add()"
						class="mr-2"
					>
						<nb-icon class="mr-1" icon="plus-outline"></nb-icon
						>{{ 'BUTTONS.ADD' | translate }}
					</button>

					<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
						<ng-container
							*ngTemplateOutlet="actionButtons"
						></ng-container>
					</ng-container>
				</div>
			</nb-tab>
			<nb-tab tabTitle="{{ 'INVOICES_PAGE.SET_STATUS' | translate }}">
				<nb-select
					*ngIf="!isEstimate"
					placeholder="{{ 'INVOICES_PAGE.SET_STATUS' | translate }}"
					[(selected)]="status"
					[disabled]="disableButton"
					(selectedChange)="selectStatus($event)"
				>
					<nb-option
						*ngFor="let status of invoiceStatusTypes"
						[value]="status"
					>
						{{ status }}
					</nb-option>
				</nb-select>
				<nb-select
					*ngIf="isEstimate"
					placeholder="{{ 'INVOICES_PAGE.SET_STATUS' | translate }}"
					[(selected)]="status"
					[disabled]="disableButton"
					(selectedChange)="selectStatus($event)"
				>
					<nb-option
						*ngFor="let status of estimateStatusTypes"
						[value]="status"
					>
						{{ status }}
					</nb-option>
				</nb-select>
			</nb-tab>
			<nb-tab
				tabTitle="{{ 'INVOICES_PAGE.SHOW_HIDE_COLUMNS' | translate }}"
			>
				<nb-select
					class="mr-2"
					*ngIf="!isEstimate"
					[multiple]="true"
					[(selected)]="columns"
					(selectedChange)="selectColumn($event)"
					placeholder="{{ 'INVOICES_PAGE.SHOW_COLUMNS' | translate }}"
				>
					<nb-option
						class="column"
						*ngFor="let column of invoiceColumns"
						[value]="column"
					>
						{{ column }}
					</nb-option>
				</nb-select>
				<nb-select
					class="mr-2"
					*ngIf="isEstimate"
					[multiple]="true"
					[(selected)]="columns"
					(selectedChange)="selectColumn($event)"
					placeholder="{{ 'INVOICES_PAGE.SHOW_COLUMNS' | translate }}"
				>
					<nb-option
						class="column"
						*ngFor="let column of estimateColumns"
						[value]="column"
					>
						{{ column }}
					</nb-option>
				</nb-select>
			</nb-tab>
			<nb-tab tabTitle="Search">
				<form [formGroup]="form">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="inputInvoiceNumber" class="label">
									<span *ngIf="!isEstimate">{{
										'INVOICES_PAGE.INVOICE_NUMBER'
											| translate
									}}</span>
									<span *ngIf="isEstimate">{{
										'INVOICES_PAGE.ESTIMATE_NUMBER'
											| translate
									}}</span>
								</label>
								<input
									*ngIf="!isEstimate"
									type="number"
									nbInput
									placeholder="{{
										'INVOICES_PAGE.INVOICE_NUMBER'
											| translate
									}}"
									formControlName="invoiceNumber"
									id="inputInvoiceNumber"
									fullWidth
								/>
								<input
									*ngIf="isEstimate"
									type="number"
									nbInput
									placeholder="{{
										'INVOICES_PAGE.ESTIMATE_NUMBER'
											| translate
									}}"
									formControlName="invoiceNumber"
									id="inputInvoiceNumber"
									fullWidth
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="inputClientName" class="label">
									<span>{{
										'INVOICES_PAGE.INVOICES_SELECT_CLIENT'
											| translate
									}}</span>
								</label>
								<ng-select
									[items]="clients"
									bindName="name"
									placeholder="{{
										'POP_UPS.ALL_CLIENTS' | translate
									}}"
									formControlName="client"
									id="inputClient"
									[searchFn]="searchClient"
								>
									<ng-template
										ng-option-tmp
										let-item="item"
										let-index="index"
									>
										{{ item.name }}
									</ng-template>
									<ng-template ng-label-tmp let-item="item">
										<div class="selector-template">
											<span>{{ item.name }}</span>
										</div>
									</ng-template>
								</ng-select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="inputInvoiceDate" class="label">
									<span *ngIf="!isEstimate">{{
										'INVOICES_PAGE.INVOICES_SELECT_INVOICE_DATE'
											| translate
									}}</span>
									<span *ngIf="isEstimate">{{
										'INVOICES_PAGE.ESTIMATE_DATE'
											| translate
									}}</span>
								</label>
								<input
									*ngIf="!isEstimate"
									formControlName="invoiceDate"
									type="text"
									nbInput
									placeholder="{{
										'INVOICES_PAGE.INVOICES_SELECT_INVOICE_DATE'
											| translate
									}}"
									[nbDatepicker]="invoiceDatePicker"
									id="inputInvoiceDate"
									fullWidth
									required
								/>
								<input
									*ngIf="isEstimate"
									formControlName="invoiceDate"
									type="text"
									nbInput
									placeholder="{{
										'INVOICES_PAGE.ESTIMATE_DATE'
											| translate
									}}"
									[nbDatepicker]="invoiceDatePicker"
									id="inputInvoiceDate"
									fullWidth
									required
								/>
								<nb-datepicker
									#invoiceDatePicker
								></nb-datepicker>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="inputDueDate" class="label">{{
									'INVOICES_PAGE.INVOICES_SELECT_DUE_DATE'
										| translate
								}}</label>
								<input
									nbInput
									placeholder="{{
										'INVOICES_PAGE.INVOICES_SELECT_DUE_DATE'
											| translate
									}}"
									[nbDatepicker]="dueDatePicker"
									formControlName="dueDate"
									id="inputDueDate"
									fullWidth
								/>
								<nb-datepicker #dueDatePicker></nb-datepicker>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="inputTotalValue" class="label">
									{{
										'INVOICES_PAGE.TOTAL_VALUE' | translate
									}}
								</label>
								<input
									type="number"
									nbInput
									placeholder="{{
										'INVOICES_PAGE.TOTAL_VALUE' | translate
									}}"
									formControlName="totalValue"
									id="inputTotalValue"
									fullWidth
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="inputCurrency" class="label">
									{{
										'INVOICES_PAGE.INVOICES_SELECT_CURRENCY'
											| translate
									}}
								</label>
								<nb-select
									class="d-block"
									formControlName="currency"
									placeholder="{{
										'INVOICES_PAGE.INVOICES_SELECT_CURRENCY'
											| translate
									}}"
									fullWidth
								>
									<nb-option
										*ngFor="let currency of currencies"
										value="{{ currency }}"
										>{{ currency }}</nb-option
									>
								</nb-select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="inputStatus" class="label">
									{{ 'INVOICES_PAGE.STATUS' | translate }}
								</label>
								<nb-select
									id="inputStatus"
									*ngIf="!isEstimate"
									formControlName="status"
									fullWidth
									placeholder="{{
										'INVOICES_PAGE.SET_STATUS' | translate
									}}"
								>
									<nb-option
										*ngFor="
											let status of invoiceStatusTypes
										"
										[value]="status"
									>
										{{ status }}
									</nb-option>
								</nb-select>
								<nb-select
									id="inputStatus"
									*ngIf="isEstimate"
									formControlName="status"
									fullWidth
									placeholder="{{
										'INVOICES_PAGE.SET_STATUS' | translate
									}}"
								>
									<nb-option
										*ngFor="
											let status of estimateStatusTypes
										"
										[value]="status"
									>
										{{ status }}
									</nb-option>
								</nb-select>
							</div>
						</div>
						<div class="col-sm-3">
							<ga-tags-color-input
								[selectedTags]="tags"
								(selectedTagsEvent)="selectedTagsEvent($event)"
								[isOrgLevel]="true"
							>
							</ga-tags-color-input>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<button
								class="mr-3"
								(click)="search()"
								status="success"
								nbButton
							>
								{{ 'BUTTONS.SEARCH' | translate }}
							</button>
						</div>
						<div class="col-sm-3">
							<button
								class="mr-3"
								(click)="reset()"
								status="info"
								nbButton
							>
								{{ 'BUTTONS.RESET' | translate }}
							</button>
						</div>
					</div>
				</form>
			</nb-tab>
		</nb-tabset>

		<div class="mb-3" *ngIf="!hasInvoiceEditPermission">
			<button
				nbButton
				status="info"
				(click)="view()"
				class="mr-2"
				[disabled]="disableButton"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.VIEW' | translate }}
			</button>
		</div>
		<ng2-smart-table
			class="tags-table"
			[settings]="settingsSmartTable"
			[source]="smartTableSource"
			*ngIf="dataLayoutStyle === 'TABLE'"
			(userRowSelect)="selectInvoice($event)"
			style="cursor: pointer;"
			#invoicesTable
		>
		</ng2-smart-table>
		<ga-card-grid
			[settings]="settingsSmartTable"
			[source]="invoices"
			*ngIf="dataLayoutStyle === 'CARDS_GRID'"
			[buttonTemplate]="actionButtons"
		></ga-card-grid>
	</nb-card-body>
</nb-card>

<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<button
		nbButton
		status="info"
		(click)="download(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="download-outline"> </nb-icon>
		{{ 'BUTTONS.DOWNLOAD' | translate }}
	</button>
	<button
		nbButton
		status="info"
		(click)="edit(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
		{{ 'BUTTONS.EDIT' | translate }}
	</button>

	<button
		nbButton
		[nbContextMenu]="settingsContextMenu"
		nbContextMenuPlacement="top"
		(click)="selectMenu(selectedItem)"
		*ngIf="dataLayoutStyle === 'CARDS_GRID'"
	>
		<nb-icon class="icons" icon="settings-2-outline"></nb-icon>
	</button>

	<button
		*ngIf="dataLayoutStyle === 'TABLE'"
		nbButton
		status="info"
		(click)="duplicated(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="copy-outline"></nb-icon>
		{{ 'BUTTONS.DUPLICATE' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'TABLE'"
		nbButton
		status="info"
		(click)="send(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="upload-outline"> </nb-icon>
		{{ 'BUTTONS.SEND' | translate }}
	</button>
	<button
		*ngIf="isEstimate && dataLayoutStyle === 'TABLE'"
		nbButton
		status="info"
		(click)="convert(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="swap"> </nb-icon>
		{{ 'BUTTONS.CONVERT_TO_INVOICE' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'TABLE'"
		nbButton
		status="info"
		(click)="email(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="email-outline"> </nb-icon>
		{{ 'BUTTONS.EMAIL' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'TABLE'"
		nbButton
		status="danger"
		(click)="delete(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="archive-outline"> </nb-icon>
		{{ 'BUTTONS.DELETE' | translate }}
	</button>
</ng-template>
