<ng-template [ngIf]="isOpen">
	<div class="timer-card card" ngDraggable (endOffset)="onMoveEnd($event)" [position]="position">
		<div class="header">
			<button
				class="btn-close"
				size="small"
				nbButton
				ghost
				(click)="toggleWindow()"
			>
				<nb-icon icon="close-outline"></nb-icon>
			</button>
		</div>
		<form #form="ngForm">
			<div class="timer-container form-group pr-4">
				<ng-template 
					[ngIf]="(trackType$ | async) == timeLogType.TRACKED"
				>
					<div class="time-tracker">
						<div class="is_billable">
							<button
								nbButton
								type="button"
								(click)="
									$event.stopPropagation(); isBillable = !isBillable
								"
								size="small"
								[status]="isBillable ? 'primary' : 'basic'"
								[nbTooltip]="'TIMER_TRACKER.IS_BILLABLE' | translate"
								[disabled]="running"
							> $ </button>
						</div>
						<div class="time-count">
							<span class="current-session">{{ currentSessionTime }}</span>
							<span class="today-time mt-2" >
								{{ 'TIMER_TRACKER.TODAY' | translate }}: {{ todaySessionTime }}
							</span>
						</div>
						<div class="actions">
							<div class="toggle">
								<button
									type="submit"
									class="btn btn-rounded"
									[ngClass]="{
										'btn-danger': running,
										'btn-success': !running
									}"
									[nbTooltip]="
										(running
											? 'TIMER_TRACKER.STOP_TIMER'
											: 'TIMER_TRACKER.START_TIMER'
										) | translate
									"
									(click)="toggleTimer()"
									[disabled]="isDisable"
								>
									<nb-icon 
										[icon]="(!running 
											? 'play-circle-outline' 
											: 'pause-circle-outline')"
									></nb-icon>
								</button>
							</div>
						</div>
					</div>
				</ng-template>
				<ng-template
					[ngIf]="(trackType$ | async) == timeLogType.MANUAL"
				>
					<div class="time-manual">
						<h6>{{ 'TIMER_TRACKER.ADD_TIME' | translate }}</h6>
						<div class="row">
							<div class="col-12">
								<ngx-timer-range-picker
									name="selectedRange"
									[maxDate]="allowFutureDate ? null : today"
									[(ngModel)]="selectedRange"
								></ngx-timer-range-picker>
							</div>
							<div class="col-12">
								<nb-checkbox
									[(ngModel)]="isBillable"
									name="isBillable"
									status="primary"
								>
									{{ 'TIMER_TRACKER.IS_BILLABLE' | translate }}
								</nb-checkbox>
							</div>
						</div>
					</div>
				</ng-template>
				<div
					class="mode"
					*ngxPermissionsOnly="[
						OrganizationPermissionsEnum.ALLOW_MANUAL_TIME
					]"
				>
					<button
						nbButton
						type="button"
						(click)="$event.stopPropagation(); setTimeType(timeLogType.TRACKED)"
						size="tiny"
						[status]="
							(trackType$ | async) == timeLogType.TRACKED 
								? 'primary' 
								: 'basic'
						"
						[nbTooltip]="'TIMER_TRACKER.TIMER' | translate"
						[disabled]="running"
					>
						<nb-icon icon="clock-outline"></nb-icon>
					</button>
					<span
						[nbTooltip]="
							(organization?.allowManualTime
								? 'TIMER_TRACKER.MANUAL'
								: 'TIMER_TRACKER.MANUAL_NOT_ALLOW'
							) | translate
						"
					>
						<button
							nbButton
							type="button"
							(click)="
								$event.stopPropagation(); setTimeType(timeLogType.MANUAL)
							"
							size="tiny"
							[status]="
								(trackType$ | async) == timeLogType.MANUAL
									? 'primary'
									: 'basic'
							"
							[disabled]="running || !organization?.allowManualTime"
						>
							<nb-icon icon="menu-outline"></nb-icon>
						</button>
					</span>
				</div>
			</div>
	
			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_CLIENT' | translate }}</label>
				<ga-contact-selector
					name="organizationContactId"
					[employeeId]="employeeId"
					[disabled]="running"
					[(ngModel)]="organizationContactId"
					#clientInput="ngModel"
					[required]="organization?.requireClient"
				></ga-contact-selector>
				<div
					*ngIf="clientInput.invalid && form.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="clientInput.errors.required">
						{{ 'TIMER_TRACKER.VALIDATION.CLIENT_REQUIRED' | translate }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_PROJECT' | translate }}</label>
				<ga-project-selector
					name="projectId"
					[skipGlobalChange]="true"
					[showAllOption]="false"
					[placeholder]="'TIMER_TRACKER.SELECT_PROJECT' | translate"
					[defaultSelected]="false"
					[organizationContactId]="organizationContactId"
					[employeeId]="employeeId"
					[disabled]="running"
					[(ngModel)]="projectId"
					#projectInput="ngModel"
					[required]="organization?.requireProject"
				></ga-project-selector>
	
				<div
					*ngIf="projectInput.invalid && form.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="projectInput.errors.required">
						{{
							'TIMER_TRACKER.VALIDATION.PROJECT_REQUIRED' | translate
						}}
					</div>
				</div>
			</div>
	
			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.SELECT_TASK' | translate }}</label>
				<ga-task-selector
					name="taskId"
					[projectId]="projectId"
					[employeeId]="employeeId"
					[disabled]="running"
					[(ngModel)]="taskId"
					#taskInput="ngModel"
					[required]="organization?.requireTask"
				></ga-task-selector>
	
				<div
					*ngIf="taskInput.invalid && form.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="taskInput.errors.required">
						{{ 'TIMER_TRACKER.VALIDATION.TASK_REQUIRED' | translate }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>{{ 'TIMER_TRACKER.DESCRIPTION' | translate }}</label>
				<textarea
					class="form-control"
					rows="2"
					[placeholder]="'TIMER_TRACKER.DESCRIPTION' | translate"
					name="description"
					[disabled]="running"
					[(ngModel)]="description"
					#descriptionInput="ngModel"
					[required]="organization?.requireDescription"
				></textarea>
				<div
					*ngIf="descriptionInput.invalid && form.submitted"
					class="invalid-feedback d-block"
				>
					<div *ngIf="descriptionInput.errors.required">
						{{
							'TIMER_TRACKER.VALIDATION.DESCRIPTION_REQUIRED'
								| translate
						}}
					</div>
				</div>
			</div>
			<div class="time-manual" *ngIf="(trackType$ | async) == timeLogType.MANUAL">
				<button class="btn btn-success" (click)="addTime()">
					{{ 'TIMER_TRACKER.ADD_TIME' | translate }}
				</button>
			</div>
			<div
				class="view-log-button mt-2 text-center"
				*ngIf="user?.employee?.id"
			>
				<a nbButton ghost [routerLink]="['/pages/employees/timesheets']">
					{{ 'TIMER_TRACKER.VIEW_TIMESHEET' | translate }}
				</a>
			</div>
		</form>
	</div>
</ng-template>


