<form class="row offset-3 col-6" [formGroup]="form" *ngIf="form">
    <input type="text" class="form-control col-6" placeholder="First Name" formControlName="firstName" />
    <input type="text" class="form-control col-6" placeholder="Last Name" formControlName="lastName" />
    <input type="text" class="form-control col-6" placeholder="Username" formControlName="username" />
    <input type="text" class="form-control col-6" placeholder="email" formControlName="email" />
    <input type="text" class="form-control col-6" placeholder="Image" formControlName="imageUrl" />
    <input type="text" class="form-control col-6" placeholder="password" formControlName="password" />
</form>