<form [formGroup]="form" *ngIf="form">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="inputFirstName" class="label">{{
					'FORM.LABELS.FIRST_NAME' | translate
				}}</label>
				<input
					nbInput
					type="text"
					id="inputFirstName"
					fullWidth
					placeholder="{{
						'FORM.PLACEHOLDERS.FIRST_NAME' | translate
					}}"
					formControlName="firstName"
					[ngClass]="{
						'status-danger':
							firstName.invalid &&
							(firstName.dirty || firstName.touched),
						'status-success':
							firstName.valid &&
							(firstName.dirty || firstName.touched)
					}"
					[autocomplete]="off"
				/>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="inputLastName" class="label">{{
					'FORM.LABELS.LAST_NAME' | translate
				}}</label>
				<input
					nbInput
					type="text"
					id="inputLastName"
					fullWidth
					placeholder="{{
						'FORM.PLACEHOLDERS.LAST_NAME' | translate
					}}"
					formControlName="lastName"
					[ngClass]="{
						'status-danger':
							lastName.invalid &&
							(lastName.dirty || lastName.touched),
						'status-success':
							lastName.valid &&
							(lastName.dirty || lastName.touched)
					}"
				/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="inputUsername" class="label">{{
					'FORM.USERNAME' | translate
				}}</label>
				<input
					nbInput
					type="text"
					id="inputUsername"
					fullWidth
					placeholder="{{ 'FORM.USERNAME' | translate }}"
					formControlName="username"
					[ngClass]="{
						'status-danger':
							username.invalid &&
							(username.dirty || username.touched),
						'status-success':
							username.valid &&
							(username.dirty || username.touched)
					}"
				/>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="inputEmail" class="label">{{
					'FORM.EMAIL' | translate
				}}</label>
				<input
					nbInput
					type="email"
					id="inputEmail"
					fullWidth
					placeholder="{{ 'FORM.EMAIL' | translate }}"
					formControlName="email"
					[ngClass]="{
						'status-danger':
							email.invalid && (email.dirty || email.touched),
						'status-success':
							email.valid && (email.dirty || email.touched)
					}"
				/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="startedWork" class="label">{{
					'FORM.LABELS.START_DATE' | translate
				}}</label>
				<input
					[nbDatepicker]="datepicker"
					nbInput
					fullWidth
					placeholder="{{
						'FORM.PLACEHOLDERS.START_DATE' | translate
					}}"
					formControlName="startedWorkOn"
				/>
				<nb-datepicker #datepicker></nb-datepicker>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="inputPassword" class="label">{{
					'FORM.PASSWORD' | translate
				}}</label>
				<input
					nbInput
					type="password"
					id="inputPassword"
					fullWidth
					placeholder="{{ 'FORM.PASSWORD' | translate }}"
					formControlName="password"
					[ngClass]="{
						'status-danger':
							password.invalid &&
							(password.dirty || password.touched),
						'status-success':
							password.valid &&
							(password.dirty || password.touched)
					}"
				/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="inputImageUrl" class="label">{{
					'FORM.LABELS.IMAGE_URL' | translate
				}}</label>
				<input
					nbInput
					type="text"
					id="inputImageUrl"
					fullWidth
					placeholder="{{
						'FORM.PLACEHOLDERS.IMAGE_URL' | translate
					}}"
					formControlName="imageUrl"
					[ngClass]="{
						'status-danger':
							imageUrl.invalid &&
							(imageUrl.dirty || imageUrl.touched),
						'status-success':
							imageUrl.valid &&
							(imageUrl.dirty || imageUrl.touched)
					}"
				/>
			</div>
		</div>
	</div>
</form>
