.preview-img {
	padding-left: 14px;
	padding-right: 16px;
}

.img-rounded {
	max-height: 70px;
}
.remove-icon {
	div {
		cursor: pointer;
	}

	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
}
