<nb-card class="main">
	<nb-card-header class="d-flex">
		<h5>{{ 'TAGS_PAGE.ADD_TAGS' | translate }}</h5>
		<nb-icon
			class="ml-auto mt-1 close"
			icon="close-outline"
			(click)="closeDialog()"
		></nb-icon>
	</nb-card-header>
	<nb-card-body class="body">
		<div class="select">
			<nb-select
				class="select-user"
				placeholder="Select User"
				[(selected)]="selectedUser"
			>
				<nb-option *ngFor="let user of selectedUser">
					{{ user.userName }}
				</nb-option>
			</nb-select>
			<nb-select
				class="select-color"
				placeholder="Select Color"
				[(selected)]="selectedColor"
			>
				<nb-option *ngFor="let user of selectedColor">
					{{ user.color }}
				</nb-option>
			</nb-select>
		</div>
		<div>
			<textarea class="description" placeholder="Description"></textarea>
		</div>
	</nb-card-body>
	<nb-card-footer class="text-right">
		<button (click)="closeDialog()" status="danger" class="mr-3" nbButton>
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button status="success" nbButton>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
