@import 'gauzy/_gauzy-table';
@import 'gauzy/_gauzy-dialogs';

:host ::ng-deep ng2-smart-table .ng2-smart-actions-title a {
  background-color: #00d68f !important;
  transform: scale(0.9);
}

:host ::ng-deep ng2-smart-table .ng2-smart-actions a {
  transform: scale(0.6);
  border-radius: 0.5rem;
}

:host ::ng-deep ng2-smart-table .ng2-smart-actions a:nth-child(1) {
  background-color: #00d68f !important;
  color: white;
}

:host ::ng-deep ng2-smart-table .ng2-smart-actions a:nth-child(2) {
  background-color: white !important;
  color: #ff3d71;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

:host ::ng-deep ng2-smart-table .ng2-smart-actions a:nth-child(1):hover {
  color: white;
}

:host ::ng-deep ng2-smart-table .ng2-smart-actions a:nth-child(2):hover {
  color: white;
}

.total {
  float: right;

  &-item {
    border: solid 2px gray;
    border-radius: 5px;
    margin: 20px 20px 0px 10px;
    padding: 5px;
    font-size: 18px;
  }
}

:host ::ng-deep ng2-smart-table .ng2-smart-actions {
  width: 5%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;

  .block-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .block {
      width: 48%;
    }
  }
}
.footer-block-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .footer-block {
    width: 100%;
  }
}

.terms-textarea {
  width: 98%;
}

.group {
  border-radius: 0.6rem;
  margin-bottom: 20px;
  padding: 9px 18px 2px 12px;

  .label-group {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 18px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.discountCheckbox {
  margin: 20px -1rem;
}

nb-card {
  background-color: rgba(50, 50, 50, 0.03);
}
div.button-action {
  background-color: rgba(50, 50, 50, 0.03);
  padding: 6px 8px;
  border-radius: nb-theme(button-rectangle-border-radius);
  margin-bottom: 12px;
}
.content {
  background-color: rgba(50, 50, 50, 0.03);
  .row.group {
    background: rgba(255, 255, 255, 0.5);
  }
  .custom-table {
    display: flex;
    flex-direction: column;
    background-color: rgba(50, 50, 50, 0.03);
    padding: 12px;
    div.btn-action {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

:host button.gray {
  background-color: rgba(126, 126, 143, 1);
  color: nb-theme(text-control-color);
  [nbButton].appearance-filled.status-basic {
    background-color: var(--button-filled-basic-background-color);
    border-color: var(--button-filled-basic-border-color);
    color: var(--button-filled-basic-text-color);
  }
}
