<form class="dialog-from" (ngSubmit)="submit()" [formGroup]="form">
	<nb-card class="confirm-dialog">
		<nb-card-header>
			<div class="row">
				<div class="col">
					{{ data?.title }}
				</div>
				<button
					class="col-auto"
					nbButton
					ghost
					(click)="close(false)"
					type="button"
				>
					<nb-icon icon="close-outline"></nb-icon>
				</button>
			</div>
		</nb-card-header>
		<nb-card-body class="custom-scroll">
			<label>{{ data?.message }}</label>
			<ng-template
				[ngIf]="
					data?.inputType == 'checkbox' || data?.inputType == 'radio'
				"
				[ngIfElse]="textInput"
			>
				<nb-list *ngIf="data?.inputType == 'checkbox'">
					<nb-list-item *ngFor="let option of data?.options">
						<nb-checkbox [value]="option.value">{{
							option.label
						}}</nb-checkbox>
					</nb-list-item>
				</nb-list>

				<nb-radio-group
					formControlName="input"
					*ngIf="data.inputType == 'radio'"
				>
					<nb-radio
						*ngFor="let option of data?.options"
						[value]="option.value"
					>
						{{ option.label }}
					</nb-radio>
				</nb-radio-group>
			</ng-template>

			<ng-template #textInput>
				<div class="form-group">
					<input
						*ngIf="
							data?.inputType == 'text' ||
							data?.inputType == 'password' ||
							data?.inputType == 'email'
						"
						class="form-control"
						[placeholder]="data?.placeholder"
						[type]="data?.inputType"
						formControlName="input"
						nbInput
						required
					/>
					<textarea
						*ngIf="data?.inputType == 'textarea'"
						class="form-control"
						[placeholder]="data?.placeholder"
						formControlName="input"
						nbInput
						required
					></textarea>
					<nb-select
						class="form-control"
						*ngIf="data?.inputType == 'select'"
						[placeholder]="data?.placeholder"
						formControlName="input"
					>
						<nb-option
							*ngFor="let option of data?.options"
							[value]="option.value"
							>{{ option.label }}</nb-option
						>
					</nb-select>
				</div>
			</ng-template>
		</nb-card-body>
		<nb-card-footer>
			<button class="mr-2" nbButton status="primary">
				{{ data?.okText || ('BUTTONS.OK' | translate) }}
			</button>
			<button class="mr-2" nbButton type="button" (click)="close(false)">
				{{ data?.cancelText || ('BUTTONS.CANCEL' | translate) }}
			</button>
		</nb-card-footer>
	</nb-card>
</form>
