<nb-card>
	<nb-card-header class="header-selector-wrapper">
		<div>
			<h4>{{ 'GOALS_PAGE.GOAL_SETTINGS' | translate }}</h4>
		</div>
		<ga-layout-selector
			*ngIf="selectedTab != 'General'"
			componentName="{{ viewComponentName }}"
		></ga-layout-selector>
	</nb-card-header>
	<nb-card-body>
		<nb-tabset (changeTab)="tabChange($event)">
			<nb-tab tabTitle="General">
				<div>
					<nb-card>
						<nb-card-header>
							<button
								[disabled]="generalSettingsForm.invalid"
								nbButton
								status="success"
								(click)="saveGeneralSettings()"
							>
								{{ 'BUTTONS.SAVE' | translate }}
							</button>
						</nb-card-header>
						<nb-card-body>
							<form [formGroup]="generalSettingsForm">
								<h6>
									{{
										'GOALS_PAGE.SETTINGS.MAX_ENTITIES'
											| translate
									}}
								</h6>
								<label class="label mr-3" for="max-goals">
									{{
										'GOALS_PAGE.FORM.LABELS.OBJECTIVE'
											| translate
									}}
								</label>
								<input
									nbInput
									id="max-goals"
									min="5"
									formControlName="maxObjectives"
									type="number"
								/>
								<label
									class="label mr-3 ml-3"
									for="max-key-result"
								>
									{{
										'GOALS_PAGE.FORM.LABELS.KEY_RESULT'
											| translate
									}}
								</label>
								<input
									nbInput
									id="max-key-result"
									formControlName="maxKeyResults"
									min="5"
									type="number"
								/>
								<h6 class="mt-3">
									{{
										'GOALS_PAGE.SETTINGS.EMPLOYEE_OBJECTIVES'
											| translate
									}}
								</h6>
								<nb-toggle
									formControlName="employeeCanCreateObjective"
								></nb-toggle>
								<h6 class="mt-3">
									{{
										'GOALS_PAGE.SETTINGS.WHO_CAN_OWN_OBJECTIVES'
											| translate
									}}
								</h6>
								<nb-select formControlName="canOwnObjectives">
									<nb-option
										*ngFor="
											let level of goalOwnershipEnum
												| keyvalue
										"
										[value]="level.value"
									>
										{{
											'GOALS_PAGE.OWNERSHIP.' + level.key
												| translate
										}}
									</nb-option>
								</nb-select>
								<h6 class="mt-3">
									{{
										'GOALS_PAGE.SETTINGS.WHO_CAN_OWN_KEY_RESULTS'
											| translate
									}}
								</h6>
								<nb-select formControlName="canOwnKeyResult">
									<nb-option
										*ngFor="
											let level of goalOwnershipEnum
												| keyvalue
										"
										[value]="level.value"
									>
										{{
											'GOALS_PAGE.OWNERSHIP.' + level.key
												| translate
										}}
									</nb-option>
								</nb-select>
								<h6 class="mt-3">
									{{
										'GOALS_PAGE.SETTINGS.ADD_KPI_TO_KEY_RESULT'
											| translate
									}}
								</h6>
								<nb-toggle
									status="basic"
									formControlName="krTypeKPI"
								></nb-toggle>
								<h6 class="mt-3">
									{{
										'GOALS_PAGE.SETTINGS.ADD_TASK_TO_KEY_RESULT'
											| translate
									}}
								</h6>
								<nb-toggle
									status="basic"
									formControlName="krTypeTask"
								></nb-toggle>
							</form>
						</nb-card-body>
					</nb-card>
				</div>
			</nb-tab>
			<nb-tab
				tabTitle="{{
					'GOALS_PAGE.SETTINGS.TIME_FRAME_PAGE_TITLE' | translate
				}}"
			>
				<div class="mb-3">
					<button
						nbButton
						status="success"
						(click)="editTimeFrame('add')"
						class="mr-2"
					>
						<nb-icon class="mr-1" icon="plus-outline"></nb-icon
						>{{ 'BUTTONS.ADD' | translate }}
					</button>
					<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
						<ng-container
							*ngTemplateOutlet="actionButtons"
						></ng-container>
					</ng-container>
				</div>
			</nb-tab>
			<nb-tab tabTitle="KPI">
				<div class="mb-3">
					<button
						nbButton
						status="success"
						(click)="editKPI('add')"
						class="mr-2"
					>
						<nb-icon class="mr-1" icon="plus-outline"></nb-icon
						>{{ 'BUTTONS.ADD' | translate }}
					</button>
					<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
						<ng-container
							*ngTemplateOutlet="actionButtons"
						></ng-container>
					</ng-container>
				</div>
			</nb-tab>
		</nb-tabset>
		<ng-container *ngIf="selectedTab != 'General'">
			<ng2-smart-table
				[settings]="smartTableSettings"
				[source]="smartTableData"
				(userRowSelect)="selectRow($event)"
				style="cursor: pointer;"
				*ngIf="dataLayoutStyle === 'TABLE'"
				#smartTable
			>
			</ng2-smart-table>
			<ga-card-grid
				[settings]="smartTableSettings"
				[source]="goalTimeFrames"
				*ngIf="dataLayoutStyle === 'CARDS_GRID'"
				[buttonTemplate]="actionButtons"
			></ga-card-grid>
		</ng-container>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<button
		*ngIf="selectedTab !== 'KPI'"
		nbButton
		status="info"
		(click)="editTimeFrame('edit', selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
		{{ 'BUTTONS.EDIT' | translate }}
	</button>
	<button
		*ngIf="selectedTab !== 'KPI'"
		nbButton
		status="danger"
		(click)="deleteTimeFrame(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="archive-outline"></nb-icon>
		{{ 'BUTTONS.DELETE' | translate }}
	</button>

	<button
		*ngIf="selectedTab === 'KPI'"
		nbButton
		status="info"
		(click)="editKPI('edit', selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
		{{ 'BUTTONS.EDIT' | translate }}
	</button>
	<button
		*ngIf="selectedTab === 'KPI'"
		nbButton
		status="danger"
		(click)="deleteKPI(selectedItem)"
		class="mr-2"
		[disabled]="!selectedItem && disableButton"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="archive-outline"></nb-icon>
		{{ 'BUTTONS.DELETE' | translate }}
	</button>
</ng-template>
