@import 'gauzy/_gauzy-table.scss';

:host {
  nb-tab.content-active {
    padding: 1rem;
    overflow: unset;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  nb-card,
  nb-tab {
    background-color: var(--gauzy-card-2);
    margin: 0;
  }
  nb-card-body {
    overflow: unset;
    margin: 0;
  }

  .nb-tabset {
    margin-top: 27px;
  }

  nb-tab {
    height: calc(100vh - 22.5rem);
    .table-data {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: unset;
      .table-scroll-container {
        flex-grow: 10;
      }
    }
  }
}
.card-general {
  background: var(--gauzy-card-3);
  border-radius: nb-theme(border-radius);
}
:host .gauzy-button-container {
  position: absolute;
  @include nb-ltr(right, 1rem);
  @include nb-rtl(left, 1rem);
  top: 0;
}
