<nb-card>
	<nb-card-header>
		<button
			*ngIf="!showAddCard"
			(click)="showAddCard = !showAddCard"
			nbButton
			status="success"
		>
			<nb-icon class="mr-1" icon="plus-outline"></nb-icon
			>{{ 'BUTTONS.ADD' | translate }}
		</button>
		<ga-edit-organization-projects-mutation
			*ngIf="showAddCard"
			[employees]="employees"
			[organization]="organization"
			[project]="projectToEdit"
			[clients]="clients"
			(canceled)="cancel()"
			(addOrEditProject)="addOrEditProject($event)"
		>
		</ga-edit-organization-projects-mutation>
	</nb-card-header>
	<nb-card-body class="project-list" *ngIf="projects?.length">
		<ga-entity-with-members-card
			*ngFor="let p of projects"
			[entityWithMembers]="p"
			(remove)="removeProject(p.id, p.name)"
			(edit)="editProject(p)"
			class="member-card"
		>
			<div class="public-icon">
				<div *ngIf="p.public; else notPublic">
					<nb-icon
						class="ml-auto mt-1 close float-left"
						icon="eye-outline"
					></nb-icon>
				</div>
				<ng-template #notPublic>
					<nb-icon
						class="ml-auto mt-1 close float-left"
						icon="eye-off-outline"
					></nb-icon>
				</ng-template>
			</div>
			<div class="client-info">
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.CLIENT' | translate }}
					</div>
					<div class="info-value">{{ p.client?.name }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.START_DATE' | translate }}
					</div>
					<div class="info-value">{{ p.startDate | date }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.END_DATE' | translate }}
					</div>
					<div class="info-value">{{ p.endDate | date }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.BILLING' | translate }}
					</div>
					<div class="info-value">
						{{ p.billing | removeLodash | titlecase }}
					</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.CURRENCY' | translate }}
					</div>
					<div class="info-value">{{ p.currency }}</div>
				</div>
				<div class="info-line">
					<div class="info-meta">
						{{ 'ORGANIZATIONS_PAGE.EDIT.OWNER' | translate }}
					</div>
					<div class="info-value">
						{{ p.owner | titlecase }}
					</div>
				</div>
			</div>
		</ga-entity-with-members-card>
	</nb-card-body>
</nb-card>
