div {
	border-radius: 1rem;
	align-content: center;
	display: flex;
	justify-content: center;
}

.badge-warning {
	text-align: center;
	color: white;
	padding: 5px;
	margin-bottom: 5px;
}

.badge-success {
	text-align: center;
	color: white;
	padding: 5px;
	margin-bottom: 5px;
}
