:host > nb-card {
  min-height: 75vh;
  nb-card,
  nb-card-body {
    background-color: rgba(50, 50, 50, 0.03);
  }
}

.table-scroll-container,
.grid-scroll-container {
  overflow-y: auto;
  max-height: calc(70vh - 110px);
}
