<nb-card>
	<nb-card-header class="team-header">
		<h6 class="team-name">{{team?.name}} {{'ORGANIZATIONS_PAGE.TEAMS' | translate }}</h6>
	</nb-card-header>
	<nb-card-body class="team-container">
		<div class="d-flex align-items-center">
			<div class="h1">
				{{team?.statistics?.countWorking}}
			</div>
			<div>/{{team?.statistics?.countTotal}}</div>
		</div>
		<div class="counter-container">
			<gauzy-counter-point
				[total]="team?.statistics?.countTotal"
				[value]="team?.statistics?.countWorking || 0"
			></gauzy-counter-point>
		</div>
	</nb-card-body>
</nb-card>
