.badge-danger {
  text-align: center;
  padding: 5px;
  background-color: #ff3d71;
  margin-bottom: 5px;
}

.badge-success {
  text-align: center;
  padding: 5px;
  background-color: #00d68f;
}

.badge-primary {
  text-align: center;
  padding: 5px;
  background-color: #0095ff;
}

.badge-warning {
  text-align: center;
  padding: 5px;
  background-color: #fa0;
}

.rating {
  display: flex;
  justify-content: center;
}
