<div class="rating">
	<ga-star-rating-output [rate]="rowData.rating"></ga-star-rating-output>
</div>

<div *ngIf="!rowData.isArchived">
	<div class="text-center d-block" *ngIf="rowData.status === 'APPLIED'">
		<div class="badge-primary">
			{{ 'CANDIDATES_PAGE.APPLIED' | translate }}
		</div>
	</div>
	<div class="text-center d-block" *ngIf="rowData.status === 'HIRED'">
		<div class="badge-success">
			{{ 'CANDIDATES_PAGE.HIRED' | translate }}
		</div>
	</div>
	<div class="text-center d-block" *ngIf="rowData.status === 'REJECTED'">
		<div class="badge-danger">
			{{ 'CANDIDATES_PAGE.REJECTED' | translate }}
		</div>
	</div>
</div>

<div class="text-center d-block" *ngIf="rowData.isArchived">
	<div class="badge-warning">
		{{ 'CANDIDATES_PAGE.ARCHIVED' | translate }}
	</div>
</div>
