<div class="text-center d-block" *ngIf="rowData.status === 'applied'">
	<div class="badge-success">
		{{ 'CANDIDATES_PAGE.APPLIED' | translate }}
	</div>
	{{ rowData.workStatus }}
</div>
<div
	class="text-center d-block"
	*ngIf="rowData.isActive && rowData.status === 'hired'"
>
	<!-- rowData.isActive && -->
	<div class="badge-success">
		{{ 'CANDIDATES_PAGE.HIRED' | translate }}
	</div>
</div>
<div class="text-center d-block" *ngIf="rowData.status === 'rejected'">
	<div class="badge-danger">
		{{ 'CANDIDATES_PAGE.REJECTED' | translate }}
	</div>
</div>
