@import 'themes';
:host {
  .percentage-col {
    width: 90px;
  }
  .child-items {
    padding-left: 70px;
    padding-right: 70px;
  }
  ::ng-deep {
    nb-progress-bar {
      .progress-container {
        height: 10px !important;
      }
      .progress-value {
        span {
          display: none;
        }
      }
    }
  }
}
.child {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: nb-theme(text-primary-color);
}

.no-child {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.clickable {
  cursor: pointer;
}

.arrow{
  width: 32px;
}
