:host {
  .percentage-col {
    width: 90px;
  }
  .child-items {
    padding-left: 70px;
    padding-right: 70px;
  }
  ::ng-deep {
    nb-progress-bar {
      .progress-container {
        height: 5px !important;
      }
      .progress-value {
        span {
          display: none;
        }
      }
    }
  }
}
