@import 'gauzy/_gauzy-table';

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

:host {

  nb-card,
  nb-card-body {
    background-color: nb-theme(gauzy-card-2);
  }
}