<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<h4>{{ 'ORGANIZATIONS_PAGE.ORGANIZATIONS' | translate }}</h4>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3">
			<button
				nbButton
				status="success"
				(click)="addOrganization()"
				class="mr-2"
				*ngIf="hasEditPermission"
			>
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>

			<button
				nbButton
				[disabled]="!selectedOrganization"
				(click)="editOrganization()"
				status="info"
				class="mr-2"
				*ngIf="hasEditPermission || hasEditExpensesPermission"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.MANAGE' | translate }}
			</button>
			<button
				nbButton
				[disabled]="!selectedOrganization"
				(click)="deleteOrganization()"
				status="danger"
				class="mr-2"
				*ngIf="hasEditPermission"
			>
				<nb-icon class="mr-1" icon="trash-2-outline"></nb-icon
				>{{ 'BUTTONS.DELETE' | translate }}
			</button>
		</div>
		<ng2-smart-table
			[settings]="settingsSmartTable"
			[source]="smartTableSource"
			(userRowSelect)="selectOrganization($event)"
			style="cursor: pointer;"
			#settingsTable
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
