@import 'gauzy/_gauzy-table';

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

:host {

  nb-card,
  nb-card-body {
    background-color: nb-theme(gauzy-card-2);
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
    overflow: unset;
    height: calc(100vh - 27rem);

    .table-scroll-container {
      flex-grow: 10;
      max-height: unset;
    }
  }
}