.setting-name {
  font-size: 24px;
  font-weight: bold;
}

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.mutation-card.setting-block {
  background: #eaf3fc;
}

.transparent {
  opacity: 0.7;
}

.settings-body {
  padding: 35px;
}

.sub-header {
  margin-bottom: 20px;
  font-weight: bold;
}

.header-content {
  display: flex;

  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding-left: 30px;
  }
  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    .block-item {
      width: 11rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .block-item-big {
      width: 17.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.container{
  padding: 0;
  overflow-x: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}
