@import '../recurring-expense-employee/recurring-expense-employee.component.scss';

.setting-name {
  font-size: 24px;
  font-weight: bold;
}

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.mutation-card.setting-block {
  background: #eaf3fc;
}

.transparent {
  opacity: 0.7;
}

.settings-body {
  padding: 35px;
}

.sub-header {
  margin-bottom: 20px;
  font-weight: bold;
}

:host .header-content {
  display: flex;

  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    @include nb-ltr(padding-left, 42px);
    @include nb-rtl(padding-right, 42px);
  }
  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    .block-item {
      width: 11rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .block-item-big {
      width: 17.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.container{
  padding: 0.5rem;
  overflow-x: scroll;
  height: 100%;
  margin: 0;
  max-width: unset;
}

.container::-webkit-scrollbar {
  display: none;
}

button.history {
  align-items: center;
  gap: 6px;
}
