<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<div class="main-header">
			<h4>
				{{ 'CANDIDATES_PAGE.HEADER' | translate }}
				{{ organizationName }}
			</h4>
			<div class="header-selector-wrapper">
				<ga-layout-selector
					componentName="{{ viewComponentName }}"
				></ga-layout-selector>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3" *ngIf="hasEditPermission">
			<button
				nbButton
				*ngIf="organizationInvitesAllowed && hasInviteEditPermission"
				status="primary"
				(click)="invite()"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="email-outline"></nb-icon
				>{{ 'BUTTONS.INVITE' | translate }}
			</button>

			<button nbButton status="success" (click)="add()" class="mr-2">
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>

			<ng-container *ngIf="dataLayoutStyle === 'TABLE'">
				<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
			</ng-container>
			<div class="float-right py-auto manage-btn">
				<nb-checkbox
					(checkedChange)="changeIncludeArchived($event)"
					status="warning"
					class="mr-3"
					>{{
						'FORM.CHECKBOXES.INCLUDE_ARCHIVED' | translate
					}}</nb-checkbox
				>
				<button
					nbButton
					status="primary"
					(click)="goTo('interviews')"
					class="mr-2"
				>
					<nb-icon class="mr-1" icon="people-outline"></nb-icon
					>{{ 'BUTTONS.MANAGE_INTERVIEWS' | translate }}
				</button>
				<button
					nbButton
					status="primary"
					(click)="goTo('invites')"
					class="mr-2"
				>
					<nb-icon class="mr-1" icon="email-outline"></nb-icon
					>{{ 'BUTTONS.MANAGE_INVITES' | translate }}
				</button>
				<button
					nbButton
					status="primary"
					(click)="goTo('statistic')"
					class="mr-2"
				>
					<nb-icon class="mr-1" icon="bar-chart-outline"></nb-icon
					>{{ 'BUTTONS.CANDIDATE_STATISTIC' | translate }}
				</button>
			</div>
		</div>
		<div class="mb-3" *ngIf="!hasEditPermission">
			<button
				nbButton
				[disabled]="!selectedCandidate"
				status="info"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.EDIT' | translate }}
			</button>
		</div>

		<ng2-smart-table
			class="employees-table"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			*ngIf="dataLayoutStyle === 'TABLE'"
			(userRowSelect)="selectCandidateTmp($event)"
			#candidatesTable
		>
		</ng2-smart-table>
		<ul class="flex-container" *ngIf="dataLayoutStyle === 'CARDS_GRID'">
			<li class="flex-item" *ngFor="let x of candidateData">
				<div class="fullName">
					<img [src]="x.imageUrl" alt="Avatar" class="avatar" />
					<span>{{ x.fullName }}</span>
				</div>
				<div class="email">
					<span class="info-value">{{ x.email }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Source</span>
					<span class="info-value">{{ x.source.name }}</span>
				</div>
				<div class="info-line">
					<span class="info-meta">Status</span>
					<div class="rating">
						<ga-star-rating-output
							[rate]="x.rating"
						></ga-star-rating-output>
					</div>
					<div *ngIf="!x?.isArchived">
						<div
							class="text-center d-block"
							*ngIf="x?.status === 'APPLIED'"
						>
							<div class="badge-primary">
								{{ 'CANDIDATES_PAGE.APPLIED' | translate }}
							</div>
						</div>
						<div
							class="text-center d-block"
							*ngIf="x?.status === 'HIRED'"
						>
							<div class="badge-success">
								{{ 'CANDIDATES_PAGE.HIRED' | translate }}
							</div>
						</div>
						<div
							class="text-center d-block"
							*ngIf="x?.status === 'REJECTED'"
						>
							<div class="badge-danger">
								{{ 'CANDIDATES_PAGE.REJECTED' | translate }}
							</div>
						</div>
					</div>
					<div class="text-center d-block" *ngIf="x?.isArchived">
						<div class="badge-warning">
							{{ 'CANDIDATES_PAGE.ARCHIVED' | translate }}
						</div>
					</div>
				</div>
				<nb-card-footer class="card-footer">
					<ng-container
						*ngTemplateOutlet="
							actionButtons;
							context: {
								buttonSize: 'tiny',
								selectedItem: x
							}
						"
					>
					</ng-container>
				</nb-card-footer>
			</li>
		</ul>
	</nb-card-body>
</nb-card>
<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<button
		nbButton
		[disabled]="!selectedItem && disableButton"
		(click)="edit(selectedItem)"
		status="info"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="edit-outline"></nb-icon
		>{{ 'BUTTONS.EDIT' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'TABLE'"
		nbButton
		[disabled]="
			(!selectedItem && disableButton) || selectedCandidate?.isArchived
		"
		(click)="archive(selectedItem)"
		status="warning"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="archive-outline"></nb-icon
		>{{ 'BUTTONS.ARCHIVE' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'CARDS_GRID'"
		nbButton
		[disabled]="
			(!selectedItem && disableButton) || selectedItem?.isArchived
		"
		(click)="archive(selectedItem)"
		status="warning"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="archive-outline"></nb-icon
		>{{ 'BUTTONS.ARCHIVE' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'TABLE'"
		nbButton
		[disabled]="
			(!selectedItem && disableButton) ||
			selectedCandidate?.status === 'HIRED'
		"
		(click)="hire(selectedItem)"
		status="success"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="person-done-outline"></nb-icon
		>{{ 'BUTTONS.HIRE' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'CARDS_GRID'"
		nbButton
		[disabled]="
			(!selectedItem && disableButton) || selectedItem?.status === 'HIRED'
		"
		(click)="hire(selectedItem)"
		status="success"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="person-done-outline"></nb-icon
		>{{ 'BUTTONS.HIRE' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'TABLE'"
		nbButton
		[disabled]="
			(!selectedItem && disableButton) ||
			selectedCandidate?.status === 'REJECTED'
		"
		(click)="reject(selectedItem)"
		status="danger"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="person-remove-outline"></nb-icon
		>{{ 'BUTTONS.REJECT' | translate }}
	</button>
	<button
		*ngIf="dataLayoutStyle === 'CARDS_GRID'"
		nbButton
		[disabled]="
			(!selectedItem && disableButton) ||
			selectedItem?.status === 'REJECTED'
		"
		(click)="reject(selectedItem)"
		status="danger"
		class="mr-2"
		[size]="buttonSize || 'medium'"
	>
		<nb-icon class="mr-1" icon="person-remove-outline"></nb-icon
		>{{ 'BUTTONS.REJECT' | translate }}
	</button>
</ng-template>
