<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<div class="main-header">
			<h4>
				{{ 'CANDIDATES_PAGE.HEADER' | translate }}
				{{ organizationName }}
			</h4>
			<div>
				<button
					class="interview-button"
					*ngIf="
						organizationInvitesAllowed &&
						hasInviteViewOrEditPermission &&
						hasEditPermission
					"
					nbButton
					status="primary"
					(click)="manageInterviews()"
				>
					{{ 'BUTTONS.MANAGE_INTERVIEWS' | translate }}
				</button>
				<button
					*ngIf="
						organizationInvitesAllowed &&
						hasInviteViewOrEditPermission &&
						hasEditPermission
					"
					nbButton
					status="primary"
					(click)="manageInvites()"
				>
					{{ 'BUTTONS.MANAGE_INVITES' | translate }}
				</button>
			</div>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3" *ngIf="hasEditPermission">
			<button
				nbButton
				*ngIf="organizationInvitesAllowed && hasInviteEditPermission"
				status="primary"
				(click)="invite()"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="email-outline"></nb-icon
				>{{ 'BUTTONS.INVITE' | translate }}
			</button>

			<button nbButton status="success" (click)="add()" class="mr-2">
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>

			<button
				nbButton
				[disabled]="!selectedCandidate"
				(click)="edit()"
				status="info"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button
				nbButton
				[disabled]="!selectedCandidate || selectedCandidate?.isArchived"
				(click)="archive()"
				status="warning"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="archive-outline"></nb-icon
				>{{ 'BUTTONS.ARCHIVE' | translate }}
			</button>
			<button
				nbButton
				[disabled]="
					!selectedCandidate || selectedCandidate?.status === 'HIRED'
				"
				(click)="hire()"
				status="success"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="person-done-outline"></nb-icon
				>{{ 'BUTTONS.HIRE' | translate }}
			</button>
			<button
				nbButton
				[disabled]="
					!selectedCandidate ||
					selectedCandidate?.status === 'REJECTED'
				"
				(click)="reject()"
				status="danger"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="person-remove-outline"></nb-icon
				>{{ 'BUTTONS.REJECT' | translate }}
			</button>

			<nb-checkbox
				(checkedChange)="changeIncludeArchived($event)"
				status="warning"
				class="float-right py-auto"
				>{{
					'FORM.CHECKBOXES.INCLUDE_ARCHIVED' | translate
				}}</nb-checkbox
			>
		</div>
		<div class="mb-3" *ngIf="!hasEditPermission">
			<button
				nbButton
				[disabled]="!selectedCandidate"
				status="info"
				class="mr-2"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.EDIT' | translate }}
			</button>
		</div>

		<ng2-smart-table
			class="employees-table"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectCandidateTmp($event)"
			#candidatesTable
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
