.tag-color {
	position: unset;
	display: inline-flex;
	align-self: center;
	width: 1rem;
	height: 1rem;
	margin-right: 1em;
	margin-left: 1em;
}

.tag-label {
	display: unset;
	margin-right: 0.7em;
}
