<div>
	<label class="label" for="addTags">
		{{ 'TAGS_PAGE.HEADER' | translate }}
	</label>
	<!-- <nb-select
		class="d-block"
		multiple
		id="addTags"
		(selectedChange)="onChange($event)"
		[(selected)]="selectedTagIds"
	>
		<nb-option *ngFor="let tag of tags" value="{{ tag.id }}">
			<nb-badge
				class="tag-color"
				[style.background]="tag.color"
				text=""
			></nb-badge>
			{{ tag.name }}
		</nb-option>
	</nb-select> -->

	<ng-select
		[items]="tags"
		multiple="true"
		bindLabel="name"
		(change)="selectedTagsEvent.emit($event)"
		[ngModel]="selectedTags"
		[closeOnSelect]="false"
		id="addTags"
	>
		<ng-template ng-option-tmp let-tag="item" let-tag$="item$">
			<input type="checkbox" [ngModel]="tag$.selected" />

			<nb-badge
				[style.background]="tag.color"
				class="tag-color"
			></nb-badge>
			<span>{{ tag.name }}</span>
		</ng-template>

		<ng-template ng-label-tmp let-tag="item" let-clear="clear">
			<nb-badge
				class="tag-color tag-label"
				[style.background]="tag.color"
				text="X"
				(click)="clear(tag)"
			></nb-badge>
			<span>{{ tag.name }}</span>
		</ng-template>
	</ng-select>
</div>
