@import 'gauzy/_gauzy-table';
@import 'gauzy/_gauzy-cards';

.contact-list {
  display: flex;
  flex-wrap: wrap;

  .member-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 340px;
    width: 100%;
  }

  .contact-info {
    padding-right: 12px;
    display: flex;
    flex-direction: column;

    .info-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.7em;
      color: darkgray;

      .info-value {
        display: flex;
        justify-content: flex-end;
        text-align: end;

        .info-list-item:not(:last-child)::after {
          content: ',';
          margin-right: 5px;
        }
      }
    }
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:host{
  @include card-overrides(
    unset,
    $default-card-height,
    $default-radius
  );
  nb-card{
    background-color: nb-theme(gauzy-card-2);
  }
  nb-card-body{
    display: flex;
    flex-direction: column;
    background-color: nb-theme(gauzy-card-2);
    .custom-table{
      flex-grow: 10;
    }
    .pagination-container{
      align-self: flex-end;
    }
  }
  ngx-contact-action{
    display: flex;
    align-items: center;
  }
}