@import 'gauzy/_gauzy-table';
@import 'gauzy/_gauzy-cards';

.contact-list {
  display: flex;
  flex-wrap: wrap;

  .member-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 340px;
    width: 100%;
  }

  .contact-info {
    padding-right: 12px;
    display: flex;
    flex-direction: column;

    .info-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.7em;
      color: darkgray;

      .info-value {
        display: flex;
        justify-content: flex-end;
        text-align: end;

        .info-list-item:not(:last-child)::after {
          content: ',';
          margin-right: 5px;
        }
      }
    }
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host {

  nb-card,
  nb-card-body {
    background-color: nb-theme(gauzy-card-2);
    border-radius: 0 0 nb-theme(border-radius) nb-theme(border-radius);
  }
  nb-card{
    border-radius: nb-theme(border-radius);
  }
  .custom-card {
    display: flex;
    flex-direction: column;
    overflow: unset;
    height: calc(100vh - 27rem);

    .table-scroll-container {
      flex-grow: 10;
    }
  }

  ngx-contact-action {
    display: flex;
    align-items: center;
  }
}