<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<div class="main-header">
			<h4> <ngx-header-title> {{ contactType + 's'| titlecase }} </ngx-header-title> </h4>
			<ga-layout-selector
				[componentName]="viewComponentName"
			></ga-layout-selector>
		</div>
	</nb-card-header>

	<nb-card-body>
		<div class="mb-3" style="display: flex">
			<ng-template [ngIf]="!showAddCard">
				<ng-template ngxPermissionsOnly="ORG_CONTACT_EDIT">
					<button
						(click)="add()"
						nbButton
						class="mr-2"
						status="success"
					>
						<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
						{{ 'BUTTONS.ADD' | translate }}
					</button>
				</ng-template>
				<button
					(click)="invite()"
					nbButton
					class="mr-2"
					status="primary"
				>
					<nb-icon class="mr-1" icon="email-outline"></nb-icon>
					{{ 'BUTTONS.INVITE' | translate }}
				</button>
				<ng-container
					*ngIf="dataLayoutStyle === componentLayoutStyleEnum.TABLE"
				>
					<ng-template ngxPermissionsOnly="ORG_CONTACT_EDIT">
						<ng-container
							*ngTemplateOutlet="actionButtons"
						></ng-container>
					</ng-template>
				</ng-container>
			</ng-template>
			<ga-contact-mutation
				class="w-100"
				*ngIf="showAddCard"
				[contactType]="contactType"
				[organizationContact]="organizationContactToEdit"
				[projectsWithoutOrganizationContact]="
					projectsWithoutOrganizationContact
				"
				[isGridEdit]="isGridEdit"
				(canceled)="cancel()"
				(addOrEditOrganizationContact)="
					addOrEditOrganizationContact($event)
				"
			>
			</ga-contact-mutation>
		</div>
		<ng-container *ngIf="!showAddCard">
			<ng-template
				[ngIf]="dataLayoutStyle === componentLayoutStyleEnum.TABLE" 
				[ngIfElse]="gridLayout"
			>
				<div class="mt-4">
					<div class="table-scroll-container">
						<ng2-smart-table
							class="w-100"
							(userRowSelect)="selectContact($event)"
							[settings]="settingsSmartTable"
							[source]="smartTableSource"
							style="cursor: pointer"
							#contactsTable
						>
						</ng2-smart-table>
					</div>
				</div>
			</ng-template>
			<ng-template #gridLayout>
				<div class="grid-scroll-container">
					<div class="contact-list">
						<ga-entity-with-members-card
							*ngFor="let c of organizationContact"
							[entityWithMembers]="c"
							[layout]="dataLayoutStyle"
							(remove)="removeOrganizationContact(c.id, c.name)"
							(edit)="editOrganizationContact(c)"
							(view)="navigateToContact(c)"
							class="member-card"
						>
							<div class="contact-info">
								<div>
									<button
										size="tiny"
										class="ml-2"
										(click)="invite(c)"
										*ngIf="
											!c.inviteStatus ||
											c.inviteStatus === 'NOT_INVITED'
										"
										nbButton
										status="success"
									>
										<nb-icon class="mr-1" icon="email-outline"></nb-icon
										>{{ 'BUTTONS.INVITE' | translate }}
									</button>
									<button
										size="tiny"
										class="ml-2"
										(click)="invite(c)"
										*ngIf="c.inviteStatus === 'INVITED'"
										nbButton
									>
										<nb-icon class="mr-1" icon="email-outline"></nb-icon
										>{{ 'BUTTONS.INVITE_AGAIN' | translate }}
									</button>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.PRIMARY_EMAIL'
												| translate
										}}
									</div>
									<div class="info-value">{{ c.primaryEmail }}</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.PHONE' | translate }}
									</div>
									<div class="info-value">{{ c.primaryPhone }}</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.COUNTRY' | translate }}
									</div>
									<div class="info-value">
										{{ c.contact ? getCountry(c.contact) : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.CITY' | translate }}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.city : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.STREET' | translate }}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.address : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.SECOND_ADDRESS'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.address2 : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.POSTCODE' | translate }}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.postcode : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.PROJECTS' | translate }}
									</div>
									<div class="info-value">
										<div
											class="info-list-item"
											*ngFor="let p of c.projects"
										>
											{{ p.name }}
										</div>
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'CONTACTS_PAGE.CONTACT_TYPE' | translate }}
									</div>
									<div class="info-value">
										{{ c.contactType }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.FAX' | translate }}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.fax : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.FISCAL_INFORMATION'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.fiscalInformation : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{ 'ORGANIZATIONS_PAGE.EDIT.WEBSITE' | translate }}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.website : '' }}
									</div>
								</div>
							</div>
						</ga-entity-with-members-card>
					</div>
				</div>
			</ng-template>
		</ng-container>
	</nb-card-body>
</nb-card>

<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<ng-template ngxPermissionsOnly="ORG_CONTACT_EDIT">
		<button
			nbButton
			status="info"
			class="mr-2"
			[disabled]="!selectedItem && disableButton"
			(click)="navigateToContact(selectedItem)"
			[size]="buttonSize || 'medium'"
		>
			<nb-icon class="mr-1" icon="eye-outline"></nb-icon>
			{{ 'BUTTONS.VIEW' | translate }}
		</button>
		<button
			nbButton
			status="success"
			class="mr-2"
			[disabled]="!selectedItem && disableButton"
			(click)="editOrganizationContact(selectedItem)"
			[size]="buttonSize || 'medium'"
		>
			<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
			{{ 'BUTTONS.EDIT' | translate }}
		</button>
		<button
			nbButton
			status="danger"
			class="mr-2"
			[disabled]="!selectedItem && disableButton"
			(click)="
				removeOrganizationContact(selectedItem?.id, selectedItem?.name)
			"
			[size]="buttonSize || 'medium'"
		>
			<nb-icon class="mr-1" icon="archive-outline"></nb-icon>
			{{ 'BUTTONS.DELETE' | translate }}
		</button>
	</ng-template>
</ng-template>
