<nb-card
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
	class="card-scroll"
>
	<nb-card-header class="d-flex flex-column pb-0">
		<div class="main-header">
			<h4>
				<ngx-header-title>
					{{ contactType + 's' | titlecase }}
				</ngx-header-title>
			</h4>
		</div>
		<div class="align-self-end">
			<ngx-gauzy-button-action
				[componentName]="viewComponentName"
				[isDisable]="disableButton"
				[buttonTemplate]="actionButtons"
				[buttonTemplateVisible]="visible"
			></ngx-gauzy-button-action>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="mb-3" style="display: flex">
			<ng-container *ngIf="showAddCard">
				<ga-contact-mutation
					class="w-100"
					[contactType]="contactType"
					[organizationContact]="selectedOrganizationContact"
					[projectsWithoutOrganizationContacts]="
						projectsWithoutOrganizationContacts
					"
					(canceled)="cancel()"
					(addOrEditOrganizationContact)="
						addOrEditOrganizationContact($event)
					"
				></ga-contact-mutation>
			</ng-container>
		</div>
		<ng-container *ngIf="!showAddCard">
			<ng-template
				[ngIf]="dataLayoutStyle === componentLayoutStyleEnum.TABLE"
				[ngIfElse]="gridLayout"
			>
				<div class="mt-4">
					<div class="table-scroll-container">
						<ng2-smart-table
							class="w-100"
							(userRowSelect)="selectContact($event)"
							[settings]="settingsSmartTable"
							[source]="smartTableSource"
							style="cursor: pointer"
							#contactsTable
						></ng2-smart-table>
					</div>
				</div>
			</ng-template>
			<ng-template #gridLayout>
				<div class="grid-scroll-container">
					<div class="contact-list">
						<ga-entity-with-members-card
							*ngFor="let c of organizationContacts"
							[entityWithMembers]="c"
							[layout]="componentLayoutStyleEnum.CARDS_GRID"
							(remove)="removeOrganizationContact(c.id, c.name)"
							(edit)="editOrganizationContact(c)"
							(view)="navigateToContact(c)"
							[visibleViewButton]="true"
							class="member-card"
						>
							<div class="contact-info">
								<div>
									<button
										size="tiny"
										class="ml-2 mb-2"
										(click)="invite(c)"
										*ngIf="
											!c.inviteStatus ||
											c.inviteStatus ===
												contactOrganizationInviteStatus.NOT_INVITED
										"
										nbButton
										status="success"
									>
										<nb-icon
											class="mr-1"
											icon="email-outline"
										></nb-icon
										>{{ 'BUTTONS.INVITE' | translate }}
									</button>
									<button
										size="tiny"
										class="ml-2 mb-2"
										(click)="invite(c)"
										*ngIf="
											c.inviteStatus ===
											contactOrganizationInviteStatus.INVITED
										"
										nbButton
									>
										<nb-icon
											class="mr-1"
											icon="email-outline"
										></nb-icon
										>{{
											'BUTTONS.INVITE_AGAIN' | translate
										}}
									</button>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.PRIMARY_EMAIL'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.primaryEmail }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.PHONE'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.primaryPhone }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.COUNTRY'
												| translate
										}}
									</div>
									<div class="info-value">
										{{
											c.contact
												? getCountry(c.contact)
												: ''
										}}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.CITY'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.city : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.STREET'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.address : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.SECOND_ADDRESS'
												| translate
										}}
									</div>
									<div class="info-value">
										{{
											c.contact ? c.contact.address2 : ''
										}}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.POSTCODE'
												| translate
										}}
									</div>
									<div class="info-value">
										{{
											c.contact ? c.contact.postcode : ''
										}}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.PROJECTS'
												| translate
										}}
									</div>
									<div class="info-value">
										<div
											class="info-list-item"
											*ngFor="let p of c.projects"
										>
											{{ p.name }}
										</div>
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'CONTACTS_PAGE.CONTACT_TYPE'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.contactType }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.FAX'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.fax : '' }}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.FISCAL_INFORMATION'
												| translate
										}}
									</div>
									<div class="info-value">
										{{
											c.contact
												? c.contact.fiscalInformation
												: ''
										}}
									</div>
								</div>
								<div class="info-line">
									<div class="info-meta">
										{{
											'ORGANIZATIONS_PAGE.EDIT.WEBSITE'
												| translate
										}}
									</div>
									<div class="info-value">
										{{ c.contact ? c.contact.website : '' }}
									</div>
								</div>
							</div>
						</ga-entity-with-members-card>
					</div>
				</div>
			</ng-template>
		</ng-container>
	</nb-card-body>
</nb-card>

<ng-template
	#actionButtons
	let-buttonSize="buttonSize"
	let-selectedItem="selectedItem"
>
	<ng-template ngxPermissionsOnly="ORG_CONTACT_EDIT">
		<div *ngIf="!showAddCard" class="btn-group actions">
			<button
				nbButton
				class="action secondary"
				status="basic"
				size="small"
				[disabled]="!selectedItem && disableButton"
				(click)="navigateToContact(selectedItem)"
			>
				<nb-icon class="mr-1" icon="eye-outline"></nb-icon>
				{{ 'BUTTONS.VIEW' | translate }}
			</button>
			<button
				nbButton
				class="action primary"
				status="basic"
				size="small"
				[disabled]="!selectedItem && disableButton"
				(click)="editOrganizationContact(selectedItem)"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon>
				{{ 'BUTTONS.EDIT' | translate }}
			</button>
			<button
				nbButton
				class="action"
				status="basic"
				size="small"
				[disabled]="!selectedItem && disableButton"
				(click)="
					removeOrganizationContact(
						selectedItem?.id,
						selectedItem?.name
					)
				"
				size="small"
				[nbTooltip]="'BUTTONS.DELETE' | translate"
			>
				<nb-icon status="danger" icon="trash-2-outline"></nb-icon>
			</button>
		</div>
	</ng-template>
</ng-template>
<ng-template #visible>
	<ng-container *ngIf="!showAddCard">
		<button
			(click)="invite()"
			nbButton
			class="action info"
			size="small"
			status="basic"
		>
			<nb-icon class="mr-1" icon="email-outline"></nb-icon>
			{{ 'BUTTONS.INVITE' | translate }}
		</button>
		<ng-template ngxPermissionsOnly="ORG_CONTACT_EDIT">
			<button
				(click)="add()"
				nbButton
				class="action"
				size="small"
				status="success"
			>
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon>
				{{ 'BUTTONS.ADD' | translate }}
			</button>
		</ng-template>
	</ng-container>
</ng-template>
