<div class="card">
	<div class="activity" *ngIf="timeSlot; else noActivity">
		<div
			class="image-contaer curser-pointer"
			[ngClass]="{ 'select-mode': selectionMode }"
			(click)="toggleSelect(timeSlot)"
		>
			<div class="hover">
				<div class="actions d-flex align-items-center w-100">
					<ng-container *ngIf="timeSlot?.isAllowDelete">
						<nb-checkbox
							[(ngModel)]="isSelected"
							(click)="$event.stopPropagation()"
							(ngModelChange)="toggleSelect(timeSlot)"
						></nb-checkbox>
						<button
							class="ml-auto select-hidden"
							status="danger"
							nbButton
							size="tiny"
							(click)="$event.stopPropagation()"
							ngxConfirmDialog
							[message]="'ACTIVITY.DELETE_CONFIRM' | translate"
							(confirm)="deleteSlot(timeSlot)"
						>
							<nb-icon icon="trash-2-outline"></nb-icon>
						</button>
					</ng-container>
				</div>
				<div class="view-button select-hidden">
					<button
						class="mr-1"
						nbButton
						size="small"
						status="primary"
						(click)="$event.stopPropagation()"
						ngxGallery
						[item]="timeSlot?.screenshots"
						*ngIf="timeSlot?.screenshots?.length > 0"
					>
						{{ 'ACTIVITY.VIEW_SCREEN' | translate }}
					</button>
					<button
						nbButton
						size="small"
						status="secondary"
						(click)="$event.stopPropagation(); viewInfo(timeSlot)"
					>
						{{ 'ACTIVITY.VIEW_INFO' | translate }}
					</button>
				</div>
			</div>
			<ng-template [ngIf]="lastScreenshot" [ngIfElse]="noImageEl">
				<img draggable="false" [src]="lastScreenshot?.thumbUrl" />
			</ng-template>
			<ng-template #noImageEl>
				<img draggable="false" [src]="fallbackSvg" class="default-image" />
				<span class="no-image p-3">
					{{ 'ACTIVITY.NO_SCREENSHOTS' | translate }}
				</span>
			</ng-template>
		</div>
		<div class="slot-info text-center p-2">
			<div class="time-span mb-1">
				{{ timeSlot.localStartedAt | timeFormat }} -
				{{ timeSlot.localStoppedAt | timeFormat }}
			</div>
			<nb-progress-bar
				class="mb-1"
				[value]="timeSlot.overall"
				[status]="progressStatus(timeSlot.overall)"
				[displayValue]="true"
				size="tiny"
			></nb-progress-bar>
			<div class="activity-count">
				{{ timeSlot.overall || 0 }}% of
				{{
					timeSlot.duration
						| amFromUnix
						| amFromUtc
						| amDateFormat: 'mm'
				}}
				{{ 'ACTIVITY.MINUTES' | translate }}
			</div>
		</div>
	</div>
	<ng-template #noActivity>
		<div class="no-activity p-3 text-center">
			{{ 'ACTIVITY.NO_ACTIVITY' | translate }}
		</div>
	</ng-template>
</div>
