<h6 class="title">
	{{ 'CANDIDATES_PAGE.STATISTIC.CRITERIONS_RATING' | translate }}
</h6>
<div class="selectors">
	<nb-select
		placeholder="Select an interview"
		class="select"
		(selectedChange)="onInterviewSelected($event)"
	>
		<nb-option-group
			*ngFor="let candidate of candidates"
			title="{{ candidate.user.name }}"
		>
			<nb-option
				*ngFor="let interview of candidate.interview"
				[value]="interview"
			>
				{{ interview.title }}
			</nb-option>
		</nb-option-group>
	</nb-select>

	<div class="select-interviewer">
		<ga-candidate-select
			[disabled]="currentInterview ? false : true"
			[isAllMembers]="true"
			[disabledIds]="disabledIds"
			[allCandidates]="currentEmployee"
			[placeholder]="
				'FORM.PLACEHOLDERS.ADD_REMOVE_INTERVIEWER' | translate
			"
			(selectedChange)="onMembersSelected($event)"
		>
		</ga-candidate-select>
	</div>
</div>

<div *ngIf="!currentInterview" class="no-data">
	<nb-icon icon="info-outline" class="no-data-icon"></nb-icon>
	<span class="no-data-text">{{
		'CANDIDATES_PAGE.STATISTIC.NO_DATA' | translate
	}}</span>
	<span class="no-data-text">
		{{ 'CANDIDATES_PAGE.STATISTIC.SELECT_INTERVIEW' | translate }}
	</span>
</div>
