<nb-card>
	<nb-card-header class="d-flex">
		<h5>{{ 'INTEGRATIONS.HUBSTAFF_PAGE.NAME' | translate }}</h5>
	</nb-card-header>
	<nb-card-body>
		<form
			[formGroup]="authorizeForm"
			(ngSubmit)="authorizeHubstaff()"
			*ngIf="!hubStaffAppCode; else clientFormVar"
		>
			<div class="form-group">
				<label for="client_id" class="label">Hubstaff Client ID</label>
				<input
					fullWidth
					id="client_id"
					formControlName="client_id"
					type="text"
					nbInput
					placeholder="Hubstaff Client ID"
				/>
			</div>
			<div class="hint">
				<nb-icon icon="info-outline"></nb-icon>
				Next you will be taken to Hubstaff to grant permission to Gauzy.
			</div>
			<button nbButton status="primary" [disabled]="!authorizeForm.valid">
				next
			</button>
		</form>

		<ng-template #clientFormVar>
			<form [formGroup]="clientSecretForm" (ngSubmit)="addIntegration()">
				<div class="form-group">
					<label for="client_secret" class="label"
						>Hubstaff Client Secret</label
					>
					<input
						fullWidth
						id="client_secret"
						formControlName="client_secret"
						type="text"
						nbInput
						placeholder="Hubstaff Client Secret"
					/>
				</div>
				<div class="hint">
					<nb-icon icon="info-outline"></nb-icon>
					Enter client secret to get access token.
				</div>
				<button
					nbButton
					status="primary"
					[disabled]="!clientSecretForm.valid"
				>
					next
				</button>
			</form>
		</ng-template>
		<!-- 
			<nb-step label="Organizations">
				<ng2-smart-table
					[settings]="settingsSmartTable"
					[source]="organizations"
					(userRowSelect)="selectOrganization($event)"
					style="cursor: pointer;"
				>
				</ng2-smart-table>
				<div class="hint">
					<nb-icon icon="info-outline"></nb-icon>
					Select Organization and proccedd to sync data.
				</div>
			</nb-step> -->
	</nb-card-body>
</nb-card>
