<nb-card
	class="main"
	[nbSpinner]="loading"
	nbSpinnerStatus="primary"
	nbSpinnerSize="large"
>
	<nb-card-header class="d-flex">
		<h3 *ngIf="!isEstimate">
			{{ 'INVOICES_PAGE.ADD_INVOICE' | translate }}
		</h3>
		<h3 *ngIf="isEstimate">
			{{ 'INVOICES_PAGE.ADD_ESTIMATE' | translate }}
		</h3>
	</nb-card-header>

	<nb-card-body class="body">
		<form [formGroup]="form">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputInvoiceNumber" class="label">
							<span *ngIf="!isEstimate">{{
								'INVOICES_PAGE.INVOICE_NUMBER' | translate
							}}</span>
							<span *ngIf="isEstimate">{{
								'INVOICES_PAGE.ESTIMATE_NUMBER' | translate
							}}</span>
						</label>
						<input
							*ngIf="!isEstimate"
							type="number"
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICE_NUMBER' | translate
							}}"
							formControlName="invoiceNumber"
							[(ngModel)]="formInvoiceNumber"
							id="inputInvoiceNumber"
							fullWidth
						/>
						<input
							*ngIf="isEstimate"
							type="number"
							nbInput
							placeholder="{{
								'INVOICES_PAGE.ESTIMATE_NUMBER' | translate
							}}"
							formControlName="invoiceNumber"
							[(ngModel)]="formInvoiceNumber"
							id="inputInvoiceNumber"
							fullWidth
						/>
					</div>
				</div>
				<div class="col-sm-3">
					<ga-tags-color-input
						[selectedTags]="tags"
						(selectedTagsEvent)="selectedTagsEvent($event)"
					>
					</ga-tags-color-input>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputInvoiceDate" class="label">
							<span *ngIf="!isEstimate">{{
								'INVOICES_PAGE.INVOICES_SELECT_INVOICE_DATE'
									| translate
							}}</span>
							<span *ngIf="isEstimate">{{
								'INVOICES_PAGE.ESTIMATE_DATE' | translate
							}}</span>
						</label>
						<input
							*ngIf="!isEstimate"
							formControlName="invoiceDate"
							type="text"
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_INVOICE_DATE'
									| translate
							}}"
							[nbDatepicker]="invoiceDatePicker"
							id="inputInvoiceDate"
							fullWidth
							required
						/>
						<input
							*ngIf="isEstimate"
							formControlName="invoiceDate"
							type="text"
							nbInput
							placeholder="{{
								'INVOICES_PAGE.ESTIMATE_DATE' | translate
							}}"
							[nbDatepicker]="invoiceDatePicker"
							id="inputInvoiceDate"
							fullWidth
							required
						/>
						<nb-datepicker #invoiceDatePicker></nb-datepicker>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputDueDate" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_DUE_DATE' | translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_DUE_DATE'
									| translate
							}}"
							[nbDatepicker]="dueDatePicker"
							formControlName="dueDate"
							id="inputDueDate"
							fullWidth
						/>
						<nb-datepicker #dueDatePicker></nb-datepicker>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputCurrency" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_CURRENCY' | translate
						}}</label>
						<nb-select
							class="d-block"
							formControlName="currency"
							(ngModelChange)="onCurrencyChange()"
							fullWidth
						>
							<nb-option
								*ngFor="let currency of currencies"
								value="{{ currency }}"
								>{{ currency }}</nb-option
							>
						</nb-select>
					</div>
				</div>
				<div class="col-sm-3">
					<label for="inputInvoiceNumber" class="label"
						>{{
							'INVOICES_PAGE.INVOICES_SELECT_CLIENT' | translate
						}}
					</label>
					<ng-select
						[addTag]="addNewClient"
						[items]="clients"
						bindName="name"
						placeholder="{{ 'POP_UPS.ALL_CLIENTS' | translate }}"
						[(ngModel)]="client"
						formControlName="client"
						id="inputClient"
						(change)="selectClient($event)"
						[searchFn]="searchClient"
					>
						<ng-template
							ng-option-tmp
							let-item="item"
							let-index="index"
						>
							{{ item.name }}
						</ng-template>
						<ng-template ng-label-tmp let-item="item">
							<div class="selector-template">
								<span>{{ item.name }}</span>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputDiscountValue" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_DISCOUNT_VALUE'
								| translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_DISCOUNT_VALUE'
									| translate
							}}"
							type="number"
							formControlName="discountValue"
							id="inputDiscountValue"
							(ngModelChange)="calculateTotal()"
							fullWidth
						/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputDiscountType" class="label">{{
							'INVOICES_PAGE.DISCOUNT_TYPE' | translate
						}}</label>
						<nb-select
							formControlName="discountType"
							placeholder="{{
								'INVOICES_PAGE.DISCOUNT_TYPE' | translate
							}}"
							(ngModelChange)="calculateTotal()"
							fullWidth
						>
							<nb-option value="Percent">
								{{ 'INVOICES_PAGE.PERCENT' | translate }}
							</nb-option>
							<nb-option value="Flat">
								{{ 'INVOICES_PAGE.FLAT' | translate }}
							</nb-option>
						</nb-select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputTax" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_TAX' | translate
						}}</label>
						<input
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_TAX' | translate
							}}"
							type="number"
							formControlName="tax"
							id="inputTax"
							(ngModelChange)="calculateTotal()"
							fullWidth
						/>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputTaxType" class="label">{{
							'INVOICES_PAGE.TAX_TYPE' | translate
						}}</label>
						<nb-select
							formControlName="taxType"
							placeholder="{{
								'INVOICES_PAGE.TAX_TYPE' | translate
							}}"
							(ngModelChange)="calculateTotal()"
							fullWidth
						>
							<nb-option value="Percent">
								{{ 'INVOICES_PAGE.PERCENT' | translate }}
							</nb-option>
							<nb-option value="Flat">
								{{ 'INVOICES_PAGE.FLAT' | translate }}
							</nb-option>
						</nb-select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputTerms" class="label">{{
							'INVOICES_PAGE.INVOICES_SELECT_TERMS' | translate
						}}</label>
						<textarea
							nbInput
							placeholder="{{
								'INVOICES_PAGE.INVOICES_SELECT_TERMS'
									| translate
							}}"
							formControlName="terms"
							id="inputTerms"
							fullWidth
						></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="label">
							{{
								'INVOICES_PAGE.INVOICE_TYPE.SELECT_INVOICE_TYPE'
									| translate
							}}
						</label>
						<nb-select
							*ngIf="!isEstimate"
							(selectedChange)="onTypeChange($event)"
							formControlName="invoiceType"
							placeholder="{{
								'INVOICES_PAGE.INVOICE_TYPE.INVOICE_TYPE'
									| translate
							}}"
							fullWidth
						>
							<nb-option value="By Employee Hours">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_EMPLOYEE_HOURS'
										| translate
								}}
							</nb-option>
							<nb-option value="By Project Hours">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_PROJECT_HOURS'
										| translate
								}}
							</nb-option>
							<nb-option value="By Task Hours">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_TASK_HOURS'
										| translate
								}}
							</nb-option>
							<nb-option value="By Products">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_PRODUCTS'
										| translate
								}}
							</nb-option>
							<nb-option value="Details Invoice Items">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.DETAILS_INVOICE_ITEMS'
										| translate
								}}
							</nb-option>
						</nb-select>
						<nb-select
							*ngIf="isEstimate"
							(selectedChange)="onTypeChange($event)"
							formControlName="invoiceType"
							placeholder="{{
								'INVOICES_PAGE.INVOICE_TYPE.ESTIMATE_TYPE'
									| translate
							}}"
							fullWidth
						>
							<nb-option value="By Employee Hours">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_EMPLOYEE_HOURS'
										| translate
								}}
							</nb-option>
							<nb-option value="By Project Hours">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_PROJECT_HOURS'
										| translate
								}}
							</nb-option>
							<nb-option value="By Task Hours">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_TASK_HOURS'
										| translate
								}}
							</nb-option>
							<nb-option value="By Products">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.BY_PRODUCTS'
										| translate
								}}
							</nb-option>
							<nb-option value="Details Invoice Items">
								{{
									'INVOICES_PAGE.INVOICE_TYPE.DETAILS_ESTIMATE_ITEMS'
										| translate
								}}
							</nb-option>
						</nb-select>
					</div>
				</div>
				<div class="col-sm-3" *ngIf="isEmployeeHourTable">
					<div class="form-group">
						<ga-employee-multi-select
							[allEmployees]="employees"
							(selectedChange)="onMembersSelected($event)"
						>
						</ga-employee-multi-select>
					</div>
				</div>
				<div class="col-sm-3" *ngIf="isProjectHourTable">
					<div class="form-group">
						<label class="label">
							{{
								'INVOICES_PAGE.INVOICE_TYPE.SELECT_PROJECTS'
									| translate
							}}
						</label>
						<ng-select
							[(items)]="projects"
							bindName="name"
							placeholder="{{
								'INVOICES_PAGE.INVOICE_TYPE.SELECT_PROJECTS'
									| translate
							}}"
							formControlName="project"
							id="inputProject"
							(change)="selectProject($event)"
							[multiple]="true"
						>
							<ng-template
								ng-option-tmp
								let-item="item"
								let-index="index"
							>
								{{ item.name }}
							</ng-template>
							<ng-template ng-label-tmp let-item="item">
								<div class="selector-template">
									<span>{{ item.name }}</span>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</div>
				<div class="col-sm-3" *ngIf="isTaskHourTable">
					<div class="form-group">
						<label class="label">
							{{
								'INVOICES_PAGE.INVOICE_TYPE.SELECT_TASKS'
									| translate
							}}
						</label>
						<ng-select
							[(items)]="tasks"
							bindName="title"
							placeholder="{{
								'INVOICES_PAGE.INVOICE_TYPE.SELECT_TASKS'
									| translate
							}}"
							formControlName="task"
							id="inputTask"
							(change)="selectTask($event)"
							[multiple]="true"
						>
							<ng-template
								ng-option-tmp
								let-item="item"
								let-index="index"
							>
								{{ item.title }}
							</ng-template>
							<ng-template ng-label-tmp let-item="item">
								<div class="selector-template">
									<span>{{ item.title }}</span>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</div>
				<div class="col-sm-3" *ngIf="isProductTable">
					<div class="form-group">
						<label class="label">
							{{
								'INVOICES_PAGE.INVOICE_TYPE.SELECT_PRODUCTS'
									| translate
							}}
						</label>
						<ng-select
							[(items)]="products"
							bindName="name"
							placeholder="{{
								'INVOICES_PAGE.INVOICE_TYPE.SELECT_PRODUCTS'
									| translate
							}}"
							formControlName="product"
							id="inputProduct"
							(change)="selectProduct($event)"
							[multiple]="true"
						>
							<ng-template
								ng-option-tmp
								let-item="item"
								let-index="index"
							>
								{{ item.name }}
							</ng-template>
							<ng-template ng-label-tmp let-item="item">
								<div class="selector-template">
									<span>{{ item.name }}</span>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<button
							*ngIf="!isEstimate"
							(click)="generateTable()"
							status="success"
							nbButton
						>
							{{
								'INVOICES_PAGE.INVOICE_TYPE.GENERATE_INVOICE_ITEMS'
									| translate
							}}
						</button>
						<button
							*ngIf="isEstimate"
							(click)="generateTable()"
							status="success"
							nbButton
						>
							{{
								'INVOICES_PAGE.INVOICE_TYPE.GENERATE_ESTIMATE_ITEMS'
									| translate
							}}
						</button>
					</div>
				</div>
			</div>
		</form>
		<div *ngIf="shouldLoadTable">
			<ng2-smart-table
				class="table"
				[settings]="settingsSmartTable"
				[source]="smartTableSource"
				style="cursor: pointer;"
				(createConfirm)="onCreateConfirm($event)"
				(editConfirm)="onEditConfirm($event)"
				(deleteConfirm)="onDeleteConfirm($event)"
			>
			</ng2-smart-table>
			<div class="total">
				<div class="total-item">
					{{ 'INVOICES_PAGE.SUBTOTAL' | translate }}:
					{{ currency.value }} {{ subtotal.toFixed(2) }}
				</div>
				<div class="total-item">
					{{ 'INVOICES_PAGE.TOTAL' | translate }}:
					{{ currency.value }} {{ total.toFixed(2) }}
				</div>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer class="text-right">
		<button status="danger" class="mr-3" nbButton (click)="cancel()">
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		<button
			(click)="addInvoice()"
			status="success"
			[disabled]="disableSaveButton || form.invalid"
			nbButton
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
