.info-page {
	padding: 0 !important;
	.server-down-content {
		color: white;

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
		flex-direction: column;
	}

	.info-massage h3 {
		color: red;
		width: 100%;
	}
}
