@import 'themes';

$default-box-shadow-inset: 0px 1px 1px 0px rgba(0, 0, 0, 0.15) inset;
$default-height: 42px;
$default-radius: nb-theme(border-radius);
$default-button-radius: nb-theme(button-rectangle-border-radius);
$default-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);

@mixin ng-select-overrides($height, $radius, $box-shadow) {
  .ng-select {
    &.ng-select-single .ng-select-container {
      height: $height;
    }
    .ng-select-container {
      border-radius: $radius;
      box-shadow: $box-shadow;
      height: $height;
      input {
        height: unset;
      }
    }
  }
}

@mixin text-inputs-overrides() {
  input {
    border-radius: $default-radius;
    box-shadow: $default-box-shadow-inset;
    height: $default-height;
  }
  textarea {
    border-radius: $default-radius;
    box-shadow: $default-box-shadow-inset;
    resize: none;
    height: 102px;
  }
}

@mixin nb-select-overrides($height, $radius, $box-shadow) {
  nb-select.shape-rectangle .select-button {
    border-radius: $radius;
    box-shadow: $box-shadow;
    height: $height;
    display: flex;
    align-items: center;
  }
}

@mixin nb-stepper() {
  nb-stepper .header .step.selected .label-index {
    background-color: nb-theme(background-primary-color-1);
    color: nb-theme(text-control-color);
    border: unset;
  }
  nb-stepper .header .step .label {
    display: none;
  }
  nb-stepper.horizontal .header .step {
    margin: 0;
  }
  nb-stepper.header {
    align-items: center !important;
  }
  nb-stepper .header .step.selected + .connector,
  nb-stepper .header .step.completed + .connector {
    background-color: nb-theme(background-primary-color-1);
    height: 10px !important;
    margin: 0 10px 0 -10px !important;
    border-radius: 0 nb-theme(border-radius) nb-theme(border-radius) 0;
  }
  nb-stepper .header {
    align-items: baseline !important;
    margin-bottom: 0px !important;
  }
}

@mixin gauzy-overrides() {
  @include nb-select-overrides(
    $default-height,
    $default-radius,
    $default-box-shadow-inset
  );
  @include text-inputs-overrides;
  @include ng-select-overrides(
    $default-height,
    $default-radius,
    $default-box-shadow-inset
  );
  @include nb-stepper;
}
