<nb-card size="giant" class="minmax-width-70vw">
	<nb-card-header>
		<div class="main-header">
			<h4>{{ keyResult.name }}</h4>
			<nb-icon
				class="ml-auto mt-1 close"
				icon="close-outline"
				(click)="closeDialog()"
			></nb-icon>
		</div>
		<div class="row mt-3">
			<ngx-avatar class="ml-3" size="sm" [src]="src" [name]="ownerName">
			</ngx-avatar>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<ga-keyresult-progress-chart
							[keyResult]="keyResult"
						></ga-keyresult-progress-chart>
					</div>
				</div>
				<div class="p-3">
					<div class="row mt-2">
						<div class="col-md-6 font-weight-bold">
							{{
								'KEY_RESULT_PAGE.FORM.LABELS.INITIAL_VALUE'
									| translate
							}}
						</div>
						<div class="col-md-6">{{ keyResult.initialValue }}</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-6 font-weight-bold">
							{{
								'KEY_RESULT_PAGE.FORM.LABELS.TARGET_VALUE'
									| translate
							}}
						</div>
						<div class="col-md-6">{{ keyResult.targetValue }}</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-6 font-weight-bold">
							{{ 'GOALS_PAGE.PROGRESS' | translate }}
						</div>
						<div class="col-md-6">{{ keyResult.progress }} %</div>
					</div>
					<div class="row mt-2">
						<div class="col-md-6 font-weight-bold">
							{{ 'GOALS_PAGE.GOAL' | translate }}
						</div>
						<div class="col-md-6">{{ keyResult.goal.name }}</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="main-header">
					<h6 class="mt-3">{{ 'GOALS_PAGE.UPDATES' | translate }}</h6>
					<button
						nbButton
						size="small"
						[disabled]="!isUpdatable"
						status="primary"
						(click)="keyResultUpdate()"
					>
						{{ 'BUTTONS.ADD_NEW' | translate }}
					</button>
				</div>
				<div class="mt-2" *ngIf="!isUpdatable">
					<nb-alert
						*ngIf="endDate.getTime() < today.getTime()"
						status="warning"
					>
						{{
							'KEY_RESULT_PAGE.MESSAGE.TIME_FRAME_ENDED'
								| translate: { date: endDate | date }
						}}
					</nb-alert>
					<nb-alert
						*ngIf="startDate.getTime() > today.getTime()"
						status="warning"
					>
						{{
							'KEY_RESULT_PAGE.MESSAGE.TIME_FRAME_NOT_STARTED'
								| translate: { date: startDate | date }
						}}
					</nb-alert>
				</div>
				<div
					class="section mt-2 overflow-scroll"
					*ngIf="!!this.updates"
				>
					<nb-card *ngFor="let update of updates">
						<nb-card-header>
							<div class="main-header">
								<ngx-avatar
									class="ml-2"
									size="sm"
									[src]="src"
									[name]="ownerName"
								>
								</ngx-avatar>
								<p>{{ update.createdAt | date }}</p>
							</div>
						</nb-card-header>
						<nb-card-footer>
							<div class="main-header p-3">
								<p class="font-weight-bold">
									{{ 'GOALS_PAGE.UPDATE' | translate }} :
									{{ update.update }}
								</p>
								<p class="font-weight-bold">
									{{ update.status }}
								</p>
								<p class="font-weight-bold">
									{{ 'GOALS_PAGE.PROGRESS' | translate }} :
									{{ update.progress }}%
								</p>
							</div>
						</nb-card-footer>
					</nb-card>
				</div>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer>
		<button nbButton status="success" (click)="closeDialog()">
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
		<button
			class="float-right"
			status="danger"
			nbButton
			(click)="deleteKeyResult()"
		>
			{{ 'BUTTONS.DELETE' | translate }}
		</button>
	</nb-card-footer>
</nb-card>
