<nb-card>
  <nb-card-header>
    <h4>Expenses</h4>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="hasRole" class="mb-3">
      <button
        nbButton
        status="success"
        class="mr-2"
        (click)="openAddExpenseDialog()"
        [disabled]="!selectedEmployeeId || !selectedOrganizationId"
      >
        <nb-icon class="mr-1" icon="plus-outline"></nb-icon>Add
      </button>

      <button
        nbButton
        status="info"
        [disabled]="selectedExpense ? !selectedExpense.isSelected : true"
        (click)="openEditExpenseDialog()"
      >
        <nb-icon class="mr-1" icon="edit-outline"></nb-icon>Edit
      </button>
    </div>

    <ng2-smart-table
      class="income-table"
      [settings]="smartTableSettings"
      [source]="smartTableSource"
      (userRowSelect)="selectExpense($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
