<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<h4>{{ 'EXPENSES_PAGE.EXPENSES' | translate }}</h4>
	</nb-card-header>
	<nb-card-body>
		<div *ngIf="hasEditPermission" class="mb-3">
			<button
				nbButton
				status="success"
				class="mr-2"
				(click)="openAddExpenseDialog()"
			>
				<nb-icon class="mr-1" icon="plus-outline"></nb-icon
				>{{ 'BUTTONS.ADD' | translate }}
			</button>

			<button
				nbButton
				status="info"
				class="mr-2"
				[disabled]="
					selectedExpense ? !selectedExpense.isSelected : true
				"
				(click)="openEditExpenseDialog()"
			>
				<nb-icon class="mr-1" icon="edit-outline"></nb-icon
				>{{ 'BUTTONS.EDIT' | translate }}
			</button>

			<button
				nbButton
				status="primary"
				class="mr-2"
				[disabled]="
					selectedExpense ? !selectedExpense.isSelected : true
				"
				(click)="openDuplicateExpenseDialog()"
			>
				<nb-icon class="mr-1" icon="copy-outline"></nb-icon
				>{{ 'BUTTONS.DUPLICATE' | translate }}
			</button>

			<button
				nbButton
				status="danger"
				class="mr-2"
				[disabled]="
					selectedExpense ? !selectedExpense.isSelected : true
				"
				(click)="deleteExpense()"
			>
				<nb-icon class="mr-1" icon="archive-outline"></nb-icon
				>{{ 'BUTTONS.DELETE' | translate }}
			</button>
		</div>

		<ng2-smart-table
			*ngIf="canShowTable()"
			class="income-table"
			[settings]="smartTableSettings"
			[source]="smartTableSource"
			(userRowSelect)="selectExpense($event)"
			style="cursor: pointer;"
			#expensesTable
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
