<div class="sprints">
	<p>tasks-sprint-view works!</p>
	<div class="sprints__settings">
		<nb-card>
			<nb-card-header>Sprints Settings</nb-card-header>
			<nb-card-body>
				<form
					[formGroup]="form"
					*ngIf="form"
					class="col"
					(submit)="submit($event)"
				>
					<nb-tabset>
						<nb-tab tabTitle="Setup" class="tab">
							<div class="row">
								<div class="col">
									<label class="label">Sprint length</label>
									<ng-select
										[hideSelected]="true"
										bindLabel="name"
										formControlName="sprintLength"
										placeholder="placeholder"
										fullWidth
									>
										<ng-option
											*ngFor="let entity of sprintLengths"
											value="{{ entity.value }}"
											>{{ entity.value }} week</ng-option
										>
									</ng-select>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<label class="label"
										>Sprint starts on</label
									>
									<ng-select
										[hideSelected]="true"
										bindLabel="name"
										formControlName="sprintDayStart"
										placeholder="placeholder"
										fullWidth
									>
										<ng-option
											*ngFor="
												let entity of sprintDayStart
											"
											value="{{ entity.value }}"
											>{{ entity.name }}</ng-option
										>
									</ng-select>
								</div>
							</div>
						</nb-tab>
						<nb-tab
							tabTitle="Sprints"
							[badgeText]="sprints.length"
							badgePosition="top right"
							badgeStatus="success"
						>
							<nb-list>
								<nb-list-item *ngFor="let sprint of sprints">
									{{ sprint.name }}
								</nb-list-item>
							</nb-list>
						</nb-tab>
					</nb-tabset>
				</form>
			</nb-card-body>
			<nb-card-footer>
				<button nbButton status="primary">Save</button>
			</nb-card-footer>
		</nb-card>
	</div>
</div>
<!--
<form [formGroup]="form" *ngIf="form" class="col">
	<ng-select
		id="departmentsSelect"
		[hideSelected]="true"
		multiple="true"
		bindLabel="name"
		formControlName="departments"
		[placeholder]="placeholder"
		fullWidth
	>
		<ng-option
			*ngFor="let entity of organizationEntities"
			value="{{ entity.id }}"
			>{{ entity.name }}</ng-option
		>
	</ng-select>
</form> -->
