.point{
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-right: 3px;
}

.counter{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

::ng-deep {
  nb-progress-bar{
    .progress-container {
    height: 10px !important;
    }
  }
}
