@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.logo-container {
		display: flex;
		align-items: center;
		width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
	}

	nb-action {
		height: auto;
		display: flex;
		align-content: center;

		.header-selector {
			width: 300px;
		}
	}

	::ng-deep nb-search button {
		padding: 0 !important;
	}

	.header-container {
		display: flex;
		align-items: center;
		width: auto;
		z-index: 5;

		.sidebar-toggle {
			@include nb-ltr(padding-right, 1.25rem);
			@include nb-rtl(padding-left, 1.25rem);
			text-decoration: none;
			color: nb-theme(text-hint-color);
			nb-icon {
				font-size: 1.75rem;
			}
		}

		.logo {
			font-family: 'Crimson Text', serif;
			cursor: pointer;
			font-size: 1.85rem;
			padding: 0 1.25rem;
			margin-top: 5px;
			@include nb-ltr(border-left, 1px solid nb-theme(divider-color));
			@include nb-rtl(border-right, 1px solid nb-theme(divider-color));
			white-space: nowrap;
			text-decoration: none;

			.gauzy-simbol {
				font-size: 0.6rem !important;
				margin-left: 76px;
				margin-top: -25px;
				font-weight: bold;
				position: absolute;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.control-item {
			display: none;
		}
		.user-action {
			border: none;
			padding: 0;
		}
	}

	@include media-breakpoint-down(is) {
		nb-select {
			display: none;
		}
	}
}

.organization-selector {
	max-width: 250px;
}

.employee-selector {
	max-width: 200px;
}

.date-selector {
	max-width: 180px;
	min-width: 170px;
}

.extra-actions {
	position: fixed;
	left: 0px;
	top: 4.75rem;
	width: 100%;
	height: calc(100vh - 100px);
	background: white;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -1;
	padding-top: 2.25rem;
	padding-left: 2rem;
	padding-right: 2rem;

	div {
		min-width: 300px;
		width: 100%;
		max-width: 500px;
		margin-left: 10px;
	}

	.organization-selector,
	.employee-selector,
	.date-selector {
		min-width: 300px;
		width: 100%;
		max-width: 500px;
		padding-bottom: 20px;
	}
}
