<div
	class="header-container"
	[class.left]="position === 'normal'"
	[class.right]="position === 'inverse'"
>
	<div class="logo-container">
		<a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
			<nb-icon icon="menu-2-outline"></nb-icon>
		</a>

		<div
			*ngIf="theme === 'default' || theme === 'corporate'; else whiteLogo"
			class="logo"
			(click)="navigateHome()"
		>
			<img src="assets/images/logos/logo_Gauzy.svg" />
		</div>
		<ng-template #whiteLogo>
			<img src="assets/images/logos/logo_Gauzy_white.svg" />
		</ng-template>
	</div>
</div>

<div class="header-container">
	<nb-actions
		size="small"
		[class.left]="position === 'normal'"
		[class.right]="position === 'inverse'"
	>
		<nb-action *ngIf="getWindowWidth() > largeBreakpoint">
			<button
				nbButton
				status="success"
				[nbContextMenu]="createContextMenu"
				nbContextMenuTag="create-context-menu"
			>
				+ {{ 'BUTTONS.CREATE' | translate }}
			</button>
		</nb-action>

		<nb-action
			*ngIf="showEmployeesSelector && getWindowWidth() > largeBreakpoint"
		>
			<ga-employee-selector
				class="header-selector employee-selector"
			></ga-employee-selector>
		</nb-action>

		<nb-action
			*ngIf="showDateSelector && getWindowWidth() > largeBreakpoint"
		>
			<ga-date-selector class="date-selector"></ga-date-selector>
		</nb-action>

		<nb-action
			*ngIf="
				showOrganizationsSelector && getWindowWidth() > largeBreakpoint
			"
		>
			<ga-organization-selector
				class="header-selector organization-selector"
			></ga-organization-selector>
		</nb-action>

		<!-- <nb-action *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [name]="(user?.name || user?.email)" [picture]="user?.picture"></nb-user>
	</nb-action> -->
		<nb-action
			*ngIf="getWindowWidth() < largeBreakpoint"
			icon="options-2-outline"
			class="toggle-layout"
			(click)="toggleExtraActions()"
		></nb-action>
		<nb-action
			icon="message-circle-outline"
			class="toggle-layout"
			[nbContextMenu]="supportContextMenu"
		></nb-action>

		<!-- <nb-action
			icon="clock-outline"
			class="toggle-layout"
			[nbPopover]="timerCard"
		></nb-action> -->

		<nb-action [nbPopover]="timerCard">
			<nb-icon class="mr-3" icon="clock-outline"></nb-icon>
			{{ timerDueration }}
		</nb-action>

		<ng-template #timerCard>
			<ngx-time-tracker></ngx-time-tracker>
		</ng-template>

		<nb-action
			icon="settings-2-outline"
			class="toggle-layout"
			(click)="toggleSettings()"
		></nb-action>

		<!-- <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
	</nb-actions>
</div>

<div
	class="extra-actions"
	*ngIf="showExtraActions && getWindowWidth() < largeBreakpoint"
>
	<div>
		<h6>{{ 'HEADER.SELECT_EMPLOYEE' | translate }}</h6>
	</div>

	<ga-employee-selector
		*ngIf="showEmployeesSelector"
		class="header-selector employee-selector"
	></ga-employee-selector>

	<div>
		<h6>{{ 'HEADER.SELECT_A_DATE' | translate }}</h6>
	</div>

	<ga-date-selector
		*ngIf="showDateSelector"
		class="date-selector"
	></ga-date-selector>

	<div>
		<h6>{{ 'HEADER.SELECT_AN_ORGANIZATION' | translate }}</h6>
	</div>

	<ga-organization-selector
		*ngIf="showOrganizationsSelector"
		class="header-selector organization-selector"
	></ga-organization-selector>
</div>
