<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>

    <div class="logo" (click)="navigateHome()">
      <span>Gauzy</span><span class="gauzy-simbol">™</span>
    </div>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">

    <nb-action>
      <ea-employee-selector class="header-selector"></ea-employee-selector>
    </nb-action>

    <nb-action>
      <ea-date-selector></ea-date-selector>
    </nb-action>

    <nb-action>
      <ea-organization-selector class="header-selector"></ea-organization-selector>
    </nb-action>

    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [name]="(user?.name || user?.email)" [picture]="user?.picture"></nb-user>
    </nb-action>

    <nb-action icon="settings-2-outline" class="toggle-layout" (click)="toggleSettings()"></nb-action>

    <!-- <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
  </nb-actions>
</div>