@import "themes";
@import "../../reusable";

.main-section {
  background: linear-gradient(to bottom, nb-theme(color-primary-400), nb-theme(color-primary-600));
  width: 100%;
  height: 90%;
  border-radius: 10px;
  padding: 20px;

  @include smallLaptopScreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @include mobileScreen {
    height: auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  & .main-header {
    color: nb-theme(text-alternate-color);
    margin-bottom: 30px;

    @include mobileScreen {
      font-size: 18px;
      margin-bottom: 20px;
      padding-left: 5px;
    }
  }

  & .feature-wrapper {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @include smallLaptopScreen {
      margin-bottom: 30px;
    }

    @include mobileScreen {
      margin-bottom: 15px;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
