@import 'themes';

:host a {
  background-color: nb-theme(color-primary-transparent-100);
  border-radius: nb-theme(button-rectangle-border-radius);
  @include nb-rtl(padding, 3px 9px 3px 3px);
  @include nb-ltr(padding, 3px 3px 3px 9px);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  color: nb-theme(text-primary-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;

  img {
    border-radius: 18px;
    @include nb-rtl(margin-left, 8px);
    @include nb-ltr(margin-right, 8px);
  }
}