.notes {
  margin-top: 16px;
  padding: 10px;
  border-radius: 5px;
  text-indent: 1em;
}

.notes p {
  margin: 0;
  color: #eac72d;
  font-size: 0.75rem;
  font-weight: 700;
}
:host {
  overflow-y: auto;
  max-height: calc(100vh - 28rem);
  nb-card {
    background-color: rgba(50, 50, 50, 0.03);
  }
}
