<form class="main-form" [formGroup]="form" *ngIf="form">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="employmentType" class="label">{{
					'CANDIDATES_PAGE.EDIT_CANDIDATE.EMPLOYMENT_TYPE' | translate
				}}</label>
				<ng-select
					id="employmentType"
					[items]="employmentTypes"
					formControlName="organizationEmploymentTypes"
					bindLabel="name"
					[searchable]="false"
					placeholder="{{
						'CANDIDATES_PAGE.EDIT_CANDIDATE.EMPLOYMENT_TYPE'
							| translate
					}}"
					multiple="true"
				>
				</ng-select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="label" for="empLevelInput">
					Candidate Level
				</label>
				<ng-select formControlName="candidateLevel">
					>
				</ng-select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="form-group">
				<label class="label">
					{{
						'CANDIDATES_PAGE.EDIT_CANDIDATE.DEPARTMENT' | translate
					}}
				</label>
				<ng-select
					id="departmentInput"
					[items]="departments"
					formControlName="organizationDepartments"
					bindLabel="name"
					[searchable]="false"
					placeholder="{{
						'FORM.PLACEHOLDERS.ALL_DEPARTMENTS' | translate
					}}"
					multiple="true"
				>
				</ng-select>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="positionInput" class="label">{{
					'CANDIDATES_PAGE.EDIT_CANDIDATE.POSITION' | translate
				}}</label>
				<ng-select
					id="positionInput"
					[items]="positions"
					formControlName="organizationPosition"
					bindLabel="name"
					[searchable]="false"
					placeholder="{{
						'FORM.PLACEHOLDERS.ALL_POSITIONS' | translate
					}}"
				>
				</ng-select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<ga-tags-color-input
					[selectedTags]="tags"
					(selectedTagsEvent)="selectedTagsHandler($event)"
				>
				</ga-tags-color-input>
			</div>
		</div>
	</div>

	<div class="actions">
		<button
			[disabled]="form.invalid"
			(click)="submitForm()"
			nbButton
			status="success"
		>
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
	</div>
</form>
