<div class="row col-auto main-wrapper">
  <div class="filter-input" *ngIf="hasDateRangeFilter">
    <div class="custom-input">
      <button *ngIf="arrows" size="tiny" nbButton status="primary" (click)="previousRange()">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>
      </button>
      <button *ngIf="arrows" size="tiny" nbButton [disabled]="isDisable" status="primary" (click)="nextRange()">
        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
      </button>
      <input
            nbInput
            size="small"
            type="text"
            ngxDaterangepickerMd
            showCustomRangeLabel="true"
            [alwaysShowCalendars]="true"
            [maxDate]="maxDate"
            [ranges]="ranges"
            [locale]="localConfig"
            [(ngModel)]="selectedDateRange"
            (datesUpdated)="onUpdate($event)"
          />
    </div>
        <button outline size="small" nbButton status="basic" (click)="today()" *ngIf="todayButton">
          {{
          'TIMESHEET.TODAY' | translate
          }}
        </button>
  </div>
  <div class="col-auto ml-auto">
    <div class="row filter-item-list align-items-end">
      <div
        class="col-auto filter-item pl-1 single-filter-wrapper"
        *ngIf="hasProjectFilter"
      >
        <ga-project-selector
          name="projectId"
          [(ngModel)]="filters.projectIds"
          (ngModelChange)="triggerFilterChange()"
          [multiple]="true"
        ></ga-project-selector>
      </div>
      <div
        class="col-auto filter-item single-filter-wrapper pl-1"
        *ngIf="hasSourceFilter"
      >
        <nb-select
          multiple
          [placeholder]="'TIMESHEET.SELECT_SOURCE' | translate"
          [(selected)]="filters.source"
          (selectedChange)="triggerFilterChange()"
        >
          <nb-option
            *ngFor="let source of TimeLogSourceEnum | keyvalue"
            [value]="source.key"
          >
            {{ source.value }}
          </nb-option>
        </nb-select>
      </div>
      <div
        class="col-auto filter-item single-filter-wrapper pl-1"
        *ngIf="hasActivityLevelFilter"
      >
        <button
          class="activity-level-filter text-capitalize"
          nbButton
          status="basic"
          outline
          [nbPopover]="templateRef"
          nbPopoverPlacement="bottom"
        >
          <span
            *ngIf="
              activityLevel?.start > 0 ||
                activityLevel?.end < 100;
              else selectLable
            "
          >
            {{ 'TIMESHEET.ACTIVITY_LEVEL' | translate }} :
            {{ activityLevel?.start }}% - {{ activityLevel?.end }}%
          </span>
          <ng-template #selectLable>
            {{ 'TIMESHEET.SELECT_ACTIVITY_LEVEL' | translate }}
          </ng-template>
          <nb-icon icon="chevron-down-outline"></nb-icon>
        </button>
        <ng-template #templateRef>
          <div class="p-3 slider-dropdown">
            <ng5-slider
              [value]="activityLevel?.start"
              [highValue]="activityLevel?.end"
              (userChange)="setActivityLevel($event)"
              [options]="sliderOptions"
            ></ng5-slider>
          </div>
        </ng-template>
      </div>
      <div
        class="col-auto filter-item single-filter-wrapper pl-1"
        *ngIf="hasLogTypeFilter"
      >
        <nb-select
          multiple
          [placeholder]="'TIMESHEET.SELECT_LOG_TYPE' | translate"
          [(selected)]="filters.logType"
          (selectedChange)="triggerFilterChange()"
        >
          <nb-option
            *ngFor="let logType of TimeLogType | keyvalue"
            [value]="logType.key"
          >
            {{ logType.value }}
          </nb-option>
        </nb-select>
      </div>

      <div
        class="col-auto single-filter-wrapper pl-1 clear-fitlers"
        *ngIf="hasFilterApplies"
      >
        <button nbButton status="danger" (click)="clearFilters()">
          {{ 'BUTTONS.CLEAR' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
