<div class="filter-input">
  <button nbButton status="primary" (click)="previousRange()">
    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
  </button>
  <button nbButton [disabled]="isDisable" status="primary" (click)="nextRange()">
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </button>
  <input
        nbInput
        type="text"
        ngxDaterangepickerMd
        showCustomRangeLabel="true"
        [alwaysShowCalendars]="true"
        [ranges]="ranges"
        [locale]="localConfig"
        [(ngModel)]="filters"
        (datesUpdated)="onUpdate($event)"
      />
      <button nbButton status="primary" (click)="today()" *ngIf="todayButton">
        {{
        'TIMESHEET.TODAY' | translate
        }}
      </button>
</div>
