.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  border: none;
  padding: 0;
  margin-top: 2rem;

  &-filter {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: none;
  }
}

.select {
  width: 20%;
}
