<nb-card-body class="card">
	<div class="card-filter">
		<ga-employee-multi-select
			class="select"
			[multiple]="true"
			[label]="false"
			[allEmployees]="employeeList"
			(selectedChange)="onEmployeeSelected($event)"
			[reset]="isResetSelect"
		>
		</ga-employee-multi-select>
	</div>
	<div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
		<ng2-smart-table
			class="interviews-table"
			style="cursor: pointer;"
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectInterview($event)"
			#interviewsTable
		>
		</ng2-smart-table>
	</div>
</nb-card-body>
