@import 'gauzy/_gauzy-cards';
@import 'gauzy/_gauzy-table';
@import 'gauzy/_gauzy-overrides';

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  border: none;
  padding: 0;
  overflow: unset;
  background-color: rgba(50, 50, 50, 0.03);

  &-filter {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.card-header {
  background: unset;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.select {
  width: 18rem;
}
.card-container {
  display: flex;
  flex-wrap: wrap;

  .card-body {
    width: 100%;
    max-width: 300px;
    .card-header {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-badge {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .header-container {
        text-align: center;
      }
    }

    .interview-card {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;

      .name-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &:hover {
          cursor: pointer;
          color: #3366ff;
        }

        .image-container {
          width: 70px;
          height: 50px;
          display: flex;
          justify-content: center;
          margin-right: 10px;

          img {
            height: 100%;
            max-width: 70px;
          }
        }
      }
      .team-members {
        margin-bottom: 0.5rem;
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      flex-wrap: wrap;
    }
  }
}
.btn {
  margin: 0.2rem;
}

.badge-warning {
  background-color: #fa0;
}

.badge-primary {
  background-color: #0095ff;
}

.badge {
  text-align: center;
  padding: 5px;
  margin-left: 0.2rem;
}
.client-info {
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  .info-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.7em;
    color: darkgray;
    .info-value {
      display: flex;
      justify-content: flex-end;
      text-align: end;
      .info-list-item:not(:last-child)::after {
        content: ',';
        margin-right: 5px;
      }
    }
    .criterions {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: end;
    }
  }
}

:host {
  @include card-overrides(
    unset,
    calc($default-card-height - 4.5rem),
    $default-radius
  );
  .custom-table {
    max-height: calc($default-card-height - 10rem);
  }
  .custom-grid {
    max-height: calc($default-card-height - 6.5rem);
    overflow-y: auto;
  }
  ::ng-deep .header {
    @include nb-select-overrides(
      2rem,
      $default-button-radius,
      $default-box-shadow
    );
  }
}

.gauzy-action {
  position: absolute;
  right: 1rem;
  top: -4.5rem;
}
