<div class="d-flex my-2 settings">
	<div class="col-10 settings__name">
		<span>Task View Mode:</span>
	</div>
	<div class="col-2 settings__value">
		<ng-select
			[items]="taskViewModeList"
			bindLabel="type"
			binValue="name"
			(change)="setTaskViewMode($event)"
			[(ngModel)]="selectedTaskViewMode"
			placeholder="Task View Mode"
		>
			<ng-template ng-option-tmp let-item="item" let-index="index">
				<nb-icon
					[icon]="item.icon"
					class="mr-1"
					style="font-size: 1rem;"
				></nb-icon>
				<span>{{ item.name }}</span>
			</ng-template>
			<ng-template ng-label-tmp let-item="item">
				<div class="selector-template">
					<nb-icon
						[icon]="item.icon"
						class="mr-1"
						style="font-size: 1rem;"
					></nb-icon>
					<span>{{ item.name }}</span>
				</div>
			</ng-template>
		</ng-select>
	</div>
</div>
<hr />
<ng-container *ngIf="selectedTaskViewMode.type === taskViewModeType.SPRINT">
	<ngx-tasks-sprint-settings-view
		[project]="project"
	></ngx-tasks-sprint-settings-view>
</ng-container>
