<nb-card class="add-internal-note">
	<nb-card-header>
		<h5 class="title">
			{{ 'INVOICES_PAGE.INTERNAL_NOTE.ADD_INTERNAL_NOTE' | translate }}
		</h5>
		<button type="button" class="cancel" [attr.aria-label]="'BUTTONS.CLOSE' | translate" (click)="cancel()">
			<i class="fas fa-times" aria-hidden="true"></i>
		</button>
	</nb-card-header>
	<nb-card-body>
		@if (form) {
		<form [formGroup]="form">
			<label for="note" class="label">{{ 'INVOICES_PAGE.INTERNAL_NOTE.NOTE' | translate }}</label>
			<textarea
				nbInput
				placeholder="{{ 'INVOICES_PAGE.INTERNAL_NOTE.ADD_NOTE' | translate }}"
				id="note"
				formControlName="internalNote"
				class="internal-note-input"
				fullWidth
			></textarea>
		</form>
		}
	</nb-card-body>
	<nb-card-footer class="text-left">
		<button nbButton ghost status="basic" size="small" (click)="cancel()">
			{{ 'BUTTONS.CANCEL' | translate }}
		</button>
		@if (form) {
		<button (click)="addNote()" status="success" nbButton size="small">
			{{ 'BUTTONS.SAVE' | translate }}
		</button>
		}
	</nb-card-footer>
</nb-card>
