@import '../payments/payments.component.scss';

:host {
  nb-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: calc($card-height - 0.5rem) !important;
  }
  .grid {
    flex-grow: 10;
    height: 100%;
    overflow: auto;
  }
}

.edit-user-mutation {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .edit-user-mutation {
    width: 100%;
  }
}
