@import '../payments/payments.component.scss';

:host {

  nb-card,
  nb-card-body {
    background-color: nb-theme(gauzy-card-2);
  }
}

.edit-user-mutation {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .edit-user-mutation {
    width: 100%;
  }
}