.d-bottom {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.options-wrap {
  display: flex;
}

.option-delete {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  nb-icon {
    width: 100%;
    color: #fff;
    padding-bottom: 2px;
  }
}

.option {
  padding: 5px 10px;
  font-size: 12px;
  background: #3366ff;
  border-radius: 7px;
  color: #fff;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text-danger {
  max-width: 100%;
  font-size: 12px;
  margin-top: 5px;
}
