@import "report";
@import "themes";

.filters {
    margin-bottom: 30px;
}

.daily-statistics {
    margin-bottom: 25px;
}

.daily-time-report {
    nb-card {
        border-radius: 15px;
    }
    nb-card-body {
        background-color: nb-theme(gauzy-card-1);
    }
}