<nb-layout>
	<nb-layout-column class="top-space">
		<div class="row full-height">
			<div class="col-12 full-height no-padding">
				<nb-card>
					<nb-card-body>
						<div class="row">
							<div class="col-3">
								<nb-icon
									class="start-button"
									icon="play-circle"
									*ngIf="!start"
									(click)="toggleStart(true)"
								>
								</nb-icon>
								<nb-icon
									class="start-button"
									icon="stop-circle-outline"
									*ngIf="start"
									(click)="toggleStart(false)"
								>
								</nb-icon>
							</div>
							<div class="col-6 timer-box">
								<div class="timer-container">
									{{ timeRun.hours }}: {{ timeRun.minute }}:{{
										timeRun.second
									}}
								</div>
							</div>
							<div class="col-12 form-group tp-padding">
								<label>Client</label>
								<ng-select
									[class]="
										errors.client ? 'error-border' : ''
									"
									[clearable]="true"
									placeholder="Client"
									[(ngModel)]="organizationContactId"
									[items]="organizationContacts"
									bindValue="id"
									bindLabel="name"
									(ngModelChange)="setClient($event)"
								>
								</ng-select>
							</div>
							<div class="col-12 form-group">
								<label>Project</label>
								<ng-select
									[class]="
										errors.project ? 'error-border' : ''
									"
									[clearable]="true"
									placeholder="Project"
									[(ngModel)]="projectSelect"
									[items]="projects"
									bindValue="id"
									bindLabel="name"
									(ngModelChange)="setProject($event)"
								>
								</ng-select>
							</div>
							<div class="col-12 form-group">
								<label>Task</label>
								<ng-select
									[class]="errors.task ? 'error-border' : ''"
									[clearable]="true"
									placeholder="Task"
									[(ngModel)]="taskSelect"
									[items]="tasks"
									bindValue="id"
									bindLabel="title"
									(ngModelChange)="setTask($event)"
								>
								</ng-select>
							</div>
							<div class="col-12 form-group">
								<label>Work ON:</label>
								<textarea
									nbInput
									fullWidth
									placeholder="Note"
									status="basic"
									[(ngModel)]="note"
									[status]="errors.note ? 'danger' : 'basic'"
									(ngModelChange)="descriptionChange($event)"
								></textarea>
							</div>
							<div class="col-12 form-group tp-padding">
								<div class="row">
									<div class="col-12">
										<div class="row">
											<div class="col-8">
												<nb-checkbox
													[checked]="aw"
													(change)="setAW($event)"
													>Activitywatch</nb-checkbox
												>
											</div>
											<div class="col-4">
												<nb-icon
													*ngIf="awCheck"
													[icon]="iconAw"
													[status]="statusIcon"
												>
												</nb-icon>
											</div>
										</div>
									</div>

									<div class="col-12">
										<div class="row">
											<div class="col-8">
												<nb-checkbox [disabled]="true"
													>Wakatime</nb-checkbox
												>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-11 center-text">
										<span class="org-name">
											{{
												userOrganization.name
													? userOrganization.name
													: 'UNKNOWN'
											}}
										</span>
									</div>
									<div class="col-11 center-text">
										<span class="work-today"
											>Total Worked Today
											{{ todayDuration.hours }}:{{
												todayDuration.minutes
											}}</span
										>
									</div>
								</div>
							</div>
							<div class="col-12 tp-padding">
								<div class="row">
									<div class="col-12 center-text">
										<nb-card>
											<nb-card-header>
												<div class="row">
													<div
														class="col-6 screen-capture-label-left"
													>
														<span
															>Last screen
															capture</span
														>
													</div>
													<div
														*ngIf="
															lastScreenCapture.textTime
														"
														class="col-6 screen-capture-label-right"
													>
														<span>{{
															lastScreenCapture.textTime
														}}</span>
													</div>
												</div>
											</nb-card-header>
											<nb-card-body>
												<img
													class="screen-capture-img"
													*ngIf="
														lastScreenCapture.fullUrl
													"
													[src]="
														lastScreenCapture.fullUrl
													"
												/>
												<nb-icon
													*ngIf="
														!lastScreenCapture.fullUrl
													"
													icon="image-outline"
													class="icon-img-size"
												>
												</nb-icon>
											</nb-card-body>
										</nb-card>
									</div>
								</div>
							</div>
						</div>
					</nb-card-body>
				</nb-card>
			</div>
		</div>
	</nb-layout-column>
</nb-layout>
