@import '../project/project.component.scss';

nb-badge {
    position: relative;
}

a {
    color: var(--text-primary-color);
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}