<div *ngIf="project" class="project-render">
	<img
		*ngIf="project.organization"
		src="{{ project.organization.imageUrl }}"
	/>
	<span>
		<div class="name">{{ project?.name }}</div>
		<div class="member" *ngIf="project?.count">
			Members count {{ project?.count }}
		</div>
		<div *ngIf="rowData?.projectUrl">
			<a [href]="rowData.projectUrl">{{ this.rowData.projectUrl }}</a>
		</div>
		<div *ngIf="rowData?.owner">
			<nb-badge
				[status]="rowData?.owner === 'INTERNAL' ? 'primary' : 'danger'"
				[text]="rowData?.owner | titlecase"
			></nb-badge>
		</div>
	</span>
</div>
