@import '../sms-gateway/sms-gateway.component.scss';

:host {
    .label {
        font-size: 11px;
        font-weight: 600;
        line-height: 13px;
        letter-spacing: -0.01em;
    }
    nb-card {
        nb-card-body {
            nb-card {
                background-color: nb-theme(gauzy-card-4);
                height: calc(100vh - 24rem) !important;
                margin: 0;

                h6 {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 0em;
                }

                nb-card-body {
                    background: unset;
                    overflow: auto;
                }
            }

        }
        nb-card-footer {
            background-color: nb-theme(gauzy-card-2);
            padding-top: 0;
        }
    }
}
