@import 'gauzy/_gauzy-dialogs';

.employee-form {
  width: 100%;
}

.card {
  background-color: rgba(50, 50, 50, 0.03);
  border: unset;
}

.container {
  padding: 1rem;
  border-radius: nb-theme(border-radius);
  background-color: nb-theme(card-background-color);
}

.entities {
  margin-bottom: 0.5rem;
}
