@import '~angular-tree-component/dist/angular-tree-component.css';

.sidemenu-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.sidemenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 800px;
  width: 99%;
}

.base-button {
  margin-bottom: 10px;
}

.blue {
  color: blue;
}

.text {
  font-size: 1.1rem;
}

.add-icon-field {
  flex-direction: column;
  display: flex;
}

.edit-field {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.add-icon {
  margin-left: 10px;
  margin-top: 2px;
  color: gray;
}

.base {
  padding: 10px;
  border: 1px #e4e9f2 solid;
  min-width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.base:hover .edit-icons {
  display: inline-block;
}

.edit-icons {
  display: none;
}

tree-node-expander {
  display: none !important;
  padding-top: 5px !important;
}
