@import '~angular-tree-component/dist/angular-tree-component.css';

.sidemenu {
  flex-direction: row;
  min-height: 800px;
}

.sidebar {
  max-width: 300px;
}

.sidebar-button {
  height: 30px;
  width: 30px;
  padding: 5px !important;
  margin-left: 5px;
}

.add-base-field {
  flex-direction: row;
}

.input-button {
  position: absolute;
  margin-left: -40px;
}

.main-buttons {
  margin-right: 10px;
  margin-bottom: 10px;
}

.edit-node-field {
  margin-top: 10px;
}

.add-icon-field {
  flex-direction: row;
  display: flex;
}

.add-icon {
  margin-left: 10px;
  margin-top: 7px;
  color: gray;
}

.ck-editor {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-buttons {
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 92px;
}

.close-add-buttons {
  margin-bottom: 5px;
}
