<nb-card class="sidemenu">
	<nb-card-body class="sidebar">
		<div class="tree-container">
			<div class="tree-content">
				<tree
					[tree]="tree"
					(nodeRemoved)="onNodeRemoved($event)"
					(nodeRenamed)="onNodeRenamed($event)"
					(nodeSelected)="onNodeSelected($event)"
					(nodeMoved)="onNodeMoved($event)"
					(nodeCreated)="onNodeCreated($event)"
				>
					<ng-template let-node>
						<nb-icon
							icon="attach-outline"
							class="title-icon"
						></nb-icon>
						<span
							class="node-name"
							[innerHTML]="node?.value"
						></span>
					</ng-template>
				</tree>
			</div>
		</div>
	</nb-card-body>
	<nb-card-body>
		<div>
			<h5>{{ articleName }}</h5>
		</div>
		<div>
			<p>Article content for {{ articleNameContent }}</p>
		</div>
	</nb-card-body>
</nb-card>
