<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
	<nb-card-header>
		<header>
			{{ 'FEATURE_PAGE.HEADER' | translate }}
		</header>
	</nb-card-header>
	<nb-card-body>
		<ng-container *ngFor="let block of blocks">
			<div class="row centered">
				<ng-container *ngFor="let row of block">
					<div class="col-6">
						<nb-card class="shortcut-card" [status]="row?.status">
							<nb-card-header>
								<nb-icon
									[icon]="row?.icon"
									*ngIf="row?.icon"
								></nb-icon>
								{{ row?.name }}
							</nb-card-header>
							<nb-card-body>
								<div class="col-6 float-left text-left">
									{{ row?.description }}
								</div>
								<div class="col-6 float-left text-right">
									<nb-toggle
										(checkedChange)="
											featureChanged(row, $event)
										"
										labelPosition="start"
										status="basic"
									></nb-toggle>
								</div>
							</nb-card-body>
						</nb-card>
					</div>
				</ng-container>
			</div>
		</ng-container>
	</nb-card-body>
</nb-card>
