# Portable Document Format
public/**/*.pdf

# JPEG
public/**/*.jpg
public/**/*.jpeg

# Portable Network Graphics
public/**/*.png

# Scalable Vector Graphics
public/**/*.svg
public/**/*.svgz

# Graphics Interchange Format
public/**/*.gif

# Ignore Import/Export Path
public/import/
public/export/

data/*
report.*.json
