public/features/*.png
public/reports/*.png
public/screenshots/**/*.jpg
public/screenshots/**/*.png
public/invoices/pdf/*.pdf

# Ignore Import/Export Path
public/import/
public/export/

data/*
report.*.json
