# dependencies
node_modules/

# misc
npm-debug.log
dist

# Ignore everything in this public directory
public/**/*.*

# Except these (.gitkeep) files
!public/.gitkeep
!public/**/.gitkeep

data/*
report.*.json
