name: Deploy to DigitalOcean Demo

on:
    workflow_run:
        workflows: ['Build and Publish Docker Images Demo']
        branches: [develop, temp]
        types:
            - completed

jobs:
    deploy-demo:
        runs-on: ubuntu-latest

        environment: demo

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - uses: superfly/flyctl-actions/setup-flyctl@master

            - name: Deploy API
              run: flyctl deploy --remote-only --config ./.fly/applications/api/fly.toml
              env:
                  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

            - name: Deploy Frontend
              run: flyctl deploy --remote-only --config ./.fly/applications/webapp/fly.toml
              env:
                  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
