name: Desktop Timer App Build Stage

on:
  workflow_run:
    workflows: ["Release Apps Stage"]
    branches: [stage-apps, temp]
    types:
      - completed

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  release-linux:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubicloud-standard-16]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: buildjet/setup-node@v4
        with:
          node-version: 20.18.1
          cache: "yarn"

      - name: Change permissions
        run: "sudo chown -R $(whoami) ./*"

      - name: Install system dependencies
        run: "sudo apt-get update && sudo apt install -y curl gnupg git libappindicator3-1 ca-certificates binutils icnsutils graphicsmagick"

      - name: Fix node-gyp and Python
        run: python3 -m pip install packaging setuptools

      - name: Install latest version of NPM
        run: "sudo npm install -g npm@9"

      - name: Install node-gyp package
        run: "sudo npm install --quiet -g node-gyp@10.2.0"

      - name: Install Yarn dependencies
        run: "yarn install --network-timeout 1000000 --frozen-lockfile --ignore-scripts"

      - name: Run Postinstall Manually
        run: "yarn postinstall.manual"

      - name: Bump version desktop timer app
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.scripts/bump-version-electron.js')
            console.log(script.desktopTimer(false))
        env:
          PROJECT_REPO: "https://github.com/ever-co/ever-gauzy.git"
          DESKTOP_TIMER_APP_NAME: "ever-gauzy-desktop-timer"
          COMPANY_SITE_LINK: "https://gauzy.co"
          DESKTOP_TIMER_APP_DESCRIPTION: "Ever Gauzy Desktop Timer"
          DESKTOP_TIMER_APP_ID: "com.ever.gauzydesktoptimer"

      - name: Build Desktop Timer App
        run: "yarn build:desktop-timer:linux:release:gh"
        env:
          USE_HARD_LINKS: false
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          EP_GH_IGNORE_TIME: true
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SENTRY_TRACES_SAMPLE_RATE: "${{ secrets.SENTRY_TRACES_SAMPLE_RATE }}"
          SENTRY_PROFILE_SAMPLE_RATE: "${{ secrets.SENTRY_PROFILE_SAMPLE_RATE }}"
          SENTRY_HTTP_TRACING_ENABLED: "${{ secrets.SENTRY_HTTP_TRACING_ENABLED }}"
          SENTRY_POSTGRES_TRACKING_ENABLED: "${{ secrets.SENTRY_POSTGRES_TRACKING_ENABLED }}"
          SENTRY_PROFILING_ENABLED: "${{ secrets.SENTRY_PROFILING_ENABLED }}"
          DO_KEY_ID: ${{ secrets.DO_KEY_ID }}
          DO_SECRET_KEY: ${{ secrets.DO_SECRET_KEY }}
          NX_NO_CLOUD: true

  release-mac:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [warp-macos-15-arm64-6x]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 20.18.1
          cache: "yarn"

      - name: Fix node-gyp and Python
        run: python3 -m pip install --break-system-packages packaging setuptools

      - name: Install latest version of NPM
        run: "sudo npm install -g npm@9"

      - name: Install node-gyp package
        run: "sudo npm install --quiet -g node-gyp@10.2.0"

      - name: Install Yarn dependencies
        run: "yarn install --network-timeout 1000000 --frozen-lockfile --ignore-scripts"

      - name: Run Postinstall Manually
        run: "yarn postinstall.manual"

      - name: Bump version desktop timer app
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.scripts/bump-version-electron.js')
            console.log(script.desktopTimer(false))
        env:
          PROJECT_REPO: "https://github.com/ever-co/ever-gauzy.git"
          DESKTOP_TIMER_APP_NAME: "ever-gauzy-desktop-timer"
          COMPANY_SITE_LINK: "https://gauzy.co"
          DESKTOP_TIMER_APP_DESCRIPTION: "Ever Gauzy Desktop Timer"
          DESKTOP_TIMER_APP_ID: "com.ever.gauzydesktoptimer"

      - name: Build Desktop Timer App
        run: "yarn build:desktop-timer:mac:release"
        env:
          USE_HARD_LINKS: false
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          EP_GH_IGNORE_TIME: true
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SENTRY_TRACES_SAMPLE_RATE: "${{ secrets.SENTRY_TRACES_SAMPLE_RATE }}"
          SENTRY_PROFILE_SAMPLE_RATE: "${{ secrets.SENTRY_PROFILE_SAMPLE_RATE }}"
          SENTRY_HTTP_TRACING_ENABLED: "${{ secrets.SENTRY_HTTP_TRACING_ENABLED }}"
          SENTRY_POSTGRES_TRACKING_ENABLED: "${{ secrets.SENTRY_POSTGRES_TRACKING_ENABLED }}"
          SENTRY_PROFILING_ENABLED: "${{ secrets.SENTRY_PROFILING_ENABLED }}"
          DO_KEY_ID: ${{ secrets.DO_KEY_ID }}
          DO_SECRET_KEY: ${{ secrets.DO_SECRET_KEY }}
          NX_NO_CLOUD: true
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_APP_PASSWORD: ${{ secrets.APPLE_ID_APP_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}

  release-windows:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [warp-windows-latest-x64-16x]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 20.18.1
          cache: "yarn"

      - name: Fix node-gyp and Python
        run: python3 -m pip install packaging setuptools

      - name: Install latest version of NPM
        run: "npm install -g npm@9"

      - name: Install node-gyp package
        run: "npm install --quiet -g node-gyp@10.2.0"

      - name: Install Yarn dependencies
        run: "yarn install --network-timeout 1000000 --frozen-lockfile --ignore-scripts"

      - name: Run Postinstall Manually
        run: "yarn postinstall.manual"

      - name: Bump version desktop timer app
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.scripts/bump-version-electron.js')
            console.log(script.desktopTimer(false))
        env:
          PROJECT_REPO: "https://github.com/ever-co/ever-gauzy.git"
          DESKTOP_TIMER_APP_NAME: "ever-gauzy-desktop-timer"
          COMPANY_SITE_LINK: "https://gauzy.co"
          DESKTOP_TIMER_APP_DESCRIPTION: "Ever Gauzy Desktop Timer"
          DESKTOP_TIMER_APP_ID: "com.ever.gauzydesktoptimer"

      - name: Print environment variables and their sizes
        shell: powershell
        run: |
          foreach ($envVar in [System.Environment]::GetEnvironmentVariables().Keys) {
            $value = [System.Environment]::GetEnvironmentVariable($envVar)

            if ($null -ne $value) {
              $length = $value.Length
              Write-Output "${envVar}: ${length}"
            }
          }

      - name: Print PATH var value
        shell: powershell
        run: |
          $path = [System.Environment]::GetEnvironmentVariable('PATH')
          Write-Output "PATH environment variable is:"
          Write-Output $path

      - name: Build Desktop Timer App
        run: |
          # We need to clear some environment variables to avoid the error about the limit of env vars size
          set AZURE_CONFIG_DIR=
          set AZURE_DEVOPS_CACHE_DIR=
          set AZURE_EXTENSION_DIR=
          set STATS_BLT=
          set STATS_D=
          set STATS_D_D=
          set STATS_EXT=
          set STATS_EXTP=
          set STATS_RDCL=
          set STATS_TIS=
          set STATS_TRP=
          set STATS_UE=
          set STATS_V3PS=
          set STATS_VMD=
          set STATS_VMFE=
          set ANDROID_HOME=
          set ANDROID_NDK=
          set ANDROID_NDK_HOME=
          set ANDROID_NDK_LATEST_HOME=
          set ANDROID_NDK_ROOT=
          set ANDROID_SDK_ROOT=
          set GOROOT_1_20_X64=
          set GOROOT_1_21_X64=
          set GOROOT_1_22_X64=
          set GRADLE_HOME=
          set JAVA_HOME=
          set JAVA_HOME_11_X64=
          set JAVA_HOME_17_X64=
          set JAVA_HOME_21_X64=
          set JAVA_HOME_8_X64=
          set PGBIN=
          set PGDATA=
          set PGPASSWORD=
          set PGROOT=
          set PGUSER=
          set PHPROOT=
          yarn build:desktop-timer:windows:release:gh
        env:
          USE_HARD_LINKS: false
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          EP_GH_IGNORE_TIME: true
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SENTRY_TRACES_SAMPLE_RATE: "${{ secrets.SENTRY_TRACES_SAMPLE_RATE }}"
          SENTRY_PROFILE_SAMPLE_RATE: "${{ secrets.SENTRY_PROFILE_SAMPLE_RATE }}"
          SENTRY_HTTP_TRACING_ENABLED: "${{ secrets.SENTRY_HTTP_TRACING_ENABLED }}"
          SENTRY_POSTGRES_TRACKING_ENABLED: "${{ secrets.SENTRY_POSTGRES_TRACKING_ENABLED }}"
          SENTRY_PROFILING_ENABLED: "${{ secrets.SENTRY_PROFILING_ENABLED }}"
          DO_KEY_ID: ${{ secrets.DO_KEY_ID }}
          DO_SECRET_KEY: ${{ secrets.DO_SECRET_KEY }}
          NX_NO_CLOUD: true
          Path: 'C:\hostedtoolcache\windows\node\20.18.1\x64;C:\aliyun-cli;C:\vcpkg;C:\Program Files (x86)\NSIS\;C:\tools\zstd;C:\hostedtoolcache\windows\stack\3.7.1\x64;C:\cabal\bin;C:\ghcup\bin;C:\mingw64\bin;C:\Program Files\dotnet;C:\Program Files (x86)\sbt\bin;C:\Program Files (x86)\GitHub CLI;C:\Program Files\Git\bin;C:\Program Files (x86)\pipx_bin;C:\npm\prefix;C:\hostedtoolcache\windows\go\1.24.10\x64\bin;C:\hostedtoolcache\windows\Python\3.9.13\x64\Scripts;C:\hostedtoolcache\windows\Python\3.9.13\x64;C:\Program Files\OpenSSL\bin;C:\hostedtoolcache\windows\Java_Temurin-Hotspot_jdk\8.0.472-8\x64\bin;C:\Program Files\ImageMagick-7.1.2-Q16-HDRI;C:\Program Files\Microsoft SDKs\Azure\CLI2\wbin;C:\ProgramData\kind;C:\ProgramData\Chocolatey\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\Program Files\Amazon\cfn-bootstrap\;C:\Program Files\PowerShell\7\;C:\Program Files\Microsoft\Web Platform Installer\;C:\Program Files\dotnet\;C:\Program Files (x86)\Windows Kits\10\Windows Performance Toolkit\;C:\Program Files (x86)\WiX Toolset v3.14\bin;C:\Program Files\CMake\bin;C:\ProgramData\chocolatey\lib\maven\apache-maven-3.9.11\bin;C:\Program Files\Microsoft Service Fabric\bin\Fabric\Fabric.Code;C:\Program Files\Microsoft SDKs\Service Fabric\Tools\ServiceFabricLocalClusterManager;C:\Program Files\nodejs\;C:\Program Files\Git\cmd;C:\Program Files\Git\mingw64\bin;C:\Program Files\Git\usr\bin;C:\Program Files\GitHub CLI\;C:\Program Files (x86)\sbt\bin;C:\Program Files\Amazon\AWSCLIV2\;C:\Program Files\Amazon\SessionManagerPlugin\bin\;C:\Program Files\Amazon\AWSSAMCLI\bin\;C:\Program Files\LLVM\bin;C:\Program Files (x86)\LLVM\bin;C:\Users\runneradmin\.dotnet\tools;C:\Users\runneradmin\.cargo\bin;C:\Users\runneradmin\AppData\Local\Microsoft\WindowsApps'
