name: Release Demo

on:
    push:
        branches: [develop]

jobs:
    release:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-22.04]

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v3

            - name: Bump version and push tag
              uses: mathieudutour/github-tag-action@v6.1
              id: tag_version
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  release_branches: master,main
                  pre_release_branches: develop
                  append_to_pre_release_tag: ''

            - name: Create a GitHub release
              uses: ncipollo/release-action@v1
              with:
                  allowUpdates: true
                  generateReleaseNotes: true
                  prerelease: true
                  token: ${{ secrets.GITHUB_TOKEN }}
                  tag: ${{ steps.tag_version.outputs.new_tag }}
                  name: ${{ steps.tag_version.outputs.new_tag }}
                  body: ${{ steps.tag_version.outputs.changelog }}
