name: 'Secrets Analysis'

on:
    pull_request:
        branches:
            - develop
    push:
        branches:
            - develop

jobs:
    TruffleHog:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: TruffleHog OSS
              uses: trufflesecurity/trufflehog@main
              with:
                  path: ./
                  base: ${{ github.event.repository.default_branch }}
                  head: HEAD
                  extra_args: --debug --only-verified
