<div class="menu-container">
	<ng-container *ngFor="let item of menu">
		<nb-accordion
			*ngxPermissionsOnly="item.data.permissionKeys"
			[class]="item?.class"
		>
			<nb-accordion-item>
				<nb-accordion-item-header>
					<i [class]="item?.icon"></i>{{ item.title }}
				</nb-accordion-item-header>
				<nb-accordion-item-body *ngIf="item?.children?.length > 0">
					<div
						class="sub-item"
						(click)="redirectTo(subItem.link)"
						*ngFor="let subItem of item.children"
					>
						<ng-container
							*ngxPermissionsOnly="subItem.data.permissionKeys"
						>
							<i [class]="subItem?.icon"></i>{{ subItem.title }}
						</ng-container>
					</div>
				</nb-accordion-item-body>
			</nb-accordion-item>
		</nb-accordion>
	</ng-container>
</div>
