<ng-template 
	[ngIf]="!multiple" 
	[ngIfElse]="multipleSelect"
>
	<ng-select
		#select
		[addTag]="(hasEditProject$ | async) ? createNew : null"
		[multiple]="multiple"
		[clearable]="isClearable()"
		[disabled]="disabled"
		[items]="projects"
		(change)="selectProject($event); select.blur();"
		(clear)="select.blur(); clearSelection();"
		[(ngModel)]="projectId"
		[placeholder]="
			placeholder || 'FORM.PLACEHOLDERS.ALL_PROJECTS' | translate
		"
		[addTagText]="'FORM.PLACEHOLDERS.ADD_PROJECT' | translate"
		bindValue="id"
		bindLabel="name"
		appendTo="body"
	>
		<ng-container *ngIf="shortened">
			<ng-template ng-option-tmp let-item="item" let-index="index">
				<span>
					{{ item?.name }}
				</span>
			</ng-template>
			<ng-template ng-label-tmp let-item="item">
				<span>
					{{ getShortenedName(item?.name) }}
				</span>
			</ng-template>
		</ng-container>
	</ng-select>
</ng-template>
<ng-template #multipleSelect>
	<nb-select
		class="multiple-select"
		[disabled]="disabled"
		[multiple]="multiple"
		[placeholder]="
			placeholder || 'FORM.PLACEHOLDERS.ALL_PROJECTS' | translate
		"
		[(selected)]="projectId"
	>
		<nb-option *ngFor="let project of projects" [value]="project.id">
			{{ project.name }}
		</nb-option>
	</nb-select>
</ng-template>
