<div class="custom-card">
	<div class="filters mb-2 mt-0">
		<ngx-gauzy-filters
			[hasLogTypeFilter]="false"
			[saveFilters]="(datePickerConfig$ | async).isSaveDatePicker"
			(filtersChange)="filtersChange($event)"
		></ngx-gauzy-filters>
	</div>
	<div class="custom-card-body">
		<div
			class="screenshot-container py-3"
			[nbSpinner]="loading"
			nbSpinnerSize="giant"
			nbSpinnerStatus="primary"
		>
			<div class="mini-card head align-items-center">
				<div class="row">
					<div class="col-sm-4 py-2">
						{{
							(type == 'apps'
								? 'ACTIVITY.APPS'
								: 'ACTIVITY.VISITED_SITES'
							) | translate
						}}
					</div>
					<div class="col-sm-5 py-2">
						{{ 'ACTIVITY.PERCENT_USED' | translate }}
					</div>
					<div class="col-sm-3 text-right py-2">
						{{ 'ACTIVITY.TIME_SPENT' | translate }}
					</div>
				</div>
			</div>
			<div class="mini-card" *ngFor="let values of apps">
				<div *ngFor="let app of values.activities">
					<ngx-activity-item
						(loadChild)="loadChild($event)"
						[allowChild]="type === 'urls'"
						[item]="app"
					></ngx-activity-item>
				</div>
				<div class="d-flex">
					<div *ngIf="type === 'urls'" class="arrow"></div>
					<div class="times">
						{{ values.hour | timeFormat }}
					</div>
				</div>
			</div>
			<div class="py-5 text-center" *ngIf="!loading && apps?.length == 0">
				<h6>{{ 'ACTIVITY.NO_ACTIVITIES' | translate }}</h6>
			</div>
		</div>
	</div>
</div>
