<div class="filters row mb-3 pr-2">
	<div class="col">
		<ngx-filters
			[hasLogTypeFilter]="false"
			[multipleEmployeeSelect]="false"
			(filtersChange)="filtersChange($event)"
		></ngx-filters>
	</div>
</div>
<div
	class="screenshot-container py-3"
	[nbSpinner]="loading"
	nbSpinnerSize="giant"
	nbSpinnerStatus="primary"
>
	<div
		class="row border-bottom border-top py-3 font-weight-bold align-items-center"
	>
		<div class="col-sm-3 py-2">
			{{
				(type == 'apps' ? 'ACTIVITY.APPS' : 'ACTIVITY.VISITED_SITES')
					| translate
			}}
		</div>
		<div class="col-sm py-2">{{ 'ACTIVITY.PERCENT_USED' | translate }}</div>
		<div class="col-sm-2 text-center py-2">
			{{ 'ACTIVITY.TIME_SPENT' | translate }}
		</div>
	</div>
	<div class="mt-3" *ngFor="let values of apps">
		<div class="font-weight-bold py-2 border-bottom">
			{{ values.hour | timeFormat }}
		</div>
		<div class="mt-2" *ngFor="let app of values.activities">
			<ngx-activity-item
				(loadChild)="loadChild($event)"
				[allowChild]="type === 'urls'"
				[item]="app"
			></ngx-activity-item>
		</div>
	</div>
	<div class="py-5 text-center" *ngIf="!loading && apps?.length == 0">
		<h6>{{ 'ACTIVITY.NO_ACTIVITIES' | translate }}</h6>
	</div>
</div>
