@import '../../time-and-activities/time-and-activities/time-and-activities.component.scss';
:host {
  .percentage-col {
    width: 90px;
  }
  ::ng-deep {
    nb-progress-bar {
      .progress-container {
        height: 5px !important;
      }
      .progress-value {
        span {
          display: none;
        }
      }
    }
  }
}
.mini-card {
  width: 99%;
  background-color: nb-theme(background-basic-color-1);
  padding: 10px;
  border-radius: nb-theme(border-radius);
  &.head {
    background-color: rgba($color: white, $alpha: 0.5);
  }
}
