<div>
    <p>Hello!</p>>
    <p>We received a password change request.</p>
    <p>If you requested to reset your password<br><br>
        <a href='{{generatedUrl}}'>
            Click here
        </a>
    <p>
</div>